[2022-04-07 19:08] Superskyyy commented on #7682
Hello! Actually, I already started implementing this one last week, I was planning to finish it this month and go for the 1.0.0 milestone. Can we see if there's another work that is suitable for @fgksgf?

[2022-04-08 01:28] fgksgf commented on #7682
Ok, good luck :)

[2022-04-08 09:11] wu-sheng opened #8834 "[Feature] [UI] Consider to add an avg number for metrics of service/instance/endpoint list?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

<img width="1686" alt="image" src="https://user-images.githubusercontent.com/5441976/162403913-03ffa501-2b11-46c9-88c7-b9e1a8d9525b.png">

In v9, we have a linear graph on the service/instance/endpoint list, could we ha

[2022-04-08 09:22] wu-sheng opened #8835 "[Bug] [UI] Refresh and auto-refresh don't keep the select entity"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

The service/instance/endpoint on the top selectors are back to the 1st one, if manual or auto refresh is triggered.

### What you expected to happen

We should ke

[2022-04-08 09:23] Fine0830 commented on #8834
Make scene to me...

[2022-04-09 14:34] #8712 closed

[2022-04-09 14:58] #8831 closed

[2022-04-09 14:58] wu-sheng commented on #8794
No update.

[2022-04-09 14:58] #8794 closed

[2022-04-10 13:41] hanahmily opened #8844 "[Bug] Internal IDs overflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

The millisecond-grained internal IDs, for example, segment IDs and block IDs, could have a risk to cause overflowing that some segments will share identical I

[2022-04-10 14:17] hanahmily opened #8845 "[Bug] Java client failed to handle duplicate data points"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

BanyanDB identifies unique data points by their metadata(name and group), entity id, and timestamp. For points with the same of them, the database server uses

[2022-04-10 14:29] hanahmily opened #8846 "[Bug] Empty index rule id"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

The metadata module doesn't set index rule id on creating one. This will mix up different tags' indices, leading to unexpected results.

### What you expected

[2022-04-10 14:36] hanahmily opened #8847 "[Feature] Implement measure encoding method"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The measure module should implement the encoding method set by the end-users.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-04-10 14:39] #8796 closed

[2022-04-10 14:44] wu-sheng commented on #8845
This is what we expect, and trace segment ID would be duplicated. What is the issue about exactly?

[2022-04-10 15:15] wu-sheng commented on #8845
This is really not a good example to refer. I am talking with @dmsolr to get this out.

[2022-04-10 15:24] wu-sheng commented on #8845
I have confirmed this is a bug in InfluxDB storage implementation. I have asked @dmsolr to adjust codes to fix this.
So, what is the case of BanyanDB actually?

[2022-04-10 23:39] hanahmily commented on #8845
As I mentioned, the data point id is a combination of metadata, entity_id, and timestamp. If an instance sends several segments in one millisecond, the last one that reaches banyandb will win, and each previous data point is dropped.

I would like to know how to fix this. banyandb could get benefits from the same solution. @dmsolr Would you please elaborate it a bit in this thread?

[2022-04-11 01:08] hanahmily commented on #8845
I have discussed this with @wu-sheng, and will be working on it.

[2022-04-11 01:31] wu-sheng commented on #8845
@lujiajing1126 I will add a new annotation and attributed in storage model to define the global indices, such as trace id in trace and log, `segment id + span id`(you may miss before) in log.

[2022-04-11 01:34] lujiajing1126 commented on #8845
Also, could you please add index type annotation to indicate which type of index should be used. For numeric type, we have two kinds of indexes,

1. TREE, (for range search)
2. INVERTED

[2022-04-11 01:37] wu-sheng commented on #8845
I can, are these type available for global index or just general index(tag)?

[2022-04-11 03:45] lujiajing1126 commented on #8845
I suppose it's OK to support simply general indexes, since currently we only have one global index, i.e. `TraceID` (String + inverted index).

[2022-04-11 04:03] wu-sheng commented on #8845
One type, yes. But not just trace id, read https://github.com/apache/skywalking/issues/8845#issuecomment-1094453157

We need to add a virtual column for segment + span id, named as global_span_id. You will need them in trace and log correlation search

[2022-04-12 02:28] jsonpang commented on #3530
same happen in my condition  8.8.1 server and agent  springcloud gateway 2.3.12

[2022-04-12 03:50] ysy1418899560 opened #8854 "[Bug] python log_reporter_level='INFO' is not work when start with django uWSGI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

The params log_reporter_level='INFO' is not work when start with django uWSGI，on the UI only collect ERROR log, but cant collect INFO log。
python==3.7.9
dja

[2022-04-12 04:34] Superskyyy commented on #8854
@ysy1418899560 Hello, thank you for reporting the potential bug! I will be looking into this and try reproduce the problem.

[2022-04-12 05:35] ysy1418899560 commented on #8854
It can collects info level log without uwsgi on my side，but the generated trace id is different between on log interface and tracking interface。Trace id is '8074295ba1f11eca9c6f8281960ba1c' on tracking interfacee，but on log interface is
'ec28b995ba1f11ec91def8281960ba1c'。Pages cannot jump to each other。
![1](https://user-images.githubusercontent.com/63773628/162887876-18fa383b-bd48-4453-8c81-1881e

[2022-04-12 05:36] Superskyyy commented on #8854
Thanks for the update, I'm looking into it now.

[2022-04-12 06:08] Superskyyy commented on #8854
Update: I reproduced the reported issue on uwsgi post forked agent. I will try to figure out what is the cause.
Seems like anything below `WARNING` level is not reported regardless of the agent settings.

[2022-04-12 08:29] #8835 closed

[2022-04-12 08:37] ysy1418899560 commented on #8854
Thanks for you，l will try this method。Please help to solve another issues that the trace id is inconsistency without uwsgi。Pages cannot jump to each other by trace id。

[2022-04-12 12:13] xu1009 opened #8860 "[Bug] Java agent MySQL plugin NPE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

mysql-5.x-plugin npe when connction url not with database, such as jdbc:mysql://ip:port

### What you expected to happen

mysql-5.x-plugin can work when conncti

[2022-04-12 12:18] wu-sheng commented on #8860
@xu1009 You missed the title

[2022-04-12 12:19] wu-sheng commented on #8860
If you are going to submit the patch in one day, I should be able to wait for this fix.

I am just going to release 8.10.0 right now :)

[2022-04-12 12:28] xu1009 commented on #8860
it is simple, i will submit it today

[2022-04-12 14:30] #8860 closed

[2022-04-13 03:47] czxin788 opened #8861 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

![~MTWGWZJAB3BRKTKM`8%A{W](https://user-images.githubusercontent.com/13861904/163095540-9a858a0e-70c2-4c9f-ba2a-271501eeab59.png)

![MEZ@GTLK

[2022-04-13 03:48] wu-sheng commented on #8861
No title, please fix.

[2022-04-13 03:48] wu-sheng commented on #8861
All thing should be in English.

[2022-04-13 03:48] #8861 closed

[2022-04-13 04:41] czxin788 opened #8862 "[Bug] It do not return trace data by skywalking-client-js , and the spans,traceId,traceSegmentId return null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

My  project is vue, and import  skywalking client js:
![MEZ@GTLK0 `YI_(%HQF5ZR6](https://user-images.githubusercontent.com/13861904/163100327

[2022-04-13 04:49] wu-sheng commented on #8862
@czxin788 You should provide demo codes to reproduce, otherwise, I don't think what we can do.

[2022-04-13 04:50] wu-sheng commented on #8862
We have proved it is working at our sides. We may face different scenarios.

[2022-04-13 06:29] Ltianci commented on #184
I found the latest version can't support resin-pro 4.0.59 , except update start.sh ,is there any other operation?

[2022-04-13 07:25] #8845 closed

[2022-04-13 07:34] Fine0830 commented on #8862
How do you query data from the server? Axios or other methods? @czxin788

[2022-04-13 07:37] czxin788 commented on #8862
@Fine0830
Axios

[2022-04-13 07:49] Fine0830 commented on #8862
I can't reproduce this. It works well in my demo which use `Axios` to query data. Could you please provide more details? @czxin788

<img width="304" alt="1" src="https://user-images.githubusercontent.com/20871783/163126640-155450e7-ea54-47ff-ac02-b2338bf45a1a.png">

[2022-04-13 08:03] czxin788 commented on #8862
tail -f /data/apache-skywalking-apm-bin-9.0.0/logs/skywalking-oap-server.log
`2022-04-13 15:08:27,639 - com.linecorp.armeria.server.logging.LoggingService - 155 [armeria-eventloop-epoll-4-14] WARN  [] - [sreqId=e70bced7, chanId=ae346dd1, raddr=127.0.0.1:49904, laddr=127.0.0.1:12800][h1c://192.168.xx.xx/graphql#POST] Request: {startTime=2022-04-13T07:08:19.786Z(1649833699786000), length=513B, durat

[2022-04-13 08:04] wu-sheng opened #8864 "[Bug] [Event] Can't split service ID into 2 parts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

<img width="1650" alt="image" src="https://user-images.githubusercontent.com/5441976/163128903-990a401f-b9b1-4c92-8416-5aa104509ba6.png">

### What you expected to h

[2022-04-13 08:14] zzzhangqi opened #8865 "Application for cooperation from Goodrain open source community"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Hello,I'm from the open source community [[Goodrain](https://github.com/goodrain)](https://github.com/goodrain).The open source project we operate is [[Rainbond](htt

[2022-04-13 08:47] teamoTNT opened #8868 "[Bug] In SpringBoot, When undertow is used to replace tomcat, the Endpoint is duplicated。"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

In SpringBoot, When undertow is used to replace tomcat, the Endpoint is duplicated。
![image](https://user-images.githubusercontent.com/103160892/163136432-0

[2022-04-13 08:48] wu-sheng commented on #8868
You could remove undertow plugin if you don't need it.

[2022-04-13 08:48] #8868 closed

[2022-04-13 09:59] hutaishi opened #8869 "[Feature] [ShenYu]Apache ShenYu (incubating) plugin support dubbo proxy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Apache ShenYu (incubating) gateway plugin  currently does not support dubbo's proxy trace.
I want to support the tracing of dubbo's proxy，Because friends of the community need such features.
The request path is as follo

[2022-04-13 10:18] Yule-Momoko opened #8870 "[Bug] 9.0.0 版本运行报java.lang.NullPointerException: null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

java.lang.NullPointerException: null
 at org.apache.skywalking.oap.server.core.management.ui.template.UITemplateInitializer.verifyNameConflict(UITemplateInitializer.

[2022-04-13 10:21] wu-sheng commented on #8870
Use English on GitHub, and this is duplicated with https://github.com/apache/skywalking/issues/8864

[2022-04-13 10:22] #8870 closed

[2022-04-13 10:24] wu-sheng commented on #8870
Clean your templates of ES. Your env is not clean. And check upgrate doc.

[2022-04-13 10:27] wu-sheng commented on #8870
All GitHub discussion must be in English. This is going to be locked.

[2022-04-14 01:29] sruby commented on #6451
With apm-toolkit-trace, trace ids can be generated normally even without oap.

[2022-04-14 01:31] czxin788 commented on #8862
Can you help us debug the code of our internal environment remotely through QQ remote control?
My QQ is：646816685
@Fine0830
Thank you.

[2022-04-14 01:59] wu-sheng commented on #8862
This is not allowed. This is not commercial support.

[2022-04-14 02:02] czxin788 commented on #8862
ok

[2022-04-14 02:06] wu-sheng commented on #8862
As an open-source project, we only recommend you to provide demo codes to reproduce errors.
That is the best we could do. You should know, we are all volunteers, no guarantee. Open source community works when they have free time.

[2022-04-14 02:08] Fine0830 commented on #8862
@czxin788  Probably your ui codes have some special functions on axios. You can check axios configs and encapsulation functions.

[2022-04-14 02:15] czxin788 commented on #8862
Thank you,we  will check that.

[2022-04-14 02:34] czxin788 commented on #8862
This is our demo code.
[dist.zip](https://github.com/apache/skywalking/files/8485807/dist.zip)

[2022-04-14 02:41] Fine0830 commented on #8862
It isn't the source code. There's nothing I can do with the compiled code.

[2022-04-14 02:53] czxin788 commented on #8862
`
/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a

[2022-04-14 03:25] Fine0830 commented on #8862
Again, it works well. BTW, the demo comes from our [demo](https://github.com/SkyAPMTest/skywalking-client-test)

<img width="308" alt="1" src="https://user-images.githubusercontent.com/20871783/163307446-fe4956b4-e792-47b8-a130-7ef63ce9b7d6.png">

[2022-04-14 05:26] #8833 closed

[2022-04-14 06:27] #8864 closed

[2022-04-14 06:38] #8834 closed

[2022-04-14 06:41] wu-sheng opened #8875 "[Feature] Enhance metrics on dashboard"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Powered by https://github.com/apache/skywalking-booster-ui/pull/65, we could have chances to show more metrics on service/instance/endpoint list on the dashboards if there are metrics listed.

Recommend following metric

[2022-04-14 06:41] SiuChau opened #8876 "[Bug] skywalking-client-js reporting error unnormal on SPA"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

in browser panal, the error information skywalking-client-js collects always come from the single page,even I already set enableSPA=true.

fi

[2022-04-14 06:42] wu-sheng commented on #8876
@SiuChau Are you going to fix this? You checked `Yes I am willing to submit a PR!`.

[2022-04-14 07:09] SiuChau commented on #8876
我看了一下client-js的源码，register方法会调用segments  handleerrors  perfData。但是我不太理解前端是怎么监控错误产生的，以及为什么传入handleerror的pagePath不会更新。

[2022-04-14 07:27] wu-sheng commented on #8876
Open-source community can't afford to explain the codes, I am afraid.

It is better you could read codes and debug, or provide a demo app to reproduce the error. Otherwise, we could do guessing only

[2022-04-14 07:40] SiuChau commented on #8876
那我可能无法提供pr，但我仍认为这是一个BUG，复现的环境和代码我贴在了How to reproduce，希望能得到帮助

[2022-04-14 07:43] wu-sheng commented on #8876
Please update all your comments into English to dual languages, otherwise, ppl in other countries can't follow what happens.

[2022-04-14 09:18] warrmr opened #8877 "[Bug] skywalking-client-js not sending errors to OPM server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

When an error occurs in our vue app the skywalking client doesn't appear to report it to the skywalking dashboard.

It is discussed in this t

[2022-04-14 09:23] wu-sheng commented on #8877
Thanks for sharing a simple demo to reproduce the error

[2022-04-14 09:52] Fine0830 commented on #8877
Looks like you didn't use the `register ` function in your application. @warrmr

[2022-04-14 10:40] warrmr commented on #8877
Let me try that and I will get back to you, thanks. Wasn't sure If i needed to use register if I am using setPerformance as the documentation implies register is for if you are using auto reporting for SPAs.

Thanks for the speedy replys.

[2022-04-14 11:57] warrmr commented on #8877
Just tried adding the register method call to main.js and its giving errors still.

when I have main.js like this I get the following errors.
[code]
![image](https://user-images.githubusercontent.com/393693/163385813-85a2242a-d0e1-416b-8c22-e9de2dd77845.png)

When I have the main.js like this I get these errors.
[code]
![image](https://user-images.githubusercontent.com/393693/163385106-5412d5d9-bc

[2022-04-14 12:15] #8830 closed

[2022-04-14 12:39] #8818 closed

[2022-04-14 12:47] Fine0830 commented on #8877
@warrmr I found it out.  The `vue: true,` is wrong. Please check the parameter types [here](https://github.com/apache/skywalking-client-js#parameters )

BTY, there's no need to set value for `vue` filed  in your case.

[2022-04-14 12:51] chenhaipeng opened #8878 "[Bug] Validation Failed: 1: id is too long, must be no longer than 512 bytes but was: 514"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Elasticsearch bulk process ,some time occurr this error："reason":"Validation Failed: 1: id is too long, must be no longer than 512 bytes but was: 518, I guess the en

[2022-04-14 12:55] wu-sheng commented on #8878
We have set the threshold to limit endpoint length. Are you using the latest version?

[2022-04-14 12:57] chenhaipeng commented on #8878
this version is v8.9.1

[2022-04-14 13:03] wu-sheng commented on #8878
I am not aware of any place having this issue. If you do, please submit a pull request.

[2022-04-14 13:34] #8515 closed

[2022-04-14 15:34] #8875 closed

[2022-04-14 15:53] warrmr commented on #8877
Adding register seemed to do the trick :) There are two small problems now. The first is that the calls inside of the firebase/auth module are failing with the register function turned on.  I assume this is because the nosniff flag in the headers is set and skywalking intercepts all calls.

![image](https://user-images.githubusercontent.com/393693/163426780-75e2d3ef-35dc-4c6f-ad07-3fa0ffaa8950.png

[2022-04-14 17:42] warrmr commented on #8877
Just checked that link and the table shows vue as an option. not sure if the documentation needs an update?
![image](https://user-images.githubusercontent.com/393693/163444180-e06673ea-56dc-4da2-b290-82b1a5ae1d80.png)

[2022-04-15 02:29] Fine0830 commented on #8877
No, it's an option. Here provides two ways to catch vue errors.  The first is

`ClientMonitor.register({
    collector: "https://skywalking",
    service: 'test-ui',
    pagePath: 'index.html',
    serviceVersion: 'v1.0.0',
    vue: Vue,
});`

The second is
`
ClientMonitor.reportFrameErrors(
        {
            collector: "https://skywalking",
            service: 'test-ui',
            pagePath

[2022-04-15 02:32] Fine0830 commented on #8877
Feel free to set `pagePath` value according to your scenario.

[2022-04-15 02:46] Fine0830 commented on #8877
@warrmr I can't understand this problem. As you register the `skywalking-client-js`, the firebase/auth module are failing. Is that what you mean?

[2022-04-15 03:58] Fine0830 opened #8882 "[Feature] Webapp enables text compression, cache control"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since text-based resources should be served with compression to minimize total network bytes, webapp should be enabled text compression.

Since the browser does not need to make a request to receive the same file every

[2022-04-15 07:16] warrmr commented on #8877
Thanks, Now I understand appreciate the responses.

[2022-04-15 07:18] warrmr commented on #8877
Yeah this was a me problem :) If you send the wrong value into the pagePath then you can crash the OPM server but I will make a discussion topic on that.

[2022-04-15 07:35] warrmr commented on #8877
The app I am testing skywalking in uses firebase authentication as a login system https://firebase.google.com/docs/auth  If I comment out the register function my app works as expected but we dont get any traces in skywalking. but if I put in the register function then skywalking seems to stop firebase from making the calls back to google.

[code]

Working good with ClientMonitor.register missing

[2022-04-15 07:36] wu-sheng commented on #8877
It will crash the OAP server? How?

[2022-04-15 07:37] wu-sheng commented on #8877
CORS policy is included in the doc. It is not SkyWalking's special requirement, it is from HTTPS.

[2022-04-15 08:10] warrmr commented on #8877
Massive exception when bad data is sent to the back end server
![image](https://user-images.githubusercontent.com/393693/163544262-6c38c9c1-6280-4300-a3b0-6fe89c1c6ed6.png)

[2022-04-15 08:13] warrmr commented on #8877
CORS is all working for both skywalking and the app, what I don't understand is when dont have skywalking register method in the app our firebase works well and has no issues. When I add skywalking to our app then firebase breaks and complains of cors errors. The only thing I can sugguest is the way Skywalking is handling the XHR requests in modifying something that google is looking for in the ht

[2022-04-15 08:16] wu-sheng commented on #8877
Exception stack is expected. You could change log4j2.xml to hide them.

[2022-04-15 08:41] wankai123 commented on #8882
The default cache strategy is using `Last-Modified` now, so I suggest keep that way.

[2022-04-15 08:49] wu-sheng opened #8887 "[Bug] OAP version generator is not working as expected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

<img width="313" alt="image" src="https://user-images.githubusercontent.com/5441976/163548899-5d6b47d9-45dc-4055-bfbb-432d3c225983.png">

From version to version, th

[2022-04-15 09:35] #8882 closed

[2022-04-15 10:15] Fine0830 commented on #8877
I found the cause of the problem. I noticed your requests aren't simple requests, so the requests would trigger a [CORS preflight](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request). The preflight request  is a [CORS](https://developer.mozilla.org/en-US/docs/web/http/cors#examples_of_access_control_scenarios) request that checks to see if the CORS protocol is understood and a ser

[2022-04-15 10:21] wu-sheng commented on #8877
@Fine0830  I think this may be caused by 3rd party SAAS services, like Google's, they put some rules about this for security, and out of users' control. From SkyWalking perspective, we should expose some APIs to set URL whitelist which could not be traced(no header injection, and only span sending out or not). WDYT?

[2022-04-15 10:26] Fine0830 commented on #8877
This is a nice way. Here we have provided the API, it is `noTraceOrigins`. @warrmr

[2022-04-16 10:31] #8846 closed

[2022-04-16 10:40] SiuChau commented on #8876
@Fine0830 if u need more infomation please let me know

[2022-04-16 13:45] wu-sheng opened #8888 "[BanyanDB] Support tag based insert/update/query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Current property API only supports reading the whole properties, rather than one tag, which costs more than it should be.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a

[2022-04-17 08:39] #8825 closed

[2022-04-17 13:19] linghengqian opened #8890 "[Feature] Added storage support and E2E testing for InfluxDB 2.x"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I hope SkyWalking OAP Server will add storage support and E2E testing for InfluxDB 2.x.

### Use case

- I hope SkyWalking OAP Server will add storage support and E2E testing for `InfluxDB 2.x` . The current https://git

[2022-04-17 13:26] wu-sheng commented on #8890
I think before you submit anything, could you make a clear what is going to do? The First would be, is InfluxDB 2.x client compatible with InfluxDB 1.x? All the libraries are going to exist in one JVM and the same class loader, if they conflict with the official ElasticSearch's client, then you face a serious problem.

cc @dmsolr PMC member leading on InfluxDB 1.x support.

[2022-04-17 13:29] linghengqian commented on #8890
I'm pretty sure the InfluxDB 2.x client is not compatible with the InfluxDB 1.x client. But since I'm not familiar with the internals of the InfluxDB 2.x client, I can't submit the relevant PR.

[2022-04-17 13:31] wu-sheng commented on #8890
If you are not going to submit anything, #8163 had given a very clear answer. No, we don't support that.

`Feature` labeled issue is for contributors to track the progress.
It looks like this is only a discussion, nothing should be tracked here.

I am moving to the discussion panel.

[2022-04-17 13:59] czxin788 opened #8892 "[Feature] I support topology of skywalking v9.0.0 can have group menu"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At v8.x of skywalking, it has group menu and  create group menu:
![image](https://user-images.githubusercontent.com/13861904/163717477-b16b357a-071a-4143-8d36-9d300e7a6233.png)

But at v9.0.0 of skywalking，the group men

[2022-04-17 23:50] wu-sheng opened #8894 "[Bug] [CI] [Backend and Java agent] Dead link check fails"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

SkyWalking Twitter is https://twitter.com/ASFSkyWalking

The readme doc links to there, but CI reports 404, but actually, it exists.

I tried to upgrade to the newer

[2022-04-17 23:55] wu-sheng commented on #8894
FYI, I noticed this tool is GitHub action available now.

https://github.com/marketplace/actions/markdown-link-check

[2022-04-18 00:26] Superskyyy commented on #8894
This problem happens to all repos with the ASFSkyWalking Twitter link, I tried to resolve it yesterday but the npm package couldn't work anyhow. Instead using the GHA version of the package magically works... `gaurav-nelson/github-action-markdown-link-check@v1`

Here's a link to a successful run https://github.com/Superskyyy/skywalking-python/runs/6042396915?check_suite_focus=true

I'm not sure if

[2022-04-18 00:32] wu-sheng commented on #8894
I think once you submit a pull request, you will know.

[2022-04-18 00:33] wu-sheng commented on #8894
I tried locally too, the tool is working, but it reported `page internal hook` as 404. Maybe some parameter should be set?

[2022-04-18 02:33] yangyiweigege opened #8895 "[Bug] ES flush thread will stop work when flush schedule task have exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

when i use skywalking in test enviorment,  i find the trace data write to ES have most delay.sometimes data write to ES will cost 30 minute later.

### What you expe

[2022-04-18 02:37] wu-sheng commented on #8895
Assigned to you. Wait for your PR to discuss details on that.

[2022-04-18 02:51] Fine0830 opened #8896 "[Feature] Associate metrics with trace on UI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add metric configurations to link trace tab and query trace with the duration and order fields.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willin

[2022-04-18 02:54] yangyiweigege opened #8897 "[Bug] ES BulkProcessor in BatchProcessEsDAO Initialize multiple times"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

org.apache.skywalking.oap.server.core.storage.PersistenceTimer#extractDataAndSave:
will initialize BulkProcessor  multiple times  in concurrent and create multiple f

[2022-04-18 03:48] wu-sheng commented on #8897
Assigned to you. Wait for your PR to discuss details on that.

[2022-04-18 03:55] wu-sheng commented on #8895
Try to use `RunnableWithExceptionProtection` to avoid try/catch.

[2022-04-18 06:11] wu-sheng commented on #8895
@yangyiweigege Do you have any update what what you are going to do?

[2022-04-18 06:34] yangyiweigege commented on #8895
i will replace the  runable code in flush scheduler by use RunnableWithExceptionProtection ,eg:
               new RunnableWithExceptionProtection(this::flush,
                       t -> log.error("flush data to ES failure.", t)
and i will submit pr  later.

[2022-04-18 08:42] kezhenxu94 commented on #8895
This doesn’t make sense to me. You don’t have available/reachable ES server but you still set a very large connection timeout (3000 seconds == 50 minutes!!!). The default flush interval is less than 1 minute so you will get many flush tasks that are waiting for the connection to be established. This is nothing related to exception in the task, I believe all possible exceptions are catches in the f

[2022-04-18 08:44] yangyiweigege commented on #8895
3000 ms, I write the wrong number。

[2022-04-18 08:47] kezhenxu94 commented on #8897
I don’t think there is “concurrent init” as you said. Please read my comment in the other issue you posted. The fact you observed is true but the analysis is wrong.

[2022-04-18 08:48] wu-sheng commented on #8895
The timeout threshold is not the community's concern. The current value is reasonable.

I am just curious what is the exception.

[2022-04-18 08:56] wu-sheng commented on #8897
Agree, I can't see the case, that is why I am just pending on what he is going to propose. No data to consumer is common, such as no log reported.

[2022-04-18 09:10] yangyiweigege commented on #8897
code in org.apache.skywalking.oap.server.core.storage.PersistenceTimer#extractDataAndSave:
[code]
batchDAO is only one, but works have many and each work will invoke  batchDAO.flush in different threads, and batchDAO only have one BulkProcessor.   it means:
if (BulkProcessor == null ) can invoked many time。
batchDAO have only one BulkProcessor.
Multiple scheduled tasks are initialized, but in real

[2022-04-18 09:15] wu-sheng commented on #8897
OK, yes, it could be in a concurrency case. @yangyiweigege You are correct, we miss a lock here.

[2022-04-18 09:22] yangyiweigege commented on #8897
i think can use double-checked locking(DCL)  in (BatchProcessEsDAO.flush and insert ) to avoid the bulkProcessor init many times.

[2022-04-18 09:23] wu-sheng commented on #8897
Yes, agree.

[2022-04-18 09:31] yangyiweigege commented on #8895
I only noticed that flush schedule  throws this exception, but I don't know what the concret exception is. i will take time to design the exception.

[2022-04-18 09:31] yangyiweigege commented on #8895
I only noticed that flush schedule throws this exception, but I don't know what the concret exception is. i will take time to design the exception.

[2022-04-18 09:44] kezhenxu94 commented on #8895
The exception "EmptyEndpointException" means there is no healthy ES server that can establish a connection

[2022-04-18 09:54] yangyiweigege commented on #8895
but in actually，we have the healthy ES server...maybe it‘s only timeout?

[2022-04-18 09:57] it-ll opened #8901 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

mac上安装部署skywalking报错如下：
java.lang.NoClassDefFoundError: org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/InstanceMethodsAroundInterceptor
        a

[2022-04-18 09:58] it-ll commented on #8901
应该是个bug吧，要不就是我安装部署有问题，版本为9.0.0

[2022-04-18 09:59] #8901 closed

[2022-04-18 09:59] kezhenxu94 commented on #8895
Might be. You can try `curl` in the same machine as your OAP, to your ES server and see the time elapsed and status code. Like `curl http://<es>:<port>/_cluster/health`

[2022-04-18 09:59] kezhenxu94 commented on #8895
Might be. You can try `curl` in the same machine as your OAP, to your ES server and see the time elapsed and status code. Like `curl http://<es>:<port>/_cluster/health`

[2022-04-18 10:00] kezhenxu94 commented on #8895
Might be. You can try `curl` in the same machine as your OAP, to your ES server and see the time elapsed and status code. Like `curl http://<es>:<port>/_cluster/health`

[2022-04-18 10:00] wu-sheng commented on #8901
All issues and discussions must be in English. Closing.

[2022-04-18 10:01] wu-sheng commented on #8901
`NoClassDefFoundError` usually is caused by your local deployment. Or special class loader. You have to check on your own.

[2022-04-18 11:43] #8844 closed

[2022-04-18 12:31] Cool-Coding opened #8904 "Possible bug fix: redundant `shade.package` property"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

There are `shade.package` properties in the path `apm-sniffer/pom.xml` and `apm-sniffer/apm-agent-core/pom.xml`.  I am not sure whether `shade.package` should o

[2022-04-18 12:44] wu-sheng commented on #8904
I don't check this for years, but I remember once you removed one, the codes have issues.

[2022-04-18 13:14] Cool-Coding commented on #8904
@wu-sheng  It won't cause codes issues. I verified it just now in my local computer using command `mvn clean package`.
Also, I looked at the shaded package in `apm-agent-core.jar`, the `shade.package` have worked.

![image](https://user-images.githubusercontent.com/29882506/163813323-9b1f6144-6a36-44e2-aee2-c231642b8d9a.png)

[2022-04-18 13:49] wu-sheng commented on #8904
Oh, you are just saying `<shade.package>org.apache.skywalking.apm.dependencies</shade.package>`. I thought you were talking about the shade plugin. Sorry.

Yes, these are duplicated, it was there due to a legacy reason because we didn't have separate `plugins` jars. They were in the agent.jar as a whole in the past(before 3.x I think?)

If you want to remove one, feel free to do. For me, it is a b

[2022-04-18 14:08] Cool-Coding commented on #8904
Ok，I will submit a PR tomorrow. Thank you for letting me learn about the agent history.

[2022-04-19 00:10] warrmr commented on #8877
You are both correct, Google doesn't allow the modification of the headers for security and I have since found out that the skywalking-client-js adds a sw8 header to the outbound requests with a trace ID and segment ID adding this to the register call worked :) `noTraceOrigins: [/.*googleapis.*/, /.*firebaseapp.*/],` Thankyou.

@wu-sheng May I change this from a [BUG] to a [FEATURE] request please

[2022-04-19 00:29] wu-sheng commented on #8877
If there is no BUG(or uncertain case) existing anymore, I could move this to the discussion panel, and close/lock this issue.

[2022-04-19 00:35] warrmr commented on #8877
Yes by all means move it to discussion please :)  I would like to get opintion if it is possible to respect the https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options nosniff header and make some of this automatic/improve tracing for security sensive APIs.
This would need prototyping as I am not sure if it is possible to read that header and exit out without breaking the

[2022-04-19 03:29] #8862 closed

[2022-04-19 03:30] teamoTNT commented on #8868
When i remove undertow plugin, the trace_id of the log will be displayed as N/A。 We are using logtube framework。
![1650338981(1)](https://user-images.githubusercontent.com/103160892/163914488-e86ec01d-a7c9-4c1e-9df5-c132cc165976.png)

[2022-04-19 03:36] wu-sheng commented on #8868
We don't have logtube integration, so, don't know what is going on

[2022-04-19 06:52] teamoTNT commented on #8868
How can we get tradeId when we remove undertow plugin.
Currently we use this method (org.apache.skywalking.apm.toolkit.trace.TraceContext.traceId()) to get tradeId to integrate logtube.

[2022-04-19 06:57] wu-sheng commented on #8868
If you want to discuss a question, open a new discussion(not issue).
Your ask has nothing related to this issue.

[2022-04-19 07:14] teamoTNT commented on #8868
OK, thk

[2022-04-19 08:45] little-hang commented on #6299
I got the same problem. I use k8s(not helm) to delpoy sw .
the ui's configmap is as follows:
<img width="584" alt="image" src="https://user-images.githubusercontent.com/24517540/163961970-4086666b-2a96-4968-81b9-0f38c65a7c49.png">
and the oap-server's configmap is as follows:
<img width="614" alt="image" src="https://user-images.githubusercontent.com/24517540/163962322-a029f2c2-8104-4a97-bdca-4c52

[2022-04-19 09:00] fgksgf opened #8910 "[Event] Add E2E tests for Kubernetes Event Exporter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since #8825 is resolved, Kubernetes Event Exporter is ready to release. But there is no E2E tests yet, so we had better add it before releasing `v1.0`.

### Use case

_No response_

### Related issues

_No response_

##

[2022-04-19 09:21] #8904 closed

[2022-04-19 09:22] #8743 closed

[2022-04-19 09:45] dengshenkk opened #8911 "client-js of vue3 [Feature]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

client-js support vue3.x

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this pr

[2022-04-19 10:09] wu-sheng commented on #8911
If you want to submit new feature support, welcome. If not, there is nothing we could track here.

The official issue tracker is for bugs or new features (someone has decided to do)

[2022-04-19 10:09] #8911 closed

[2022-04-19 10:15] danzi516 opened #8912 "[Feature] Can add field in table 'segment'?"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I'm using Mysql database

### Use case

I'm using Mysql database, I want to add a new field to the segment table, parse the data_binary so that I can query it.
The field data_binary is useful to me
Now when I add a fiel

[2022-04-19 10:22] yangyiweigege commented on #8895
i have found the  really reason of why schedule task will throw exception, please see https://github.com/apache/skywalking/pull/8909

[2022-04-19 10:47] wu-sheng commented on #8912
If you change something, it is your own responsibility, not community.

[2022-04-19 10:47] #8912 closed

[2022-04-19 12:06] #8894 closed

[2022-04-19 12:18] wu-sheng commented on #8894
@kezhenxu94 I didn't close this as Java repo still has issues.

[2022-04-19 12:21] kezhenxu94 commented on #8894
OK, I just saw all CI tasks in Java repo main branch passed but didn't notice the link checker task was not running in main branch, let me fix now

[2022-04-19 12:39] #8895 closed

[2022-04-19 18:25] Superskyyy commented on #7319
Just to reference some potential problems on forking - `https://github.com/grpc/grpc/issues/18075`

We also need to use the new callback method `https://docs.python.org/3/library/os.html#os.register_at_fork` to enhance the pre-forking server behaviours for Python 3.7+ (Py3.6 should continue to manually add hooks to the server startup config)

[2022-04-20 05:06] #8897 closed

[2022-04-20 06:55] wu-sheng opened #8914 "[Feature] [UI] Change endpoint input to selector in profile widget"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We noticed a lot of users can't set the endpoint name correctly when doing SDK profiling, we should change the endpoint name from input to selector to avoid the name can't match, which could reduce user confusion.

###

[2022-04-20 08:25] #8514 closed

[2022-04-20 10:09] fengrui1990 commented on #6857
I have the same problem,according to promethues rules:

 - name: cpu_total_percentage
    exp: (node_cpu_seconds_total * 100).tagNotEqual('mode' , 'idle').sum(['node_identifier_host_name']).rate('PT1M')
to:
  - name: cpu_total_percentage
    exp: 100 - (node_cpu_seconds_total * 100).tagEqual('mode' , 'idle').avg(['node_identifier_host_name']).rate('PT1M')
It works well,for reference.

[2022-04-21 09:01] #8910 closed

[2022-04-21 09:05] Marchel-Ace opened #8920 "[Bug] skywalking-python with django not working"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

Cannot start skywalking-python in Django with PostgreSQL as database backend

### What you expected to happen

urls.py
[code]
when I try to run with sw-pyth

[2022-04-21 09:29] dashanji opened #8921 "[Feature] [SWCK] Support for OAP dynamic configuration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The Issue is to support the OAP's [dynamic configuration](https://skywalking.apache.org/docs/main/latest/en/setup/backend/dynamic-config/) in SWCK.
The key design is to add a field in CRD `OAPServer` to indicate whether

[2022-04-21 09:44] wu-sheng commented on #8869
Fixed by https://github.com/apache/skywalking-java/pull/162

[2022-04-21 09:44] #8869 closed

[2022-04-21 11:48] lorihen opened #8922 "[Bug] the filed at path '/service_relation_server_resp_time/value{0}/id' was declared as anon null type,"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

All are single deployments, The default H2 database used by OAP. there are some errors When I visit the topology tab page
![image](https://user-images.githubusercont

[2022-04-21 11:49] wu-sheng commented on #8922
Mostly your OAP server is not working as expected, or down.

[2022-04-21 11:49] #8922 closed

[2022-04-21 22:19] Superskyyy commented on #8920
I think this is related to the psycopg2 library rather than Django, I recall seeing the problem somewhere.

[2022-04-21 22:40] Superskyyy commented on #8920
I will attempt to resolve this bug tomorrow.

[2022-04-22 01:49] hanahmily commented on #8921
Thanks for this proposal

There are two kinds of files in today's skywalking OAP configuration system: static config file attached to the OAP deployment and ConfigMap-based dynamic file. The end users have to pick the right path by referring to the documents and mind the break changes on upgrading the OAP. If it is the case, A union configuration CRD and Controller seems a gleam for such a scenari

[2022-04-22 02:59] #8920 closed

[2022-04-22 02:59] kezhenxu94 commented on #8920
Closing as duplicate.

[2022-04-22 03:45] dashanji commented on #8921
Make sense to me, the static file really needs a controller to manage. Thanks for the detailed description.

[2022-04-22 03:54] kezhenxu94 opened #8927 "[CLI] Binary license overhaul"
https://github.com/apache/skywalking-cli/pull/148#discussion_r855744720

Labelled with 0.11.0 so we don't forget this in next release

[2022-04-22 04:10] czxin788 commented on #8862
this is our e object which I print:
![middle_img_v2_f7663bd4-eb8a-4c7d-9045-a620c00733ag](https://user-images.githubusercontent.com/13861904/164596007-e6cb00e2-23c3-497a-a091-211851d3e2f9.jpg)

but brower console log throw errors like this, we  use  skywalking client js of v0.8.0  and  skywalking v9.0.0
![middle_img_v2_5bae391a-33ee-475b-8124-2683c849abag](https://user-images.githubusercontent.com

[2022-04-22 04:39] hutaishi opened #8928 "[Feature] [ShenYu] Apache ShenYu (incubating) plugin support grpc,sofarpc,motan,tars"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Enhanced Plugin Functionality.
support grpc,sofarpc,motan plugin tracing.

### Use case

support grpc,sofarpc,motan plugin tracing.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am

[2022-04-22 05:08] Fine0830 commented on #8862
The code context is so strange. That is a constant not global in agent and it only is the error category in logs. In addition, the `XMLHttpRequest.window.XMLHttpRequest` is so weird. Please check your code.

[2022-04-22 08:42] it-ll opened #8930 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Use log4j2 to print logs asynchronous(All Loggers Asynchronous), the format is json, and there is no traceId on the web ui

### What you expected to happen

UI

[2022-04-22 08:47] wu-sheng commented on #8930
Async writer is not supported, because `getTraceId` is not in the correct context.

[2022-04-22 08:47] #8930 closed

[2022-04-22 08:49] wu-sheng commented on #8930
Check doc first https://skywalking.apache.org/docs/skywalking-java/v8.10.0/en/setup/service-agent/java-agent/application-toolkit-log4j-2.x/

There are several difference usages.

[2022-04-22 08:55] it-ll commented on #8930
Asynchronous means that it does not support display on the ui？

[2022-04-22 08:56] #7845 closed

[2022-04-22 09:13] wu-sheng opened #8931 "[Feature] [OAP] Support one StorageData persistence as more entities"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

SegmentRecord, AbstractLogRecord, and many entities have tags to query, which is hard to adopt in the relational database.
So, right now, we use one table with multiple columns(tags), which has a very clear limitation w

[2022-04-22 09:26] wu-sheng opened #8932 "[Feature] [OAP] Fully support Zipkin traces, Zipkin server alternative"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

With a full discussion with our Zipkin friends cc @basvanbeek @llinder @tacigar

In our new v9 iteration, we received a lot of asking about how to work with Zipkin, and whether it is possible to make SkyWalking OAP work

[2022-04-22 09:31] wu-sheng opened #8933 "[Feature] Support tags auto-complete for trace/log query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 Current tags are available(if searchable) for query in log and trace page, but the user experience is not very good. Considering the full Zipkin server support(https://github.com/apache/skywalking/issues/8932), OAP and

[2022-04-22 10:18] it-ll commented on #8930
1、The log format is configured as：
 <PatternLayout  charset="UTF-8" pattern="[%d][%t][%p][%c:%L][%traceId] %m%n"/>
can print normally traceID；
2、The log format is configured as json format cannot be printed out traceId
      <JsonLayout eventEol="true" compact="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSS}" />
                <KeyValuePair key="projec

[2022-04-22 10:20] it-ll commented on #8930
1、The log format is configured as：
<PatternLayout  charset="UTF-8" pattern="[%d][%t][%p][%c:%L][%X{X-B3-TraceId}] %m%n"/>
can print normally traceID；
2、The log format is configured as json format cannot be printed out traceId
 <JsonLayout eventEol="true" compact="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSS}" />
                <KeyValuePair key="proj

[2022-04-22 10:23] it-ll commented on #8930
1、The log print format is configured as
`PatternLayout  charset="UTF-8" pattern="[%d][%t][%p][%c:%L][%X{X-B3-TraceId}] %m%n"/>`
can print normally traceId
2、The log print format is configured as json
`<JsonLayout eventEol="true" compact="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSS}" />
                <KeyValuePair key="projectName" value="unm" />

[2022-04-22 14:17] #8887 closed

[2022-04-23 02:07] hutaishi opened #8936 "[Feature] skywalking grpc plugin support trace client generic call"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description
The current skywalking grpc plugin supports service call tracing through stub.
#### AbstractStubInstrumentation
![image](https://user-images.githubusercontent.com/12478263/165769463-53f90e4f-48d5-4554-8360-1138c264a822.p

[2022-04-23 03:57] wu-sheng commented on #8936
AFAIK, grpc async(stream) is not supported.

[2022-04-23 07:08] fgksgf opened #8937 "[Feature][SWCK] Add k8s event exporter CRD and controller"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since skywalking k8s event exporter is releasing 1.0, we can provide a CRD in SWCK to better integrate it.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes

[2022-04-23 09:00] #8697 closed

[2022-04-23 12:18] hutaishi commented on #8936
After my testing, all 4 call methods are supported.
## UNARY
![QWA6}JO{JJF13JSWGWS31_A](https://user-images.githubusercontent.com/12478263/164893877-e4137432-671c-46ab-8b6a-d8b1a8c8a597.png)

![image](https://user-images.githubusercontent.com/12478263/164893930-15f7cbe9-e226-4f0a-88fa-a03975af18e4.png)

## CLIENT_STREAMING
![image](https://user-images.githubusercontent.com/12478263/164893964-588b9

[2022-04-23 12:29] hutaishi commented on #8936
My interception points are as follows：

- class: io.grpc.internal.ClientCallImpl
- instance method: start
All calls will go through the start method.
Create exitspan in the start method.

[2022-04-24 06:46] lujiajing1126 opened #8940 "[Feature] [BanyanDB] Support Double field"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In `instance_clr_cpu`, we use Double-type `value` as the field. We have to support `Double` type field.

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/2568208/164960396-436bd73b-b311-40bf-

[2022-04-24 09:15] tuhao1020 opened #8941 "[Bug] some indexes not created after es init completed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

1. prepare an elasticsearch cluster
2. install skywalking via helm, use es installed in the step 1
3. wait es-init to complete and oap/ui to get running
4. uninstall

[2022-04-24 09:45] wu-sheng commented on #8941
This means init-container doesn't run successfully. Check your env. And this is not a bug, just a question.

[2022-04-24 09:45] #8941 closed

[2022-04-24 12:24] #8914 closed

[2022-04-25 04:11] Superskyyy commented on #7084
@eus-lwq has expressed interest in completing this feature, so I'm assigning the task to her.

[2022-04-25 04:14] eus-lwq commented on #7084
Yes please!

[2022-04-26 02:45] hanahmily opened #8948 "[Bug] Unit of measure's interval should stop at Day"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

It's tricky to answer a simple question: How long a year? What I mean is we can't figure out how many days in one year due to leap day. The better path is to

[2022-04-26 06:29] #8665 closed

[2022-04-26 07:42] it-ll opened #8954 "[Feature] Log4j2 Asynchronous log print traceId"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1、The log print format is configured as
`PatternLayout charset="UTF-8" pattern="[%d][%t][%p][%c:%L][%traceId] %m%n"/>`
can print  traceId
`[2022-04-26 15:15:14,355][RMI TCP Connection(3)-127.0.0.1][INFO][com.zaxxer.hika

[2022-04-26 07:43] it-ll commented on #8954
The log print format is configured as json
`<JsonLayout eventEol="true" compact="true"> </JsonLayout>`

[2022-04-26 07:59] wu-sheng commented on #8954
I think this discussion is there for a long time.

[2022-04-26 07:59] #8954 closed

[2022-04-26 11:28] #8876 closed

[2022-04-27 01:48] dcw2012 opened #8957 "[Feature] Support export to a file（eg: csv） for log query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Current  on the  log query page, query results cannot be exported to a file.  the user experience is not very good. Considering save the search results to a CSV file for downloading.

### Use case

_No response_

### Re

[2022-04-27 02:36] wu-sheng commented on #8957
We are welcome you to contribute, but the feature request is usually self assign, meaning someone will submit PR later.

Close for now, as you are not going to do.

[2022-04-27 02:37] #8957 closed

[2022-04-27 05:59] zhyyu opened #8961 "[Feature] add dynamic configuration mysql implementation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Some companies do not want to add additional dependency when they already have mysql. So adding dynamic configuration mysql implementation will reduce the complexity of deployment.

### Use case

add dynamic configurati

[2022-04-27 06:07] Jedore commented on #3524
@liangxp Can I ask your solution about this question?

[2022-04-27 06:24] wu-sheng commented on #8961
Are you proposing to use MySQL as the configuration center?

[2022-04-27 06:27] Fine0830 opened #8962 "Dashboards adapte mobile terminal"
### Discussed in https://github.com/apache/skywalking/discussions/8871

<div type='discussions-op-text'>

<sup>Originally posted by **warrmr** April 14, 2022</sup>
We are in the process of trialing Skywalking in our apps and we love it so far the response time from the developers on issues is amazing and the charts and ease of first time setup is awesome. We got a few issues to iron out but the ov

[2022-04-27 06:54] zhyyu commented on #8961
Yes.

[2022-04-27 07:18] wu-sheng commented on #8961
It seems strange to me. A single Zookeeper or etcd costs little, and very rare to see a company even doesn't have one of this.

[2022-04-27 07:33] zhyyu commented on #8961
I used to use nacos to do that. But for high availability, It needs at least 3 nodes to do that and it wastes a lot of resources. Because the oap dynamic configuration number is small, and can config `period` to reduce the query qps, so I think can reuse existing mysql to do that.

[2022-04-27 07:53] wu-sheng commented on #8961
You could do that, but from my perspective, upstream is not going to accept this officially. We have a lot of options, and MySQL is not typical to do this.

[2022-04-27 07:53] #8961 closed

[2022-04-27 10:49] GravityMatrix opened #8964 "[Bug] Build 9.0.0 webapp ui topology error, It will be fine after a while when there are nodes connected."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

I got an error when I opened the webapp topology, and it got better after a while。
It happens when I have no agent node connected to the server。

![6198F2B9-892C-

[2022-04-27 13:38] #8964 closed

[2022-04-28 00:12] hanahmily opened #8965 "[Feature] Add "exists" endpoints to schema registry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We have to introduce a series of ''exists" operations to schema registry APIs to check if a resource exists. These new operations will return a boolean value instead of throwing a "NotFound" error as "getXXX" did.

###

[2022-04-28 00:16] #8948 closed

[2022-04-28 02:37] it-ll commented on #3703
How to deal with instance Duplicate

[2022-04-28 03:09] hanahmily commented on #8513
After some investigation, topology querying relies on `in` operation, which has been supported. There is a single scenario: event querying, which needs `or`.

To support `or` logical operation, we have to bring a breaking change to the current querying message structure, rebuild the querying process and update java-client accordingly. Comparing the wide range of changes and the trivial use case, I

[2022-04-28 03:34] hanahmily opened #8968 "[Feature] OAP BanyanDB Storage module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This tracks the progression of BanyanDB storage module:

  * [x] TableInstaller, schema registration (@lujiajing1126)
  * [x] Management, UI Template (@lujiajing1126)
  * [x] Metadata (@lujiajing1126)
    * [x] Service

[2022-04-28 03:35] hanahmily commented on #8968
@dmsolr @lujiajing1126 Would you please fill the above checklist?

[2022-04-28 03:35] lujiajing1126 commented on #8968
Sure

[2022-04-28 07:33] xzyJavaX opened #8969 "elasticsearch-6.x-plugin, elasticsearch-7.x-plugin throw NPE."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

elasticsearch-6.x-plugin, elasticsearch-7.x-plugin throw NPE.

`org.elasticsearch.client.transport.TransportClientNodesService$ScheduledNodeSampler.run` calls
`

[2022-04-28 07:48] wu-sheng commented on #8969
Assigned to you.

[2022-04-28 07:53] wu-sheng commented on #8936
@hutaishi Any plan to continue? Would you fix gRPC plugin first?

[2022-04-28 09:41] wzhangNJ commented on #2872
@id-zhq Have you solved this problem？

[2022-04-28 12:24] it-ll opened #8972 "[Bug] The same instance of a service appears"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

The same instance of a service appears
![飞书20220428-202224](https://user-images.githubusercontent.com/41061792/165751201-8e3de5d6-ccdd-4876-ba82-a393775b5f84.png)

[2022-04-28 12:25] wu-sheng commented on #8972
No interest for v8 UI anymore.

[2022-04-28 12:25] #8972 closed

[2022-04-28 12:29] it-ll commented on #8972
![飞书20220428-202807](https://user-images.githubusercontent.com/41061792/165751957-4d829024-155e-4ad1-ad66-6d0e4272756b.png)
 v9 UI same problem

[2022-04-28 12:30] wu-sheng commented on #8972
What issue?

[2022-04-28 12:31] wu-sheng commented on #8972
Service instance is created when reboot. That is correct.

[2022-04-28 12:33] it-ll commented on #8972
One instance should be displayed after restarting, in fact multiple identical instances are displayed

[2022-04-28 12:34] wu-sheng commented on #8972
That is your thought, not ours. Instance name could be set manually from some agents.

[2022-04-28 12:37] it-ll commented on #8972
okay，but I think there should be only unique instance after service restart, not the one before showing on ui

[2022-04-28 12:47] wu-sheng commented on #8972
You thought many things, open-source community have our own way. Committer and contributor make the call. If you want to make a decision, you need to contribute codes. Credits matter in here.

[2022-04-28 15:18] Superskyyy commented on #2872
It could be related to JDK version or implementation, try switch and see if the problem persist.

[2022-04-29 04:53] #8969 closed

[2022-05-02 09:08] AaronW-BE commented on #8922
Same error for me, how did you solved this error, thanks a lot.

[2022-05-02 13:57] lujiajing1126 opened #8979 "[Bug] Inverted index does not work as expected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

In `Metadata` query, we may specify a `Layer` as a part of the query condition. We set `Layer` (`Int` type) as an inverted index for `ServiceTraffic`, etc. un

[2022-05-03 05:26] lujiajing1126 commented on #8979
After some investigation, I found this is my problem.

I will submit a PR to fix this issue in the client side.

[2022-05-03 09:42] AaronW-BE commented on #8922
I used the docker distribudion, version 9.0.0, so still need waiting new version ....

[2022-05-03 09:55] wu-sheng commented on #8922
If you are talking about 8963, it is not a blocking issue. This error only shows out when there is no node and line of your topology. Put some services installing agent or export metrics/logs to SkyWalking, it would be fine.
Read the PR's description, before you jump into a conclusion.

[2022-05-03 12:35] #8979 closed

[2022-05-04 08:18] AaronW-BE commented on #8922
Okay, I see. thanks for your reply.

[2022-05-04 23:54] hanahmily opened #8989 "[Document] Basic usage guide"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB recently took part in several code summer camps to attract more contributors to enhance the accessibility of the database servers by adding web apps and CLI tools. But there are no other materials for the candi

[2022-05-05 00:07] wu-sheng commented on #8989
Let's build one and host it on the website. Please follow the website requirements to build folder structure and menu.yaml. We could keep latest doc on the website with released version docs.

[2022-05-05 03:06] marksugar opened #8990 "kubernetes.client.openapi.ApiException: .....java.lang.Thread.run(Unknown Source)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

env info
skywalking: 9.0
es: 6.8.6
k8s: Aliyun ACK 1.22

I only use the general service and alarm functions, everything is fine

But the following exception is throw

[2022-05-05 03:07] #8936 closed

[2022-05-05 05:09] czxin788 commented on #8862
Can skywalking-client-js support https? @Fine0830

一、https scene.
1、My vue code is：
src/index.js
[code]
2、my nginx configure is:
[code]
3、when I  visit https://m.xxxx.cn/h5/live/liveDetail?activityId=xxxx, the chrom console log is:
![image](https://user-images.githubusercontent.com/13861904/166865532-3b72b0c6-d1c5-4f5c-af90-0d8b31526317.png)
4、and the segments is empty:
![image](https://user-image

[2022-05-05 07:05] Fine0830 commented on #8862
It now supports the https scenario.

[2022-05-05 07:10] czxin788 commented on #8862
Thank you.
But I do not know what is the reason for my problem.  @Fine0830

[2022-05-05 07:55] wu-sheng commented on #8862
@czxin788 In the open source, you should do more research on your own, rather than asking for helps. Maintainers' time are very precious. You as an engineer should check codes on your own first, there is not much magic here.

[2022-05-05 08:08] zhyyu commented on #8223
`fabric8io/docker-maven-plugin ` 0.38.1 worked, but  still error
[code]

I add `-Dos.detected.classifier=osx-x86_64` but still don't work.

[code]

[2022-05-05 09:27] lujiajing1126 commented on #8223
I've check the issue in Skywalking-java repo. You have to update the `protoc` which may be hardcoded now.

`protobuf` for Apple Silicon have been supported from `3.17.3`, https://github.com/apache/skywalking/issues/8522#issuecomment-1033404584

Also, on M1 models, I was using `Ecplise/Temurin` distribution which can be used to build the project since it is built for `x86_64`.

[2022-05-05 19:56] lstephe opened #8993 "Please confirm if zipkin and/or jaeger receiver works to pull traces into Skywalking."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Please confirm if zipkin and/or jaeger receiver works to pull traces into Skywalking.   We have not been successful with either one.  If you can please share some su

[2022-05-05 22:14] Superskyyy commented on #8993
@lstephe hello, thanks for the question. However, please do not label an issue as "bug" until it is really one after discussions.

Additionally, the subsection for "how to reproduce" is not properly filled, providing "yes we can reproduce" is definitely not helpful for anyone to see the cause. Please update the details.

Maybe you will be interested in this one as the community is planning to full

[2022-05-06 02:39] zhangethan opened #8995 "[Feature] show current value in alarm message"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now , alarm message looks like this:
Successful rate of endpoint {name} is lower than 75%
Could you please support current value? For example:
Successful rate of endpoint {name} is lower than 75%, it's {value}

### Use

[2022-05-06 12:30] wu-sheng opened #9000 "[Feature] Set TagController for tags of traces and logs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Tag-based log/trace search and auto complete(https://github.com/apache/skywalking/issues/8933) were/are being added.
One thing should be added to limit the max length of tag's `key=value` to avoid candidate overload and

[2022-05-07 02:26] hutaishi commented on #8928
Completed and ready for closure, see https://github.com/apache/skywalking-java/pull/170 for details

[2022-05-07 02:26] #8928 closed

[2022-05-07 05:35] #8847 closed

[2022-05-08 06:45] berylshow commented on #7848
@wu-sheng Please~ I open the Zipkin-receiver  in skywalking（8.9.1）, and then export the Zipkin format using the opentelemetry-collector-contrib(zipkinexporter). Can it display trace in skywalking? I did this, but there are prompts and errors. I think I may not use it correctly. Can you tell me how to configure it correctly? Thankyou~
Errors are reported as follows:
2022-05-07T09:43:05.081Z

[2022-05-08 07:18] wu-sheng commented on #7848
@berylshow This is not a place for you to drop random OpenTelemetry logs.

If you want to follow Zipkin receiver's latest update/fix, search the PR list, https://github.com/apache/skywalking/pulls?q=is%3Apr+zipkin+is%3Aclosed.

OpenTelemetry's logs are not our responsibility.

[2022-05-09 05:07] skundu1234 opened #9012 "[Bug] - “openjdk:8-jdk-alpine” base-image docker based application unable to start with Apache Skywalking"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

we observed issues with the applications using “openjdk:8-jdk-alpine” base-image in docker file. Its working fine with adoptopenjdk:11-jre-hotspot image .We obs

[2022-05-09 05:45] wu-sheng commented on #9012
@kezhenxu94 Could you run a single verification? Never heard of this.

[2022-05-09 05:55] kezhenxu94 commented on #9012
@skundu1234 which SkyWalking Java agent image are you using? We don't have such image named `openjdk:8-jdk-alpine` or `adoptopenjdk:11-jre-hotspot`, please provide reproducible steps or related details.

[2022-05-09 06:12] skundu1234 commented on #9012
We are using 8.9.0 Skywalking Java Agent.We are starting application along with sky-walking arguments in docker file.
Agent is downloaded in entrypoint.sh. Agent is downloaded from here: https://skywalking.apache.org/downloads/

Docker file details:
FROM openjdk:8-jdk-alpine
# copy extracted agent folder from the downloaded archive
EXPOSE 8080
ADD entrypoint.sh /app/entrypoint.sh
RUN chmod -R 777

[2022-05-09 06:24] wu-sheng commented on #9012
Your docker file, your responsibility.

We have provided official docker images in dockerhub.

[2022-05-09 06:24] #9012 closed

[2022-05-09 06:32] skundu1234 commented on #9012
Docker file is fine but only base image is the problem and Skywalking agent does not work with openjdk thats also official from Docker Hub.
https://hub.docker.com/_/openjdk

Is there anything that Skywalking agent only works only certain base images.

[2022-05-09 06:40] kezhenxu94 commented on #9012
This is duplicate of https://github.com/apache/skywalking/discussions/8975

You have no idea whether base image is the only problem, for what it's worth here are my suggestions:

- Use our prebuilt Docker image instead of downloading on the fly, e.g.

[code]

- `._` files are hidden so when you said `We did not see with ._apm-spring-concurrent-util-4.x-plugin-8.10.0.jar file anywhere in plugin,opt

[2022-05-09 06:54] #8962 closed

[2022-05-09 09:20] Fine0830 opened #9015 "[Feature] Segments sorted in UI could be aligned by start time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

According to https://github.com/SkyAPM/SkyAPM-dotnet/pull/475#issuecomment-1120385649, segments sorted in UI could be aligned by start time.

### Use case

_No response_

### Related issues

_No response_

### Are you w

[2022-05-09 11:33] skundu1234 commented on #9012
Thank you very much @kezhenxu94 for this details.We are not able to see this error now.We are getting GRPC collector fail and this collector backend service is able to connect with other application. Any thoughts about that.
Note: Kept enable_TLS: True and ca/ca.crt is present.

 GRPC collector fail error log in skywalking-api.log:

ERROR 2022-05-09 11:20:28:125 SkywalkingAgent-12-GRPCChannelManag

[2022-05-09 11:58] hanahmily opened #9016 "[Feature] Document the critical characters"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Document the following characters of BanyanDB:

  * The structure of data files and index files.
  * Read and write path.
  * Encoding and compressing.

### Use case

_No response_

### Related issues

_No response_

##

[2022-05-09 12:16] #8989 closed

[2022-05-09 12:16] #9016 closed

[2022-05-09 15:17] wu-sheng opened #9018 "[Bug] [BanyanDB] UT fails"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

[code]

### What you expected to happen

Test could pass.

### How to reproduce

The test fails on Mac M1 Max

### Anything else

_No response_

### Are you w

[2022-05-10 03:35] Fine0830 opened #9021 "[Feature] Implement functions to remove unexpected data for exporting dashboards"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since the similar problems https://github.com/apache/skywalking/pull/9020#discussion_r868770664, we need to implement functions to remove unexpected data for exporting dashboards.

### Use case

_No response_

### Relat

[2022-05-10 09:02] zhyyu opened #9028 "[Feature] add plugin.jdbc.trace_sql_parameters into agent CDS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add plugin.jdbc.trace_sql_parameters into agent CDS.

### Use case

Sometimes don't want to change the agent config and restart the application to see the sql parameter. Add  plugin.jdbc.trace_sql_parameters into agent

[2022-05-11 00:47] #9018 closed

[2022-05-11 09:34] smallAttr opened #9036 "[Bug] [satellite] Method not found: satellite.envoy.accesslog.v3.SatelliteAccessLogService/StreamAccessLogs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Satellite (apache/skywalking-satellite)

### What happened

I would like to know why this is and what shoud I do to avoid this error？
I try to upgrade satellite version to v0.5.0 and same error
full log:
`2022-05-11

[2022-05-11 09:42] wu-sheng commented on #9036
I think your OAP is using an old version, but Satellite is too new?

[2022-05-11 09:48] mrproliu commented on #9036
@smallAttr Please follow this [documentation](https://skywalking.apache.org/docs/main/latest/en/setup/service-agent/agent-compatibility/#skywalking-native-agents) to set up your cluster. You need to update your OAP to `8.9.0+`.

[2022-05-11 09:52] gaiwey commented on #5048
I also encountered this error, our solution is to delete the plugins directory plugin apm-spring-annotation-plugin-8.6.0.jar

[2022-05-11 09:53] #9036 closed

[2022-05-11 15:34] shygit-dev opened #9040 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

Why can multiple detailed data be displayed only within one hour when adjusting the time range; If you can only get three points in more than an hour, all the plo

[2022-05-12 00:35] wu-sheng commented on #9028
@zhyyu Are you working on this?

[2022-05-12 01:37] mrproliu commented on #8752
@Chever-John assign to you, welcome~~

[2022-05-12 01:56] hanahmily opened #9044 "[Feature] RESTful style APIs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB tends to provide APIs in RESTful style and gRPC at the same time. The RESTful APIs is exploited to:

* Simplify the authentication and authorization process according to HTTP 1.1
* Leverage OpenAPIs to enhance

[2022-05-12 02:16] zhyyu commented on #9028
Yes, I am working on it. I meet some classloader issue, `org.apache.skywalking.apm.plugin.jdbc.JDBCPluginConfig.Plugin.JDBC` is loaded by two different `AgentClassLoader` . I am finding out the reason.

[2022-05-12 02:25] zhyyu commented on #9028
![image](https://user-images.githubusercontent.com/22634485/167979023-782797a4-75b6-4bef-8744-5c715e77f41c.png)

I write a  `JDBCPluginDynamicConfigService` `BootService` register the watcher change the config, but business thread use another classloader to see `JDBCPluginConfig.Plugin.JDBC.TRACE_SQL_PARAMETERS`, so the watcher don't work..

[2022-05-12 02:58] hanahmily opened #9045 "[Document] Examples of CRUD operations"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB's CRUD operations include:

* Write/Update and Query [Measures](https://github.com/apache/skywalking-banyandb/blob/main/docs/crud/measure)
* Write/Update and Query [Streams](https://github.com/apache/skywalking

[2022-05-12 03:09] hanahmily opened #9046 "[GSoC] Web Application"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB needs a web-based application to

- Register/Unregister native resources using schema operations APIs
- CRUD the data using relevant APIs
- Monitor the health status of servers using observability APIs

This ta

[2022-05-12 03:11] hanahmily opened #9047 "[OSPP] Command Line Tools"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB needs a command line tool to

- Register/Unregister native resources using schema operations APIs
- CRUD the data using relevant APIs
- Monitor the health status of servers using observability APIs

This task d

[2022-05-12 03:24] hanahmily opened #9048 "[Feature] Instrument banyand server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add a series of metrics to the banyand server to measure the internal status of memory, file system, and individual modules. Furthermore, the SkyWalking OAP server could collect them to analyze, and UI could render them

[2022-05-12 03:31] hanahmily opened #9049 "[Feature] End to End Testing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Compose several end-to-end test cases to verify the BanyanDB server(Banyand) works fine with SkyWalking ecosystem.

* Collect tracing data: demo application + Java agent + OAP + Banyand
* Collect logs: filebeat + OAP +

[2022-05-12 03:49] wu-sheng commented on #9028
I think you don't need a service,  you should have a watcher(AgentConfigChangeWatcher). Have you checked this?

[2022-05-12 04:02] remGigo commented on #9047
I'm really interested in this task, could you pls explain what does the “observability APIs” in the third purpose above refer to?

[2022-05-12 04:13] remGigo commented on #9047
Oh, I see , that might be this https://github.com/apache/skywalking/issues/9048. :)

[2022-05-12 04:21] wu-sheng commented on #9047
Would you consider to enhancing https://github.com/SkyAPM/go2sky SDK first? We should be able to have. go2sky + meter APIs first, then we could have trace(optional only) + meter (required) + logs (optional) collecting for BanyanDB natively.

[2022-05-12 04:31] Superskyyy commented on #9047
I believe (9048) depends on the go2sky OSPP task? Let's focus on other subtasks first then see how that task go.

[2022-05-12 04:32] wu-sheng commented on #9047
Could we create one on go2sky repo? (Out of ASF though)

[2022-05-12 06:14] zhyyu commented on #9028
I create a new bootservice and watcher in jdbc-commons package. If i do not create a new  service, can I reuse `ContextManagerExtendService` or other existed bootservice to register my new warcher?

[2022-05-12 08:54] wu-sheng commented on #9028
Why do you make things so complex? You just need a watcher, and when the JDBC plugin is intercepting Driver initialization, you register this into the kernel, then you could have everything you need.

[2022-05-12 08:54] wu-sheng commented on #9028
You don't need `bootservice`. DCS has a kernel level service already.

[2022-05-12 09:00] #8933 closed

[2022-05-12 12:56] kannan84240 commented on #183
How can i generate UUID for instance and also remaining ?

[2022-05-12 12:57] wu-sheng commented on #183
@kannan84240 This was 5 years ago discussion. You have no point to reply here.

[2022-05-12 13:28] ming0804 opened #9052 "官网全部支持中文[Feature]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

本人英文实在是差 但是这个skywalking机会都是国人在搞  为什么不支持中文文档下  ？？？？？？？？？

### Use case

本人英文实在是差 但是这个skywalking机会都是国人在搞  为什么不支持中文文档下  ？？？？？？？？？

### Related issues

本人英文实在是差 但是这个skywalking机会都是国人在搞  为什么不支持中文文档下  ？？？？？？？？？

### Are you wi

[2022-05-12 13:35] ming0804 commented on #9052
我们不是应该用先用中文 来让外国人来学习吗 ？  这样不是还能侧面发展中文吗

[2022-05-12 13:40] #9052 closed

[2022-05-12 18:56] Superskyyy commented on #9047
@arugal FYI :)

[2022-05-13 02:48] kezhenxu94 commented on #9047
Out of curiosity, if there is dependency between multiple OSPP projects, how/when do we expect the students of each project to finish the project? Every single student should have equal time to do the work without being stressed by the fact that there is another student's work depends on  his/hers

[2022-05-13 02:58] wu-sheng commented on #9048
https://github.com/apache/skywalking/issues/9047#issuecomment-1125604323

@kezhenxu94 @Superskyyy @remGigo Let's continue the discussion here. My suggestion is either we make this task on go2sky purely or go2sky + banyandb instrumentation (advanced one).

[2022-05-13 03:22] kezhenxu94 commented on #9048
We could do this, adding meter feature to go2sky is definitely a big 👍 .

But why we have to couple BanyanDB and go2sky. I mean:

- We can use Prometheus protocol to provide BanyanDB metrics just like [how satellite did](https://github.com/apache/skywalking-satellite/tree/main/internal/satellite/telemetry/prometheus), OAP can already consume these metrics.
- We can add go2sky into BanyanDB if we w

[2022-05-13 03:24] hanahmily commented on #9047
#9048 is not an OSPP or GSoC project. It's an independent intro-level task for normal contributors.

[2022-05-13 03:26] wu-sheng commented on #9048
We don't choose Prometheus for now to BanyanDB. We had a discussion before. OTEL fetcher already causes many concerns.
I agree that the tasks for students or new contributors should not have a dependency, so I suggest updating the task description.

[2022-05-13 03:30] wu-sheng commented on #9048
Quoted https://github.com/apache/skywalking/issues/9047#issuecomment-1125620275

So, there is no concern here.

[2022-05-13 03:50] kezhenxu94 commented on #9048
Ok, so to sum up, an OSPP project depends on 2 non-OSPP tasks.

#9047 depends on this issue to finish the task 👇

But this issue depends on go2sky to provide meter feature...

[2022-05-13 04:01] hanahmily commented on #9048
The basic observability APIs are ready for CLI to access. They are based on Prometheus exporter go libs. The relevant feats in this thread could be based on them.

[2022-05-13 05:12] Fine0830 opened #9058 "Fix pages re-render when the url change"
### Discussed in https://github.com/apache/skywalking/discussions/9055

<div type='discussions-op-text'>

<sup>Originally posted by **eightHundreds** May 13, 2022</sup>
https://github.com/apache/skywalking-booster-ui/blob/784c2e97b820a31cc3a13cb36dda3d0f6c038d8d/src/App.vue#L16

Is there no performance problem?</div>

[2022-05-13 06:40] #9058 closed

[2022-05-13 08:41] bluesgone1 commented on #4698
Yes, I met the same thing today, help!

[2022-05-13 13:16] wuwen5 opened #9061 "[Bug] apm-spring-cloud-gateway-plugin, trace log loss when the request time out."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

The gateway trace log was lost when the request timed out

![04C449E8-D524-40E0-90EE-50343180B477](https://user-images.githubusercontent.com/5037807/168287378-c

[2022-05-13 15:29] Superskyyy commented on #4698
If you need this please open a new Discussions thread, then we can see how it goes. It's hard to continue on a closed issue.

[2022-05-14 12:25] #9061 closed

[2022-05-14 15:53] lujiajing1126 opened #9065 "[Feature] [BanyanDB] Pagination and Order support for Measure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support `offset`, `limit` and `orderBy` for Measure

### Use case

This feature is used by `Event` query in OAP

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a

[2022-05-14 15:55] lujiajing1126 opened #9066 "[Feature] [BanyanDB] GroupBy query without fields"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Just need confirmation from @hmna.

If the server side is ready, Java client API should adapt this feature.

### Use case

GroupBy is widely used in OAP, for example, `AutoCompleteTag` query

### Related issues

_No res

[2022-05-15 14:19] xzclinux commented on #7308
I installed kong with helm, version 2.8.1, and still have this problem
error-log:
2022/05/15 14:03:15 [error] 1110#0: *16858 [kong] init.lua:297 [skywalking] /opt/kong/plugins/skywalking/handler.lua:46: attempt to index local 'metadata_buffer' (a nil value), client: 172.20.0.1, server: kong, request: "POST /async/task HTTP/1.1", host: "xxx"
2022/05/15 14:03:15 [error] 1110#0: *16858 failed to run

[2022-05-15 14:31] lujiajing1126 commented on #9066
Closed via https://github.com/apache/skywalking-banyandb/pull/114

[2022-05-15 14:31] #9066 closed

[2022-05-15 14:35] lujiajing1126 opened #9067 "[Bug] [BanyanDB] Measures with the same ID should be overwritten"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

InstanceTraffic metrics updates will cause duplicated measures.

### What you expected to happen

Measure (e.g. `InstanceTraffic`) update with the same ID sho

[2022-05-15 14:40] wu-sheng commented on #9067
Should be fixed by https://github.com/apache/skywalking-banyandb/pull/115

[2022-05-15 14:49] #9067 closed

[2022-05-16 07:56] faustine8 commented on #8878
We are using v9.0.0. We found that NOT the "endpointname" is to lang, is the "id" (of endpoints) is too long actually. The "endpointNameMaxLength" config not work. There are the errors:

[code]

and

[code]

[2022-05-16 09:06] ancin commented on #7084
Could we got python application memory or CPU usage about this latest skywalking-python？@eus-lwq

[2022-05-16 09:10] kezhenxu94 commented on #7084
Not yet

[2022-05-16 09:12] wu-sheng commented on #7084
I don't think we have an update about this issue in the upstream.

[2022-05-16 11:46] remGigo commented on #9045
I'd like to take this task. :)

[2022-05-16 12:10] lujiajing1126 commented on #9045
Assigned to u

[2022-05-16 12:18] remGigo commented on #9044
I'd like to take this task. :)

[2022-05-16 13:06] #8326 closed

[2022-05-16 13:38] #9021 closed

[2022-05-17 00:26] #9065 closed

[2022-05-17 02:59] Superskyyy opened #9071 "[Feature] SkyWalking Python agent auto-startup in prefork servers"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When we face a prefork server like Gunicorn, we will need to manually pass a postfork snippet ([example](https://skywalking.apache.org/docs/skywalking-python/latest/en/setup/faq/how-to-use-with-uwsgi/)) to spin up the a

[2022-05-17 03:03] nonofroid commented on #9071
😁

[2022-05-17 03:16] hanahmily opened #9072 "[Feature] Support filtering data according to unindexed tags"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

OAP faces a use case that needs to find a log entry linked to a span in a segment according to segmentID+spanID. If we set up indices on both of them, the cardinalities of spanIDs are numerous in its index's posting lis

[2022-05-17 03:23] hanahmily opened #9073 "[Feature] Validate gRPC requests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB is relying on the gRPC to interact with the client. Requests validation is an important part of any API. Before you are ready to serve the request, it’s important to make sure the client has supplied a minimum

[2022-05-17 03:53] andotorg commented on #7064
log4j2 grepc appender report

[2022-05-17 05:14] andotorg commented on #6444
export const Endpoints = {
  variable: '$serviceId: ID!, $keyword: String!',
  query: `
    getEndpoints: searchEndpoint(serviceId: $serviceId, keyword: $keyword, limit: 100) {
      key: id
      label: name
    }
`,
};

Because skywalking has access to many systems and there are many endpoints, it is obviously inappropriate to add the data of the drop-down box to the limit

[2022-05-17 05:16] andotorg opened #9077 "[Feature] endpoint name drop-down box to the limit"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[code]
Because skywalking has access to many systems and there are many endpoints, it is obviously inappropriate to add the data of the drop-down box to the limit

### Use case

recovery input endpoint name  the request

[2022-05-17 06:44] wu-sheng commented on #9077
Endpoint search would not pull all data, that is unrealistic.

[2022-05-17 06:44] #9077 closed

[2022-05-17 06:51] andotorg commented on #9077
What's the point of endpoint name search? There is no reference meaning. I think it is better to replace the input box before 8.6 instead of the drop-down selection box. That's what I mean

[2022-05-17 06:52] andotorg commented on #9077
I think we can open this question and think about it

[2022-05-17 06:57] andotorg commented on #9077
When the user inputs, the server will fuzzy query the latest data return according to the user input, which is the best user experience

[2022-05-17 08:10] wu-sheng commented on #9077
There was a long discussion one year ago, this search is simple but has a super bad performance impact on the trace query. So, the community has decided to remove it.
This is a community, diverse groups of people, make the final decision. If you want your voice to be considered seriously, you need to be a part of the committer team based on your contributions to this community.
A project can't mak

[2022-05-17 09:38] andotorg commented on #9077
please， How to be part of the submitter team.

[2022-05-17 09:39] andotorg commented on #9077
I hope to submit the corresponding code to contribute to this community

[2022-05-17 09:48] wu-sheng commented on #9077
There is no `submitter team` in the ASF.
The committer team is the one is trusted by the PMC(Project Management Committee), who could do routine code review and merging. The PMC is a smaller group of people watching and sheepherders of the project.

This doc would show how a committer gets promoted, https://skywalking.apache.org/docs/main/latest/en/guides/asf/committer/, and here are the current c

[2022-05-17 10:24] Cool-Coding opened #9080 "[Bug] the topology is wrong. There should be one kafka node."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

There are two services named `agent_test_2` and `agent_test_3` and a kafka middware whose ip  is `127.0.0.1:9092`.  `Agent_test_2` pushs messages to kafka and `agent

[2022-05-17 11:12] wu-sheng commented on #9080
Both of them should be VIRTUAL_MQ.
Would you fix this?

[2022-05-17 11:15] Cool-Coding commented on #9080
OK, I will pull a request.

[2022-05-17 12:42] #9080 closed

[2022-05-17 13:34] zzhi opened #9083 "[Bug] java-agent 8.7+,TraceContext.traceId() can't get traceId in ServerInterceptor"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

with skywalking-agent 8.7+ ,  TraceContext.traceId() can't get traceId in ServerInterceptor

skywalking-agent 8.6 ok

![AK0IGRoc8y](https://user-images.githubus

[2022-05-17 13:40] wu-sheng commented on #9083
The upstream doesn't guarantee all plugins' behaviors didn't change from version to version. We also don't think this is a bug. The current version is on 8.11, there are several changes that happened for the gRPC plugin, you should track them to see what changed.

[2022-05-17 13:40] #9083 closed

[2022-05-18 01:16] andotorg commented on #9077
I see. Thank you for your answer。

[2022-05-18 01:20] andotorg commented on #9077
skywalking 8.7.0 have a webui bug, submene  "xxx.com:8080/trace" refresh page，It will jump to the back-end 404 address
<img width="597" alt="image" src="https://user-images.githubusercontent.com/25116294/168937666-820a8e24-d5bb-4240-ae8d-953e30ea4a5d.png">

[2022-05-18 01:20] andotorg commented on #9077
After my testing of each version, only 8.7 will have this problem, and neither 8.6 nor 8.8 will

[2022-05-18 02:15] fgksgf opened #9089 "[INFRA/eyes] Provide multi-architecture Docker images"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We should provide multi-architecture Docker images of skywalking-eyes, just like other SkyWalking sub-projects.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ]

[2022-05-18 02:18] wu-sheng commented on #9077
Now, we are working on 9.1, the old versions are not our concern.

[2022-05-18 06:22] insanebeast commented on #8831
I have the same problem, have you worked it out yet?

[2022-05-18 08:05] #8968 closed

[2022-05-18 08:24] wu-sheng opened #9091 "[Feature] [OAP] Adopt BanyanDB Java client"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We have the snapshot library in the dev version, we should adopt the 0.1.0 release before we run the 9.1.0 release.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

-

[2022-05-18 08:45] andotorg commented on #9077
There are no plans to use versions above 9.0

[2022-05-18 09:27] jiangxiaobai commented on #6957
this page is not found

[2022-05-18 09:34] andotorg commented on #9077
ok, Thanks

[2022-05-18 09:50] jiangxiaobai opened #9092 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Helm Chart (apache/skywalking-kubernetes)

### What happened

1、prepare an elasticsearch cluster 7.3
2、install skywalking 9.0 via helm3, use es installed in the step 1
3、wait es-init to complete and oap/ui to get run

[2022-05-18 09:56] #9092 closed, assigned to nobody

[2022-05-18 11:26] MajaChen commented on #2883
I am pretty sure that this problem is caused by submodule not being init;
enter the base directory,and execute:
git submodule init
git submodule upadte

these commands will download code for proto

[2022-05-18 13:45] kezhenxu94 commented on #6957
@jiangxiaobai https://github.com/apache/skywalking/blob/439f843d897d679e1e9886be0d4880491e7166cd/test/e2e-v2/cases/istio/als/e2e.yaml#L50-L70

[2022-05-18 15:31] skundu1234 commented on #9012
@kezhenxu94 Can you please check and update on this.

[2022-05-19 01:10] wuwen5 commented on #8824
I tried to fixed this problem, please review. https://github.com/apache/skywalking-nodejs/pull/82

This problem seems to be related to the request header ```Expect```.

In ```aws-sdk/lib/http/node.js```
[code]

[2022-05-19 03:57] kezhenxu94 commented on #8824
@someone-1 thank you for reporting this and providing the complete reproduce steps and code snippets, and thanks @wuwen5 for fixing this 🙇

[2022-05-19 03:57] #8824 closed

[2022-05-19 04:25] kezhenxu94 commented on #9012
@skundu1234 I have no idea simply from the logs you posted, please check yourself or provide necessary context and detail logs

[2022-05-19 04:25] kezhenxu94 commented on #9012
Also please open new issue since this issue was for Docker image and it's resolved

[2022-05-20 00:29] #8931 closed

[2022-05-20 01:45] wu-sheng opened #9105 "[Bug][BanyanDB] `Having` semantic bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

`Having` for `List<String>` column is `at least one` including one of the collections, this is not correct.

### What you expected to happen

`Having` should

[2022-05-20 01:45] wu-sheng commented on #9105
FYI @lujiajing1126

[2022-05-20 03:40] pkxiuluo commented on #3259
we must manage to discard some data when sometimes we can't afford the cost, But we dont want the tracing break.
Either agent-sample or bankend-sample will lead to this.
Would you please reconsider  @ralphgj   proposal。

[2022-05-20 04:15] wu-sheng commented on #3259
@pkxiuluo I can't see anything changed, if you have more to discuss, open a new discussion rather than comments in a very old one.

[2022-05-20 06:42] pkxiuluo commented on #3259
sorry , problem is not exist.
After I checked backend-sample carefully.
I found that the sample algorithms use traceId hash as sample factor.
And that can guarantee the trace tree not break。

related code:
org.apache.skywalking.oap.server.analyzer.provider.trace.parser.listener.TraceSegmentSampler#shouldSample

[code]

[2022-05-20 09:47] wu-sheng opened #9108 "[Bug] [OAP] Event source crosses Service/Instance/Endpoint entity boundaries, causes ID confusion."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

<img width="1357" alt="image" src="https://user-images.githubusercontent.com/5441976/169501767-e1dc4f52-ed85-4321-9b81-6ada87ee920f.png">

The number format exceptio

[2022-05-20 10:09] andotorg opened #9109 "[Bug] log4j2 grpc report missing traceId"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Added to the jvm parameter in the project.
-Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
Traceid cannot be obtained as

[2022-05-20 11:14] wu-sheng commented on #9109
Are you going to submit a fix?

[2022-05-21 08:20] andotorg commented on #9109
yes, i try.

[2022-05-21 08:29] wu-sheng commented on #9109
I would like to move this into the discussion panel if you have done. Issue panel for SkyWalking usually tracks things as release blocks or has owners fix them soon.

[2022-05-21 09:17] yangyiweigege opened #9111 "[Bug] when i use SumAggregationBuilder , in actually , return MaxAggregation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

when i user the SumAggregationBuilder function, in actually, it return MaxAggregation. code in
org.apache.skywalking.library.elasticsearch.requests.search.aggregatio

[2022-05-21 09:34] wu-sheng commented on #9111
First of all, this seems a bug.
Meanwhile, could you share when do you use this?

[2022-05-21 09:43] kezhenxu94 commented on #9111
@yangyiweigege good catch! Are you going to open a pull request?

[2022-05-21 09:46] yangyiweigege commented on #9111
i want to known the  invoke all counts in period , so i secondary development based on skywalking oap.for example,i user SumAggregationBuilder to count .

[2022-05-21 09:47] yangyiweigege commented on #9111
yes

[2022-05-21 11:01] #9111 closed

[2022-05-21 11:31] andotorg commented on #4864
This problem is because the files in proto in the network module of skywalking project are stored separately in another project. It is not allowed to clone or download the source code of skywalking alone. You need to clone the corresponding Apache/skywalking data collect protocol project or download it to skywalking/apm-protocol/apm-network/src/main/proto directory

[2022-05-21 12:36] lujiajing1126 opened #9115 "[Bug] [BanyanDB] TopN does not work as expected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

`TopN` does not work as expected.

### What you expected to happen

return all results

### How to reproduce

Write two datapoint for `service_sla`,

[code]

[2022-05-21 12:41] lujiajing1126 commented on #9115
Schema for `service_sla`,

[code]

[2022-05-22 05:29] wu-sheng commented on #9115
https://github.com/apache/skywalking/blob/25ebd6c242d776c06bd5b912e82f31d21892c2f4/oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBAggregationQueryDAO.java#L51-L99

This is how we apply query from OAP side.

[2022-05-22 14:12] #9072 closed

[2022-05-22 14:12] #9105 closed

[2022-05-22 14:28] #9115 closed

[2022-05-23 12:02] cyniubi commented on #7351
how to solve it? I just had the same problem

[2022-05-23 12:53] #8503 closed

[2022-05-24 12:40] wu-sheng opened #9126 "[Feature] [UI] Replace event menu with a dashboard widget"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The current event menu was added in v9 temporarily, in this iteration, we should consider using the following timeline component style to replace it. Also, we should move the event lists into layer's widget for service/

[2022-05-25 09:05] YueLangsugar opened #9129 "[Bug] [python] Tornado framework link cannot be traced correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

I started my tornado service and sent two identical requests, but only one link?

![image](https://user-images.githubusercontent.com/48346272/170223876-a4ef

[2022-05-25 09:34] pacific28 commented on #8566
Hi @Superskyyy
I'm trying to run a Django application with gunicorn. It is unable to start the agent. I followed this thread and https://opentelemetry-python.readthedocs.io/en/latest/examples/fork-process-model/README.html

Here is my wsgi.py

[code]
this is the command to start the application
**gunicorn myproject.wsgi --workers 2**

Any suggestions.

[2022-05-25 09:34] qyddle commented on #8831
I use docker to deploy version 9.0 and the same problem occurs.
![image](https://user-images.githubusercontent.com/6300036/170230848-72c30f38-26ca-4010-a73a-d3d7cc5a436b.png)
![image](https://user-images.githubusercontent.com/6300036/170230914-da869abd-7926-4914-8548-79c5bca269df.png)

[2022-05-25 09:49] wu-sheng commented on #8831
@qyddle Your backend is not working.

[2022-05-25 15:44] Superskyyy commented on #9129
Thanks for reporting the potential problem, you checked the `Yes I am willing to submit a PR!` button, are you currently investigating a fix? If you need help with that I can suggest some possibilities after I have time (this weekend) to reproduce this.

Please also reformat your issue properly using ```.

[2022-05-25 16:19] weixing-qiao opened #9131 "[BUG] Current skywalking-nginx-lua startBackendTimer cant't support grpc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Nginx Lua Agent (apache/skywalking-nginx-lua)

### What happened

I want to collect nginx data by Satellite. as we know Satellite provides 11800 grpc port. I find that skywalking-nginx-lua can't support grpc.  Could

[2022-05-25 16:43] qyddle commented on #8831
oal starts without error message

[2022-05-25 16:47] qyddle commented on #8831
The backend is started through docker according to the official website documentation

[2022-05-26 00:09] wu-sheng commented on #9131
I am afraid this is not what Satellite is designed for. Satellite is mostly for gRPC based channels, and as Nginx/APISIX/Kong only support HTTP1 to report data, you should make it to OAP directly. Or, you could put another HTTP proxy(Nginx/Envoy etc.) to provide load balance.

You should submit this to discussion because this is not a bug.

[2022-05-26 00:10] #9131 closed, assigned to nobody

[2022-05-26 03:12] Superskyyy commented on #8505
We are referring to the same feature here right? https://github.com/apache/skywalking/issues/9047 Shall we close one of them?

[2022-05-26 03:28] wu-sheng commented on #8505
@hanahmily Are these duplicated?

[2022-05-26 04:15] hanahmily commented on #8505
yep, let's close this one since we have some discussion in #9047

[2022-05-26 04:15] #8505 closed

[2022-05-26 05:04] #9015 closed

[2022-05-26 05:09] pacific28 commented on #8566
@Superskyyy
Thanks for your response. Tried with config file and it worked.

[2022-05-26 07:14] qyddle commented on #8831
I tested it with both versions 8.9.0 and 8.9.1. There is no error message in the es, oap and ui startup background, but the information printed on the F12 console of the above screenshot browser is the same when accessing.

[2022-05-26 07:18] wu-sheng commented on #8831
If our official demo works for you, then your backend is not working as expected. We can't and shouldn't debug your env.
Notice, your primary env is on your own.

[2022-05-26 07:29] insanebeast commented on #8831
I also get this error with deploying version 9.0 in docker, finnally I deploy with startup.sh and then it works...

[2022-05-26 07:31] qyddle commented on #8831
You said that the UI error is because the OAP backend service is not working properly. I did not find any error information in the startup log. Could you please help me to check if there are any problems in the logs of the next three services?

[skywalking-docker.txt](https://github.com/apache/skywalking/files/8777121/skywalking-docker.txt)
[es-docker.txt](https://github.com/apache/skywalking/file

[2022-05-26 07:32] qyddle commented on #8831
You didn't start the 9.0 version with docker at the end? But it is no problem to start through startup.sh

[2022-05-26 07:55] insanebeast commented on #8831
yep, I search a lot and find no solution with this F12 console error, oap,ui,es all of them have no error log, maybe there is a bug in frontend code. when I deploy it directly on the server with startup.sh and it works fine

[2022-05-26 07:59] qyddle commented on #8831
Well, so do I.

[2022-05-26 11:35] wu-sheng commented on #8932
An update, after deeply investigate, the firsr move would be, Zipkin could be accepted and queries for Zipkin native formats.
So, SkyWalking booster UI doesn't support to query zipkin trace for now.
Lens UI would be integated though a proxy and a link widget.

[2022-05-26 18:37] zhangzhen108 commented on #4820
@wu-sheng  If other agents do not enhance the class during the first load (transform), the class will be enhanced during the second transform. Then skywalking directly returns the byte stream cached for the first time in the second time, will it overwrite the content enhanced for the second time by other agents? Because the order in which the transform is executed depends on the order in which the

[2022-05-27 11:30] #9108 closed

[2022-05-28 02:39] geffzhang opened #9142 "helm install with storageType=zipkin-elasticsearch failed [skywalking-kubernetes]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Helm Chart (apache/skywalking-kubernetes)

### What happened

I installed skywalking 9.0.0 with zipkin :
helm install  skywalking  chart/skywalking -n skywalking   --set oap.image.tag=9.0.0  --set oap.storageTypae=zi

[2022-05-30 12:52] #9028 closed

[2022-05-30 13:27] tom-pytel opened #9146 "Python: Error installing packages with latest version of Python agent"
[code]

[2022-05-30 14:06] Superskyyy commented on #9146
I just tried and didn't meet the same problem on a Windows machine. From the PyPI site, I think there are extra system-level dependencies before it can be properly installed.

[code]

[2022-05-30 14:33] tom-pytel commented on #9146
[code]

Thad did it thx. I had python3-dev installed but not the mysql stuff.

[2022-05-30 14:33] #9146 closed

[2022-05-31 03:41] donghbcn opened #9147 "[Bug] The current page number does not change if total page size is less than the current page number after a new query in trace page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

The current page number does not change if total page size is less than the current page number after a new query in trace page in verion v8.9.1

### What you exp

[2022-05-31 03:42] wu-sheng commented on #9147
v8 is not on support mode anymore.

[2022-05-31 03:42] #9147 closed

[2022-05-31 04:01] donghbcn commented on #9147
Do you mean it's not a problem in v.9.1.0 any more?

[2022-05-31 04:04] Superskyyy commented on #9147
V9 uses a brand new UI project and it's called boosterUI, RobcketBotUI is no longer maintained.

[2022-05-31 04:04] donghbcn commented on #9147
Understand now, thx

[2022-05-31 13:53] hanahmily opened #9150 "[BanyanDB] Build document generator"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB leverage [protoc-gen-doc](https://github.com/pseudomuto/protoc-gen-doc) to generate a single-page API reference. It's very convenient for the current API volume, even with some tiny flaws(the name of generated

[2022-05-31 14:09] #9142 closed

[2022-06-01 02:52] siaron opened #9152 "[Feature] istio skywalking envoyAccessLogService.address only k8s service name?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[code]
- `<skywalking-oap.skywalking.svc:11800>` Can it only be the service name of k8s? Can it be an external address?

### Use case

- istio skywalking integrated.

### Related issues

_No response_

### Are you willi

[2022-06-01 03:44] mrproliu opened #9154 "[Feature] [UI] Export the eBPF Profiling flame graph"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently,  we could generate the flame graph in the UI based on the analysis data of eBPF Profiling.
To enhance interactivity, we can add a button to export the flame graph (including selection and tip functions), simi

[2022-06-01 09:47] xiaoxianjie opened #9159 "[Bug] unknown service ManagementService"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

i am try to use skywalking in my nodejs project, so i follow the readme to update my code.
but, there is some wrong when i start the app.

-----

[2022-06-01 09:57] wu-sheng commented on #9159
I think you use old OAP server.

[2022-06-01 09:58] #9159 closed

[2022-06-01 10:37] wu-sheng commented on #9159
I just say from error log. I can't debug for you. This is your responsibility.

[2022-06-01 10:38] wu-sheng commented on #9159
It could be too many version gaps for agents.

[2022-06-01 12:33] Duncan-tree-zhou opened #9160 "[Feature] [SWCK] Add Instrument CRD to config and operate instruments."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

To config agents, upgrade agents, enable/disable plugins globally(or by batch) are common senarios for operation engineer. The [default configmap](https://github.com/apache/skywalking-swck/blob/master/docs/java-agent-in

[2022-06-01 13:07] dashanji commented on #9160
Thanks for this proposal. There are some tips for you.

The CRD should contain the following configuration:
1. The [sidecar configuration](https://github.com/apache/skywalking-swck/blob/master/docs/java-agent-injector.md#configure-sidecar). As you said, the user can create a `sidecar template` to upgrade the agent.
2. The [annotation configuration](https://github.com/apache/skywalking-swck/blob/ma

[2022-06-02 01:07] hanahmily opened #9162 "[Feature] Add CLI and WebApp sub projects"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add two sub-projects in the root to host #9047 and #9046.

- CLI project. Add Makefile to its folder.
- Webapp project. Add Makefile, a go-based web server to host web artifacts, and a VueJS start project.

### Use case

[2022-06-02 01:46] johnxue2013 opened #9163 "[Feature] Does it possible to provide UI to config alarm rule, or already have one, but i don;t kown"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

HI，as i have read Alarm chapter (https://skywalking.apache.org/docs/main/v8.5.0/en/setup/backend/backend-alarm/), but i don't find how to config a alarm rule by UI , only way is to edit the alarm config file, if any one

[2022-06-02 02:54] Midqiu opened #9165 "[Bug] something went wrong when use Router in expressjs with skywalking"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

when i user router in expressjs with skywalking, some went wrong.

[code]

and the result is:
this is OK:
![)(G$S26HXV8(Q$PFMR82R`B](https://use

[2022-06-02 03:05] BigbigY opened #9166 "Xxl_job_log table Slow query[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

DBA student feedback xxl_job_log a large number of slow query, log table has millions of data

### What you expected to happen

Xxl_job Uses the latest version

###

[2022-06-02 03:51] wu-sheng commented on #9166
Why is this a concern of the SkyWalking community?

[2022-06-02 03:51] #9166 closed

[2022-06-02 04:25] xiaoxianjie commented on #9159
i try to build and install skywalking in Dockfile of my project, as in the example project.
it is the only change in my project.

--------------------------------------
ARG SW_AGENT_NODEJS_BACKEND_VERSION

WORKDIR /skywalking-backend-js

RUN git clone --recurse-submodules https://github.com/apache/skywalking-nodejs.git .
RUN git reset --hard ${SW_AGENT_NODEJS_BACKEND_VERSION}
RUN git submodule upd

[2022-06-02 07:30] hanahmily opened #9169 "[Feature] Upgrade dependencies and go version to 1.18"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We haven't upgraded the go version and dependencies for a while. Since go 1.18 is released, and we're interested in the generic type to rebuild our interfaces, it's time to upgrade them for now. The task list contains:

[2022-06-03 15:03] jessefarinacci opened #9172 "[Bug] GITHUB_TOKEN unset info message even when `--verbosity warn`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

License Tools (apache/skywalking-eyes)

### What happened

INFO messages are printed when log level is set to a higher level.

[code]

### What you expected to happen

When `--verbosity warn` is specified, I expect `

[2022-06-04 02:04] #9172 closed

[2022-06-04 03:58] freshgeek commented on #8831
Well, so do I.

use offiece docker-image , start processing is no error message

[2022-06-04 04:21] wu-sheng commented on #8831
demo.skywalking.apache.org is using the same images.
If you can't, you have to check your private env. We don't find any issue.

[2022-06-04 12:27] #9169 closed

[2022-06-04 16:47] Duncan-tree-zhou commented on #9160
Hi @dashanji,

I looked into the implements of SWCK, and saw the javaagent CRD is already exists. The javaagent CR is created by javaagent-controller when pods get annotations with "sidecar.skywalking.apache.org/succeed=true". It looks like the javaagent CR is a copy of agent configs.

If a controller was created to watch the change of javaagent CR and update target pod when CR changed. Then there

[2022-06-04 17:32] Duncan-tree-zhou commented on #9160
And here are questions to be clarified:
1. extend JavaAgent CRD or create new one? and the same question for controller.
2. where and when to operate agent injection/removal?
(should be webhook handler and controller reconciler. webhook for annotation change, controller reconciler for agent CR change. i don't kown if there are any other situation to be operate?)
3. how many ways can user config ag

[2022-06-04 22:59] wu-sheng commented on #9160
FYI @hanahmily PTAL

[2022-06-05 03:06] dashanji commented on #9160
In my mind, because we have defined the [precedence order](https://github.com/apache/skywalking-swck/blob/master/docs/java-agent-injector.md#the-ways-to-configure-the-agent) to configure the agent,  the [Javaagent CR](https://github.com/apache/skywalking-swck/blob/master/docs/javaagent.md#javaagent-introduction) is created for
 observing the final injected agent configuration. It is not a CR for c

[2022-06-05 03:36] dashanji commented on #9160
1. Creating a new CR is good for me.
2. I think a simple Controller can solve the problem.
3. Currently, `the annotation,  Configmap, Default configmap` is our recommended method used to set the final injected configmap, and the `pod env` can work too. If the user set `pod env`, the precedence order should be `Env > Annotations > Configmap > Default configmap`.

[2022-06-05 04:55] wu-sheng commented on #9160
Is a new CR and/or operator breaking anything deployed? We should consider forward compatibility as we are in 4.x iteration, which means no breakin change.

[2022-06-05 05:10] dashanji commented on #9160
I think there is no breaking change, as the new CR could be considered as a Set of `annotation`.

[2022-06-05 08:41] wu-sheng commented on #9160
From deployment, breaking doesn't have to mean conflicting, such as whether legacy configs would be ignored? This should be considered a breaking change for an operator.

[2022-06-05 09:19] Duncan-tree-zhou commented on #9160
@wu-sheng @dashanji, from our discussion, i got the idea. we can create a new CR and operator. CR have the same annotations as pod level annotation for agents. And add label selector and pod selector attribute in CR, so that CR operator can inject the correct batch of pods.

finally the CR may looks like:

[code]

[2022-06-05 10:04] dashanji commented on #9160
In my mind, the feature is to provide a new way to configure the agent for the targeted object, and will not affect the original configuration.

When users configure the agent in this way, they need to follow a precedence order such as `Agent Configuration CR > Annotations > Configmap > Default configmap`. If users don't need to configure the batch of applications, the original configuration is en

[2022-06-05 10:32] dashanji commented on #9160
Overall, the CR is good for me.

What do you think about moving the annotation to the Spec field? In this way, we can validate whether [the annotation key](https://github.com/apache/skywalking-swck/blob/master/docs/java-agent-injector.md#use-annotations-to-overlay-default-agent-configuration) is right.

[2022-06-05 16:54] Superskyyy commented on #9071
The current Python agent startup mechanism is very vulnerable to break since the background reporting threads were started whenever agent.start() is called (from code/CLI). As a solution, I will decouple the monkey_patch step and reporting_thread.start(), essentially delaying the first report after any worker fork, it should remove most of the weird behavior.

[2022-06-05 23:34] wu-sheng commented on #9071
Is anything happening here?

[2022-06-06 02:00] Superskyyy commented on #9071
My bad, I spotted some major problems with the agent startup after process fork, but previous comment was wrong so I deleted it, I will update later when I figure it out.

[2022-06-06 02:07] hanahmily commented on #9160
How about removing the config map to embrace the CRD? We could simplify the code base by supporting a single configuration system. That will bring some benefits like:

- If users want to set up a batch or all agents, they could set up a CR.
- If users have to debug a deployment, they could leverage annotation to override some items defined in CR.

The controller onboarding will create a default CR

[2022-06-06 08:48] zhangam commented on #4809
nb!!!

[2022-06-06 08:49] zhangam commented on #4809
nb!!!

[2022-06-06 11:31] BruceAn1978 opened #9176 "[Bug] UI docker image start failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

Use below Dockerfile to build a new image and publish to k8s
[code]

The flowing errors were displayed in the log and the pod restarted times by times
_libcontain

[2022-06-06 11:43] wu-sheng commented on #9176
What you did on a docker file is your own responsibility. We have provided official docker image as well as helm and operator.

[2022-06-06 11:43] #9176 closed

[2022-06-06 11:56] BruceAn1978 commented on #9176
what can I do with the error?

[2022-06-06 11:57] wu-sheng commented on #9176
Support docker is not our scope. Sorry.

[2022-06-06 12:10] dashanji commented on #9160
Agree!  Configuration through CR is indeed clearer than configmap. However, the current agent configuration is mounted through configmap.  We can use CR to manage the original configmap configuration, which makes the agent configuration clear.

[2022-06-06 12:30] BruceAn1978 commented on #9176
I solved the problem by modify the docker file with this line:
`ENTRYPOINT ["bash", "docker-entrypoint.sh"]`

[2022-06-06 14:26] Duncan-tree-zhou commented on #9160
@dashanji, When moving the annotation to CR spec, its not a good way to hardcode the mapping from CR spec fields to skywalking app env keys. Because the app level env keys might be added or removed in any version update, it may cause many compatibility problem. what do you think about to move to a flexible fields like map, kv list, etc. Actually I am working on a version of it.

Agree with @hanahm

[2022-06-06 15:12] wu-sheng commented on #9160
One another, the current swck doesn't work for optional plugins properly. The plugin.mount is being used, but only set for default values, then it works for nothing.
swck should create a new folder (activated-plugins) for activated optional plugins, and set it to plugin.mount
Such as plugin.mount=plugins,activations,activated-plugins

[2022-06-07 05:03] Superskyyy commented on #9165
Closing as fixed ^

[2022-06-07 05:03] #9165 closed

[2022-06-07 08:44] #9162 closed

[2022-06-08 00:43] wankai123 opened #9182 "Adopt service traffic for Zipkin support"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/skywalking/pull/9177 already supported zipkin traces condition and query API.
Now we get the service and span names by aggregating the spans, I think we need more entities and adopt service tra

[2022-06-08 00:45] wu-sheng commented on #8932
#9177 resolves this.

[2022-06-08 00:45] #8932 closed

[2022-06-08 00:49] wankai123 opened #9183 "Add zipkin storage BanyanDB implementation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/skywalking/pull/9177 doesn't support BanyanDB.
Since BanyanDB has been released, we need to add the implementation.

### Use case

_No response_

### Related issues

https://github.com/apache/s

[2022-06-08 00:50] wu-sheng opened #9184 "[Feature] [UI] Support to open specific tab from URL"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, we have dashboard URLs for specific layer and service/instance/endpoint, but meanwhile, as most dashboards have **tab** widget involved, those URLs always open the page with the first tab page.
I would like t

[2022-06-08 03:27] hanahmily opened #9185 "[Feature] TopN Aggregation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This task is a follow-up task to implement the API introduced by https://github.com/apache/skywalking-banyandb/pull/57. This whole process should be based on a streaming calculation model:

* A `publisher` to provide a

[2022-06-08 03:41] hanahmily opened #9186 "[Feature] Modules Automated Initialization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Introduce a system to automate initialing and connecting modules. Users could determine which modules are booted. We might base on https://pkg.go.dev/github.com/google/wire to implement this.

### Use case

_No response

[2022-06-08 03:52] hanahmily opened #9187 "[Feature] Enhance etcd auth configuration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Embed etcd keeps complaining:

[code]

which might relate to its [v3 auth design](https://etcd.io/docs/v3.2/learning/auth_design/#two-types-of-tokens-simple-and-jwt). The solution is to pick up the JWT token which is cr

[2022-06-08 06:01] szqZZZ opened #9189 "[Bug] Too many threads will cause blocked"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

A function create 10000 threads.and the thread job just query a simple SQL.
When my application started with Skywalking, Thread was blocked.
and without Skywalk

[2022-06-08 07:30] dashanji commented on #9160
Agree with @wu-sheng. Now is a good opportunity to configure the specific value of the optional plugin through a new CR.

@Duncan-tree-zhou There are two ways to debug SWCK operator locally.
* You can refer [the guide](https://book.kubebuilder.io/cronjob-tutorial/running.html#running-webhooks-locally) to disable the webhook then you can debug the controller locally.
* If you find it hard to debug

[2022-06-09 02:00] hanahmily opened #9194 "[Feature] Traffic generator"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We should leverage https://github.com/apache/skywalking/pull/8725 to setup traffic generator for:

* Verify whether each component implements specification behaviors.
* Load testing
* Empower the development process of

[2022-06-09 06:57] wu-sheng opened #9195 "[Feature] Widget timeline"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In some widget graphs, when the mouse moved over with time, there is an axis pointer with tips to show the details.
In many cases, such as [service relation dashboard](http://demo.skywalking.apache.org/dashboard/related

[2022-06-09 10:32] moma-tech opened #9196 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

with v9 ui, in general dashboard, when pick a end date on the navbar, will set the start date with same value at same time, and cause a series of query error

![i

[2022-06-09 10:50] wu-sheng commented on #9196
Everything on demo works. You could try that and recheck.

[2022-06-09 10:51] wu-sheng commented on #9196
The errors should relate to your backend not working well.

[2022-06-09 10:51] #9196 closed

[2022-06-09 12:03] nieyuyao opened #9197 "[Bug] Unhandled ERR_STREAM_WRITE_AFTER_END error is thrown because no error handler on ClientWritableStreamImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

An `write after end` is thrown and make node crashes.

[code]

We found `TraceReportClient` used grpc request which has `client_stream` type. Th

[2022-06-10 12:04] #9182 closed

[2022-06-11 04:08] xiaomiusa87 opened #9201 "[Bug] fileOutputStream in FileWriter has been flushed and cleared when switching to a new file, which causes NPE."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

When Config.Logging.MAX_FILE_SIZE is smaller，fileOutputStream will be set to null.
But  LogFileWriter scheduled tasks are still executing ，fileOutputStream.flus

[2022-06-11 04:18] wu-sheng commented on #9201
Wait for your pull request.

[2022-06-11 07:03] xiaomiusa87 commented on #9201
I have submitted pr :  https://github.com/apache/skywalking-java/pull/205

[2022-06-11 07:16] wu-sheng commented on #9201
The fix is good. I want to be clear, this bug is caused by `fileOutputStream` has been flushed and cleared when switching to a new file. So this bug doesn't relate to time(per second), more about reach the limit of file size.

[2022-06-11 07:25] xiaomiusa87 commented on #9201
Yes, it has little effect. It just seems a little strange

[2022-06-11 07:45] #9201 closed

[2022-06-11 08:29] fisea001 opened #9203 "[Feature] Can skywalking collect input parameters and output result parameters of the microservice api?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I am a .net developer,In order to solve problem quickly,I want to collect  input parameters and output result parameters of the microservice api.

### Use case

_No response_

### Related issues

_No response_

### Are

[2022-06-12 03:55] complone commented on #9048
I'd like to know where I need to bury the dots and what configuration format I need to render in yaml in order to keep track of the relevant details

[2022-06-12 03:58] complone commented on #9048
I'd like to know where I need to bury the dots and what configuration format I need to render in yaml in order to keep track of the relevant details

[2022-06-12 06:22] lujiajing1126 commented on #9048
I guess "bury the dots" means what kind of operations and information we should collect or record?

I suppose according to Hongtao's comment https://github.com/apache/skywalking/issues/9048#issuecomment-1125633917 above, Prom's text-based format is enough now.

[2022-06-12 06:43] complone commented on #9048
@lujiajing1126 Yes. I need to know which metrics from Prometheus should be collected

[2022-06-12 06:47] complone commented on #9048
@lujiajing1126 I will first track the relevant process of BanYanDB. Be familiar with the general process. In order to collect information such as memory, file system and the internal state of each module

[2022-06-13 14:06] wu-sheng opened #9210 "Browser Monitoring not see logs in the UI"
### Discussed in https://github.com/apache/skywalking/discussions/9208

<div type='discussions-op-text'>

<sup>Originally posted by **Terni** June 13, 2022</sup>
Hello skywalking team,

I have a small problem with skywalking-ui with "Browser Monitoring" from our web user interface.
I'm trying to add some data via this protocol
https://skywalking.apache.org/docs/main/latest/en/protocols/browser-htt

[2022-06-14 03:35] BertOnline opened #9213 "[Bug] [Skywalking Version 9.1.0] Failed to create / update index template sw_log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

An error happened during the OAP server starts;
Error logs:
[code]

### What you expected to happen

Service starts normally.

### How to reproduce

Skywalking Versi

[2022-06-14 03:38] wu-sheng commented on #9213
I can see demo env and showcase boot successfully. @kezhenxu94 Do you have any clue?

[2022-06-14 03:48] kezhenxu94 commented on #9213
@BertOnline did you upgrade from an old version or start in a fresh new environment?

[2022-06-14 03:54] BertOnline commented on #9213
@kezhenxu94 I upgraded from 8.9.1 to 9.1.0.

[2022-06-14 04:01] wu-sheng commented on #9213
This may be related to your old indices and templates? Could you try on a clean env?

[2022-06-14 04:03] BertOnline commented on #9213
@wu-sheng In addition, I downloaded tar from the official website, decompressed the tar, modified the elasticsearch configuration, and ran the startup script to upgrade.

[2022-06-14 04:04] #8878 closed

[2022-06-14 04:21] Suancaiyu0707 opened #9214 "[Bug] [Skywalking Version 9.1.0] can not assigned static path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

can not assigned static path

### What you expected to happen

can assigined static path from webapp.yml

### How to reproduce

config webapp.yml and add properti

[2022-06-14 04:42] wu-sheng commented on #9214
We don't support that.

[2022-06-14 04:43] #9214 closed

[2022-06-14 04:45] wu-sheng commented on #9213
Startup script never covers the upgrade. SkyWalking community don't provide such script.

[2022-06-14 04:47] wu-sheng commented on #9210
Fixed by https://github.com/apache/skywalking-booster-ui/pull/106

[2022-06-14 04:47] #9210 closed

[2022-06-14 07:36] guangdashao opened #9218 "[Bug] Multiple applications work with satellite , service instances not correct"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Satellite (apache/skywalking-satellite)

### What happened

oap server: 9.0.0
satellite : 1.0.0
java agent: 8.10.0

Multiple applications  use their own agents to send data into the same satellite :
application a , i

[2022-06-14 08:53] peng19940915 opened #9221 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

elasticsearch number_of_shards not work

### What you expected to happen

when i change 「SW_STORAGE_ES_SUPER_DATASET_INDEX_SHARDS_FACTOR」to 6 &「SW_STORAGE_ES_INDEX_S

[2022-06-14 09:00] Terni commented on #9210
Thank you for answer. I saw it was fixed. Which will the release date be version 9.2.0?

[2022-06-14 09:01] #9184 closed

[2022-06-14 09:40] BertOnline opened #9224 "Trace page auto-freshing bahaviour"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

After skywalking 9.1.0 turns on auto refresh, the trace page automatically refreshes every few seconds. Even after auto refresh is turned off, the trace page stil

[2022-06-14 10:02] wu-sheng commented on #9224
@Fine0830 Do you think it is reasonable to not follow auto-fresh on trace/log/profiling/ebpf-profling pages?

[2022-06-14 10:08] Fine0830 commented on #9224
It's a bug, let me fix it.

[2022-06-14 12:04] chen-ni commented on #7572
@wu-sheng I can work on this if nobody else is working on it. Could you please assign it to me?

[2022-06-14 12:05] wu-sheng commented on #7572
Done, you could simply do this. You don't need to wait for this assignment.

[2022-06-14 12:08] chen-ni commented on #7572
@wu-sheng Got it, thanks! Will start now and keep this updated.

[2022-06-14 13:00] e11jah commented on #9073
Hi, I'd like to work on this issue. But I'm not sure which RPC APIS need to be validated, could you please provide further information?

[2022-06-14 13:38] lujiajing1126 commented on #9073
gRPC APIs here https://github.com/apache/skywalking-banyandb/tree/main/api/proto/banyandb should be validated

Including,

- Measure write and query
- Stream write and query
- Metadata CRUD
- Property CRUD

[2022-06-14 14:13] hanahmily commented on #9073
@e11jah There are some tips of the validation plugin installation:

* Add validation plugin installation instrument to https://github.com/apache/skywalking-banyandb/blob/808fc8faec769de5f7b915eba7998f30a6de5bd3/api/Makefile#L42
* Config the plugin at https://github.com/apache/skywalking-banyandb/blob/main/api/buf.gen.yaml

The validation rules:

* `metadata` field is required.
* all fields in `Wri

[2022-06-14 16:06] 00TanmaySinha00 commented on #9089
Hi @fgksgf  I am new to open source. I know java and basic docker technology. I am interested in this project and want to make my first contribution .How should I start?

[2022-06-14 17:43] Superskyyy commented on #9089
Hello there, welcome to the Apache SkyWalking community! I suppose the first step will be getting familiar with the skywalking-eyes project and it's building script. It's a good practice before start contributing in the SkyWalking ecosystem.

[2022-06-15 02:06] #9224 closed

[2022-06-15 04:55] mrproliu opened #9230 "[Satellite] Metadata is messed up when transferring Log data through Satellite"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Satellite (apache/skywalking-satellite)

### What happened

Follow https://github.com/apache/skywalking/discussions/9219?converting=1, We found that when there are multiple services transmitting Log data satellite, i

[2022-06-15 07:20] sruby commented on #8530
Stay away from timeout:
`env:
- name: JAVA_OPTS
  value: "-Dcom.linecorp.armeria.defaultResponseTimeoutMillis=40000"
`

[2022-06-15 08:45] ye213 opened #9231 "SpringCloudGateway3.1.3, With apm-log4j2-2.x:8.10.0, does not display the real traceId, always display 'TID: N/A'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Use the log4j2, with agent version 8.10.0, in the log, the tid always display as 'TID: N/A'
like `[2022-06-15 14:53:19.958] [TID: N/A]`
but the other service th

[2022-06-15 09:04] wu-sheng commented on #9231
The plugin doesn't promise you to have trace ID in the logs, it just does tracing. So this is not a bug as it is not a feature.

Trace ID is available when and only when the tracing context exists in the current thread. Spring Gateway provides a complex async module, so, your codes may run in another thread. This is a very normal case.

[2022-06-15 12:48] childewuque opened #9235 "Can we log traceid only with skywalking agent，no OAP"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

springboot 2.6.7
apache-skywalking-java-agent-8.10.0

Can logback print TraceID when everything is configured normally but AOP is not started?
In addition, what is the relationship between apm-toolkit-logback-1.x and  a

[2022-06-15 12:56] #9230 closed

[2022-06-15 12:59] wu-sheng commented on #9235
No, you can't. This doesn't make any sense to SkyWalking.

[2022-06-15 12:59] #9235 closed

[2022-06-15 16:30] e11jah commented on #9073
Thank you for your advice. I added validation for the 'WriteRequest' message and `metadata` fields. We may also need to modify the makefile to generate the 'Validate()' function for messages. PTAL if you're free.

[2022-06-16 02:18] childewuque commented on #9235
@wu-sheng
The lightweight traceid solution is also valuable. It is mainly in the product environment used by enterprises. Some enterprises are short of resources and only want to print traceid. Some have rich resources and can use a full set of skywalking

Thanks.

[2022-06-16 03:15] wu-sheng commented on #9235
That is your choice, not community. SkyWalking has no interest to waste so much time to adopt a private feature.

[2022-06-16 05:51] skundu1234 commented on #4089
Hi Team,
Did you get resolution

[2022-06-16 16:15] Duncan-tree-zhou commented on #9160
Hi, here is the PR:

https://github.com/apache/skywalking-swck/pull/66

It looks like the PR in SWCK repo cannot be associated to this issue?

here are the changes:

1. add SwAgent CRD
    - inlcuding label selector and container matcher.
    - the sidecar configs variable is explicitly declared.
    - JavaSideCar.Env will be pass to target pods, in which way use can set agent configs.
2. update p

[2022-06-17 08:17] guangdashao opened #9244 "[Bug] java agent tranform logs with apm-toolkit-logback-1.x-activation.jar failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

java agent 8.10.0 : support , apm-toolkit-logback-1.x-activation.jar
my application  use logback-core 1.1.11.
when start application , logs transform failed . a

[2022-06-17 09:27] wu-sheng commented on #9244
This is a typical breaking change in the logback level. There is no bug about this.
Just need to adopt new logback version, if community wants.
We support newer version, may break old dependency users.

[2022-06-17 09:27] #9244 closed

[2022-06-17 15:07] siaron opened #9246 "[Feature] Skywalking logging UI traceId is empty."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/13701232/174325107-e2c11c34-86e2-45a0-aebe-f7cffdb6d2f4.png)
- traceID 始终为空, 是需要什么配置吗?

### Use case

- logback grpc 上报到服务端.

### Related issues

_No response_

### Are

[2022-06-17 23:28] wu-sheng commented on #9246
All discussion on GitHub should be in English, and we talked about this, the trace ID is not always not null. Search issues nd discussions before submit a new one.

[2022-06-18 10:45] #7572 closed

[2022-06-20 04:15] always-web opened #9250 "[Bug] Apache Shenyu plugin NPE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

[code]

Skywalking java agent version is 8.10.0

### What you expected to happen

My Project uses `Apache Shenyu`, so I turned on the `apm-shenyu-2.4.x-plugin-8

[2022-06-20 04:53] wu-sheng commented on #9250
Please report to Shenyu community. We just hold their contributed plugin, and release with our agent.

[2022-06-20 04:53] #9250 closed

[2022-06-20 12:06] echojun186 commented on #7386
Hello, did you solve this problem?I also had the same problem

[2022-06-20 12:12] hutaishi commented on #9250
Sorry for not fully considering a type context like IgnoredTracerContext.
A fix PR has now been submitted：https://github.com/apache/skywalking-java/pull/215

[2022-06-21 08:31] angelosun commented on #4058
where

I ran the OAPServerStartUp on the apm source code,  I got the same problem,  however I don't find the  the oap-libs in the whole project directory, where should I put the driver jar file in ? Pls help!

[2022-06-21 08:43] angelosun commented on #4058
BTW the version is 9.0

[2022-06-21 08:58] angelosun commented on #4058
I got it, thanks a lot!

[2022-06-21 12:37] MrJXL opened #9254 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

When I configure the collection of SQL parameters, the query statements and parameters are displayed in the log tracking page，
version-9.1.0

### What you expecte

[2022-06-22 05:22] xzyJavaX opened #9258 "[Bug] Withess classes selection error in elasticsearch-6.x-plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

When using org.elasticsearch.client:elasticsearch-rest-high-level-client:6.3.0, elasticsearch-6.x-plugin throws NPE.
Error log:
[code]
Supported-list.md shows t

[2022-06-22 06:10] wu-sheng commented on #9258
If you want to add a new witness class, feel free to submit a pull request.

FYI, about supported list, it means we tested those versions, which doesn't mean other versions would not face side effect. Unsupported version status is unknown to us.

[2022-06-22 11:34] wu-sheng commented on #9126
@kezhenxu94 I reassigned this to you.
After @Fine0830 sync, you could work on adding this to suitable dashboards.

[2022-06-23 02:46] drgnchan opened #9264 "[Bug] [skywalking-java] why grpc onHalfClose method not using span name 'onHalfClose' but 'onComplete'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

In `org.apache.skywalking.apm.plugin.grpc.v1.server.TracingServerCallListener#onHalfClose`, it creates span using operationName: `/Request/onComplete`

### What

[2022-06-23 02:48] wu-sheng commented on #9264
@drgnchan Assigned to you, feel free to submit a patch.

[2022-06-23 15:05] Superskyyy commented on #9089
@00TanmaySinha00 Hello, please update the status, shall we assign this issue to you?

[2022-06-23 23:03] 52learn opened #9269 "[Bug] skywalking 8.9.1 ： create task occur Exception while fetching data (/getProfileTaskList) : Can't split service id into 2 parts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Skywalking ：8.9.1 ,  run with docker-compose.yml
when I  create task for profiling , exception occurred  ： Exception while fetching data (/getProfileTaskList) : Can'

[2022-06-23 23:38] wu-sheng commented on #9269
8.x is not maintained by community. And this usually ix caused by you have data generated before 8.0 somehow.

[2022-06-23 23:38] #9269 closed

[2022-06-24 01:18] #9258 closed

[2022-06-24 02:19] 52learn commented on #9269
so it means that any bug found in skywalking 8.x will not been fixed by community?  could you tell me which version of skywalking for using  much better ?   ths a lot
the previous version is 8.2.0 , I don't use skywalking before 8.0 .

[2022-06-24 02:19] 52learn commented on #9269
so it means that any bug found in skywalking 8.x will not been fixed by community?  could you tell me which version of skywalking for using  much better ?   ths a lot
the previous version is 8.2.0 , I don't use skywalking before 8.0 .

[2022-06-24 02:23] wu-sheng commented on #9269
All committer team is focusing on the latest version as always.
At the same time, SkyWalking usually depends on global contributors to fix bugs, not several committers. It has been unrealistic for years, it would only overload the committer team.

Even so, this looks like dirty data. SkyWalking only promises the telemetry data collecting protocol forward compatibility, not all data in the storage.

[2022-06-24 02:26] wu-sheng commented on #9269
Showcase 8.x is still provided, and there is no bug with this feature.
All change logs could be found in the docs, https://skywalking.apache.org/docs/main/latest/en/changes/changes-9.1.0/

There are 100+ changes for every release, even more. So, don't think skywalking 8.2 to 8.9 is a small upgrade. There are huge differences

[2022-06-24 03:30] 52learn commented on #9269
I did as you say , first down:
`docker-compose -f docker-compose-8.9.1.yml  down`
then up :
`docker-compose -f docker-compose-8.9.1.yml up -d`
and  the function of create task is ok , however another issue is :  profile is not working .
![image](https://user-images.githubusercontent.com/1314055/175455824-2e108887-3fea-4b2f-840c-8df4be60f146.png)

My profile task as below :
![image](https://user-im

[2022-06-24 03:36] wu-sheng commented on #9269
Again, using the latest version could make things easier.
Your endpoint is wrong. get... is a part of endpoint too.

[2022-06-24 06:02] 52learn commented on #9269
thanks for your reply !  endpoint change to "GET:/slowProfile", then profile works.   but find one issue of trace that I can not search trace by endpoint name . that is terrible :
![image](https://user-images.githubusercontent.com/1314055/175472267-4a14814e-a64a-421b-a85e-84471bfc4db2.png)

I plan to change the latest version  :  V9.1.0   , wish to have a good using experience ！

[2022-06-24 06:03] 52learn commented on #9269
thanks for your reply !  endpoint change to "GET:/slowProfile", then profile works.   but find one issue of trace that I can not search trace by endpoint name . that is terrible :
![image](https://user-images.githubusercontent.com/1314055/175472267-4a14814e-a64a-421b-a85e-84471bfc4db2.png)

I plan to change the latest version  :  V9.1.0   , wish to have a good using experience ！

[2022-06-24 06:12] wu-sheng commented on #9269
You should read what is an endpoint, and all docs, rather than keep asking questions.
Open source is not a customer service.

[2022-06-25 07:32] CherishCai opened #9271 "[Feature Rust Agent]: Maybe add `.build_server(false)`, tonic-build do not build Server code."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Maybe add `.build_server(false)`, tonic-build do not build Server code.

https://github.com/apache/skywalking-rust/blob/5fded8e7cb936de4a6a3d6b689f9d22645466d2f/build.rs#L18

[code]

### Use case

do not appear `trace_s

[2022-06-25 07:40] CherishCai opened #9272 "[Doc Rust Agent] Typo in `context/propagation/context.rs`."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1. previos -> previous
https://github.com/apache/skywalking-rust/blob/5fded8e7cb936de4a6a3d6b689f9d22645466d2f/src/context/propagation/context.rs#L29

2. infomation - > information
https://github.com/apache/skywalking-r

[2022-06-25 07:42] wu-sheng commented on #9271
We don't intend to build server codes. This is a SDK for Rust.

[2022-06-25 07:42] #9271 closed

[2022-06-25 07:43] wu-sheng commented on #9272
This kind of typo could be fixed easily through a pull request. I can't see why we need an issue to track.

[2022-06-25 07:48] wu-sheng commented on #9272
Could you submit a pull request to fix directly?

[2022-06-25 07:51] CherishCai commented on #9271
now the Server code is useless.
<img width="1419" alt="image" src="https://user-images.githubusercontent.com/16837364/175764090-8838d958-e861-4d8e-88e3-a7a42bc6258b.png">

so maybe `.build_server(false)` do not build Server code.
<img width="1417" alt="image" src="https://user-images.githubusercontent.com/16837364/175764029-a473b5d3-d2cd-411d-a16a-ebacc6cee223.png">

[2022-06-25 07:52] CherishCai commented on #9272
OK, thanks for your reply.

[2022-06-25 07:57] wu-sheng commented on #9271
If you want to propose something, could you be more clear?
If you want to polish generated codes, it is good to go.
In the open source, only technology perspective uncertainthings need to be discussed. But this seems just a polish.You don't need a permission.

[2022-06-25 08:04] CherishCai commented on #9271
Maybe it's because I didn't express it clearly enough.
What I mean is that the `trace_segment_report_service_client::TraceSegmentReportServiceServer` built by tonic-build is redundant now, and adding `.build_server(false)` can reduce the generation of this code.

[2022-06-25 08:44] #9272 closed

[2022-06-25 14:54] Anthony88888 commented on #5881
Please help me if I have the same problem here
-------------------------------------------------------------------

2022-06-25 19:18:23.859 ERROR [order,,] [sleuth_IS_UNDEFINED,,,] 1 --- [           main] c.aibit.etcd.naming.net.EtcdNamingProxy  : 租约失败:java.order

java.util.concurrent.ExecutionException: java.lang.IllegalStateException: Exit span doesn't include meaningful peer information.
	at ja

[2022-06-25 16:46] Anthony88888 commented on #5349
Please ask if you can help to confirm that java uses etcd as the registry to report an error
Only the java program registered to etcd will report an error, and the normal use of other unregistered programs is troublesome.
--------------------------------------------------------------------------------------------------
Error starting ApplicationContext. To display the conditions report re-run your

[2022-06-25 16:47] Anthony88888 commented on #5349
@wu-sheng   Please help confirm the above questions if you have time, thank you

[2022-06-26 09:02] wu-sheng commented on #9197
No update in 17 days.

[2022-06-27 06:41] Anthony88888 commented on #5881
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'etcdRegistryCenter': Invocation of init method failed; nested exception is java.lang.IllegalStateException: Exit span doesn't include meaningful peer information.
	at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor.postProcessBeforeInitialization(InitDestroyAnnotationBeanPost

[2022-06-27 06:54] wu-sheng commented on #5881
@Anthony88888 Don't post your error everywhere, this is very annoying to others.

[2022-06-27 07:20] Anthony88888 commented on #5881
@wu-sheng  Ok, I just want to confirm whether the problem is caused by registering to etcd, I really want to locate the problem, I'm really sorry

[2022-06-27 07:39] Anthony88888 opened #9275 "[Feature] java.util.concurrent.ExecutionException: java.lang.IllegalStateException: Exit span doesn't include meaningful peer information"
### Search before asking

- [ ] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

java.util.concurrent.ExecutionException: java.lang.IllegalStateException: Exit span doesn't include meaningful peer information.
	at java.base/java.util.concurrent.CompletableFuture.reportGet(Unknown Source)
	at java.ba

[2022-06-27 07:41] wu-sheng commented on #9275
Why again? I am very clear from https://github.com/apache/skywalking/discussions/9273

[2022-06-27 07:41] #9275 closed

[2022-06-27 07:43] wu-sheng commented on #9275
Read the source codes, and get an understanding of what is `Exit span doesn't include meaningful peer information`.
Then try to understand the plugin you are using. We are not going to debug for you.

[2022-06-27 09:20] wu-sheng commented on #9197
Not much detail to follow. Close for now.

[2022-06-27 09:20] #9197 closed

[2022-06-27 11:40] ccfahe opened #9277 "[Authorization]:Do we have a feature where we can authorise users as per there role to see relevant areas in skywalking dashboard"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

If a developer login he cpuld able to see the service related to him not all  infrastructure details of other servers.Admin can see all services.

Any login mechanism that can be connected to LDAP and role mechanism to

[2022-06-28 02:31] andotorg opened #9279 "[Bug] SkyWalking-java 8.11.0 report exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

## oap server console output：
[code]

### What you expected to happen

not output

### How to reproduce

skywalking-java 8.11.0

### Anything else

_No response

[2022-06-28 02:55] #9279 closed

[2022-06-28 15:06] #9044 closed

[2022-06-29 02:59] MWW0 commented on #5427
我在apache-skywalking-apm-bin-8.x版本仍然遇到同样的问题，我的service-apdex-threshold.yml中包含了链接拥有的配置。我应该如何解决？
I still had the same problem with the Apache-Skywalk-apm-bin-8.x version, and my service-apdex-threshold-yml included the link-owned configuration. How can I solve it?

[2022-06-29 03:19] MWW0 commented on #4260
How can I solve it?

[2022-06-29 06:18] Spiderbezno opened #9282 "Available to Flutter web"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

A client in Dart o similar to add compatibility with the framework FLutter in the web

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submi

[2022-06-29 06:26] wu-sheng commented on #9282
Can't see the relevant.

[2022-06-29 06:26] #9282 closed

[2022-06-30 03:49] guan-mian opened #9286 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Skywalk-webapp error when I use startup script startup.bat.

My JDK version is 11.0.3

### What you expected to happen

The contents of skywalking-oap-server.log are

[2022-06-30 04:17] Superskyyy commented on #9286
Please never use such a title, it's not a good practice. Update according to the context, please.
And you are using the wrong value for the config, what is MySQL there for, it's not even a valid option. Please check here https://github.com/apache/skywalking/blob/master/docs/en/setup/backend/backend-cluster.md

[2022-06-30 06:02] wzhangNJ commented on #2872
I solved , threadpool Component & slf4j cause exception

[2022-06-30 06:42] williamyao1982 opened #9289 "[Bug] Helm Upgrade to replace the Docker Image with new Tag number."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Helm Chart (apache/skywalking-kubernetes)

### What happened

The helm install first version to kubernetes is quite good. It will init-es to initial the database structure in ES. But when we setup the new image tag n

[2022-06-30 18:47] gcamach0 commented on #9089
Hi @fgksgf I was taking a look at the project and I would like to contribute, I already saw in the comments the links with which to familiarize myself with the project and with the issue.  I can take a look and update you when I've read it, so you can assign me the issue if that's ok with you.

[2022-06-30 19:01] Superskyyy commented on #9089
@gcamach0 assigned, good luck coding!

[2022-07-01 03:11] wuzemian opened #9294 "skywaking-ui log charset is wrong[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

skywaking-ui log charset is wrong when use GRPCLogClientAppender 8.11.
![微信图片_20220701111046](https://user-images.githubusercontent.com/28946366/176816113-ee644

[2022-07-01 03:58] wu-sheng commented on #9294
We don't have people who have checked the charset for Chinese. Sorry. If you want to dig this deeper, you are on your own.

[2022-07-01 03:58] #9294 closed

[2022-07-01 09:54] jmjoy opened #9297 "[Feature] About support multi threads and auto finalize for skywalking-rust."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now the [`skywalking-rust`](https://github.com/apache/skywalking-rust) only support one thread tracing, but usually there are some scenes that require multi threads/coroutines tracing.

### Use case

Rust application re

[2022-07-01 09:55] jmjoy commented on #9297
I think the new api design is (fake code):

[code]

Add the `TracingManager` which should be singleton in the application, to manage the contexts, and use notify mechanism for reporting.

[2022-07-01 09:58] wu-sheng commented on #9297
Do you want to implement `ctx#capture` and `ctx2#continous` in these APIs, which could link ctx and ctx in a whole trace although they are created in two threads originally?

[2022-07-01 10:07] jmjoy commented on #9297
OK, let me think about the design of API.

[2022-07-01 11:46] jmjoy commented on #9297
What is the purpose of `ctx#capture` and `ctx2#continous`? Is there other language can be referenced? I just think it can add a parameter like `TRACING_MANAGER.create_context(parent_context)`.

[2022-07-01 12:25] lujiajing1126 commented on #9297
Every `Segment` in SkyWalking exists in a single thread while a transaction/trace may consist of multiple operations across threads. To rebuild the whole trace in the backend (i.e. OAP), we have to link segments together with the help of contextual information, e.g. `traceID`, `segmentID`, `spanID`.

`Context.capture` and `Context. continous` are key methods to **capture** the context in a thread

[2022-07-01 16:54] gcamach0 commented on #9089
Thanks, I'll let you know any update.

[2022-07-02 07:17] hoteye commented on #9194
我工作中使用了skywalking。我对skywalking代码比较收悉。希望能帮助解决此问题，但我还不是非常了解该问题。希望共享的同时学习开源共享的经验，提升自己的能力。

[2022-07-02 07:36] wu-sheng commented on #9194
Hi, please keep all things on GitHub in English, as we need to keep global users nd developers in sync.

[2022-07-03 07:35] jmjoy commented on #9297
I'm studying `capture` and `continous` through Java Kafka. I've opened `foo` and `bar` consumers, and produced messages through the request of `/mq2`.
![image](https://user-images.githubusercontent.com/8677974/177029906-6e35055e-6592-4450-8c0e-bcb7a9d2c443.png)

I've determined through breakpoint debugging that the application has called to generate `LocalSpan` of `Kafka/Producer/Callback`.
![imag

[2022-07-03 08:00] wu-sheng commented on #9297
Maybe some visualization bug? I am not sure about this.
Because this span has two references, one is RPC peer, the other is from the local span's snapshot.

If you purely want to check capture and continuous, all async HTTP call or callback should include this case.

[2022-07-03 09:20] jmjoy commented on #9297
Yes, I switch to using the old 8.x UI, and the `Kafka/Producer/Callback` is shown.

[2022-07-03 10:07] superido commented on #4818
I have search in test folder in skywalking-java project. But I didn't found the test file about rocketmq. Could you please send me the path? thank you in advance.

[2022-07-03 10:20] wu-sheng commented on #9297
FYI @Fine0830 We may miss mutiple references in the span page in 9.x

[2022-07-03 10:46] lujiajing1126 commented on #9297
I've confirmed the issue with both 9.0.0 and 9.1.0.

The issue is caused by `EndpointDepFromCrossThreadAnalysisListener` introduced in v9, NPE is thrown during the analysis , then the segment will not be saved to the storage.

[code]

[2022-07-03 11:12] yswdqz commented on #7420
Is it still open? I want to try it。

[2022-07-03 11:20] wu-sheng commented on #7420
Yes, it is still open. I didn't have update.

[2022-07-03 11:23] lujiajing1126 commented on #4818
The E2E for RocketMQ is missing, and according to the comment https://github.com/apache/skywalking/issues/8223#issuecomment-983467376, RocketMQ plugin-related contribution will not be accepted until tests are added.

If you're interested in this topic, we welcome your contribution.

[2022-07-03 11:27] wu-sheng commented on #9297
@lujiajing1126 Could you be more specific what causes the NPE?

[2022-07-03 14:56] lujiajing1126 commented on #9297
<img width="1022" alt="image" src="https://user-images.githubusercontent.com/2568208/177045171-110b90ce-43bf-4878-b022-783dbf038b0a.png">

Since `sourceEndpointOwnerServiceName` is not null ("kafka-scenario"), but `sourceEndpointOwnerServiceLayer` is null.

Then, `serviceLayer.isNormal()` will report NPE,

<img width="985" alt="image" src="https://user-images.githubusercontent.com/2568208/17704522

[2022-07-03 15:26] wu-sheng commented on #9297
Could you send a pull request to fix this?

[2022-07-03 15:29] wu-sheng commented on #9297
I think this should be set to the owner layer, according to `sourceEndpointOwnerServiceName == null`, right?

[2022-07-04 01:29] lujiajing1126 commented on #9297
Hi @jmjoy, the bugfix has been merged to the master branch. You may have a try.

[2022-07-04 02:10] kezhenxu94 opened #9301 "[Python] add docs about how to run tests locally (or even simplify it if it's too complex)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Related to https://github.com/apache/skywalking-python/pull/214#pullrequestreview-1026894959 .

Our contributor has to look around the repo for demo scripts to run the tests locally. Sometimes they have to try over and

[2022-07-05 02:58] superido commented on #4818
I found Yunai have made a sample for RocketMQ in his private demo project.
The sample is only for syncSend. But I have tested asyncSend, it is not working, the Traceid is not continuous, Is syncSend currently only supported?

[2022-07-05 02:58] superido commented on #4818
I found Yunai have made a sample for RocketMQ in his private demo project.
The sample is only for syncSend. But I have tested asyncSend, it is not working, the Traceid is not continuous, Is syncSend currently only supported?

[2022-07-05 08:19] jmjoy commented on #9297
I just tested it and found it to be fixed.

I just tested it and found it to be fixed.

[2022-07-05 08:54] wangkang007 opened #9308 "[Bug] JVMService-produce high cpu 100%"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

<img width="752" alt="image" src="https://user-images.githubusercontent.com/15212116/177289439-fea9f57b-275a-4175-946f-7b7f9f4c3118.png">

After the service run

[2022-07-05 09:09] wu-sheng commented on #9308
We can't do an analysis from a CPU usage, especially you just posts a stack showing queue blocked.

[2022-07-05 09:09] #9308 closed

[2022-07-06 00:10] zrsaber commented on #9194
Can you assign it to me?I'll try to work on this.

[2022-07-06 00:12] wu-sheng commented on #9194
Traffic generator has been added, https://github.com/apache/skywalking-banyandb/pull/143.

@hanahmily Could you confirm whether there are more to do in this issue?

[2022-07-06 01:05] #9194 closed

[2022-07-06 01:30] suninuni opened #9312 "Support record collection name in db.statement for java mongodb-agent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

db.bind_vars is correctly show but not record the collection name, which is may be useful.

![image](https://user-images.githubusercontent.com/7345529/177447005-ac4e38ab-aec7-42ba-a134-b048d0aa4a75.png)

### Use case

_

[2022-07-06 02:34] Superskyyy commented on #7420
Would you like us to assign this one to you?

[2022-07-06 02:37] yswdqz commented on #7420
Yes, I will do my best to resolve it.

[2022-07-06 02:39] Superskyyy commented on #7420
Okay, assigned to you, good luck coding.

[2022-07-06 03:39] mrproliu opened #9314 "[UI] Introduce Network Profiling Widget"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

At present, we have the agent of eBPF. Then we can generate the topology between processes by observing the network.
I have drawn a prototype diagram to illustrate how the widget would be used in the UI. Please refer to

[2022-07-06 04:26] azhsmesos commented on #8815
please assigned it to me

[2022-07-06 06:55] Fine0830 opened #9315 "legend settings of the topology map"
### Discussed in https://github.com/apache/skywalking/discussions/9306

<div type='discussions-op-text'>

<sup>Originally posted by **137-zwq** July  5, 2022</sup>
After saving the legend settings of the topology map, it will expire after refreshing the page in v9, is there a problem with it?</div>

[2022-07-06 06:56] wu-sheng commented on #8815
Thank you for being intered, but this is a core feature, Gao hss owned this.
It is better yoi could talk to him, and begin with some more friendly work.

[2022-07-06 08:44] Fine0830 opened #9317 "Can't select value for tags in Skywalking UI"
### Discussed in https://github.com/apache/skywalking/discussions/9316

<div type='discussions-op-text'>

<sup>Originally posted by **suninuni** July  6, 2022</sup>
Now we can only select value for tags, and the dropdown height is `100%` which makes I can't select the value I need.

![image](https://user-images.githubusercontent.com/7345529/177505868-bbdba2c0-74e8-4025-9f1c-1221d395a6e5.png)

<det

[2022-07-06 09:14] saber-wang opened #9318 "[Bug] `frozen class (cannot edit)` exception is thrown after modifying `oal` and starting"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

[code]

### What you expected to happen

Start and compile `core.oal`

### How to reproduce

Use configmap in k8s and mount it to ` /skywalking/config/oal/core.oal`

[2022-07-06 09:25] wu-sheng commented on #9318
Don't use duplicate variable name in OAL.

[2022-07-06 11:35] jmjoy opened #9319 "[Bug] skywalking-eyes: dep check failed when dependencies support multi license?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

License Tools (apache/skywalking-eyes)

### What happened

For example, the license of my Go project is `Apache-2.0`, I add the mod [github.com/ericlagergren/go-coreutils](https://github.com/ericlagergren/go-coreutil

[2022-07-06 12:57] sun-rui opened #9320 "[Bug] The deployment of Skywalking Showcase v8 on docker platform is broken"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Showcase (apache/skywalking-showcase)

### What happened

Following the showcase v8 readme: https://skywalking.apache.org/docs/skywalking-showcase/v8/readme/, the deployment on docker platform failed.
[code]

### Wha

[2022-07-06 13:44] wu-sheng commented on #9320
We don't maintain v8 anymore. So, we only would spend very little time, if there is a very urgent issue.
I compared two commit IDs, but that is the only difference I found. And be confused.

[2022-07-06 13:44] wu-sheng commented on #9320
Moving to discuss

[2022-07-07 02:56] #9319 closed

[2022-07-07 04:24] xzyJavaX opened #9322 "About annotation org.apache.skywalking.apm.toolkit.trace.Tag"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Use annotation org.apache.skywalking.apm.toolkit.trace.Tag, for example：
[code]
[code]
Access interface “/tag”, key "kkk" will exist，value will be null.
![AF311

[2022-07-07 04:34] wu-sheng commented on #9322
You need to check data first, whether key value is collected by the agent?

[2022-07-07 04:39] wu-sheng commented on #9322
And use 9.1 backend and UI if data gets reported.

[2022-07-07 05:00] wu-sheng commented on #9322
AFAIK, the tag collecting is tested in every PR through

https://github.com/apache/skywalking-java/blob/19dd412b34784d33188819fd11a3b508177df9d0/test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml#L61

[2022-07-07 05:02] lujiajing1126 commented on #9322
I've checked the OAP backend, it just received "null".

The problem is whether plain text is supported by the `@Tag` annotation. According to the current implementation, only expression is supported.

[2022-07-07 05:14] wu-sheng commented on #9322
I can't find doc mentioned plain text supported. AKA, it should be not assumed supported.
Then there is no bug.

[2022-07-07 05:14] #9322 closed

[2022-07-07 08:01] chopin-d opened #9324 "[Bug] Service tab trend chart"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

In Dashboard Service Tab, When I choose the whole point time e.g(7:00-8:00), the curve in the trend chart is disordered.
![image](https://user-images.githubuserco

[2022-07-07 08:07] Fine0830 commented on #9324
It seems to be [skywalking-rocketbot-ui](https://github.com/apache/skywalking-rocketbot-ui). Rocketbot UI is replaced by the new [Booster UI](https://github.com/apache/skywalking-booster-ui) since 9.0.0 release.

[2022-07-07 09:14] wu-sheng commented on #9324
8.x is not maintained anymore. So, we wouldn't take care of this, no matter it is a bug or not.

[2022-07-07 09:14] #9324 closed

[2022-07-08 02:35] kezhenxu94 commented on #9089
Hi, I never saw this error, and we have a workflow in GitHub to build the Docker for every commit so this should not be a problem, did you check your network is OK?

[2022-07-08 02:47] fgksgf commented on #9089
Are you using any proxy? I searched a similar issue, hope it can help: https://github.com/gliderlabs/docker-alpine/issues/191#issuecomment-433450655

[2022-07-08 09:10] wu-sheng commented on #8896
Implemented in https://github.com/apache/skywalking-booster-ui/pull/115

[2022-07-08 09:32] Fine0830 commented on #8896
This [pr](https://github.com/apache/skywalking-booster-ui/pull/115) implements https://github.com/apache/skywalking/issues/9195. Currently, this function has not been realized yet.

[2022-07-08 09:39] wu-sheng commented on #8896
Yes, sorry.

[2022-07-10 06:35] sampsonye opened #9330 "[Bug]Skywalking-ui:9.1.0 white screen"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

Skywalking-ui:9.1.0 white screen
[code]

### What you expected to happen

![image](https://user-images.githubusercontent.com/5895634/178134096-f7081de3-b456-485f-

[2022-07-10 07:34] wu-sheng commented on #9330
There is no point if you don't check logs to see something is not working.

[2022-07-10 07:34] #9330 closed

[2022-07-10 12:22] jmjoy commented on #9297
Add Tracer: <https://github.com/apache/skywalking-rust/pull/26>

[2022-07-11 02:22] #9317 closed

[2022-07-11 06:27] gcamach0 commented on #9089
Yeah it seems that my network is the problem, I just wanted to check if nothing similar had ever happened before.
I think the problem is that I have an application that uses a proxy to route traffic and apply security policies.

I have already requested help from the IT department where I work and I hope tomorrow I will have an answer so that I can test my build command.

[2022-07-11 06:32] wu-sheng commented on #9089
Sometimes, you could check on your fork's GitHub action task, which doesn't have network issue.

[2022-07-11 06:59] gcamach0 commented on #9089
Oh I didn't know that was possible, thanks. I'll try it that way.

[2022-07-11 09:26] jiang1997 commented on #9301
I write a guide to local test in this [commit](https://github.com/jiang1997/skywalking-python/commit/acc9f08f01edba66991907d8a6b428777371f199). Do you have any suggestions for this before I pull request.

[2022-07-11 09:44] wu-sheng commented on #9301
You could send a pull request directly. It is fine if more polish could be done.

[2022-07-11 11:25] jiang1997 commented on #9301
Got it.

[2022-07-12 01:50] kezhenxu94 commented on #9301
Closed by apache/skywalking-python#222

[2022-07-12 01:50] #9301 closed

[2022-07-12 07:17] xiaohei88 opened #9332 "Child thread cannot get traceid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I want to get traceid in the sub thread。for example：

[code]
result:
http-nio-8090-exec-1------->Ignored_Trace
pool-8-thread-1------->N/A

### What you expected

[2022-07-12 14:32] dvisigalli commented on #8507
@wu-sheng hello! i wish to instrument a java application, using the native Skywalking agent. however, i have the need to be able to open and close custom spans programmatically, and in my application i can't use 'apm-toolkit-trace', since in my scenario is not possible to alterate the code adding @Trace annotations.
So i gave a try to your 'apm-toolkit-opentracing' module, but i'm not able to see

[2022-07-12 15:28] wu-sheng commented on #8507
The OT API bridge is still there. We wouldn't move on to the latest OT APIs, as they are not compatible with SkyWalking concepts. We asked them not to do so, but OT team was not listening. So, that left us no choice but to keep everything stale.

Also, OTEL tracer is not, because no one in the community wants to do the work. So, from SkyWalking's open-source understanding, it is not important at a

[2022-07-12 15:33] wu-sheng commented on #8507
All docs are in the doc already, https://skywalking.apache.org/docs/skywalking-java/v8.11.0/en/setup/service-agent/java-agent/opentracing/
Others about how to use tracer, that is OpenTracing's doc part. Not ours.

No matter what issue you would face, you should know, that this is why user never prefers SDK integration, considering SkyWalking's agent and plugin system are so powerful. If you want t

[2022-07-13 02:34] #9315 closed

[2022-07-13 08:29] wu-sheng opened #9340 "[Feature] Evaluate merging all metrics/meter indices into one physical entity in ElasticSearch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In an off-list discussion, I got some feedback from the community that, the size of the metrics index is still not big enough. A company uses 100G per shard policy, and the metrics index is using 2%-5% per shard, even a

[2022-07-14 05:31] complone commented on #9048
Hello everyone, by tracking the code of skywalking-banyandb stress test: https://github.com/apache/skywalking-banyandb/blob/main/test/stress/stress_suite_test.go. I tracked that in the KV class, statistics can be passed through dbOpts Some storage metrics of banyandb, code location: https://github.com/apache/skywalking-banyandb/blob/5886070c8406d1fe0df82b7579933f4d9b1435db/banyand/kv/kv.go#L190
At

[2022-07-14 05:36] complone commented on #9048
In addition, I think the indicators should be aggregated here. It is only necessary to give go2sky to report the indicators to the OAP backend of skywalking.

See [code location](https://github.com/apache/skywalking-banyandb/blob/5886070c8406d1fe0df82b7579933f4d9b1435db/banyand/kv/badger.go)

[2022-07-14 05:59] wu-sheng commented on #9048
I don't think go2sky has meter APIs for now. Besides all instrument works, you should begin to discuss those APIs at the go2sky repo with project leader @arugal and other members.

[2022-07-15 01:27] wangyiyong opened #9343 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

![image](https://user-images.githubusercontent.com/10657084/179128099-1836819a-1cd2-4879-8ece-7c555dd8bd15.png)

At new version 9.1.0    i can't find key words se

[2022-07-15 01:34] wu-sheng commented on #9343
It is available on the demo. Maybe something different at your side?

[2022-07-15 01:35] #9343 closed

[2022-07-15 01:35] wu-sheng commented on #9343
And you didn't provide issue title.

[2022-07-15 01:44] wangyiyong commented on #9343
I found the search label was hidden. And&nbsp; i use&nbsp; mysql to storge log datas. Is this effect?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/skywalking"                                                                                    ***@***.***&gt;;

[2022-07-15 01:45] wangyiyong commented on #9343
sorry! I will be more serious next time !

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/skywalking"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月15日(星期五) 上午9:35
***@***.***&gt;;
***@***.*

[2022-07-15 04:00] wu-sheng commented on #9343
MySQL doesn't support content fuzzy search.

[2022-07-15 04:04] wu-sheng commented on #9343
MySQL could only support tag based query. You need to learn Log Analysis Language to fetch tags from logs contents. Rather than randomly seaeching. MySQL could crash easily in this way.

[2022-07-15 07:56] MrEric125 opened #9344 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

version: 8.8.0
there is no data show in my UI , I check my agent -log , see :

rebel-change-detector-thread SkyWalkingAgent : Enhance class com.kuaike.scrm.mana

[2022-07-15 08:01] wu-sheng commented on #9344
No title, no detail.
If you want the official helps, you should debug first, and provide details. A stack doesn't help.

[2022-07-15 08:01] #9344 closed

[2022-07-16 09:56] ypg521 commented on #7505
I reproduce this issue use ：
* org.apache.httpcomponents.httpclient:4.5.13
* apache-skywalking-java-agent-8.11.0

And I not start OAP.

The request message that Httpclient send  to node server:
[code]

Because if OAP is not working, Java agent will create a `IgnoredTracerContext`
Then `ContextCarrier` will put   incorrect data ,  method `serialize`  will generate some error headers

[2022-07-16 09:59] wu-sheng commented on #9297
 Auto finalize context and span when dropped. https://github.com/apache/skywalking-rust/pull/28

[2022-07-16 10:00] wu-sheng commented on #9297
We only have cross threads left for this issue, right?

[2022-07-16 10:07] wu-sheng commented on #7505
Why is this header wrong? I am not sure of your conclusion.

[2022-07-16 11:11] ypg521 commented on #7505
You are right  , I'm not sure header is wrong 。
But I found :
1. When the request message include header named sw8,(but the value is null) , the node server will cause exception ;
2. Sometimes  the request message node include header named sw8 (java code same) , then node server is working correctly

I will read the java agent code in depth

[2022-07-16 11:15] wu-sheng commented on #7505
No one could guarantee sw8 is not null. The agent should tolerant this case.
sw8 could be null by sampling, no backend connection, etc.

[2022-07-16 13:10] ypg521 commented on #7505
I see , sometimes GRPCChannelStatus  (ContextManagerExtendService#status)is not reliable.
So  some request header can carry `sw8` when the GRPCChannelStatus is not `DISCONNECT`
Node agent should detect sw8' value . not just detect `hasOwnProperty` :

[code]

[2022-07-16 13:29] wu-sheng commented on #7505
Yes, if it requires sw8, then this become a security attach point if this service is exposed.
People could attach the service through an illegal sw8 header. @kezhenxu94

[2022-07-16 13:52] kezhenxu94 commented on #7505
Let me investigate this issue and try to fix it as soon as possible.

[2022-07-16 14:01] ypg521 commented on #7505
Case 1 , sw8 header is right , working  correctly:
[code]
Case 2 , sw8 header exist , but value is null  , working  error :
[code]

[2022-07-16 14:11] wu-sheng commented on #7505
@ypg521 If you could submit a fix quickly referring Java's validation implementations, we could review that.

[2022-07-16 15:15] jmjoy commented on #9297
Yes.

[2022-07-16 23:02] #7505 closed

[2022-07-17 03:35] ypg521 commented on #8133
🔢

[2022-07-18 05:05] wu-sheng commented on #7505
Announced CVE-2022-36127 and 0.5.1 fixed this.

[2022-07-18 14:28] hoteye commented on #9049
https://blog.csdn.net/oqqford/article/details/125637528?spm=1001.2014.3001.5502
Here's a demo trace capture app I wrote. How can I accomplish this issue? I can do more to help。

[2022-07-18 14:44] wu-sheng commented on #9049
@hanahmily What is this issue about? The e2e is already involved in e2e tests in the main repo.
Search `banyandb` in https://github.com/apache/skywalking/blob/master/.github/workflows/skywalking.yaml.

Could you explain a little more?

[2022-07-18 14:49] hoteye commented on #9049
I found this issue from [WeOpen Star]

[2022-07-18 14:51] wu-sheng commented on #9049
I know that. I mean this is test related issue. I am not sure what is the context of this your sharing

Here's a demo trace capture app I wrote. How can I accomplish this issue? I can do more to help。

[2022-07-18 15:43] lujiajing1126 commented on #9049
I suppose this goal has already been accomplished in the main repo.

The second and the third ones are still missing as I understand

[2022-07-18 15:45] wu-sheng commented on #9049
That is SkyWalking project does, not ask you to implement trace.
I think you are better to knowwhat are skywalking and banyandb, also what is end to end testing. Mostly important, how we are using GitHub action and skywalking-infra-e2e today.

[2022-07-19 01:14] zxz666 opened #9349 "[Bug] skywalking 9.1.0 startup failed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

hi,some errors logs when i startup skywalking 9.1.0.

### What you expected to happen

#
# There is insufficient memory for the Java Runtime Environment to continue.

[2022-07-19 01:56] wu-sheng commented on #9349
9.1 is working well on demo.skywalking.apache.org also on showcase. I am not sure what you are doing. And you even don't format an issue well.
If you want to ask for helps, at least try your own best. OOM is not a thing we could guess.

[2022-07-19 01:56] #9349 closed

[2022-07-19 02:28] pg-yang commented on #8133
I'm not sure , May I work on this issue?

[2022-07-19 02:40] #9297 closed

[2022-07-19 02:40] wu-sheng commented on #9297
**Add context capture and continued methods.** through https://github.com/apache/skywalking-rust/pull/29

[2022-07-19 02:41] wu-sheng commented on #9297
@jmjoy Should we consider a 0.3.0 release? Any other things you may add?

In the future, I think log collecting and meter(Metrics) reports are good choices.

[2022-07-19 02:42] wu-sheng commented on #8133
I think you could. We don't have an update on this for now.

[2022-07-19 02:57] jmjoy commented on #9297
No problem, future changes can be put into 0.4.0.

[2022-07-19 03:14] wu-sheng commented on #9297
@jmjoy I could start the release, could you update the version declare with e2e dependency?

[2022-07-19 03:15] jmjoy commented on #9297
OK.

[2022-07-19 03:34] yinbucheng opened #9352 "[Bug] Wrong collection time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

![image](https://user-images.githubusercontent.com/30992273/179658588-451963ec-a9c3-4d91-bef2-7f548f0085a7.png)

The previous step takes less time than the sub

[2022-07-19 03:58] wu-sheng commented on #9126
Event could associate with metrics linear graph https://github.com/apache/skywalking-booster-ui/pull/120

[2022-07-19 04:24] pg-yang commented on #8133
I found HttpClientWriteRequestInterceptor.java use ` java.net.HttpURLConnection`。
But `sun.net.www.http.HttpClient` depend on `sun.net.www.protocol.http.HttpURLConnection` in java7+,Is it  the  reason for  losing compatibility?
By the way, I can't found which java version depend on ` java.net.HttpURLConnection` for `sun.net.www.http.HttpClient` , I have tried java 7、8、17、18

[2022-07-19 04:46] wu-sheng commented on #8133
I don't know the details. If you think they are supported, try to work on test cases(plugin test scenarios). We should verify.

[2022-07-19 05:36] pg-yang commented on #8133
OK. I will inspect `jdk-http-scenario` test cases
And  maybe wait for  @JaredTan95 's suggestion  at the same time

[2022-07-19 06:42] yinbucheng opened #9355 "[Bug] Feign calls take less time than substeps"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

see https://github.com/apache/skywalking/discussions/9353

I'm sure we don't have asynchronous calls anywhere. Kafka sending service is only processed by settin

[2022-07-19 11:11] wu-sheng commented on #8133
This is actually an easy way, we should have a doc on the boostrap plugin doc page.

https://skywalking.apache.org/docs/skywalking-java/latest/en/setup/service-agent/java-agent/bootstrap-plugins/

You could submit a pull request to update this doc.

Also, I think you use module in your demo codes, right? Otherwise, should all things are all unamed, right?

[2022-07-19 12:25] pg-yang commented on #8133
I didn't use module
It can work in java9-15  because  `--illegal-access ` default model is permit , and since jav16  the model is deny
See https://openjdk.org/jeps/403 (Section Description)

[2022-07-19 12:44] pg-yang commented on #8133
So , let's update the doc happily.
Just a little people use java module .  upgrade to java16 is a long story

[2022-07-19 12:53] wu-sheng commented on #8133
Agree. Also, we could add `--illegal-access` and `--add-exports java.base/sun.net.www=ALL-UNNAMED` into the docs too.
For longer storage, I am thinking, for JDK instrumentation, we have to add a mechanism to identify JDK17+ plugins or belongs, and load different plugins according to the runtime JRE version.

Then for this plugin, we could add module dependency declare into the plugin jar, and try

[2022-07-19 14:57] #8133 closed

[2022-07-19 15:36] pg-yang commented on #8133
For this plugin, maybe we shouldn't enhance  a internal class such as `sun.net.www.http.HttpClient`? I think.
About adding ` a mechanism to identify JDK17+ plugins` ,  If you  agree with the above,  The mechanism may not very useful.Because JDK changes are infrequent and  Java-Agent use `Class/Method match mechanism` to  enhance specified Class,It's enough for multiple JDKs

Anyhow  `java.*` packa