[2019-01-23 10:12] langyan1022 opened #2196 "os_name error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [X] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
Os_name display (storge) value is host_name
___
### Bug
- Which version of SkyWalking, OS and JRE?
SkyWalking :6.0.0-GA-SNAPSHOT

[2019-01-23 10:39] #2196 closed

[2019-01-23 16:09] wu-sheng commented on #2190
Fixed.

[2019-01-23 16:09] #2190 closed

[2019-01-24 03:02] donbing007 opened #2199 "httpClient-4.x-plugin throw MalformedURLException"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ * ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- 5.0.0-GA 6.0.0-GA

- Which company or project?

- What happen?
org.apache.skywalking.apm.plugin.httpClient.v4.HttpClientExecuteInterceptor.java  [

[2019-01-24 03:04] donbing007 commented on #2199
Unit tests, die of data is "http://127.0.0.1:8080/test-web/test"

[2019-01-24 03:09] mark0614 commented on #2193
Thanks, I got it!

[2019-01-24 04:00] Fxdemon opened #2200 "UI TreeMode"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-01-24 04:01] Fxdemon commented on #2200
ui show layer is unknown

[2019-01-24 04:13] zhaoyuguang commented on #2200
Just judge localspan when the layer is shown as local?

[2019-01-24 04:19] wu-sheng commented on #2200
Yes. If it is local, ignore the layer.

[2019-01-24 04:22] zhaoyuguang commented on #2200
Ok, let me try it.

[2019-01-24 07:28] foxracle opened #2202 "how to set the collector.backend_service in cluster mode"
___
### Question
- What do you want to know?
After we setup a cluster of 3 collector backend by using consul, how to set  the collector.backend_service field in agent configuration. it should be set to the value of consul's hostPort list(10.0.0.1:8500,10.0.0.2:8500,10.0.0.3:8500) or collector backend's list(10.0.0.1:11800,10.0.0.2:11800,10.0.0.3:11800) or any other?

[2019-01-24 07:32] wu-sheng commented on #2202
The short answer is, Consul is backend cluster, not for the agent. Read document, https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/backend/backend-ui-setup.md#deploy-backend-and-ui

And agent you could put a backend address list, or set a load balance between them and agent set the load balance address.

[2019-01-24 07:32] #2202 closed

[2019-01-24 07:53] scroll2008 commented on #1801
Excuse me. When is the 6.0 GA going to be released?

[2019-01-24 08:25] jiangxiewei opened #2203 "启动参数配置覆盖webapp.yml"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [√ ] Requirement
- [ ] Feature or performance improvement

___
希望能用启动参数配置覆盖UI的配置(webapp.yml)
我们UI跟collector分开部署的.

[2019-01-24 08:26] #2203 closed, assigned to nobody

[2019-01-24 13:03] wu-sheng commented on #2199
These codes don't show exception. Could you be more clear when the exception happens?

[code]

[2019-01-25 02:11] donbing007 commented on #2199
`String requestPath = new URL("/test-web/test").getPath();`

But that throws an exception.

`String uri = httpRequest.getRequestLine().getUri();`

uri is "/test-web/test", not "http://127.0.0.1:8080/ test - web/test" .

[2019-01-25 03:06] BuQingYan opened #2204 "what is the search rule of EndpointName in trace page?"
# Environment：
- SkyWalking: 6.0.0-GA
- JDK：1.8
- OS：RedHat 6.5
# Summarize
In order to fulfill a requirement that search a trace message by my own transaction flow number.
I develop a skywalking plugin to create a localSpan, and set this localSpan's operationName  to my own flow number.

But, when I search the trace message in trace page by my own flow number, there is no correspond span display

[2019-01-25 07:32] Liu-XinYuan opened #2206 "Loss of metadata causes the server to fail to start properly"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [x] Feature or performance improvement

##  Requirement or improvement
### background
When the user upgrades SkyWalking, the data model of the old and new versions is inconsistent, causing the server to fail to start properly. At this time, the use

[2019-01-25 08:17] liyongfa0311 opened #2208 "The UI cannot be accessed when a collector hangs"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
 I have deployed the cluster, I found that after a collector is hanged, the UI is inaccessible.Does deploying cluster mode also require all nodes to survive? When

[2019-01-25 10:02] wu-sheng commented on #2206
Auto reset from UI command is in this milestone, let's see whether it will deliver in time.

[2019-01-25 10:03] wu-sheng commented on #2208
UI is querying the collector. So collector break down, UI would work.

[2019-01-25 10:03] #2208 closed

[2019-01-25 10:06] wu-sheng commented on #2204
Endpoint is from entry span, which means the entry of your segment. Other spans would be used in query condition.

[2019-01-25 10:06] #2204 closed

[2019-01-25 10:51] liyongfa0311 commented on #2208
I know  UI would work.But collector break down, it will have 500 errors.I want to know how to configure to avoid this problem. And will  the data uploaded by the agent  be lost when the cluster is normal and some collector break down？

[2019-01-25 15:13] wu-sheng commented on #2199
Could you help about why you could request a service without `http://xxx:123`?

[2019-01-25 15:16] wu-sheng commented on #2172
If you are using ElasticSearch 2.x, then this is not a bug. You could submit another issue to request supporting for ElasticSearch 2.x. But I don't know whether someone wants to take that, I could only tag that one as `help wanted`.

So, I am closing this issue.

[2019-01-25 15:16] #2172 closed

[2019-01-25 15:18] wu-sheng commented on #2208
If the data is in the process, definitely they are lost. The easy way, put a load balance between agent and backend cluster could help.

[2019-01-28 03:36] ouronghui commented on #2199
for example:

exists url: `http://httpbin.org/base64/SFRUUEJJTiBpcyBhd2Vzb21l`

Running the normal code:
[code]

make breakpoint at `org.apache.http.impl.client.InternalHttpClient#doExecute` method , then debug `HttpClientTest.java`:
![plugin-httpclient-bug](https://user-images.githubusercontent.com/46365806/51813091-88d99600-22ef-11e9-9b52-16678a9f5c46.png)

the uri seem not contains protocol、hos

[2019-01-28 04:01] liyongfa0311 opened #2212 "My collector has no cpu data, gc and heap data are normal."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?
Skywalking : 6.10-GA
OS:CentOs:7.3
JRE:1.8
- Which company or project?

- What happen?
If possible, provide

[2019-01-28 04:10] wu-sheng commented on #2212
First of all, CPU is the Java process used and recorded by the jvm.
If no value, do you check is there any value if cpu metric tables?

[2019-01-28 04:12] wu-sheng commented on #2199
Thanks for explanation of the usage. I will check and see how to solve this. @JaredTan95 could you try to handle this?

[2019-01-28 06:09] liyongfa0311 commented on #2212
I see the instance_jvm_cpu table has data, but the data is very small ，the value is less than 0.05, not the actual cpu value, because the value is more than 150% When I do high concurrent test.

[2019-01-28 06:12] wu-sheng commented on #2212
Then, you need to see the agent codes, is the jvm data from jvm xbean right? Or does it calculate right?

[2019-01-28 08:43] laziobird opened #2214 "Connect to SkyWalking Collector failed."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
Start Web Server , it always logs like this
2019-01-28 11:39:54.087  WARN 71069 --- [PollingServerListUpdater-1] o.a.s.apm.webapp.proxy.HttpClientTools   : bad url=http://127.0.0.1:10800/ui/jetty  org.apache.http.conn.HttpHostConnectException: Connect to 127.0.0.1:108

[2019-01-28 08:50] JustinGedehuo opened #2215 "JAR's conflict resolve"
- Why do you submit this issue?
- [√ ] Question or discussion

- What do you want to know?
During use skywalking-agent with application, is there a common way to resolve JAR's conflict?

- What happen?
Many of the same JAR's are used in our project, I'm afraid there will be a conflict.

[2019-01-28 09:20] laziobird opened #2216 "Docker 6.0Beta: Can't connect the oap server"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
java.lang.RuntimeException: org.apache.http.conn.HttpHostConnectException: Connect to 127.0.0.1:12800 [/127.0.0.1] failed: Connection refused (Connection refused)
`docker ps
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS

[2019-01-28 09:43] laziobird commented on #2214
In fact , i just install  for your guide without modifing anything configurations .
1 )Unzip the package
2) Change to
`storage:
  h2:
    driver: org.h2.jdbcx.JdbcDataSource
    url: jdbc:h2:mem:skywalking-oap-db
    user: sa
`
3)Only sh start.sh : it shows  successful

[2019-01-28 09:48] wu-sheng commented on #2214
You need to check the logs. I don't know what happens at your env.

[2019-01-28 14:16] hanahmily commented on #2216
You should try it: https://github.com/apache/incubator-skywalking-docker/tree/master/6/6.0-beta/compose.

[2019-01-28 16:17] peng-yongsheng opened #2217 "Separate the GRPC binding address from the service discovery registry address"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [X] Requirement
- [] Feature or performance improvement

___
### Requirement or improvement
- Please describe about your requirements or improvement suggestions.

Some load balance product provide by cloud platform must connect to the OAP server by loop back address

[2019-01-28 16:25] wu-sheng commented on #2217
I agree we could provide separated settings, but I am not sure the way in your commits is good.

This is service discovery related issue, we should provide an optional setting in cluster implemention. Like in consul or zookeeper.

Add in core will make users confused.

[2019-01-28 16:31] wu-sheng commented on #2217
Such as adding `exposeHost` in consul and zookeeper.

[2019-01-28 16:32] wu-sheng commented on #2217
Another question, what lb requires localhost? And does this cause by some deployment way?

[2019-01-28 16:35] wu-sheng commented on #2217
Another reason I propose this is, in container cluster discovery implementation, this is harder to understand, such as k8s. Discovery is not the responsibility of core, right?

[2019-01-29 00:05] #2216 closed

[2019-01-29 02:14] GreyZeng opened #2219 "realtime get client ip address when call a service"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirement
- [ ] Feature or performance improvement

___
### Requirement or improvement
I visit the SW dashboard :
http://106.75.237.45:8080
I can not see the realtime trace info about clien ip address,
how could I  get the  client info when call a service agen

[2019-01-29 02:21] wu-sheng commented on #2219
What do you mean calling a service agent? What in trace depends on the plugins. If you want to add more things, you could contribute to the plugin and be clear why you need that. In tracing, you could ask for any info, we need to prove it is good and useful to have it in major repo and release.

[2019-01-29 02:21] #2219 closed

[2019-01-29 06:17] xukuitao opened #2220 "I have some problems,when i use docker to build skywalking"
Question
- i have build  elasticsearch  successed .
 here is the  command
`docker run -p 9200:9200 -p 9300:9300 -e cluster.name=elasticsearch -e xpack.security.enabled=false --name=elasticsearch --restart=always -d wutang/elasticsearch-shanghai-zone`

- curl  localhost:9200  was  successed.

- but when i build Skywalking-Docker ,there was something wrong
   the command is
`docker run -p 8080:8080

[2019-01-29 06:31] JaredTan95 commented on #2220
This image is not provided by skywalking.

[2019-01-29 06:33] wu-sheng commented on #2220
+1 This is not our image. Please post the issue for the one providing this image.

[2019-01-29 06:33] #2220 closed

[2019-01-30 07:05] liyongfa0311 commented on #2212
I found that all of the cpu data returned by the backend to the UI are 0, but  the instance_jvm_cpu table have data.

[2019-01-30 07:19] wu-sheng commented on #2212
I think someone in community is locating the issue. I prefer to wait for pull request.

[2019-01-30 07:20] wu-sheng commented on #2212
See #2222

[2019-01-30 07:57] foxracle opened #2223 "the content of sha512 file of version 6.0.0 GA in the download page is not correct"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement
___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0.0 GA
the sha512sum of the gz file that we downloaded(we have downloaded several time in several location to check the sha512sum) as follow:
xxxx@ops-0

[2019-01-30 08:16] wu-sheng commented on #2223
You are generating sha, not check. If you want to know how to recheck, read our release document.

[2019-01-30 08:16] #2223 closed

[2019-01-30 08:20] xiaour opened #2224 "org.apache.skywalking.oap.server.receiver.trace.provider.parser.SegmentParseV2"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [✅ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0.0GA for JDK1.8、CentOS7 64bit

- Which company or project?

- What happen?

I've 4 Server Application c

[2019-01-30 09:00] foxracle commented on #2223
I got. In the [6.0.0 GA download page](http://skywalking.apache.org/downloads/), the sha512 link for Windows and Linux is reversed.

[2019-01-30 09:31] wu-sheng commented on #2223
Could you send a pr to fix the website?

[2019-01-30 10:21] foxracle commented on #2223
@JaredTan95  thanks. you are so quick that I have no chance to take the action ;)

[2019-02-01 02:32] cnhans opened #2229 "why not output the sql bind value? not only sql statement !"
- why not output the sql bind value? not only sql statement ! ths !
the lastest version 6.0.0 ga

[2019-02-01 02:34] wu-sheng commented on #2229
You can if you want the take the extra payload. You could easily extend the db driver plugin to do so. We need to provide the good performance in default way.

[2019-02-01 02:34] #2229 closed

[2019-02-01 02:39] wu-sheng commented on #2199
@ouronghui I think the easiest way to fix is, try to check whether the string starts with http: or https: before do url parse. Could you try to send a pull request to fix?

[2019-02-01 03:55] donbing007 commented on #2199
I fix this, [78c2327cc6](https://github.com/donbing007/incubator-skywalking/tree/78c2327cc649a5334de20b6cadd4b9f0bc24ce48)

[2019-02-01 03:58] Aaronyu111 opened #2230 "apm-trace-ignore-plugin.config doesn't work"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
-  Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
 When I upgraded to skywalking6.0.0-GA  from 6.0.0-beta, the apm-trace-ignore-plugin.config doesn't work(these urls still can be found in traces UI) , this config fil

[2019-02-01 04:03] wu-sheng commented on #2230
It is an optional plugin, do you active the plugin? We don't change any codes for that plugim in this release.

[2019-02-01 04:03] #2230 closed

[2019-02-01 05:15] donbing007 commented on #2199
String uri = httpRequest.getRequestLine().getUri();

[2019-02-01 07:58] dsc6636926 commented on #2097
mysql-connector:6.0.6  :class  "JdbcConnection" is in the package of "com.mysql.cj.api.jdbc"
mysql-connector:8.0.* , class "JdbcConnection" is in the package of "com.mysql.cj.jdbc"
the dependency version of mysql-connector in  skywalkingagent  is below 6.0.6

so while we use mysql-connector:8.0.* ,skywalkingagent could't find the package of "com.mysql.cj.api.jdbc" which is not appeard in mysql-con

[2019-02-01 08:02] wu-sheng commented on #2097
@dsc6636926 Would you want to contribute a new plugin for mysql8? By using witness class, we could control whether the interceptor enhance active or not.

@ascrutae I think we need to fix this in 6.1.0

[2019-02-01 09:41] Lokipy commented on #1947
- question
I also have this problem.
with the latest skywalking 6.0.0-beta，help。
`DEBUG 2019-02-01 17:14:22:533 AbstractClassEnhancePluginDefine :  prepare to enhance class com.mysql.jdbc.JDBC42PreparedStatement by org.apache.skywalking.apm.plugin.jdbc.mysql.define.PreparedStatementInstrumentation.
DEBUG 2019-02-01 17:14:22:533 AbstractClassEnhancePluginDefine :  enhance class com.mysql.jdbc.JDBC4

[2019-02-01 09:54] wu-sheng commented on #1947
If you could provide a demo to reproduce the issue in 6 GA agent. We may could help.

[2019-02-01 09:57] Lokipy commented on #1947
I also tested with 6 GA agent，it has the same question.

[2019-02-01 10:05] wu-sheng commented on #1947
Then submit an issue with the demo codes. You could try to fix it.

[2019-02-02 03:30] liyongfa0311 opened #2232 "I think there is a problem with the alarm system"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-02-02 03:35] wu-sheng commented on #2232
Why do you think this is a bug? Match count is part of the alarm system, to avoid false alarm in an unstable system. You coukd set the count to 1, if you don't want this.

[2019-02-02 03:35] #2232 closed

[2019-02-05 06:58] JaredTan95 commented on #2199
fixed.

[2019-02-05 06:58] #2199 closed

[2019-02-07 13:05] sattishv opened #2233 "JVM exited with invalid ELF header error while trying to hook the agent"
Hi team,

Need your help in resolving an issue while trying to attach the agent inside a docker container
- [ ] Question or discussion
Not able to attach the skywalk agent to the java process . Got the below listed error

Launching a JVM...
ERROR  | wrapper  | 2019/02/07 04:36:29 | JVM exited while loading the application.
INFO   | jvm 1    | 2019/02/07 04:36:29 | Error occurred during initializat

[2019-02-07 13:09] wu-sheng commented on #2233
From the log, can't find the agent jar in your path. Do you add the agent to the target path?

[2019-02-07 13:12] wu-sheng commented on #2233
Agent.jar is a jar file, not a elf format file. I am a little confused about this error. Do you set the java command right?

[2019-02-08 04:47] sattishv commented on #2233
Hi Sheng,

Sorry its my bad that i  used JVM option -agentpath instead of -javaagent . I changed it and i could start the JVM without any issues

Sattish.

[2019-02-08 04:49] wu-sheng commented on #2233
Thanks for the feedback.

[2019-02-08 04:49] #2233 closed

[2019-02-08 09:17] sattishv opened #2234 "No trace been recorded in Dashboard"
- [ ] Question or discussion
Agent got connected successfully with the collector. But we couldn't collect any traces all we could see is number of endpoints.

Snippets from Agent log:
DEBUG 2019-02-07 23:35:25:562 GRPCChannelManager :  Selected collector grpc service running, reconnect:false.
DEBUG 2019-02-07 23:35:25:584 ServiceAndEndpointRegisterClient :  ServiceAndEndpointRegisterClient running

[2019-02-08 09:54] wu-sheng commented on #2234
The most likely, your under monitoring service vm have a different time or timezone settings with your browser. If it is docker, I assume UTC timezone, you could change timezone in time selector.

[2019-02-11 06:55] sattishv commented on #2234
Hi Wu,

Thanks for the response. I could see few traces when i move ahead of time. But i am not able to drill down from the root transaction. It displays HTTP request took 1280 ms but not able to drill down from there. Have attached the snapshot. Is any config been not set in our agent

Sattish.
![screen shot 2019-02-11 at 12 22 27 pm](https://user-images.githubusercontent.com/7449241/52549206-092

[2019-02-11 07:01] wu-sheng commented on #2234
What do you have in this HTTP request? Calling another RPC or database?

Please read https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/service-agent/java-agent/README.md#supported-middlewares-frameworks-and-libraries to find out whether your RPC framework or db driver is supported?

If just Spring java bean, consider to use `Trace Spring beans` in [optional plugin](https://g

[2019-02-11 07:15] sattishv commented on #2234
Hi we are calling another remote REST API service. I believe they use resteasy template

[2019-02-11 07:23] wu-sheng commented on #2234
resteasy templete is not in our supported list yet. You could follow [develop guide](https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/service-agent/java-agent/README.md#plugin-development-guide) to build a new plugin, and contribute to us.
Then you could dive in the trace.

[2019-02-11 07:23] #2234 closed

[2019-02-11 07:24] wu-sheng commented on #2234
Meanwhile, you could submit a new issue for `support resteasy`. Maybe others have interests to contribute too.

[2019-02-11 15:49] dsc6636926 commented on #2097
okay,i am trying

[2019-02-12 04:08] dsc6636926 commented on #1947
what's the version of mysql-connector?

i test it on version 5.1.41,then failed,because the method initializeMasterConnection use NonRegisteringDriver.connect,
![image](https://user-images.githubusercontent.com/7552492/52610941-28854f80-2ebe-11e9-9e76-e78697765c13.png)

 6 GA agent  intercept the method LoadBalancedConnectionProxy.createProxyInstance,
![image](https://user-images.githubusercontent

[2019-02-12 04:17] wu-sheng commented on #1947
Look like need another interceptor for `driver.connect`, for supporting 5.x. @dsc6636926 Could you submit a pull request to fix this?

[2019-02-12 04:20] dsc6636926 commented on #1947
@wu-sheng ok,i will try
@Lokipy i think you can upgrade your mysql-connector version to 6.0.6 to make it work soon

[2019-02-12 07:35] dsc6636926 commented on #1947
i think we should create a new plugin to fix this， because the package "com.mysql.cj" is appeared since MySQL Connector/J 6.0, and to fix this issue i must add “com.mysql.jdbc.LoadBalancedConnectionProxy” to org.apache.skywalking.apm.plugin.jdbc.mysql.define.enhanceClass.
![image](https://user-images.githubusercontent.com/7552492/52619098-c6d3de00-2edb-11e9-894b-bc694e689c25.png)

but
the intercep

[2019-02-12 07:42] littlehuihui opened #2240 "During the use of skywalking5.X, the business function appears "No active span" error"
Hi~When I use skywalking, one of our business scenarios has the following error, and the error disappears after closing the skywalking-agent. What is the possible reason for this? Thank you!

`Error - 2019/2/12 11:51:00 - Microsoft.EntityFrameworkCore.Database.Command - 114805-5065 - INSERT INTO Testtccmainlog0 (id, createdtime, lastupdatetime, registers, retrycount, rootid, serviceunit, status)
V

[2019-02-12 08:33] xiaoni157 opened #2242 "protoc did not exit cleanly"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [✅] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
I compiled 5. X source code according to this document（https://github.com/apache/incubator-skywalking/blob/5.x/docs/cn/How-to-build-CN.md
）. When I executed this c

[2019-02-12 08:56] wu-sheng commented on #2242
This issue, you should submit to protobuf or grpc, I don't think we can deal with it. Also I notice this issue just happens in protoc on Windows.

[2019-02-12 08:56] #2242 closed

[2019-02-12 09:03] xiaoni157 commented on #2242
But my operating system is a MAC, which means I can't compile the source code?

[2019-02-12 09:04] wu-sheng commented on #2240
This is not SkyWalking issue. Please move to https://github.com/SkyAPM/SkyAPM-dotnet/issues . .NET agent is part of SkyWalking ecosystem, but the issue should be tracked at their own repo.

[2019-02-12 09:04] #2240 closed

[2019-02-12 14:58] wu-sheng commented on #2242
You reboot the OS, I think it will work again. I don't know why this happens, haven't faced this.

[2019-02-12 15:01] wu-sheng commented on #1947
Look like you want to create new instrument and interceptor, not a plugin. Am I right?

[2019-02-12 15:03] wu-sheng commented on #1947
Plugin for mysql 6.x is good for me, just look like the mysql 5.x plugin is still worked in some cases. Please make sure the two would conflict with each other.

[2019-02-13 08:48] wu-sheng commented on #2217
Fixed.

[2019-02-13 08:48] #2217 closed

[2019-02-13 12:10] wu-sheng commented on #1805
This becomes a required feature. Because in zookeeper watcher scenario, we need this. @ascrutae

ref #2211

[2019-02-14 10:02] qqarlen opened #2246 "There are logs follow opentracing protocol in my ElasticSearch,Can I use SkyWalking?"
### Question
There are logs follow opentracing protocol in my ElasticSearch,Can I use SkyWalking?

[2019-02-14 10:08] wu-sheng commented on #2246
As a OpenTracing specification consule member, no such thing called opentracing protocol or format. So I don't know you could or not.

[2019-02-14 10:08] #2246 closed

[2019-02-15 09:53] foxracle opened #2248 "agent can not work after upgrade from 6.0.0-beta to 6.0.0-GA"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
sw agent can not work after upgrade from 6.0.0-beta to 6.0.0-GA (we have upgraded all agents, oap and webapp service). they all worked before upgraded.

here is th

[2019-02-15 10:26] wu-sheng commented on #2248
This error looks no related to version update. More likely, your backend does not startup right. The models of backend have been changed, so recheck your backend.

[2019-02-15 10:26] #2248 closed

[2019-02-15 11:02] foxracle commented on #2248
3q
this is the backend's log:

2019-02-15 18:56:53,801 - org.apache.skywalking.oap.server.storage.plugin.elasticsearch.lock.RegisterLockDAOImpl - 71 [DataCarrier.IndicatorPersistentWorker.endpoint_inventory.Consumser.0.Thread] WARN  [] - Try to lock the row with the id 16 failure, error message: null
2019-02-15 18:56:53,812 - org.apache.skywalking.oap.server.core.register.worker.RegisterPersistent

[2019-02-15 11:06] foxracle commented on #2248
it seems that the problem related to es, any hints? during the upgrade and restart, we did not change anything for es

[2019-02-15 11:18] wu-sheng commented on #2248
The es models changes. You need to change that manually, or use a new empty es.

[2019-02-15 14:22] wu-sheng commented on #766
Provided.

[2019-02-15 14:22] #766 closed

[2019-02-15 15:56] zhaoyuguang commented on #2129
Assign to me

[2019-02-15 16:12] wu-sheng commented on #2129
@zhaoyuguang Good to know, ping me if you need help.

[2019-02-18 03:51] FreeManNumOne opened #2250 "Ssw Alarm"
SW是否告警通知的功能，比如某个接口500的时间就触发一条告警通知的信息，邮件，短信，通知到相关人员，使用版本是apache-skywalking-apm-incubating-5.0.0

[2019-02-18 03:53] wu-sheng commented on #2250
6 SkyWalking supported. And English only.

[2019-02-18 03:53] #2250 closed

[2019-02-18 03:54] FreeManNumOne commented on #2250
Ok  Tahnk You

[2019-02-18 03:55] FreeManNumOne commented on #2250
Okay thank you

[2019-02-18 03:56] FreeManNumOne commented on #2250
Does it mean 6.1 alarm functions?

[2019-02-18 03:58] wu-sheng commented on #2250
6.0already have.

[2019-02-18 05:44] foxracle commented on #2248
after delete all old indexes of es, it works. thank you.
Is there any document for upgrade?
here is my upgrade procedure for upgrading from 6.0.0-beta to 6.0.0-GA(it may not be the best practice)
1: stop all backend servers
2: delete all old indexes of sw(you can delete all indexes that starting with the value of storage.elasticsearch.nameSpace)
3: upgrade all backend servers
4: upgrade all agent

[2019-02-18 05:50] wu-sheng commented on #2248
You could do update in this way. But we don't have this document.

[2019-02-19 04:09] a198720 opened #2255 "Duplicate entry '201902190402_4_8_33' for key 'PRIMARY'"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
how to fixed it
___
### Bug
- Which version of SkyWalking, OS and JRE?
6.1.0-SNAPSHOT,Centos7.x, jdk1.8
- Which company or project?

- What happen?
If possible, pr

[2019-02-19 04:11] a198720 commented on #2255
Is it possible to solve this problem by adding a distributed transaction control?

[2019-02-19 04:24] wu-sheng commented on #2255
I know this, but don't know why exactly. Maybe, because Database batch writing wouldn't flush immediately by another transaction. DTS wouldn't help. Maybe the solutiom is adding a recheck lock, after the batch writing.

[2019-02-19 05:51] a198720 commented on #2255
Does this error affect the data?

[2019-02-19 05:53] wu-sheng commented on #2255
Yes. It will cause the metric data loose.

[2019-02-19 06:13] a198720 commented on #2255
thank you.  I will also consider how to solve this problem.

[2019-02-19 08:20] xjpfox opened #2256 "mvnw compile -Dmaven.test.skip=true with error: 程序包org.apache.skywalking.apm.netwo rk.language.agent不存在"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ V] Question or discussion
- [V ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement
IDEA 编译6.0.0源码包时报错，请大神们帮忙看一下。
mvnw compile -Dmaven.test.skip=true

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project server-core: Compil

[2019-02-19 08:21] wu-sheng commented on #2256
English only, and compiling issue is already in README, please follow. https://github.com/apache/incubator-skywalking/blob/master/docs/en/guides/How-to-build.md

[2019-02-19 08:21] #2256 closed

[2019-02-19 09:47] dsc6636926 opened #2258 "app error occured while query with parameters on replication mode of mysql 6.x"
i use replication mode on mysql 6.x ,when i do query with parameters app throw Exception such as
java.sql.SQLSyntaxErrorException
![image](https://user-images.githubusercontent.com/7552492/53005345-08c9ca80-346e-11e9-9510-8d5c0a6d915d.png)
then i found the reason here, I think statement.execute don't need any argument
https://github.com/apache/incubator-skywalking/blob/0929ff3453c3178db82a4b539905

[2019-02-19 09:53] wu-sheng commented on #2258
Could you send a pull request foe this?

[2019-02-19 10:02] dsc6636926 commented on #2258
i have send the pull request #2260

[2019-02-19 12:03] likeonechild commented on #2204
"EndpointName" does not support fuzzy query

[2019-02-19 12:10] wu-sheng commented on #2258
Fixed.

[2019-02-19 12:10] #2258 closed

[2019-02-20 00:52] wu-sheng commented on #2168
@chenpengfei I do some changes in [new branch](https://github.com/apache/incubator-skywalking/compare/blocking-queue), but haven't started pull request because I don't have scenario to test the case. If you have interests, could do you some tests?

Also, since #2245 #2247 #2261 merged, backend performance in high and slow load have much better than old versions. I am not sure whether we need the c

[2019-02-20 01:01] wu-sheng commented on #2255
Thank you. Look forward to your feedback and solution. I think the database would guarantee this, we need a code level mechanism to wait for the data flush.

[2019-02-20 01:59] zsq1314 opened #2262 "skywalking的traceid是否支持定制，能否与Spring Cloud Sleuth的traceid关联"
### Question
请问skywalking的traceid是否支持定制，我的spring cloud项目其日志服务使用的Spring Cloud Sleuth的traceid 作为请求的跟踪。我想把Sleuth 的traceid作为skywalking的traceid关联起来，不知道能否定制，该怎么做，或者是否有其他解决方案可以把两者关联起来？

[2019-02-20 02:01] wu-sheng commented on #2262
English only. If you want to integrate two different systems, if need to learn by yourself.

[2019-02-20 02:01] #2262 closed

[2019-02-20 02:37] jjch99 opened #2263 "Support more settings of JettyServer, such as backlog"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [*] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-02-20 02:42] wu-sheng commented on #2263
Do you use http json to upstream traces? Jetty should use for UI query only.

[2019-02-20 02:49] jjch99 commented on #2263
I used 5.0.0-GA, the description of port 10800 in `application.yml` is:
[code]

[2019-02-20 02:51] wu-sheng commented on #2263
Yes. But use for UI and maybe some 3rd party sdk, I don't know.

Could you inform me, why Jetty has such high payload?

[2019-02-20 02:59] jjch99 commented on #2263
I have not found the cause, I get alarm from monitor and than see that.
Is java agent use this port ?

[2019-02-20 03:08] wu-sheng commented on #2263
In 5, yes. Removed in 6. And at 5, you could use grpc port too by set in direct link mode.

[2019-02-20 03:08] #2263 closed

[2019-02-20 03:21] jjch99 commented on #2263
OK, thank you very mush.

[2019-02-20 03:40] zhaoyuguang commented on #2126
I will try to do it. After I find a good implementation, I will assign this issue to me.

[2019-02-20 03:58] louisjiang opened #2264 "bug:Span custom component name,data cannot be collected"
span.setComponent("componentName");

19-02-19 15:33:45,257 - org.apache.skywalking.oap.server.receiver.trace.provider.parser.SegmentParseV2 - 111 [grpc-default-executor-8] ERROR [] - null
java.lang.NullPointerException: null

[2019-02-20 04:00] wu-sheng commented on #2264
This is not a bug. You need to set component at backend setting file.

[2019-02-20 04:00] #2264 closed

[2019-02-20 05:15] wu-sheng opened #2265 "service_p90_sla_rule alarm rule text includes typo"
`slower` to `more`

[2019-02-20 05:17] wu-sheng commented on #2265
Two `alarm-settings.xml` files involved.

[2019-02-20 08:53] wu-sheng opened #2266 "Make metric available at topology"
Right now, the topology use color and width of line to represent the metrics, which are not good enough and not cool.

I hope in the next release(6.2.0), we could provide metrics(graph) by clicking a line

We have metrics for line
- cpm at client side(service_relation_client_cpm)
- cpm at server side(service_relation_server_cpm)
- sla at client side(service_relation_client_call_sla)
- sla at serve

[2019-02-20 12:21] mbao opened #2267 "No mysql trace info"
### Bug
- Which version of SkyWalking, OS and JRE?
  1.8.2
 mac os
 1.8

- What happen?

there is no mysql(using Mybatis) trace info,only  sometimes the validation-query: SELECT 1
<img width="1318" alt="wx20190220-201936 2x" src="https://user-images.githubusercontent.com/866459/53091499-0b4f2180-354d-11e9-9a89-5df9b399c564.png">

[2019-02-20 12:24] wu-sheng commented on #2267
I think we can't tell why you don't. But you have the env to reproduce the error, learn how to do remote debug(cn blog, http://skywalking.apache.org/zh/blog/2019-01-24-skywalking-remote-debug.html), then debug the mysql plugin, you will the cause.

[2019-02-20 12:32] mbao commented on #2267
change mysql-connector-java from version 8.0.11 to 5.1.47 ,mysql trace info is ok. Thanks

[2019-02-20 12:32] #2267 closed

[2019-02-20 12:33] wu-sheng commented on #2267
Thanks for the feedback. MySQL 8 driver is not supported yet.

[2019-02-21 03:04] mbao opened #2270 "mysql varchar(300) needed?"
### Question
- What do you want to know?

I want to use mysql for storage. I see that create table sql use "id VARCHAR(300)", and mysql characterset is utf8mb4, so 300 * 4 > 767 and mysql returns "Index column size too large. The maximum column size is 767 bytes."

I wonder if I can change 300 smaller?

[2019-02-21 03:14] wu-sheng commented on #2270
If you are using dynamic row size, I think we should be fine `varchar(300)`. Otherwise, may be a problem. The reason we choose 300 is, the endpoint may be long, which should be saved as id in endpoint_inventory table.

[2019-02-21 03:14] #2270 closed

[2019-02-21 03:22] mbao commented on #2270
get it, thanks.
"dynamic row size"  is set at creating table ,so I have to change the code or create table manually, right?

[2019-02-21 05:56] wu-sheng commented on #2270
`dynamic row size` could be set at Database size, or SQL statement, if I remember this right.

[2019-02-21 12:20] wu-sheng commented on #2168
Performance improved by #2261 and #2271 . Should support much higher segments input too.

[2019-02-21 12:20] #2168 closed

[2019-02-21 23:41] #2265 closed

[2019-02-22 02:35] 1923982924 commented on #708
@haofeiL ,你解决这个问题了吗？我增强的时候直接报了异常
java.lang.IllegalStateException: Injecting classes into the bootstrap class loader was not enabled
我的版本是6.0-GA

[2019-02-22 02:40] 446690578 opened #2276 "on the web UI overview module ，Errors in filling out rules"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Bug

___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0GA,CentOs7,jdk1.8

- What happen?
![image](https://user-images.githubusercontent.com/30078295/53215866-83246580-368d-11e9-8a75-15ae32ee192b.png)
as you can see ,The number two can be specified only 1xxxxx, and  number2 can be less than 1

[2019-02-22 02:42] wu-sheng commented on #2276
@TinyAllen could you check this?

[2019-02-22 04:51] ychandu opened #2277 "Exception:: Class Cast Exception with DBCDriverInterceptor"
`ERROR 2019-02-21 15:55:10:705 InstMethodsInter :  class[class com.mysql.jdbc.NonRegisteringDriver] after method[connect] intercept failure
java.lang.ClassCastException: com.sun.proxy.$Proxy95 cannot be cast to org.apache.skywalking.apm.agent.core.plugin.interceptor.enhance.EnhancedInstance
	at org.apache.skywalking.apm.plugin.jdbc.JDBCDriverInterceptor.afterMethod(JDBCDriverInterceptor.java:45)

[2019-02-22 04:57] wu-sheng commented on #2277
MySQL version 6 or 8?

[2019-02-22 05:09] ychandu commented on #2277
MySQL 5.7 , MySQL java connector - 5.1.4? is this information fine.

[2019-02-22 07:05] kuko126 opened #2279 "Can skywalking ClassMatch support regex classname match?"
Is there a way to match classes using regex expression like spring aop does?

what I wanted
[code]
by the way, all the dao classes didn't implement a common parent class, so I cannot use `HierarchyMatch` to match all the dao classes.

[2019-02-22 07:20] wu-sheng commented on #2279
You could, just implement a new ClassMatch, which is based on byte-buddy API. I think we are also welcome you contribute this.

[2019-02-22 07:20] #2279 closed

[2019-02-22 07:52] TinyAllen commented on #2276
@wu-sheng It has this phenomenon ,I will try to fix it these day.

[2019-02-22 09:22] kuko126 commented on #2279
I implement a classmatch , but no class was instrumented.
[code]

Skywalking execute `buildJunction` first and then `isMatch` , therefore `matchClassNames` is empty. In my guess, method `buildJunction()` is responsible to match the class(cause I didnot find doc on the method).
Am I doing this right?
Any suggestion on how to implement `buildJunction()`?

[2019-02-22 09:30] wu-sheng commented on #2279
`buildJunction` take charge for this. You need to look byte-buddy document to understand how to build it.

[2019-02-22 09:47] dean-hu opened #2281 "does not support spring cloud gagteway"
Hello,
I found in use that skywalking could not collect data from the Spring Cloud Gateway project (Spring Cloud Gateway is a gateway service through which all requests are routed to specific microservices with an official address of Https://spring.io/projects/spring-cloud-gateway). But for the spring boot project, it can be collected.

[2019-02-22 09:50] wu-sheng commented on #2281
Yes. Duplicate requirement #2126 cc @ascrutae

[2019-02-22 09:50] #2281 closed

[2019-02-22 10:07] wu-sheng commented on #2276
Good to know, thanks.

[2019-02-22 10:35] linfeng627 opened #2282 "Skywalking-Collector Start Error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
[skywalking-oap-server.log](https://github.com/apache/incubator-skywalking/files/2893500/skywalking-oap-server.log)

- What happen?
run bin/startup.bat

___
### Re

[2019-02-22 12:42] liuzhengyang opened #2283 "java.lang.ArrayIndexOutOfBoundsException"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Bug

___
### Bug
In latest 6.1.0-SNAPSHOT version, when we called `net.spy.memcached.MemcachedClient.getStats()`.
[code]

[2019-02-22 15:36] ychandu opened #2285 "Question: How to get all the listed plugins for skywalking?"
Please answer these questions before submitting your issue.

I am looking for following plugins, may i no where can i get them

1. Spring bean plugin (incubator-skywalking/docs/en/setup/service-agent/java-agent/agent-optional-plugins/Spring-bean-plugins.md)
2. Lettuce
3. Rabbitmq 3.x can be supported ?
4. how can i specify the list of packages for instrumentation instead of all.

Thank you.

[2019-02-22 15:42] wu-sheng commented on #2285
Spring bean plugin is already in release package, in agent optional folder.

[2019-02-22 15:44] wu-sheng commented on #2283
PR merged. Thanks for the contribution.

[2019-02-22 15:46] wu-sheng commented on #2285
Lettue is provided by #2152 . And will be included in 6.1.0

[2019-02-22 15:47] wu-sheng commented on #2285
Rabbitmq other version supported should be contributed by the community. I don't know any one is working on this.

[2019-02-22 15:50] wu-sheng commented on #2285
See #2129 , some one wants to contribute a dynamic plugin based on config file and spel expressions.

[2019-02-22 15:50] #2285 closed

[2019-02-22 15:53] wu-sheng commented on #2282
Please follow document. SkyWalking 6 is not compatible with Elasticsearch 6.3.
We said very clear in document. And 6GA is commended version.

[2019-02-22 15:53] #2282 closed

[2019-02-22 15:54] #2283 closed

[2019-02-22 15:55] wu-sheng commented on #2086
Hession is not supported.

[2019-02-22 15:55] #2086 closed

[2019-02-22 15:56] #2095 closed

[2019-02-22 15:57] wu-sheng commented on #1983
Fixed in 6.1.

[2019-02-22 15:57] #1983 closed

[2019-02-22 15:59] wu-sheng commented on #2039
I think this wouldn't be provided. We could use compiling solution to support different storage version.

[2019-02-22 15:59] #2039 closed

[2019-02-22 16:00] #1479 closed

[2019-02-22 16:04] ychandu commented on #2285
Spring bean plugin - renamed ?

[2019-02-22 16:09] wu-sheng commented on #2285
These are default plugins. Spring bean plugin in optional-plugins folder. You nerd to copy it manually.

Read https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/service-agent/java-agent/README.md#optional-plugins

[2019-02-22 16:14] ychandu commented on #2285
These are the three in optional plugins
apm-spring-annotation-plugin-6.0.0-GA.jar
apm-trace-ignore-plugin-6.0.0-GA.jar
apm-gson-2.x-plugin-6.0.0-GA.jar

you mean to say apm-spring-annotation-plugin-6.0.0-GA.jar is the one ?

[2019-02-22 16:48] #2150 closed

[2019-02-22 23:54] wu-sheng commented on #2150
We still need submodule sync. @JaredTan95

[2019-02-22 23:56] wu-sheng commented on #2285
Yes. Could you send a pull request to fix document about this?

[2019-02-24 02:46] LyricsYo opened #2289 "Is there a way to avoid call chain separation when ActiveMQ use pull mode？"
- Why do you submit this issue?
- [x] Question or discussion
___
### Question
- What do you want to know?
Is there a way to avoid call chain separation when ActiveMQ use pull mode？

[2019-02-24 02:50] wu-sheng commented on #2289
Yes, you could. You need to use `@Trace` or another way to create a local span, scoping the MQ pull and other OP(s) as child spans.

[2019-02-24 02:50] #2289 closed

[2019-02-24 13:30] JaredTan95 commented on #2276
fixed https://github.com/apache/incubator-skywalking-ui/pull/235

[2019-02-24 13:30] #2276 closed

[2019-02-25 07:51] 1248912240 commented on #1948
2019-02-25 07:36:01,315 - org.apache.skywalking.oap.server.core.analysis.worker.IndicatorRemoteWorker - 53 [DataCarrier.IndicatorAggregateWorker.instance_jvm_memory_noheap_max.Consumser.0.Thread] ERROR [] - / by zero
java.lang.ArithmeticException: / by zero
        at org.apache.skywalking.oap.server.core.remote.selector.HashCodeSelector.select(HashCodeSelector.java:32) ~[server-core-6.0.0-GA.jar:

[2019-02-25 07:53] 1248912240 commented on #1948
i run it in a docker linux, it appeares again

[2019-02-25 08:33] liu316484231 opened #2291 "how to migrate skywalking from 5.x to 6.0 smoothly"
how can i smoothly update our skywalking in production from 5.x to 6.0 GA without much of work..

[2019-02-25 08:45] wu-sheng commented on #2291
Deploy new 6.x backend cluster. Every time you reboot agent with application, change it pointing to new backend. Once all reboot done, the new 6.x is on line.

This is a very common way to do Blue-green release process.

[2019-02-25 08:45] #2291 closed

[2019-02-26 03:26] xichengliudui opened #2293 "Execute the docker-compose file and throw an error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
docker-compose up
[code]
I've already executed docker login
___
### Bug
- Which version of SkyWalking, OS and JRE?
Now the master branch

- Which company or projec

[2019-02-26 03:27] wu-sheng commented on #2293
Image has moved to ASF. You can't get the skywalking org.

[2019-02-26 03:28] wu-sheng commented on #2293
@hanahmily do we have fixed this in master?

[2019-02-26 03:29] xichengliudui commented on #2293
Should we change docker-compose?

[2019-02-26 03:30] wu-sheng commented on #2293
Yes. If master branch hasn't changed, could you send a pull request to fix this?

[2019-02-26 03:33] xichengliudui commented on #2293
Thank you. Let me try.
/assign @xichengliudui

[2019-02-26 03:41] hanahmily commented on #2293
the docker folder in main project is a convenient  way to test source code in docker. So user should issue `make build` to build image before running `docker-compose up`

[2019-02-26 03:41] #2293 closed

[2019-02-26 03:46] xichengliudui commented on #2293
@hanahmily Which directory should I go to?

[2019-02-26 03:49] hanahmily commented on #2293
docker/

[2019-02-26 03:53] xichengliudui commented on #2293
[code]
Can you provide a link to this file? Thank you very much

[2019-02-26 05:13] cngdkxw opened #2294 "In SkyWalkingAgent class, why ignore the classes which start with org.apache.logging.?"
___
### Question
- In SkyWalkingAgent class, why ignore the classes which start with org.apache.logging.? Because that，I can‘t enhance org.apache.logging.log4j.ThreadContext. With enhancing ThreadContext, I want to print traceId and traceSegmentId to log in async mode.

[2019-02-26 05:19] wu-sheng commented on #2294
Could you do that by a standard log4j formater? We recommend you do like other application toolkit did.

[2019-02-26 05:21] hanahmily commented on #2293
In the root folder of the project, issue `./mvnw install` to generate `/dist/apache-skywalking-apm-incubating-bin.tar.gz`.
Or you can use official docker image `apache/skywalking-oap-server` instead of building project.

[2019-02-26 05:22] hanahmily commented on #2293
and `apache/skywalking-ui`

[2019-02-26 05:24] cngdkxw commented on #2294
Ok, I try it.

[2019-02-26 06:44] wu-sheng commented on #1768
As we are going to discuss the TLP graduation, open this again. We are going to try this again.

[2019-02-26 06:57] liu316484231 opened #2295 "Deploying skywalking 6.0 GA encountered some problems"
first, the webUI pops up with error banner like:
-Validation error of type FieldUndefined: Field 'loadAlarmList' in type 'Query' is undefined @ 'loadAlarmList'
-Validation error of type FieldUndefined: Field 'getClusterBrief' in type 'Query' is undefined @ 'getClusterBrief'
-Validation error of type FieldUndefined: Field 'numOfAlarmRate' in type 'AlarmTrend' is undefined @ 'getAlarmTrend/numOfAlar

[2019-02-26 07:00] dongfo commented on #1768
+1

[2019-02-26 07:00] joeyYL commented on #1768
+1

[2019-02-26 07:00] zhangsean commented on #1768
+1 Great job!

[2019-02-26 07:01] 446690578 commented on #1768
congrats

[2019-02-26 07:01] chirdxing commented on #1768
+1

[2019-02-26 07:01] slankka commented on #1768
+1 great job.

[2019-02-26 07:01] chidaodezhongsheng commented on #1768
+1

[2019-02-26 07:01] liwooood commented on #1768
+1

[2019-02-26 07:03] myblur commented on #1768
great job

[2019-02-26 07:04] zhijianfree commented on #1768
we are waiting for this job! ^-^

[2019-02-26 07:05] cheetah012 commented on #1768
+1 great job.

[2019-02-26 07:05] CallOfCode commented on #1768
+1 great job!

[2019-02-26 07:06] zhaoyuguang commented on #1768
+1 great job!

[2019-02-26 07:07] wu-sheng commented on #1768
In the incubator, we have
1. 65 open users, https://github.com/apache/incubator-skywalking/blob/master/docs/powered-by.md
2. 9 committers, 3 PPMC selected from the nearly 100 contributors(94 in main repo at this moment).
3. 8 releases passed. 5 to 5-GA, 3 to 6-GA.

[2019-02-26 07:08] liu316484231 commented on #2295
so is there detailed instructions for version 6.0 quickly startup, we use ES6 as the storage, what could be the highest possible problem we meet

[2019-02-26 07:13] wu-sheng commented on #2295
Quick startup is provided in document, only use H2 as storage.

[2019-02-26 07:15] harvies commented on #1768
greeting

[2019-02-26 07:17] candyleer commented on #1768
+1 👍

[2019-02-26 07:18] guojie0701 commented on #1768
thanks for giving us so good apm choice, good job.

[2019-02-26 07:20] #2294 closed

[2019-02-26 07:23] langyan1022 commented on #1768
thanks for wu-sheng ，Powerful support

[2019-02-26 07:24] liu316484231 commented on #2295
there are many errors in the oap.log:
INFO: Transport failed
io.netty.handler.codec.http2.Http2Exception: Unexpected HTTP/1.x request: GET /agent/gRPC
and
org.apache.skywalking.oap.server.receiver.trace.provider.parser.SegmentParseV2 - 111 [grpc-default-executor-3] ERROR [] - null

[2019-02-26 07:24] wu-sheng commented on #1768
@langyan1022 I just do my best, it is the power from the whole community. See our 100 contributions do, far more than I could do.

[2019-02-26 07:25] wu-sheng commented on #2295
Why do you send gRPC to HTTP PORT?

[2019-02-26 07:26] wu-sheng commented on #2295
This could be caused by you didn't reboot applciation(agent), but delete the ElasticSearch.

[2019-02-26 07:28] wu-sheng commented on #443
All above have been updated to powered-by page and user wall.

[2019-02-26 07:31] liu316484231 commented on #2295
for second question, i think you are right,
and for first question,
core:
  default:
    restHost: ${SW_CORE_REST_HOST:0.0.0.0}
    restPort: ${SW_CORE_REST_PORT:12800}
    restContextPath: ${SW_CORE_REST_CONTEXT_PATH:/}
    gRPCHost: ${SW_CORE_GRPC_HOST:0.0.0.0}
    gRPCPort: ${SW_CORE_GRPC_PORT:11800}
this is the core configs in v6.0, which port should our agent connect to?

[2019-02-26 07:40] wu-sheng commented on #2295
gRPCPort

[2019-02-26 08:00] liu316484231 commented on #2295
all right i think our configuration is correct now but webUI still continue pops up error banners, we configure the core.default to our own configs, and point agent to connect gRPC host port..

[2019-02-26 08:01] 7040210 commented on #1768
+1 great job!

[2019-02-26 08:22] wu-sheng commented on #2295
Check your storage, es maybe? Does it have data already? You need to check your oap log, to see what is happening.

[2019-02-26 08:25] clevertension commented on #1401
is the rabbitmq-5.x support avaliable? if not, i will provide one

[2019-02-26 08:39] wu-sheng commented on #1401
From the document, I think we have now. https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/service-agent/java-agent/Supported-list.md

[2019-02-26 08:39] #1401 closed

[2019-02-26 09:02] songmy commented on #1768
nice��

[2019-02-26 09:16] liu316484231 commented on #2295
it works now! thank you very much for your patience, dude

[2019-02-28 08:10] ChaunceyLin5152 opened #2301 "No server information display."
Client : SkyAPM-dotnet 0.8.0
Server: 6.0

No server information displayed in the service page, and the Runing ServiceInstance is incorrect.

[2019-02-28 08:12] wu-sheng commented on #2301
This is not SkyWalking main repo issue.

[2019-02-28 08:12] #2301 closed

[2019-02-28 09:21] mbao opened #2302 "add apm-spring-annotation-plugin to dependency not work when deploy in tomcat"
- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
- What do you want to know?
In order to trace local spring span, I  can put apm-spring-annotation-plugin-6.0.0-GA.jar from optional-plugins to plugins. But I wonder if I can add apm-spring-annotation-plugin to  dependency for tracing spring bean?  It is OK when I test this by staring my springboot application with inner

[2019-02-28 09:36] wu-sheng commented on #2302
I think it should work in Tomcat. It has no difference with other plugins. They all should work in Tomcat. No classloader issue in default Tomcat.

[2019-02-28 09:58] mbao commented on #2302
You mean put  apm-spring-annotation-plugin-6.0.0-GA.jar in TOMCAT_PATH/webapps/APPLICATION/WEB-INF/lib  will work as put it in AGENT_PATH/plugins ?

[2019-02-28 11:36] mbao commented on #2302
Put  apm-spring-annotation-plugin-6.0.0-GA.jar to TOMCAT_PATH/bin works.
I think AgentClassLoader's parent is AppClassLoader, and it's class path is TOMCAT_PATH/bin.
Thanks for your reply.

[2019-02-28 12:21] #2302 closed

[2019-02-28 12:23] wu-sheng commented on #2302
In my mind, in AGENT_PATH/plugins should work too.

[2019-03-01 09:15] mbao commented on #2302
Yes

[2019-03-01 09:16] tinytigerchaos opened #2305 "how to clean buffer"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
* it said One trace segment has been abandoned, cause by buffer is full
* but i cant find anyway to set the time interval for buffer cleaning
* is there any setting for cleaning buffer when

[2019-03-01 09:19] mbao opened #2306 "top N Throughput Endpoint View in Service UI"
- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
- What do you want to know?

Is there  a top N Throughput Endpoint View  in Service UI, or I have to add it myself?

[2019-03-01 09:49] wu-sheng commented on #2306
Read oal script and document, you could do by yourself.

[2019-03-01 09:49] #2306 closed

[2019-03-01 09:53] wu-sheng commented on #2305
We have timer to delete. If don't work well, you could try to find the bug

[2019-03-01 09:53] #2305 closed

[2019-03-02 05:21] vanlin opened #2308 "[agent]java.lang.NullPointerException: null with apm-spring-annotation-plugin-6.0.0-GA.jar"
### Bug
- Which version of SkyWalking, OS and JRE?
SkyWalking ver:  6.0 GA
ServiceComb ver: 1.1.0
JRE: 1.8

when I enabled apm-spring-annotation-plugin-6.0.0-GA.jar plugins and then I get NPE !

NPE cause:

[code]
method @Inject annotation missing ,  schemaLoader cannot inject.
av
##### disabled apm-spring-annotation-plugin-6.0.0-GA.jar

![image](https://user-images.githubusercontent.com/983627/53

[2019-03-02 10:01] Stephen-sen opened #2310 "Top 20 Slow Traces show issue"
How can I see the Top 20 Slow data before today,now I only can see today data.

[2019-03-02 10:12] wu-sheng commented on #2310
It doesn't release yet. From I known, that is based on time duration of whole page. No difference. Also, it is affected by record ttl, so could be deleted because you set ttl short for segment.

[2019-03-02 10:12] #2310 closed

[2019-03-02 10:14] Stephen-sen commented on #2310
where I can set ttl ?

[2019-03-02 10:15] wu-sheng commented on #2310
application.yml in config. You should know, this could make you storage huge data, if you set ttl long.

[2019-03-02 10:18] Stephen-sen commented on #2310
is recordDataTTL?from application.yml I see it is 90 minute

[2019-03-02 10:21] wu-sheng commented on #2310
Yes. Should be.

[2019-03-02 10:40] Stephen-sen commented on #2310
thank you,I've verify it's really this palce

[2019-03-03 12:35] wu-sheng commented on #2308
@candyleer Could you take a look at this? You should have many experiences with this kind of issue. :)

[2019-03-03 14:58] candyleer commented on #2308
OK,No problem

[2019-03-03 17:28] dejdong opened #2312 "服务启动报错，我哪里配置错了么?"
1.启动日志
2019-03-04 01:17:47,926 - org.apache.skywalking.oap.server.starter.config.ApplicationConfigLoader - 62 [main] INFO  [] - Get a module define from application.yml, module name: naming
2019-03-04 01:17:47,942 - org.apache.skywalking.oap.server.starter.config.ApplicationConfigLoader - 65 [main] INFO  [] - Get a provider define belong to naming module, provider name: jetty
2019-03-04 01:17:47,9

[2019-03-03 23:25] wu-sheng commented on #2312
English only. And look like you changed the application.yml a lot, and remove many required modules.

[2019-03-03 23:25] #2312 closed

[2019-03-04 01:48] candyleer commented on #2308
@vanlin can you provide a demo to reproduce this issue?

[2019-03-04 08:23] dejdong commented on #2312
thank you!

[2019-03-04 08:31] zhangkewei commented on #1768
+1

[2019-03-04 10:15] mbao opened #2314 "spring config trace info error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
- What do you want to know?
There is no trace info of spring cloud config server.
After debugging, I find that spring cloud config will call two controller method for one request, but after first method finish,RESPONSE_KEY_IN_RUNTIME_CONTEXT is removed, so res

[2019-03-04 12:49] wu-sheng commented on #2314
Why call the method twice?

cc @ascrutae We need to avoid this issue, but I just don't know why this happens.

[2019-03-04 12:50] wu-sheng commented on #2314
@ascrutae Look like, runntime context should be stack based for each key? I am not sure yet.

[2019-03-04 14:59] vanlin commented on #2308
hi @candyleer,   look this please: https://github.com/vanlin/servicecombtest

[2019-03-05 02:12] mbao commented on #2314
Not one method twice, but one controller method with annotation RequestMapping calls another one with that annotation.

[2019-03-05 02:18] wu-sheng commented on #2314
I think that is the exact case. You call between controllers.

[2019-03-05 02:25] ascrutae commented on #2314
This case is more common in some business environment, I will try to fix it in this version.

[2019-03-05 03:59] ywf4026 opened #2316 "agent 6.0.0GA is not compatible with tomcat 7.0.42"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ √] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

application is starting, exception occurs
![image](https://user-images.githubusercontent.com/3722641/53780104-c0b2a980-3f3d-11e9-9b16-706880382e4d.png)

the caus

[2019-03-05 06:09] sidawei opened #2317 "what's the difference of ServiceHandler and ReportServiceHandler?"
- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
what's the difference of TraceSegmentServiceHandler and TraceSegmentReportServiceHandler， JVMMetricsServiceHandler and JVMMetricReportServiceHandler?

[2019-03-05 06:19] wu-sheng commented on #2317
There are for different versions of protocol. We have upgraded the protocol, because of concept changed. One for v5 protocol, the other for v6 protocl, started at 6.0.0-beta release.

[2019-03-05 06:19] #2317 closed

[2019-03-05 09:57] candyleer commented on #2308
I found the reason, the spring plugin remove the annotation when enhance the method, let me think and fix the issue

[2019-03-06 00:24] wu-sheng commented on #2308
Fixed. PR merged in to master.

[2019-03-06 00:24] #2308 closed

[2019-03-06 00:55] liqihua opened #2320 "Can not find the view memory and CPU usage menu"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
I can't find a menu to view memory and CPU usage in Web ui. Where can I see it?

[2019-03-06 00:57] liqihua commented on #2320
I can't find a menu to view memory and CPU usage in Web ui. Where can I see it?

[2019-03-06 01:01] wu-sheng commented on #2320
I assume you are a Chinese, right? Read this. http://skywalking.apache.org/zh/blog/2018-12-18-Apache-SkyWalking-5-0-UserGuide.html

[2019-03-06 01:01] #2320 closed

[2019-03-06 01:04] wu-sheng commented on #2316
@ascrutae Could you check why this module file exists in our agent jar? I think it shouldn't.

[2019-03-06 01:06] liqihua commented on #2320
是的是的，我是Chinese哈哈哈，终于找到了，谢谢你，原来在右下角小小的点击 more details ... 6.0的文档里面找不到，原来在5.0的手册里面。谢谢！

[2019-03-07 00:12] wu-sheng opened #2322 "How to make receiver settings more reasonable"
This discussion starts with my envoy receiver PR review, https://github.com/apache/incubator-skywalking/pull/2321#pullrequestreview-211287390

@peng-yongsheng and I both agree, we are going to have more receivers, which is great because that is the OAP designed for. But many receivers make the release source/dist tar a little different, or confused to end users or new developers.

At here, we are

[2019-03-07 02:57] lvzhekang opened #2323 "skywalking6.0提供了告警服务，文档中写到可以自行接服务。我想自行接告警服务，或者接webhook，但是相关文档太少了，包括官方文档对告警服务的描述也是极少，恳请官方完善文档，对于告警模块追加说明"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-03-07 03:41] wu-sheng commented on #2323
English is only supported. We provide document about alarm,
https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/backend/backend-alarm.md

What do you need for a webhook description?

Some one has open source a project for a dingding notification.
https://github.com/yanmaipian/dingding-notify-for-skywalking

[2019-03-07 03:41] #2323 closed

[2019-03-07 06:39] JaredTan95 opened #2326 "OpenSkywalking-> SkyAPM"
___
### Requirement or improvement
https://github.com/apache/incubator-skywalking/blob/master/docs/en/guides/storage-extention.md#redistribution-with-new-storage-implementation

` OpenSkywalking/SkyWalking-With-Es5x-Storage` ---> ` SkyAPM/SkyWalking-With-Es5x-Storage`

[2019-03-07 06:41] wu-sheng commented on #2326
Send your PR directly :) This doesn't need discussion.

[2019-03-07 09:00] peng-yongsheng opened #2327 "Separation the remote gRPC server from the receiver gRPC server."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [X] Feature or performance improvement
___
### Requirement or improvement
- Please describe about your requirements or improvement suggestions.

Receiver gRPC server is used to receive trace message from the agent. The remote gRPC server is used to

[2019-03-07 09:17] wu-sheng commented on #2327
Do you plan to send this server setting optional or required one?

[2019-03-07 11:40] mbao opened #2330 "gateway hystrix trace info error"
- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
- What do you want to know?

I know that gateway is not supported. But I wonder why gateway hystrix into  trace twice.
When debugging, I found that HystrixCommandRunInterceptor runs twice, one for HttpClientRibbonCommand and another for AbstractRibbonCommand.
Can someone explain it? Thanks.
![wx20190307-193651](https://

[2019-03-07 11:47] wu-sheng commented on #2330
First of all, how codes run based on how they write. Tracing agent has no magic, just show you the code path. If it says, it invoke twice, it most likely invokes twice.

And your debug confirm that, what is your question? We can't tell why all codes wrote in this way.

[2019-03-07 11:47] #2330 closed

[2019-03-07 12:38] #2326 closed

[2019-03-08 03:57] mbao commented on #2330
the run method of HttpClientRibbonCommand is called once, but the beforeMethod of HystrixCommandRunInterceptor is called twice.
Maybe I don't express clearly, sorry.

[2019-03-08 04:07] wu-sheng commented on #2330
That is mutiple instrumented, means there are instrument definitions, which match this single one class.

[2019-03-08 12:17] kezhenxu94 commented on #1360
The task is a good start for those who are new to SkyWalking and are interested in translating (like me :), but it may take a long time to finish and need patience, do you prefer contributor to open a single PR after translating the whole documents or one PR per some files step by step @wu-sheng

[2019-03-08 12:39] peng-yongsheng commented on #2327
Optional, just for advanced user.

[2019-03-08 12:42] wu-sheng commented on #1360
@kezhenxu94 Yes, we used to have part document, which misguide users to read. They think, SkyWalking don't have full and well provided documents, but we have, just in English.

So 2 days ago, that part of document has been removed #2315 . If you want to contribute in that part, I prefer we host it somewhere else, such as here, https://github.com/SkyAPM . If you want to help, I could create a repo

[2019-03-08 12:46] peng-yongsheng commented on #2322
### Current configuration
#### Turn on
* receiver-register
* receiver-trace
* receiver-jvm
* service-mesh
* istio-telemetry
#### Turn off
* receiver_zipkin

I didn't find any rules or principles. Let me make a suggestion:
Turn on: The receive data is from our agent.
Turn off: The receive data if from other util or system.

[2019-03-08 13:02] kezhenxu94 commented on #1360
@wu-sheng I'd like to work on this, and study SkyWalking further by this chance, but again, the translation work might take some time, thanks

[2019-03-08 13:12] wu-sheng commented on #2322
I am thinking of something else than the principle.

I think we can't say `turn on` agent only is the right call, because, in our document, we call ourself observability analysis platform and have capabilities to process and visualize multiple formats. We started the project by javaagent, doesn't mean it must be agent working, especially we have other languages. As far as I known, @liuhaoyang will

[2019-03-08 13:15] wu-sheng commented on #1360
@kezhenxu94 Invite you to https://github.com/SkyAPM/document-cn-translation-of-skywalking

[2019-03-08 13:15] wu-sheng commented on #1360
If you want to publish it as GitHub Pages page, let me known.

[2019-03-08 13:33] kezhenxu94 commented on #1360
@wu-sheng yes that's my thought, many open-sourced projects have a separate repo to hold their documents which are deployed as GitHub pages, what do you think

[2019-03-08 13:36] wu-sheng commented on #1360
@kezhenxu94 Make sense to me. You have the `admin` role in that repo, go for it. Also, please consider, we need to consider to provide documents for each release. If we post documents on GItHub pages, then maybe different folders for different version document?

[2019-03-08 13:45] kezhenxu94 commented on #1360
@wu-sheng provident opinion, I'll inspect some doc generators and will discuss here, thanks

[2019-03-08 13:47] wu-sheng commented on #1360
Sure. Feel free to discuss here or on dev@skywalking.apache.org ml. I noticed you are an Apache committer(of Dubbo project) already, so ML should be familiar with you and good for you further contribution in Apache(Suggestion only)

[2019-03-08 13:57] kezhenxu94 commented on #1360
@wu-sheng of course I wil :) I've subscribe to the ML and just receive the celebration of 100th contributor :)

[2019-03-08 13:57] JaredTan95 commented on #1360
@kezhenxu94 Hi, Glad to hear that you have interests in helping the community to build doc or site. Looking forward to the discussion or progress.

[2019-03-08 13:59] wu-sheng commented on #1360
Actually, you are the 100th contributor :) Congrats. Welcome to reply that mail.

[2019-03-09 03:51] sunshinebaby00 opened #2337 "ClassNotFoundException net.bytebuddy.matcher.ElementMatcher"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
-  Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
I write a plugin of my own, bu it throw a ClassNotFoundException
![image](https://user-images.githubusercontent.com/9410296/54065813-a5f37400-4260-11e9-8ecf-baff73a7e

[2019-03-09 04:07] wu-sheng commented on #2337
You use the wrong way package agent jar. Please follow SkyWalking's plugin module settings.

[2019-03-09 04:07] #2337 closed

[2019-03-09 06:20] liuhaoyang commented on #2322
I prefer to use environment variables as receiver switches, providing a XXX_RECEIVER_ENABLE environment variable switch for each receiver. This will be very convenient in the container.

[2019-03-09 06:28] wu-sheng commented on #2322
I am +1 for env variable. But we still need default way, and typical scenarios, right?

[2019-03-09 13:37] kezhenxu94 opened #2338 "[Bug] Login button is still disabled after failure"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement
___
### Bug
- Which version of SkyWalking, OS and JRE?
latest version on master branch(perhaps all versions), all OS and JRE

- What happen?
Start the frontend(UI) only, and try to login, after failure, the lo

[2019-03-09 13:41] wu-sheng commented on #2338
It is a bug for sure. 😄 Welcome fix always. But notice, RocketBot UI is trying to move in as primary UI. I am working with @TinyAllen @JaredTan95 , to make that true. If we make it, the current UI should be abandoned.

[2019-03-10 15:30] Aaronyu111 opened #2340 "When Skywallking supports MSSQL ?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [1 ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
Currently our company use MSSQL , so I want to know when the MSSQL plugin will be supported ? thanks
___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0.0G

[2019-03-10 15:32] wu-sheng commented on #2340
We are welcome the contribution. Right now, I don't know any one is working on this.

[2019-03-10 17:42] BFergerson opened #2341 "Support plugin for Vert.x"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

I am creating a plugin for supporting Vert.x powered applications using SkyWalking. Everything appears to work when I spread out the events so they each happen on

[2019-03-10 18:02] BFergerson opened #2342 "Force fully qualified endpoint names"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

I am working on an open-source programming assistant ([Source++](https://github.com/codebrig/source)) and I'm using SkyWalking as the flagship APM for the project

[2019-03-10 23:29] wu-sheng commented on #2342
This change should be easy, I want to know,  do you think, does `GET/` and `POST/` make more sense? Because I think the basic issue is how to make get/post difference. If YES, then I will support to make this as default, rather than using `Config.Agent.FORCE_FULLY_QUALIFIED_ENDPOINT_NAMES` setting.

This is fine, I think. Millions of endpoints are supported in production env.

We are using the cla

[2019-03-10 23:45] wu-sheng commented on #2341
I think most of your understanding is correct, the thread model of vert.x is a typical model in RPC framework. Also, SkyWalking did request the TracingContext working in that way, most of tracing system asked for this too.

The key is, you created the span in a shared thread(that single thread, I am guessing this is nio/vertx event loop thread).  SkyWalking is focusing on business logic, the span

[2019-03-10 23:51] BFergerson commented on #2342
@wu-sheng, thanks for the quick response. I do just want to tell the difference between the `GET` and `POST`. Having the request method type in the operation name would probably have been sufficient but I'm not sure if that's the only scenario that exists that could create a situation like this. I can implement both if you want but I primarily would like the qualified name as the endpoint. As you

[2019-03-10 23:56] wu-sheng commented on #2342
If the qualified name stays in optional, I am totally OK, also the GET/POST should be in operation name to ease some similar cases like yours.

I think the name is fine, just please add this to agent document and have a clear description about what it is for.

[2019-03-11 00:10] wu-sheng commented on #2342
Also, in the PR, please notice, you should provide a pr in https://github.com/SkyAPMTest/agent-auto-integration-testcases too. Add new test scenario about `spring-with-qualified-op-name`, set the `USE_QUALIFIED_NAME_AS_ENDPOINT_NAME` to true through `-D` script. Also, You don't need all versions to recheck, just one or two should be enough.

[2019-03-11 01:43] BFergerson commented on #2342
@wu-sheng, would you mind taking a look at https://github.com/SkyAPMTest/agent-auto-integration-testcases/issues/54?

Also, when you say to create a new test scenario I'm guessing you mean another of those top level folders? Like https://github.com/SkyAPMTest/agent-auto-integration-testcases/tree/master/spring-scenario but instead https://github.com/SkyAPMTest/agent-auto-integration-testcases/tree

[2019-03-11 02:16] wu-sheng commented on #2342
Yes. Another top level folder. For -D, I mean, the default setting of qualifiedname as endpoint is false, right? You need a way to open it in testing. SkyWalking could do settings in agent.conf and -D override through command argument.

@ascrutae Is the agent.conf could be set in test repo? If Yes, please provide the way, thankd.

[2019-03-11 02:22] ascrutae commented on #2342
@BFergerson Just follow [this documents](https://github.com/SkyAPMTest/agent-auto-integration-testcases/blob/master/docs/how-to-write-a-plugin-testcase.md#run-test-cases) and please ping me if you have any question about how to run test cases.

[2019-03-11 02:26] BFergerson commented on #2341
I had a lightbulb moment when you said the key was I was creating spans on a shared thread. I'm pretty sure you're absolutely right. Unfortunately, I think that's the only way to use Vert.x. Everything that runs in the verticle is ran on the event loop and in my situation there is only a single event loop. That's what I'm seeing locally as I debug the creation of the spans. The thread is always `v

[2019-03-11 06:56] wu-sheng commented on #2341
You should finish the span, and hold the ContextSnapshot. When callbacke happens, create a new local span(should be new context, because other closed their exit span too), and continue the ContextSnapshot.

From you description, I am a little confused about how you use `ContextSnapshot` and `ContextCarrier`. How does `I pull the ContextSnapshot from the response` happen? The ContextCarrier is desi

[2019-03-11 09:42] ywf4026 opened #2346 "load balance between agent and backend?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [√ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

I want to put a load balance between agent and backend. I use nginx as load balance(roundrobin), but I found 100% requests were received by only one backend serv

[2019-03-11 10:37] wu-sheng commented on #2346
This is how nginx use, not skywalking. The protocolis gRPC, HTTP2.

[2019-03-11 10:37] #2346 closed

[2019-03-12 04:27] lvzhekang opened #2349 "org.apache.skywalking.oap.server.receiver.register.provider.handler.v6.grpc.ServiceInstancePingServiceHandler - 61 [grpc-default-executor-23] WARN [] - Can't found service by service instance id from cache, service instance id is: 20 2019-03-12 12:26:16,302 - org.apache.skywalking.oap.server.core.register.service.ServiceInstanceInventoryRegister - 108 [grpc-default-executor-23] WARN [] - Service instance 17 heartbeat, but not found in storage."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-03-12 04:28] lvzhekang commented on #2349
2019-03-12 12:19:59,761 - org.apache.skywalking.oap.server.receiver.register.provider.handler.v6.grpc.ServiceInstancePingServiceHandler - 61 [grpc-default-executor-21] WARN  [] - Can't found service by service instance id from cache, service instance id is: 28
2019-03-12 12:19:59,799 - org.apache.skywalking.oap.server.core.register.service.ServiceInstanceInventoryRegister - 108 [grpc-default-execu

[2019-03-12 04:31] BFergerson commented on #2341
@wu-sheng, your advice appears to have gotten me closer but I think there is something I'm fundamentally not understanding. I able to produce the following trace stack:
[code]

This produces the diagram:
![Screenshot from 2019-03-11 22-12-00](https://user-images.githubusercontent.com/3278877/54174367-c03d7580-444b-11e9-8883-36e056ce5b25.png)

Which is sort of odd when it considers the same trace a

[2019-03-12 05:14] wu-sheng commented on #2349
You reset the elasticsearch, so agent must reboot too.

[2019-03-12 05:14] #2349 closed

[2019-03-12 05:40] kezhenxu94 commented on #1219
I've reproduced this bug on a Windows machine, below is the minimal yet runnable demo:
![image](https://user-images.githubusercontent.com/15965696/54176899-7ac08d00-44cb-11e9-8477-65149db5a815.png)

note the output:

[code]

the result of `resource.getFile()` is encoded (`%20` for spaces), and using `new File(resource.toURI())` works well, I'll send a PR to resolve this.

[2019-03-12 05:43] kezhenxu94 commented on #1219
@wu-sheng @franknew by the way, this may be a bug on all OS's, not only Windows

[2019-03-12 07:03] wu-sheng commented on #1219
Interesting error. Windows platform is not familiar with me:). Thanks for bringing this to us. cc @liuhaoyang

[2019-03-12 23:08] #2129 closed

[2019-03-12 23:48] #2097 closed

[2019-03-12 23:49] wu-sheng commented on #2097
Fixed again in new pr.

[2019-03-13 02:47] mawennan commented on #2316
hi , my tomcat have same error,

jdk8
Server version: Apache Tomcat/7.0.68

![企业微信截图_20190312174932](https://user-images.githubusercontent.com/4082983/54250004-165e0600-457d-11e9-937f-6bc6e76c3ad4.png)

[2019-03-13 04:52] BFergerson commented on #2342
@wu-sheng, I think another reason I originally went for the `Config.Agent.USE_QUALIFIED_NAME_AS_ENDPOINT_NAME` was because ideally this functionality could also be used with SkyWalking's `@Trace` annotations. Instead, I've added two configuration values `Config.Plugin.SpringMVC.USE_QUALIFIED_NAME_AS_ENDPOINT_NAME` and `Config.Plugin.Toolkit.USE_QUALIFIED_NAME_AS_ENDPOINT_NAME`.

Curious your thoug

[2019-03-13 05:36] wu-sheng commented on #2342
For different plugin/toolkit, I prefer to use two configuration values, because it is more clear. But one thing needs to be clear, only SpringMVC's operation name would be endpoint name because it is an entry span. For `@Trace`, it is just an operation name.

[2019-03-13 06:44] Hylijia opened #2354 "java agent tomcat"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-03-13 06:45] Hylijia commented on #2354
13-Mar-2019 14:14:50.596 严重 [localhost-startStop-1] org.apache.catalina.startup.ContextConfig.processAnnotationsJar Unable to process Jar entry [META-INF/versions/9/module-info.class] from Jar [file:/opt/apache-skywalking-apm-incubating/agent/skywalking-agent.jar] for annotations
 org.apache.tomcat.util.bcel.classfile.ClassFormatException: Invalid byte tag in constant pool: 19
        at org.apach

[2019-03-13 06:48] wu-sheng commented on #2354
Nothing in this issue.

[2019-03-13 06:48] #2354 closed

[2019-03-13 06:48] wu-sheng commented on #2354
Ref to #2316

[2019-03-13 06:49] wu-sheng commented on #2354
You could remove this file manually from jar file.

[2019-03-13 06:49] wu-sheng commented on #2341
The processes you mentioned make sense to me, it should be processed in this way when you are facing async scenarios. I assume right now, the tracing and metric should be working well even in concurrency cases, right?

[2019-03-13 06:53] wu-sheng commented on #2341
Just one suggestion, the local span you created, the operation name should be related to target framework behaviours, like a description, rather than which interceptor of SkyWalking plugin is doing this. Because in most cases, interceptor is just being known by plugin developer.

Of course, maybe this is just because, you are testing. :) If so, ignore me.

[2019-03-13 07:29] Hylijia commented on #2354
solved！ thank you！

李嘉
北京华宇信息技术有限公司

From: 吴晟 Wu Sheng
Date: 2019-03-13 14:49
To: apache/incubator-skywalking
CC: Hylijia; Author
Subject: Re: [apache/incubator-skywalking] java agent tomcat (#2354)
You could remove this file manually from jar file.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-13 08:37] lvzhekang opened #2355 "the UI does not show the tracking service"
Service start, log print：

2019-03-13 19:30:19,707 - org.apache.skywalking.oap.server.receiver.register.provider.handler.v5.grpc.InstanceDiscoveryServiceHandler - 124 [grpc-default-executor-10] INFO  [] - register service instance id=10 [UUID:263a1af3d3ff4a33b40b4dd051a71892] 2019-03-13 19:33:30,235 - org.apache.skywalking.oap.server.core.storage.ttl.DataTTLKeeperTimer - 76 [pool-11-thread-1] INFO

[2019-03-13 08:47] wu-sheng commented on #2355
Can't see any issue here. You could simply check the data in your storage,

[2019-03-13 08:47] #2355 closed

[2019-03-13 09:00] tinytigerchaos commented on #2066
we have the same issues , and i fix it by adding several es nodes to es cluster .
i thought es cluster need more resources to process the trace data than opa server.

[2019-03-13 09:09] wu-sheng commented on #2066
i thought es cluster need more resources to process the trace data than opa server.

If some cases, yes.

[2019-03-13 14:06] BFergerson commented on #2341
@wu-sheng, yeah those operation names are for testing right now. I've deleted code to try to keep what I'm showing you as straight forward as possible. I'll make sure to address that once everything is working.

And yes, your suggestions do fix the problem I was originally having with the traces becoming children of each other and never sending any to SkyWalking, but now I'm dealing with this:
![S

[2019-03-13 14:35] wu-sheng commented on #2341
Actually, this is what I expect. Because the segment duration is shorter, the endpoint duration is based on that.

Also, if you want to show the segment perfectly, we need to build a new TracingContext implementation, with clear explicit declare to use it. In my previous experiences, that style of APIs is not very friendly to plugin developer, so I haven't implemented it.  If you want to take part

[2019-03-13 15:30] BFergerson commented on #2341
@wu-sheng, I would definitely like to implement support for Vert.x so if it's necessary to create a new TracingContext implementation to do that then yes, please start a draft.

Before you do would you mind breaking down a bit why a new implementation is necessary? Specifically the logic quoted above. I understand a span to be a single "unit of work". From the SkyWalking documentation a segment is

[2019-03-13 15:45] wu-sheng commented on #2341
Sorry for don't make this clear to me.

**a segment is "a concept in SkyWalking, it should include all span for per request in a single OS process, usually single thread based on language**.

The Key in Java for plugin developer convenience, segment always works in a single thread at the same time. And this fits most of scenarios in Java codes. But in vertx(react style), things changed.
Your case

[2019-03-13 17:24] BFergerson commented on #2341
@wu-sheng, I think I'm almost on the same page with you. You're saying the JSON trace stack I included above is correct in all aspects except for the `endTime` on the `ExitSpan` and `EntrySpan`? And it's because of the fact that the `EntrySpan` has an incorrect `endTime` that the response time shows up as it does in the UI? And finally, this can't be done with the existing `TracingContext` because

[2019-03-13 23:12] wu-sheng commented on #2341
Yes. In my mind, for new tracing context mechanism(only optional), if you do capture, it will hold the segment untill continue happens. Only finish the whole segment and tracing context, if and only if all related threads are finished and no capture without continued.

Does this make sense?

[2019-03-14 00:08] BFergerson commented on #2341
@wu-sheng, I think I have a firm grasp of the problem now lol. Instead of modifying the `endTime` why not just wait to close the span? I understand that waiting to close the span won't work with `TracingContext` but that's because it deals with one segment at a time. A new `TracingContext` implementation could work with multiple segments at a time requiring a key to choose which segment the spans

[2019-03-14 00:25] wu-sheng commented on #2341
In theory yes, just delay to close the span, in practice way, it is hard. Because the span should still in stack-based structure, as a plugin developer, you can't tell whether there is one/more parent span(s) need to close by other plugins, right? So you must follow the stack order, to close the span. That mean, entry span must be finished first and reset finish time later.

Are you saying to use

[2019-03-14 00:31] BFergerson commented on #2341
@wu-sheng, okay the `ContextManager` implementation might be too far. How is this not an issue for other async plugins you have though (eg: Apache httpcomponent AsyncClient 4.x)? Also, what kind of draft would you be starting?

[2019-03-14 00:42] wu-sheng commented on #2341
Yes and there is a little different for them. Because they just do async call once for a time, and for their developer, they think, it just blocks short time, then the short duration makes sense. So they put callback in another thread and another segment/tracingcontext just like you did.

The ContextManager implementation is not hard, just it must count on `continue` must be executed after you cal

[2019-03-14 00:43] wu-sheng commented on #2341
`AcrossThreadContextTracing` should be the right term for this.

[2019-03-14 00:48] wu-sheng commented on #2341
If it works, we could make asynchttp, grpc-streaming work in this way too. And in .net too.

cc @liuhaoyang @ascrutae @hanahmily I think you may be interested in this term and design too.

[2019-03-14 01:12] BFergerson commented on #2341
@wu-sheng, I guess I'm just not entirely sure where you see the difficulty in holding the `EntrySpan` open until the response. Even in a completely asynchronous environment, the response will be the last event to occur. The `EntrySpan` is opened, all the various callbacks involved are handled through `LocalSpan` objects which add to the appropriate segment (stack-based all the same), and then when

[2019-03-14 01:50] wu-sheng commented on #2341
First of all, there isn't about you need to know the parent span. It is more about when tracing context could **finish**. But in SkyWalking design and its API, you could notice that we don't have an API called `TracingContext#finished` from any plugin, just inside TracingContext triggered automatically, **WHY?**, because no plugin knows he is the last/first span.

In codes level, read `TracingCont

[2019-03-14 01:57] wu-sheng commented on #2341
Another way to do a thing is by providing a new `Entry/Exit Span` feature to support `EntrySpan is retrieved`. Such as, `Span#finishWithFurtherNotitify`, which remove it from the active span, but still hold the tracing context. Only when `Span#finish`called(in another thread), tracing context finished and sent.

[2019-03-14 02:27] pmq5205209 opened #2356 "什么时候支持sqlserver啊？"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-03-14 02:28] wu-sheng commented on #2356
English only. Ref #2340 You could contribute plugin by yourself or wait others to do. Right now, I don't know no one is working on this.

[2019-03-14 02:28] #2356 closed

[2019-03-14 02:41] BFergerson commented on #2341
@wu-sheng, I think I understand. I assumed that the Vert.x `EntrySpan` would be the root one. I wasn't thinking bigger picture. I agree about modifying the `endTime` after the fact.

[2019-03-14 02:47] wu-sheng commented on #2341
I will try to start a draft of my last proposal, provide span a feature for further explicit finish notification, which could be done in another thread. If I find other conflicts, I will inform you too.

[2019-03-14 03:56] guyukou opened #2357 "skywalking cannot pass build in Intellij IDEA"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
Compile failed in Intellij IDEA due to imports resolution error in MetricServiceGRPCHandler.java, I resolve this by marking grpc-java and java folders in oap-serve

[2019-03-14 04:17] wu-sheng commented on #2357
Could you work on a pull request to add this?

[2019-03-14 05:26] #2357 closed

[2019-03-14 07:54] wu-sheng commented on #2341
PR submit. A draft version

[2019-03-14 08:06] #1219 closed

[2019-03-14 09:46] peng-yongsheng commented on #2327
Done

[2019-03-14 09:46] #2327 closed

[2019-03-14 09:54] peng-yongsheng commented on #2322
`Our agent` is not just means java agent. I emphasize that write by **Our**.

[2019-03-14 10:20] wu-sheng commented on #2322
Why are our agents more special than other adopt protocol? I don't understand. We are keeping saying we are analysis platform, why a platform treat different formats based on this rule?

I still want to argue for group by scenarios, not our protocols or other protocols.

[2019-03-14 10:23] wu-sheng commented on #2322
Also, our agents could be complex too. Such as, we could have a istio adaptor and envoy filter. They are our agents.

Since that happens, we are back to the start line, again. Sadly.

[2019-03-15 00:51] wu-sheng commented on #2316
@candyleer Look like we have an unnecessary file in agent.jar. Could you help on why this happens? How could we remove it? And whether the agent.jar is still working in JVM 9+ after we remove it.

[2019-03-15 04:51] zhang98722 opened #2363 "trace not work once the agent trace buffer was full"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion

once the agent meet the buffer limit and starting abandon segment like:

then all future data sent to oap is missing,even the log said it already send to oap:

you cant find the data anywhere in the webui,all data submited , include trace, jvm metrics,,is gone,and this situati

[2019-03-15 05:48] wu-sheng commented on #2363
This is our design, it should work in this way, otherwise, you will be facing memory leak and crash at this moment. Nothing about your further descriptions

Your further descriptions are hard to diagnose from your simple words. You really need to dig more in oap.log, oap telemetry, elasticsearch log and elasticsearch monitoring. You will find clue there.

[2019-03-15 05:48] #2363 closed

[2019-03-15 06:54] zhang98722 commented on #2363
i checked,oap,es log is all right,and data confirmed in es
but you cant get anything through webapp ui

[2019-03-15 06:56] wu-sheng commented on #2363
If data is in ES, there should be never wrong. Query is very easy, you could simple debug by yourself. Focus on time bucket(including time zone) and service/instance/endpoint IDs.

[2019-03-15 07:54] song90625 opened #2366 "nested exception is java.io.FileNotFoundException: class path resource [com/dangdang/ddframe/job/api/simple/SimpleJob.class] cannot be opened because it does not exist"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
almost application start successful，when i start a dao application,the exception is grow

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company o

[2019-03-15 12:13] wu-sheng commented on #2366
@terrymanu Any special for this class? I think you know this.

[2019-03-16 00:20] BFergerson commented on #2341
@wu-sheng, using the new asynchronous functionality I'm able to get the following results:
![Screenshot from 2019-03-15 18-15-13](https://user-images.githubusercontent.com/3278877/54467995-6c35d800-474e-11e9-94d4-15f8f6accc14.png)

This appears correct to me but I'm able to achieve these results without creating local spans and without using `ContextSnapshot`. I simply call `prepareForAsync` at th

[2019-03-16 00:29] wu-sheng commented on #2341
From the trace, you should be using APIs in the right way. The other steps are about, you should create new context(including local span) in another thread(callback) in case there is other further plugin working.

Such as in your codes
[code]

You would like the trace could continue in `#handle` method, right? If you don't create new context in handle thread, the trace will break, because async sp

[2019-03-16 00:30] wu-sheng commented on #2341
I am glad we are almost done:)

[2019-03-16 01:54] BFergerson commented on #2341
@wu-sheng, everything makes sense when you say it :P. I've added the local span back. I think the last question I have before I repeat this pattern for other Vert.x classes is:
 - does the order of `ContextManager.continued` and `asyncFinish` make any difference?

I've tried both and they both work and seem to produce the same traces.

The way I have it currently coded for the callback method is:

[2019-03-16 02:01] wu-sheng commented on #2341
Nothing related.

[2019-03-16 07:01] wu-sheng commented on #2074
Done.

[2019-03-16 07:01] #2074 closed

[2019-03-16 07:05] wu-sheng commented on #1360
@kezhenxu94 Do we have some progress? Do you know we have the DevCon at May.(maybe), do we have a chance to announce the Chinese documents available at that moment?

[2019-03-16 07:21] kezhenxu94 commented on #1360
Yes

- I've translated the **concepts-and-designs** part in the past week(maybe a little bit slow because of work and other stuff),

- and do some research on versioning documentation generator, and it seems that there is no perfect solution, I've send feature request txd-team/docsite/issues/24 , and +1 mkdocs/mkdocs/issues/193 . [ReadTheDoc](https://readthedocs.org) seems to support versioning do

[2019-03-16 07:23] wu-sheng commented on #1360
Thanks. Take your time. If can't be ready at that moment, then let it be.

[2019-03-16 08:26] wu-sheng commented on #2341
PR merged. When you are ready, you could submit the vert.x PR :)

[2019-03-18 04:07] mbao opened #2371 "Finding out error span stack pop"
- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
- What do you want to know?

Using skywalking  there is no more trace info after a short time and  I see "More than {} spans required to create" is my log.  I think there is error span stack pop, so after that there is no trace info for method running in the same thread. I don't have idea for  finding it out. Any sugges

[2019-03-18 04:25] guyukou opened #2372 "trace search with dynamic endpoint name"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
According to what I know, as in the 'Trace' perspective, 'EndpointName' query condition will exact match the input value with index field endpoint_name. What can I

[2019-03-18 06:28] wu-sheng commented on #2372
If you are using ElasticSearch, `matchPhraseQuery` will separate words by `/`. So this endpoint will be matched.

[2019-03-18 06:28] #2372 closed

[2019-03-18 06:31] wu-sheng commented on #2371
`More than {} spans required to create` happens in two case.
1. The normal one, you create too many span(300 by default) in one request, so the agent core will ignore others.
1. The unnormal one, one(or more) of you plugin doesn't work well. One may create span, but don't close it right. So, the trace context can't be finished. You need to dig more about the plugin you are using.

I think you are

[2019-03-18 06:31] #2371 closed

[2019-03-18 07:11] candyleer commented on #2316
Got it! I will take a look at what has happened in tomcat7 and jdk9

[2019-03-18 07:14] wu-sheng commented on #2316
`module-info.class` looks like an unexpected file.

[2019-03-18 09:52] guyukou opened #2374 "trace data absent"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?
I build SkyWalking locally based on master branch, in which the latest commit on 2019/3/13.
OS: CentOS rele

[2019-03-18 13:57] lelence opened #2376 "关于使用中的几个问题"
你好， 我在使用 `6.0.0-GA` 版本, 最下面是我的docker-compose.yml, 我想搭建一个多 `OAP`的 APM 环境,  发现了几个问题<br/>

1. 两个`OAP`的时候, 总会有一个报错的, 是不是 这里不可以对 `OAP` 做 高可用的配置, 或者是我的配置不对, 这里应该是执行重复了

{"error":{"root_cause":[{"type":"resource_already_exists_exception","reason":"index [all_heatmap_hour/4n3lxsqIQUGiXOeJixPC2A] already exists","index_uuid":"4n3lxsqIQUGiXOeJixPC2A","index":"all_heatmap_hour"}],"type":"resource_already_exi

[2019-03-18 14:40] wu-sheng commented on #2342
Provided.

[2019-03-18 14:40] #2342 closed

[2019-03-18 14:41] wu-sheng commented on #2374
First of all, do your backend work well? Could you see service and service instance in your UI or index(service_inventory).

[2019-03-18 14:41] #2374 closed

[2019-03-18 14:43] wu-sheng commented on #2376
English only.

docker-compose.yml should only be used for demo and preview. We recommend you to read our [k8s repo](https://github.com/apache/incubator-skywalking-kubernetes) to understand how oap work as the cluster.

How to deploy as a cluster, we provide a detailed document to guide, please read it.

[2019-03-18 14:43] #2376 closed

[2019-03-18 15:27] candyleer commented on #2316
I found the file ,located in `bytebuddy-1.9.2.jar`,I tracked the bytebuddy release,this file is released since `1.9.0`,and this file will cause error in only in tomcat 7.0.42.
![image](https://user-images.githubusercontent.com/11530760/54541362-be882a80-49d4-11e9-8b74-895d6124c377.png)

I have tried to remove this version file in my local env, it works for tomcat 7.0.42 .
but sad effect haven't be

[2019-03-18 15:29] wu-sheng commented on #2316
Would you want submit an issue on bytebuddy and involved me in? Let's find out why bytebuddy add it, I think he know much more about JVM than us.

[2019-03-18 15:31] candyleer commented on #2316
good idea

[2019-03-18 23:48] lelence commented on #2376
Thanks

[2019-03-19 02:28] gantts opened #2377 "Alarm configuration"
### Question
6.x version, how to configure matching business custom exceptions or matching specific text alerts?

[2019-03-19 02:42] wu-sheng commented on #2377
We don't have that.

[2019-03-19 02:42] #2377 closed

[2019-03-19 03:23] Remember-Forever opened #2378 "A question about IndexOutOfBoundsException"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [√ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

I build skywalking and elasticsearch on openshift, and run a demo(springboot project) on my pc.
Then I try to find my endpoint on skywalking-ui, but the oap-server's log shows error, and ui can't get my proj

[2019-03-19 03:51] guojie0701 commented on #2340
me too ,   our  business need to support sqlserver too.

[2019-03-19 06:53] fluffywar opened #2379 "when supports jdk 11"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
什么时候支持 jdk 11

docker jdk 8 内存识别有问题
而11是 LTS版本
公司目前用的是11
___

[2019-03-19 07:21] wu-sheng commented on #2379
We don't know yet. JDK 11 is very new, I am not sure whether it is compatible or not.

[2019-03-19 07:21] #2379 closed

[2019-03-19 07:21] wu-sheng commented on #2379
If you want to try JDK 11, you should be carefully.

[2019-03-19 09:46] ywf4026 opened #2381 "oap docker file error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [√ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

https://github.com/apache/incubator-skywalking-docker/blob/master/6/6.0-GA/oap/Dockerfile

the dockerfile may have an error here.
COPY docker-entrypoint.sh .

![

[2019-03-19 13:03] wu-sheng commented on #2381
@hanahmily issue?

[2019-03-19 13:06] wu-sheng commented on #2378
This log means, you somehow run oap in cluster mode, but cluster module implementor can't find the cluster inform. The reason is based on which cluster implementor, and whether is it compatible with its server side? Such as Zookeeper auth.

[2019-03-19 13:06] #2378 closed

[2019-03-19 13:27] hanahmily commented on #2381
works for macOS. Which os do you use to build the image?
By the way you don't need to build this by yourself more than pull the image from Dockerhub.

[2019-03-20 02:20] Remember-Forever commented on #2378
Auth? It seems never used in my skywalking environment.

[2019-03-20 02:44] ywf4026 commented on #2381
@hanahmily
CentOs

The storage is default h2 in the image from Dockerhub. I want to change it to ES, so I must buid it by myself

[2019-03-20 03:03] wu-sheng commented on #2378
I don't it is related to auth or not. But im theory, your cluster module doesn't work well.

[2019-03-20 09:43] guyukou commented on #2374
OAPserver runs very well, 200+ services has been connected, and trace perspective, most recent trace records can be searched out.
but some specific service related traces were not the same case while service_inventory and endpoint_inventory indexes both contains the specific service records.
Besides these, is agent trace report logs available?

[2019-03-20 12:52] xiaoni157 opened #2388 "How to set the expiration time of es data"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
When I modify the collector's application.xml file, does changing the value of traceDataTTL mean that the es data is also deleted, rather than just that the UI is

[2019-03-20 23:20] wu-sheng opened #2390 "SmartSql provider setting is not complete"
Ref #2387

We have four component-libraries.yaml for different purposes, need to sync the change to all of them. Also, should the mapping be there?

[2019-03-20 23:45] wu-sheng commented on #2390
FYI @Ahoo-Wang

[2019-03-20 23:49] wu-sheng commented on #2388
This is the data deleting config. The oap would really delete the data.

[2019-03-20 23:49] #2388 closed

[2019-03-21 02:22] xiaoni157 commented on #2388
When I want to keep a month's worth of data, can I set it this way?
![image](https://user-images.githubusercontent.com/24448049/54730313-20a68280-4bc3-11e9-9d56-ceb5f888dd58.png)

[2019-03-21 02:23] wu-sheng commented on #2388
Yes.

[2019-03-21 02:23] Ahoo-Wang commented on #2390
@wu-sheng ok. I will pr this later.

[2019-03-21 03:44] ywf4026 opened #2393 "es bulk question"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ √] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

ES as storage, I found the es config was not effect, for example, I set flushInterval 120s, bu I found only after seconds the bulk had executed

![image](https:/

[2019-03-21 04:10] Ahoo-Wang commented on #2390
@wu-sheng I just find three component-libraries.yaml

oap-server\server-starter\src\main\resources\component-libraries.yml
oap-server\server-core\src\test\resources\component-libraries.yml
docker\config\component-libraries.yml

Can you help me find another one?

[2019-03-21 04:18] wu-sheng commented on #2390
Yes. Only 3.

[2019-03-21 04:20] wu-sheng commented on #2393
@peng-yongsheng Could you answer this?

ES as storage, I found the es config was not effect, for example, I set flushInterval 120s, bu I found only after seconds the bulk had executed

[2019-03-21 04:22] wu-sheng commented on #2393
oap config -sampleRate, means trace sampled within one milisecond?

We have detailed document about server side sampling. https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/backend/trace-sampling.md

[2019-03-21 06:06] #2390 closed

[2019-03-22 03:35] guyukou opened #2396 "Why JDBC4Connection implements EnhancedInstance?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
Hello, I have a question about JDBC plugin. In our project, we introduce a third-party datasource management dependency, in which they proxy `com.mysql.jdbc.JDBC4C

[2019-03-22 04:01] wu-sheng commented on #2396
I don't know what happens in your `datasource management dependency`. But in my mind, the connection needs to be enhanced, because when trace happens, it will obtain the connection info(jdbc url, username...) from it, but the connection doesn't open method for this.

[2019-03-22 06:21] guyukou commented on #2396
Thank you for your reply, more than that, I want to know the place where JDBC4Connection is identified to be enhanced, could you offer a guide.

[2019-03-22 06:54] wu-sheng commented on #2396
@dsc6636926 @ascrutae Do you know? I don't know this detail

[2019-03-22 07:01] ascrutae commented on #2396
@guyukou Which driver class of MySQL JDBC did you used in your project?  if the driver class is not in enhance list, the connection object that the driver object return will not an `EnhancedInstance` object.

[2019-03-22 07:27] guyukou commented on #2396
Indeed, we use the `com.mysql.jdbc.Driver`, however, the connection pool lib is one that encapsulates alibaba druid and set a proxy to JDBC4Connection.

[2019-03-22 07:55] dsc6636926 commented on #2396
Which version of SkyWalking do you use? JDBC4Connection is subclass of com.mysql.jdbc.ConnectionImpl , and com.mysql.jdbc.ConnectionImpl has been enhanced . so JDBC4Connection is enhanced too. can you tell me the exactly problem you have met?

[2019-03-22 08:01] ascrutae commented on #2396
If this JDBC4Connection is a proxy object, it could not be enhanced by Skywalking.

[2019-03-22 08:10] guyukou commented on #2396
![image](https://user-images.githubusercontent.com/15632270/54808966-c5f15180-4cbc-11e9-8edd-63934ae844ab.png)
This is a screenshot from my local debug env, and it will cause a ClassCastException as beblow.
![image](https://user-images.githubusercontent.com/15632270/54809014-f0dba580-4cbc-11e9-956a-d45a0f93b77b.png)

[2019-03-22 08:41] dsc6636926 commented on #2396
this issue looks like #1947 ,and i found you use LoadBalanced mode,this version of skywalking is not support multihost mode on mysqlconnector-5.x. it will be fixed on next version.
on multihost mode, Connection will be created by LoadBalancedConnectionProxy.createInstance, connection will be proxied,so  the connection could not be enhanced by Skywalking, then the ClassCastException will be thrown

[2019-03-22 09:28] guyukou commented on #2396
Thank you, I got it.

[2019-03-22 11:11] #2396 closed

[2019-03-22 17:24] wu-sheng commented on #2316
@candyleer From https://github.com/raphw/byte-buddy/issues/629#issuecomment-474058254, I think the safe action we should take, should be that remove it directly. Agree?

[2019-03-22 21:17] wu-sheng commented on #2381
I think you should take our k8s config as an example, https://github.com/apache/incubator-skywalking-kubernetes/blob/master/6/6.0.0-GA/oap/03-deployment.yml#L55-L61

You could mount the volume to inject the config. The config files in k8s are here, https://github.com/apache/incubator-skywalking-kubernetes/blob/master/6/6.0.0-GA/oap/01-config.yml

[2019-03-22 21:17] #2381 closed

[2019-03-24 13:46] zgyrush commented on #744
Is there a plan to supported mongodb 3.2.2?

[2019-03-24 13:50] wu-sheng commented on #744
You could try to contribute one. The plugin supports come from the whole community. Even we want, I am not sure we have enough resources to test all.

[2019-03-24 16:00] zgyrush commented on #744
OK, i will try

[2019-03-25 08:33] chuanqi opened #2400 "As shown, the latest code is missing the package"
__
### Question
![image](https://user-images.githubusercontent.com/3119158/54905162-490fe300-4f1b-11e9-96a4-6d897c00dce9.png)

[2019-03-25 08:34] peng-yongsheng commented on #2400
exe: mvn compile then it's ok.

[2019-03-25 08:34] #2400 closed

[2019-03-25 08:49] peng-yongsheng commented on #2393
@ywf4026 Good question. This is a transaction problem. Workers will combine the data in memory with the data in db. The flow is:

ForEach memory data -> Get the same key data in memory -> combine memory and db -> into bulk process -> flush

So, if I don't flush it into db, I will get the dirty data from db next cycle. The bulk process settings are use for avoid send too many or too big size data i

[2019-03-25 15:43] candyleer commented on #2316
Yes,I agree with that, since bytebuddy do not  rely on this file and  it is not usable in most environment .

[2019-03-25 15:45] wu-sheng commented on #2316
@candyleer Please submit pull request to fix this.

[2019-03-25 15:58] candyleer commented on #2316
PR submitted

[2019-03-25 17:02] #2316 closed

[2019-03-27 02:06] Ahoo-Wang commented on #443
买道传感网 (https://www.51mydao.com/) - 生产环境 - V6.0  - SkyAPM-dotnet

[2019-03-27 02:14] wu-sheng commented on #443
@Ahoo-Wang You could send pull request to update [powered-by page](https://github.com/apache/incubator-skywalking/blob/master/docs/powered-by.md) directly.

[2019-03-27 02:28] Ahoo-Wang commented on #443
@wu-sheng ok,thx.

[2019-03-27 02:53] ywf4026 opened #2406 "span lost using es storage"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
- What do you want to know?

![image](https://user-images.githubusercontent.com/3722641/55046561-049c5880-507d-11e9-9f77-42e262aff335.png)

Click through traceid, some spans lost
![image](https://user-images.githubusercontent.com/3722641/55047155-be47f900-507e

[2019-03-27 02:55] wu-sheng commented on #2406
Are you meaning span or segment? There is no difference between H2 and ElasticSearch.

[2019-03-27 02:55] wu-sheng commented on #2406
Are you running in multiple threads? Or async thread scenario? It looks like the context is not being clear right.

[2019-03-27 02:56] ywf4026 commented on #2406
@wu-sheng
span ,  multiple threads

[2019-03-27 02:57] wu-sheng commented on #2406
Span can't be lost. That is certain. Multiple threads mean multiple segments.

[2019-03-27 02:58] ywf4026 commented on #2406
it's strange, change to h2 storage is ok

[2019-03-27 02:59] wu-sheng commented on #2406
You may just be misguided. Storage can't change this in any case, most likely, this is caused by multiple threads running in an unpredictable way.

[2019-03-27 03:05] ywf4026 commented on #2406
thanks, I'll see it again

[2019-03-27 12:42] mbao opened #2410 "What will makes CPM less than the real"
- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
- What do you want to know?

I see that  the DataCarrier in TraceSegmentServiceClient uses BufferStrategy.IF_POSSIBLE, so some segment will lose if there is too many segments to send.   So is there other situations in which segment will lose?

If I  change the sampleRate from 1000 to 100, only payload of segment persist

[2019-03-27 23:03] wu-sheng commented on #2410
No.

If you are saying client sampling, yes. Also the metric values lose 90%.

Depend on ElasticSearch performance. 8 CPU could reach 5k/s at least.

[2019-03-27 23:03] #2410 closed

[2019-03-27 23:04] wu-sheng commented on #2410
For 6.0.0-GA, it is designed for >~16Core. And 6.1 release(haven't yet) will be good work at different CPU cores.

[2019-03-27 23:05] wu-sheng commented on #2366
Wait for community help or from @terrymanu 's team.

[2019-03-27 23:05] wu-sheng commented on #2366
I am just tagging this as `help wanted`, because no committer is working on this.

[2019-03-28 01:10] snowThinker opened #2412 "(6.0.0-GA Standalone deployment) Bug java.lang.ArithmeticException: / by zero"
___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0.0-GA Standalone deployment
CentOS Linux release 7.5.1804
Oracle JDK 1.8.0_111

- What happen?
The skywalking-oap-server were down.
___
### Requirement or improvement
I think it's your design issue, maybe you can try to use Elastatic partition feature, you know you can archive history data monthly partition, after that you just need write d

[2019-03-28 01:19] wu-sheng commented on #2412
I don't understand what you are saying. Your issue title looks like the cluster management issue. ElasticSearch has nothing related to the `java.lang.ArithmeticException: / by zero`.

[2019-03-28 01:19] #2412 closed

[2019-03-28 01:37] lys791227 commented on #2189
@wu-sheng  I also find same problem

[2019-03-28 01:43] jjeejj commented on #2189
@lys791227  your ES server  no normal start-up, you can check your es server by log

[2019-03-28 04:31] snowThinker commented on #2412
你说是集群管理的问题，但我用的是单点部署的，不是集群部署。

java.lang.ArithmeticException: / by zero

[2019-03-28 04:40] wu-sheng commented on #2412
java.lang.ArithmeticException: / by zero

That is why I said, I don't understand. You provide very limit inform, I haven't a clue.

[2019-03-28 04:54] mbao commented on #2410
I mean sampleRate  for backend .  I think sample_n_per_3_secs is the only parameter for me to change the sample rate in agent client, right?
What do you mean by metric values? I think CPM value is still the exact value as sampleRate just impacts SegmentSpanListener for segment persistence.

What about mysql?  I think mysql is not optimized .

Thank you very much.

[2019-03-28 05:12] wu-sheng commented on #2410
What do you mean by metric values? I think CPM value is still the exact value as sampleRate just impacts SegmentSpanListener for segment persistence.

For server-side sampling, yes. Your description looks right.

We are running over tens of millions segment per day, so elasticsearch is widely used by us. For MySQL, I have added some indexes. If you have any new suggestion, pull request is always w

[2019-03-28 07:29] LiuZeng520 opened #2414 "Exception while fetching data (/getApplicationTopology) : null"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
org.apache.skywalking.apm.collector.analysis.segment.parser.provider.parser.SegmentParse -1623927 [grpc-default-executor-36] ERROR [] - null
java.lang.NullPointerException: null
2019-03-28 15:06:07,833 - org.apache.skywalking.apm.collector.analysis.worker.model.impl.MergePersistenceWorker -1624787 [pool-2-

[2019-03-28 07:37] LiuZeng520 commented on #2414
客户端报错：
Caused by: org.apache.skywalking.apm.dependencies.io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: /$IP:11800

[2019-03-28 08:02] terrymanu commented on #2366
I am not get context of this issue. Can you provide a demo to reproduce it?

[2019-03-28 08:31] ywf4026 commented on #2406
@wu-sheng
I replay this issue by running different task in one threadpool

code is below

![image](https://user-images.githubusercontent.com/3722641/55141741-0eee4d80-5176-11e9-9c5f-26c4ccc92f9b.png)

if n is greater, the trace graph will not be consistent.

![image](https://user-images.githubusercontent.com/3722641/55142086-c3886f00-5176-11e9-8947-c1cb9d2c4f8b.png)

[2019-03-28 09:01] #2414 closed

[2019-03-28 10:34] LiuZeng520 opened #2415 "Exception while fetching data (/getApplicationTopology) : null"
2019-03-28 15:55:28,798 -

org.apache.skywalking.apm.collector.analysis.worker.model.impl.MergePersistenceWorker -4585752 [pool-2-

thread-1] ERROR [] - Received an instance heart beat message under instance id= 3123 , which doesn't

exist.
org.apache.skywalking.apm.collector.core.UnexpectedException: Received an instance heart beat message

under instance id= 3123 , which doesn't exist.
        a

[2019-03-28 10:36] LiuZeng520 commented on #2415
Exception while fetching data (/getTopNApplicationThroughput) : null

[2019-03-28 12:12] mbao opened #2416 "Service CPM is less"
- Why do you submit this issue?
- [ ] Question or discussion

___
### Question
I add log in build() method of MultiScopesSpanListener.  The grep count of the log is twice larger than sum(total) of service_cpm with the same time_bucket.  I think the two should be same.
So what can I do to debug this?

I have a cluster with 2 backend servers. If I stop one, the CPM is equal with the log count. So if

[2019-03-28 12:46] ldcsaa opened #2417 "print stack trace Continuously: uri [/network_address_inventory/type] and method [GET], allowed: [POST]""
version: skywalking-apm-incubating-6.0.0-GA

My storage is elasticsearch 6.5.4

while running, skywalking-oap-server.log print the following stack trace log continuously:

`2019-03-28 20:40:27,823 - org.apache.skywalking.oap.server.core.register.worker.RegisterPersistentWorker - 102 [DataCarrier.IndicatorPersistentWorker.network_address_inventory.Consumser.0.Thread] ERROR [] - Elasticsearch except

[2019-03-28 12:52] ldcsaa opened #2418 "print error while startup: "java.lang.ArithmeticException: / by zero""
version: skywalking-apm-incubating-6.0.0-GA

My storage is elasticsearch 6.5.4

`2019-03-28 18:34:22,241 - org.apache.skywalking.oap.server.core.analysis.worker.IndicatorRemoteWorker - 53 [DataCarrier.IndicatorAggregateWorker.instance_jvm_memory_noheap_max.Consumser.0.Thread] ERROR [] - / by zero
java.lang.ArithmeticException: / by zero
        at org.apache.skywalking.oap.server.core.remote.selec

[2019-03-28 13:15] #2416 closed

[2019-03-28 16:03] wu-sheng commented on #2418
From here, I am assuming your cluster management is not working well.

[2019-03-28 16:03] #2418 closed

[2019-03-28 16:04] wu-sheng commented on #2417
This is a simple ElasticSearch exception, `ElasticsearchStatusException`.

[2019-03-28 16:04] #2417 closed

[2019-03-28 16:05] wu-sheng commented on #2415
You clear the elasticsearch, but your agent hasn't restarted.

[2019-03-28 16:05] #2415 closed

[2019-03-28 16:07] wu-sheng commented on #2406
You are using the annotation in the wrong scenario. This annotation works for a new thread and run scenario.

[2019-03-29 01:50] LiuZeng520 commented on #2415
thanks

[2019-03-29 01:59] spark8103 opened #2420 "how setting ui timezone"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [*] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
I change UI timezone every open.
my server‘ timezone is utc timezone.
but UI display shanghai timezone.

___
### Requirement or improvement
- Please describe about

[2019-03-29 02:06] spark8103 commented on #2420
I add webappService.sh
eval exec "\"$_RUNJAVA\" ${JAVA_OPTS} -jar ${JAR_PATH}/skywalking-webapp.jar \
         --spring.config.location=${JAR_PATH}/webapp.yml \
         --logging.file=${LOG_FILE_LOCATION} \
	 **-Duser.timezone=UTC \**
        2>${WEBAPP_LOG_DIR}/webapp-console.log 1> /dev/null &"
but not change UI default timezone.

[2019-03-29 02:08] LiuZeng520 commented on #2415
Do you want to restart all agents? I restarted an agent and it didn't work.

[2019-03-29 02:13] ywf4026 commented on #2406
I use the annotation followed by document
https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/service-agent/java-agent/Application-toolkit-trace-cross-thread.md

![image](https://user-images.githubusercontent.com/3722641/55204759-2deaef00-520b-11e9-89ff-6a5bc56dbcf6.png)

[2019-03-29 02:16] spark8103 commented on #1896
I add -Duser.timezone=UTC in webappService.sh
but not change UI timezone.

[2019-03-29 02:30] wu-sheng commented on #1896
You could choose UI timezone.

[2019-03-29 02:31] wu-sheng commented on #2420
UI based on your browser at now.

[2019-03-29 02:31] #2420 closed

[2019-03-29 03:13] PanKuanYew opened #2421 "Is this a wrong or mistaken description?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [1 ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

Hi, Mr SkyWalking. Does the first OAL refer to OAP?
Here is the url. https://github.com/apache/incubator-skywalking/blob/master/CHANGES.md#600-alpha

___
### Bug

[2019-03-29 04:36] mbao opened #2423 "Cluster Setup config"
- Why do you submit this issue?
- [ ] Question or discussion

### Question
- What do you want to know?

I use skywalking 6.0 with zookeeper for cluster.
RemoteClientManager periodically  uses ZookeeperCoordinator's queryRemoteNodes to refresh remote clients, but serviceCache used by queryRemoteNodes is not updated.
Do I have to config something to make this to work? I think it should get remote cl

[2019-03-29 04:37] #2423 closed

[2019-03-29 04:54] wu-sheng commented on #2421
No. OAL is real. Read our document, https://github.com/apache/incubator-skywalking/blob/master/docs/en/concepts-and-designs/README.md.

[2019-03-29 04:54] #2421 closed

[2019-03-29 04:56] wu-sheng commented on #2406
But that example is showing you to create a new thread, rather than use thread pool. Big difference.

[2019-03-29 06:25] ywf4026 commented on #2406
I found the cause. It's the limit size(20) when es query segments by traceid if having more then 20 segments.

![image](https://user-images.githubusercontent.com/3722641/55213422-2e48b180-522e-11e9-9461-51f76f9cac14.png)

I adjust the size to 100, then the trace graph is ok.

Anyway, how to set the size may be a quesiton.

[2019-03-29 06:40] wu-sheng commented on #2406
Why do you have so many segments? A batch process? cc @peng-yongsheng What do you think about this?

[2019-03-29 07:09] ywf4026 commented on #2406
Yes, a batch process, involves many threads

[2019-03-29 07:40] zhaoyuguang commented on #1676
@caowenyan hi is this https://mvnrepository.com/artifact/org.asynchttpclient/async-http-client ?

[2019-03-29 13:23] wu-sheng commented on #2406
This is new to me. Maybe we need open this as config item.

[2019-03-30 03:20] peng-yongsheng commented on #2406
@wu-sheng This is the first issue he found, and should not be the only one. One by one invoke or less batch invoke is conformity with the orginal design. But too many batch asynchronous threads is ignored.

[2019-03-30 03:38] wu-sheng commented on #2406
What do you mean about original design? I am a little confused.

I think tracing a batch task is not a very common use case, but at the trace data level, they are well organized. Right now, the impact is we can't query all of them in before.

[2019-03-30 03:47] peng-yongsheng commented on #2406
We are not discuss about **batch asynchronous threads**, we just discussed how to support **asynchronous threads**, right?

[2019-03-30 03:50] wu-sheng commented on #2406
I don't intend to start any discussion. I am just asking, if a trace has more than 20 segments, then what we should do in query. Do we provide config to make query available?

I think asynchronous is another complex topic.

[2019-03-30 03:56] peng-yongsheng commented on #2406
Agree with you, we don't known what the limit size is suitable, add a config item to support this first.
I just notice that there will be other issues.

[2019-03-30 03:58] wu-sheng commented on #2406
I just notice that there will be other issues.

Yes. I noticed those too :) So could you send a PR to fix those? I think we need some mechanism to make them consistently.

[2019-03-30 03:58] peng-yongsheng commented on #2406
OK

[2019-03-30 03:59] wu-sheng commented on #2406
@peng-yongsheng Thanks. I will leave this as an issue to you.

[2019-03-31 11:21] IluckySi commented on #2340
I plan to support if now there is no one working on it ~

[2019-04-01 14:38] wu-sheng commented on #2342
@BFergerson

Based on this, could you or I add CodeBrig Corp. and source++ project into the powered by page and user wall? I think this is an open case now, as it is described in GitHub.

[2019-04-02 00:25] wu-sheng commented on #2044
Right now, SkyWalking backend supports traces from Zipkin and Jaeger, saved in their native formats, providing query capabilities from SkyWalking UI.

[2019-04-02 06:08] Remember-Forever commented on #2378
I resolve this problem when I rebuild my oap-server... -.-

But now I get another problem, es, oap and ui are all in CST timezone like 'Tue, 02 Apr 2019 14:05:37 +0800' while I use the command 'date -R'.

If I choose UTC on UI, trace will appear. And if I use Asia/shanghai, I need select the range earlier than 8h.

[2019-04-02 07:41] linliaoy opened #2435 "oap 部署在k8s 内部，使用集群方式部署异常"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
在k8s 集群内部搭建oap，使用k8s 管理集群方式，使用standlone 方式部署没有问题。
配置是按照文档6.0.0-GA，不一样的配置如下：
application.yml: |-
    cluster:
      kubernetes:
        watchTimeoutSeconds: 60
        labelSelector: app=oap

[2019-04-02 14:01] wu-sheng commented on #2378
Then your server still run in utc time. Not +8

[2019-04-02 14:05] wu-sheng commented on #2435
English only, please. Which cluster management do you use? If k8s, then, do you have API server access right?

[2019-04-02 14:05] #2435 closed

[2019-04-02 17:12] wu-sheng commented on #443
User wall updated.
____

[2019-04-02 17:15] wu-sheng commented on #2044
Trace formats are supported, I would expect to support analysis in the short term. Because no particular committer or contributor wants to work on this.

As, I will remove the milestone and label as `TBD`.

[2019-04-02 17:16] wu-sheng commented on #2266
This is supported in RocketBot UI. We will have this automatically after the project donation finished.

[2019-04-02 17:16] #2266 closed

[2019-04-02 19:41] wu-sheng opened #2437 "Support istio report protocol and attribute protocol, make mixer unrequired"
We have received many feedbacks about the concerns of Istio mixer, so, I am proposing we support [Mixer Report Protocol](https://github.com/istio/api/blob/f2e09a7a27446db1b33a26b169d6a88556e7ebbd/mixer/v1/mixer.proto#L58) with [Istio Attribute Protocol](https://github.com/istio/api/blob/master/mixer/v1/attributes.proto).

Also from Istio 1.1.0, the compress has been turned off.

But, anyway, we us

[2019-04-02 20:03] wu-sheng commented on #1768
We passed the community vote and Incubator vote. We are waiting for the ASF board final resolution.

I think we could close this discussion for now. Thank you all for supporting the project, and welcome everyone in the community.

[2019-04-02 20:03] #1768 closed

[2019-04-03 03:04] linliaoy commented on #2435
I the correct use of 00 - rbac. Yml, but I use the namespace is the default, the other is to operate according to the document (https://github.com/apache/incubator-skywalking-kubernetes).

[2019-04-03 03:14] wu-sheng commented on #2435
If you want to understand the mode, you need to understand how skywalking cluster runs. The config we provided is only for `Mixed` mode.

[2019-04-03 06:04] wu-sheng opened #2438 "Increase the test coverage rate"
Today, SkyWalking's tests are mostly around integration tests, which are benifit for end users. Now we hope through this, people from community could help on Unit Tests.

JUnit and Mockito are provided. This is a good start for everyone wants to contribute codes. When you submit test cases PR, please ref to this issue.

[2019-04-03 06:32] wu-sheng commented on #2438
Also, in this kind of pull request, we don't limit how many test cases you provide. Even one new test case, which could effectively test one more line, it will be acceptable. Just try your best to make tests more sense.

[2019-04-03 06:42] Remember-Forever commented on #2378
Thx. I resolved it

[2019-04-03 08:42] JeanJhy opened #2439 "Whether Skywalking can provide code-level visibility？"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
___
### Question
- In the use of the process found that Skywalking call link can only to the request level, there is no specific code details, which compared with the Pinpoint below：
1）Pinpoint can see the concrete class and the method invocation situation
![image](https://user

[2019-04-03 16:25] wu-sheng commented on #2439
First of all, we are not competing with Pinpoint. We have our own landscape and design goals, read [Concepts and Designs](https://github.com/apache/incubator-skywalking/blob/master/docs/en/concepts-and-designs/README.md). We have users in different languages and different scenarios(including tracing, APM and service mesh observability).

So, please, if you want to know something, just ask the ques

[2019-04-03 16:25] #2439 closed

[2019-04-03 17:40] wu-sheng commented on #1935
Is there any update in here?

[2019-04-03 17:42] wu-sheng commented on #1567
See https://github.com/SkyAPM/SkyAPM-php-sdk

[2019-04-03 17:42] #1567 closed

[2019-04-03 17:44] wu-sheng commented on #1377
We have Spring MVC 5.x in supported list, now. https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/service-agent/java-agent/Supported-list.md

[2019-04-03 17:44] #1377 closed

[2019-04-03 17:45] wu-sheng commented on #1284
We have new APIs for async scenarios now.

[2019-04-03 17:45] #1284 closed

[2019-04-03 17:46] #1248 closed

[2019-04-03 17:47] wu-sheng commented on #190
Most configurations will downstream from OAP backend. So, right now, don't need more discussions.

[2019-04-03 17:47] #190 closed

[2019-04-03 17:47] wu-sheng commented on #325
This is WIP now. So I will shut down this issue.

[2019-04-03 17:47] #325 closed

[2019-04-03 17:48] #1360 closed

[2019-04-03 17:50] wu-sheng opened #2441 "Look volunteers to translate(sync) English documents to Chinese"
The new Chinese document is at
- https://github.com/SkyAPM/document-cn-translation-of-skywalking

We are welcome the contributions.

cc @brucewu-fly @kezhenxu94 @JaredTan95 I closed the old one.

[2019-04-04 06:01] coki230 opened #2443 "i want monitor c and c++, what can i do?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
-  Feature or performance improvement

___

### Requirement or improvement
- Please describe about your requirements or improvement suggestions.

i want to know does it have a method or proposal to monitor the c and c++

[2019-04-04 06:06] wu-sheng commented on #2443
You could build a c/c++ SDK based on SkyWalking protocol, it is open and friendly to other languages.

[2019-04-04 07:37] Wooo0 commented on #443
- 六合远教（成都）科技有限公司  http://www.cdlhyj.com/
- 应用于某党建项目中，线下预演中，已确定正式应用于线上。
- 使用skywalking 6.0GA+skyapm-netcore
![image](https://user-images.githubusercontent.com/31612998/55537705-68fb8f80-56ef-11e9-8255-e0045e867260.png)

[2019-04-04 08:40] dsw1985815 opened #2444 "Use the @TraceCrossThread annotation to solve the problem that call chains cannot be traced when asynchronous calls are made, but it has no effect."
Use the @TraceCrossThread annotation to solve the problem that call chains cannot be traced when asynchronous calls are made, but it has no effect.

1. I created the SearchThread class to implement the Callable interface and annotated it with @TraceCrossThread

2. I used FutureTask to make asynchronous calls in my method，but the call chain is break

3.i tried version 5 and version 6 have the same

[2019-04-04 10:21] R1hug0 opened #2445 "java.lang.StackOverflowError: null agent:"
___
### Bug
- Which version of SkyWalking, OS and JRE?
Centos6.9x86_64 6.0-GA  jdk 1.8
- Which company or project?
dubbo
- What happen?
If possible, provide a way for reproducing the error. e.g. demo application, component version.
2019-04-04 13:43:45.715 [DubboServerHandler-192.168.3.1:28080-thread-999] [ERROR] {"traceId":""}com.alibaba.dubbo.rpc.filter.ExceptionFilter[error:74] -  [DUBBO] Got un

[2019-04-04 10:27] lxh1214 opened #2446 "RabbitMQConsumerInterceptor intercept failure java.lang.NullPointerException"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Bug
- Which version of SkyWalking, OS and JRE?

     version: 6.0.0-GA
     OS: windows 10
     JRE: 1.8
- What happen?

         A service is a rabbitMq pruducer but there is no integration skywalkin

[2019-04-04 16:03] wu-sheng commented on #2446
@zhaoyuguang Could you check on this?

[2019-04-04 16:05] wu-sheng commented on #2445
@ascrutae Anything different in 5.0 Dubbo plugin and 6.0? In my mind, it is same.

[2019-04-04 23:03] zhaoyuguang commented on #2446
OK ~

[2019-04-05 01:53] wu-sheng commented on #2446
@lxh1214 I think this should be fixed, could you test on the master codes again?

[2019-04-05 01:53] #2446 closed

[2019-04-05 04:42] wu-sheng commented on #443
@Wooo0 Would you like to send a pull request to add your company into powered-by page directly?  https://github.com/apache/incubator-skywalking/blob/master/docs/powered-by.md

I really hope we could make that list longer :)

[2019-04-05 07:36] LiuZeng520 opened #2452 "cluster module exist 2 providers"
Exception in thread "main" org.apache.skywalking.oap.server.library.module.DuplicateProviderException: cluster module exist 2 providers
        at org.apache.skywalking.oap.server.library.module.ModuleDefine.provider(ModuleDefine.java:142)
        at org.apache.skywalking.oap.server.library.module.ModuleDefine.provider(ModuleDefine.java:30)
        at org.apache.skywalking.oap.server.core.CoreModu

[2019-04-05 07:37] LiuZeng520 commented on #2452
org.apache.skywalking.oap.server.core.remote.client.RemoteClientManager - 110 [pool-5-thread-1] ERROR [] - cluster module exist 2 providers
org.apache.skywalking.oap.server.library.module.DuplicateProviderException: cluster module exist 2 providers
        at org.apache.skywalking.oap.server.library.module.ModuleDefine.provider(ModuleDefine.java:142) ~[library-module-6.0.0-GA.jar:6.0.0-GA]

[2019-04-05 07:41] LiuZeng520 commented on #2452
请一下这个问题怎么解决

[2019-04-05 07:42] LiuZeng520 commented on #2452
请教一下这个问题怎么解决

[2019-04-05 07:49] LiuZeng520 commented on #2452
Above is oap.log Error Information . How to Solve the Problem？

[2019-04-05 11:57] deepakgoenka opened #2453 "Classloading issues with custom plugin"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [X ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
I created a new plugin for my product but while starting my server, i get some class not found errors

I have followed the steps properly to create the plugin.

P

[2019-04-05 11:57] deepakgoenka opened #2454 "Classloading issues with custom plugin"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [X ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
I created a new plugin for my product but while starting my server, i get some class not found errors

I have followed the steps properly to create the plugin.

P

[2019-04-05 15:18] wu-sheng commented on #2453
I don't know. If our plugin works then I can tell.
Your plugin is source closed, and for internal framework only. Sorry.

[2019-04-05 15:18] #2453 closed

[2019-04-05 15:19] #2454 closed

[2019-04-05 15:22] wu-sheng commented on #2452
I think our document has told what is module and what is providor. You open two providor in yaml. which cause this issue. In your log, it says, two providors in cluster module. You need to check the yml.

If you don't know what is provider, read this https://github.com/apache/incubator-skywalking/blob/master/docs/en/setup/backend/backend-setup.md#applicationyml

[2019-04-05 15:22] #2452 closed

[2019-04-06 02:03] LiuZeng520 commented on #2452
It works. Thank you very much.

[2019-04-07 10:07] celesky opened #2455 "Question: so ,it cannot support the method level tracing?"
it just tracing at the service level right?
for example:
serviceA(20ms)--->serviceB(2000ms)---->serviceC(10ms)

but it don't know which method in serviceB led to this long latency problem ?

[2019-04-07 10:25] wu-sheng commented on #2455
Default trace is RPC related. If you want more, read our optional plugin. Many more could trace local method.

[2019-04-07 10:25] #2455 closed

[2019-04-08 06:41] duansheli opened #2457 "对docker不友好"
Please answer these questions before submitting your issue.
skywalking/oap
- Why do you submit this issue?
- [ ] Question or discussion
- [x ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
# 如何通过docker进行安装
___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for

[2019-04-08 06:43] wu-sheng commented on #2457
English only.

[2019-04-08 06:43] #2457 closed

[2019-04-08 06:44] wu-sheng commented on #2457
Docker file and docker compose are only for development, not for release. If you want to know how we use docker image, read https://github.com/apache/incubator-skywalking-kubernetes

[2019-04-08 08:49] duanshaowei opened #2458 "collector 和 javaagent不在一台机器上服务注册不上"
版本：5.0.0-beta2

启动脚本 ：
 java -javaagent:/agent/skywalking-agent.jar -Dskywalking.collector.grpc_channel_check_interval=2 -Dskywalking.collector.app_and_service_register_check_interval=2 -Dcollector.discovery_check_interval=2 -Dskywalking.collector.servers=192.168.2.149:10800 -Dskywalking.agent.application_code=kingkong -jar kingkong.jar

服务配置：

![image](https://user-images.githubusercontent.com/10

[2019-04-08 08:52] wu-sheng commented on #2458
English Only. Why IP can't access is based on your env, which I don't know.

[2019-04-08 08:52] #2458 closed

[2019-04-09 08:11] brentoncao opened #2462 "Exception while fetching data (/serverAlarmList) : null"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-04-09 08:13] brentoncao commented on #2462
Also my jvm information is not displayed, the system time of all machines is consistent

[2019-04-09 08:15] brentoncao commented on #2462
I use SkyWalking-5.0.0-RC2

[2019-04-09 08:16] wu-sheng commented on #2462
Your backend is not deployed right.

[2019-04-09 08:16] #2462 closed

[2019-04-09 08:20] brentoncao commented on #2462
But other information is monitorable. Performance logs, topology maps, interface error logs, etc.

[2019-04-09 08:26] wu-sheng commented on #2462
We only recommend you deploy GA in a new env. Why choose RC2?

[2019-04-09 08:29] brentoncao commented on #2462
I thought that GA is not a stable version.

[2019-04-09 08:32] wu-sheng commented on #2462
Why GA is not a stable version?

[2019-04-09 08:38] brentoncao commented on #2462
Ok, I am trying to change to the GA version.

[2019-04-09 08:49] rogerlmj123 commented on #2126
There is no solution for the gateway now. We are mainly using the gateway. The entrance cannot be tracked.

[2019-04-09 09:36] zhaoyuguang commented on #2126
I think spring cloud gateway = webflux(supported) +  reactor-netty
If support reactor-netty,  it can work.
The solution I am looking for, others can join.

[2019-04-10 06:57] brentoncao commented on #2323
After the replacement version can work, thanks

[2019-04-10 06:58] brentoncao commented on #2462
After the replacement version can work, thanks

[2019-04-10 07:32] vietj commented on #2341
there is work for tracing done in Vert.x for 4.0 , it is described in this spec: https://github.com/vert-x3/wiki/wiki/RFC:-context-tracing

also there are two implementations with OpenTracing and Zipkin here that can be used as examples https://github.com/vietj/vertx-tracing

[2019-04-10 09:13] wu-sheng commented on #2341
This is an auto instrumentation plugin for skywalking native.

[2019-04-10 09:29] thelight1 commented on #2441
I want to do it , what should I do?

[2019-04-10 09:31] srddrs opened #2467 "class[class io.undertow.server.Connectors] after static method[executeRootHandler] intercept failure:null"
Please answer these questions before submitting your issue.

Why do you submit this issue?
  Question or discussion
  Bug
  Requirement
  Feature or performance improvement
Question
Bug
Which version of SkyWalking, OS and JRE?
skywalking 6.0.0-GA, linux,, java1.8

Which company or project?

What happen
DEBUG 2019-04-10 05:13:04:220 TraceIgnoreExtendService :  operationName : /actuator/prometheus I

[2019-04-10 09:41] kezhenxu94 commented on #2441
Hi @thelight1,  please refer to this issue SkyAPM/document-cn-translation-of-skywalking#3

[2019-04-10 10:07] thelight1 commented on #2441
ok, I want to translate the files in directory [protocols](https://github.com/apache/incubator-skywalking/tree/master/docs/en/protocols)

[2019-04-10 10:20] kezhenxu94 commented on #2441
Hi @wu-sheng I suggest **lock this conversation** to guide the contributors to [SkyAPM/document-cn-translation-of-skywalking](https://github.com/SkyAPM/document-cn-translation-of-skywalking) , what do you think

![image](https://user-images.githubusercontent.com/15965696/55871459-3a812700-5bbd-11e9-8801-1d4883cf0f7c.png)

[2019-04-10 10:31] wu-sheng commented on #2441
@kezhenxu94 done. All discussion should move to new repo.

[2019-04-10 11:01] wu-sheng commented on #2467
We may need a demo to reproduce the issue

[2019-04-10 12:16] kezhenxu94 commented on #2126
@zhaoyuguang can you share what you've achieved? :)

[2019-04-10 13:29] BFergerson commented on #2341
@vietj, the new tracing features in Vert.x 4.0 look easy and simple to use. As far as I understand though, there isn't a simple way to do it in Vert.x 3.x and that's the version we are adding native SkyWalking tracing support to.

SkyWalking already supports OpenTracing it sounds like Vert.x 4.0 will be automatically supported without a native plugin, so that's awesome.

[2019-04-10 13:32] wu-sheng commented on #2341
@BFergerson I wouldn't expect OpenTracing works very well. Sadly to say so. But we could take advances of vertx core to make auto instrument better and easier.

[2019-04-10 13:38] BFergerson commented on #2341
@wu-sheng, could you explain that please? OpenTracing support is mentioned on this project several times. It's my understanding that if you support OpenTracing then you support anything that uses OpenTracing compatible tracers?

vietj also mentions that they will have Zipkin support for Vert.x 4.0. Even with OpenTracing and Zipkin native support for Vert.x we would still need an auto-instrumentati

[2019-04-10 13:49] wu-sheng commented on #2341
That is the typical issue of OpenTracing. OpenTracing is just a set of API, it is no guarantee. And for SkyWalking, it is just a bridge API to agent core, which means, sync call most likely works, but requires user manually active SkyWalking tracer, based on OT API, but in the real world, most users would not because we have the agent, people want really auto, right?

If we just want Zipkin trace,

[2019-04-10 13:53] wu-sheng commented on #2341
I mostly work around auto-instrument, especially in Java. @adriancole knows much more about the OpenTracing issues in manual instrumentation library compatible. It is far from your expected right now.

[2019-04-10 14:02] wu-sheng commented on #2341
Two more things.
1. OpenTracing Java 0.32 breaks 0.31 compatible again, and our community has no one wants to do upgrade right now. Sadly.
1. OpenTracing and OpenCensus are going to be merged, so API will most likely be broken again.

You see, there are a lot of things happening, and I and most SkyWalking users/contributors want 100% stable and reliable, we recommend our native format and plugins

[2019-04-10 23:15] adriancole commented on #2341
@wu-sheng you can try to ignore the opentracing thing and look at the other one in vert.x 4. I think @vietj did bake in some OT semantics.. some are easy to fix. however OT and brave apis are similar anyway. it might be more difficult to take something not largely a clone of brave and integrate it https://github.com/vietj/vertx-tracing/pull/1/files#r274201967

[2019-04-11 01:43] brentoncao opened #2468 "SkyWalking about JVM monitoring"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-04-11 01:46] wu-sheng commented on #2468
Right now, we haven't. The contribution is welcome.

[2019-04-11 01:49] brentoncao commented on #2468
ok，thank you~

[2019-04-11 02:56] zhijunzhong opened #2469 "agent cause jvm crash"
吴老师，您好。

         我在使用skywalking时，发现agent会导致jvm崩溃，具体原因不明，不过，有点线索的是，出现崩溃的代码都是出现在lambda表达式里，如果我把lambda表达式改成普通的写法就没问题。

         运行环境：
                   操作系统：windows7、linux
                   Jdk: jdk1.8.0_25

        以下是错误信息
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x0000000024f6c000, pid=9372, tid=12300
#
# JRE version:

[2019-04-11 02:58] wu-sheng commented on #2469
English is only allowed, and please make your comment formatted.

[2019-04-11 02:58] #2469 closed

[2019-04-11 03:26] Jruing opened #2471 "Agent cannot connect to the collector"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [1] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
After deploying the agent, according to the history, there may be a memory leak problem. Now, skywalking6.0.0GA, ES6.3.2 is used. When the deployment service volume is greater than 2, this pr

[2019-04-11 03:28] wu-sheng commented on #2471
When you deploy cluster mode, the OAP node will talk to each other, so you need to make sure they could connect each other by core grpc host/port

[2019-04-11 03:28] #2471 closed

[2019-04-11 06:44] brentoncao opened #2472 "The number of agents that start microservices seems to be limited."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-04-11 06:52] wu-sheng commented on #2472
No. We have nothing related to this. And I am not sure, what is your status of can't be started?

In our users, SkyWalking is monitoring hundred, even thousands services, nothing special.

[2019-04-11 06:52] #2472 closed

[2019-04-11 07:06] brentoncao commented on #2472
OK，I got it. May be insufficient memory allocation, thank you~

[2019-04-11 07:21] ascrutae opened #2473 "The callback instrumentation of Kafka framework is incorrect"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

**Background**
1.  The Kafka plugin intercepts all class that it implements callback interface and do continue the `ContextSnapshot` when the `onComplete` method invokes.
2. The Kafka framework creates a new

[2019-04-11 07:54] jxttian opened #2475 "Skywalking service count is 0,but endpoint has value in skywalking ui"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0-GA,Kubernetes,Jre8

- Which company or project?

- What happen?
If possible, provide a way for reproduc

[2019-04-11 07:58] jxttian commented on #2475
使用的是Docker Hub上的镜像 apache/skywalking-oap-server

[2019-04-11 08:01] liuhaoyang commented on #2475
Please use English.

[2019-04-11 08:13] wu-sheng commented on #2475
Timezone is UTC, not UTC +8(Browser default timezone). You could switch in UI.

[2019-04-11 08:13] #2475 closed

[2019-04-12 02:17] movetocloud opened #2476 "receiver.trace.provider.parser.SegmentParseV2 NullPointerException"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [] Bug

___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0.0-GA，Centos7.4  JRE1.8.0_201

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. demo application, component version.

2019-04-12 09:27:36,520 - org.apache.skywalking.oap.server.core.reg

[2019-04-12 02:20] wu-sheng commented on #2476
The log is clear.

The data has been removed by someone from the database.

[2019-04-12 02:20] #2476 closed

[2019-04-12 03:16] xiaoni157 commented on #2388
I set it up like this, but there's still no data on the UI from 90 minutes ago.Es is version 5.6.8
![image](https://user-images.githubusercontent.com/24448049/56009945-3582bb80-5d14-11e9-842b-7af8c61b9a65.png)

[2019-04-12 03:22] wu-sheng commented on #2388
What do you mean `no data on the UI from 90 minutes ago`? I am a little confused.

[2019-04-12 03:32] xiaoni157 commented on #2388
I want to keep one month's data. I set it as normal as above in application.xml, but the call chain is still only 90 minutes' data

[2019-04-12 03:41] xiaoni157 commented on #2388
just like this
![image](https://user-images.githubusercontent.com/24448049/56010856-e5a5f380-5d17-11e9-951b-e841433b0c84.png)

[2019-04-12 05:49] wu-sheng commented on #2388
We keep TTL in 7 days, and look like it is right. I think you need to verify the delete by yourself. By the way, we are using 6.0.0-GA

[2019-04-12 06:06] xiaoni157 commented on #2388
How to configure 5.0.0-GA version for one month?
skywalking: 5.0.0-GA
es:aliyun 5.6.8
It looks right.
![image](https://user-images.githubusercontent.com/24448049/56015520-e779b200-5d2b-11e9-8870-7f9b4a1e6093.png)

[2019-04-12 06:12] wu-sheng commented on #2388
It should be same. Verify data in ES, make sure really delete incorrectly.

[2019-04-12 06:46] movetocloud opened #2479 "receiver.trace.provider.parser.SegmentParseV2 NullPointerException"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Bug
___
### Bug
- Which version of SkyWalking, OS and JRE?
6.0.0GA  Centos7.4 OpenJdk1.8.0_201

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. demo application, component version.

2019-04-12 09:27:36,523 - org.apache.skywalking.oap.server.recei

[2019-04-12 06:48] #2479 closed

[2019-04-12 06:51] movetocloud commented on #2476
ok,we have changed the storage from h2 to es.
dose restart the agent can fixs this error?

[2019-04-12 07:05] DineshRama opened #2480 "How to use skywalking in react. please give some documents related to this."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-04-12 07:43] wu-sheng commented on #2480
What do you mean react? JavaScript?

[2019-04-12 08:27] albanyqq opened #2481 "how to connect es 6.1.4"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
how to connect es 6.1.4
___
### Bug
- Which version of SkyWalking, OS and JRE?
SkyWalking 6.0GA  CentOS   jre 1.8
- Which company or project?

- What happen?
how to connect es 6.1.4
___

Connection error

[2019-04-12 08:44] wu-sheng commented on #2481
Document said, 6.3+ only.

[2019-04-12 08:44] #2481 closed

[2019-04-12 11:37] albanyqq commented on #2481
How can I use ES 6.1?

Can you give me some thought?

thanks

[2019-04-12 13:02] wu-sheng commented on #2481
Es6.1 has bugs which can't support aggregation query very well. So... That is why.

[2019-04-12 17:04] DineshRama commented on #2480
yeah exactly. Please help

[2019-04-12 22:06] wu-sheng commented on #2480
JavaScript project is here, https://github.com/SkyAPM/SkyAPM-nodejs . You could ask there.

[2019-04-12 22:06] #2480 closed

[2019-04-13 03:20] kevinLuan commented on #2417
I have the same problem，This is not an ES problem。
Look at this method code：
[code]
Skywalking version: 6.0.0-alpha, 6.0.0-ga both have this problem
@wu-sheng

[2019-04-13 03:47] wu-sheng commented on #2417
We have nearly 100 users in product environment, connecting elasticsearch. So make sure you are using right version, and don't open auth(such as xpack, basic auth)

[2019-04-13 05:55] kevinLuan commented on #2417
Elasticsearch 6.3.2 and 6.7.1 versions have this imagined.
And no ES auth is turned on.

[2019-04-13 12:35] coki230 commented on #2443
thank you very much. do you have any book which learn APM or skywalking to recommend

[2019-04-13 12:48] wu-sheng commented on #2443
@coki230 Assuming you could read Chinese(from your profile), I used to write part of this book, https://item.jd.com/12498217.html, to talk about Observability in general.

[2019-04-13 12:50] wu-sheng commented on #2443
@dio The community is calling you :P

[2019-04-14 01:55] kezhenxu94 commented on #2338
I think this is a rarely-appeared bug and since the RocketBot UI is going to replace the current UI, I'll close this for now

[2019-04-14 01:55] #2338 closed

[2019-04-15 03:39] brentoncao opened #2486 "es Cluster configuration problem"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- SkyWalking 6.0.0GA

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. demo application, compone

[2019-04-15 06:45] zhaoyuguang commented on #2486
Yes，IP:HOST,IP:HOST
Detail see: ElasticSearchClient::parseClusterNodes.

[2019-04-15 07:20] monkeyAlwaysWin commented on #2034
spring cloud gateway 现在不兼容

[2019-04-15 07:20] #2486 closed

[2019-04-15 08:53] brentoncao commented on #2486
ok，thank you~

[2019-04-16 01:36] brentoncao opened #2489 "SkyWalking deployment issues"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- Hello, about 100 microservices with SkyWalking monitoring need to cluster SkyWalking deployment ? I have clustered es, and reduced the esqueque_size, flush related information configuration

[2019-04-16 01:45] wu-sheng commented on #2489
What is your question?

[2019-04-16 02:07] brentoncao commented on #2489
Hello, Do I need to cluster SkyWalking to monitor more than 100 microservices with SkyWalking?  I have clustered es, and reduced the esqueque_size, flush related information configuration.

[2019-04-16 02:09] wu-sheng commented on #2489
That depends on your serivce payload and how many CPUs and memory it could use. In normal case, you need, otherwise, why you set elasticsearch in cluster mode.

[2019-04-16 02:09] #2489 closed

[2019-04-16 02:42] brentoncao commented on #2489
ok, thank you~

[2019-04-16 09:57] brentoncao opened #2490 "SkyWalking cluster deployment problem"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-04-16 10:55] wu-sheng commented on #2490
Your elasticsearch can't connect, I don't know why.

[2019-04-16 10:55] #2490 closed

[2019-04-16 11:18] brentoncao commented on #2490
Okay thank you~

[2019-04-16 16:06] BFergerson commented on #2341
We can close this now with https://github.com/apache/incubator-skywalking/pull/2386 being accepted. This gives Skywalking basic support for Vert.x. As I continue to monitor my Vert.x applications with Skywalking I'll expand on this support. Thanks for all the help @wu-sheng. Looking forward to the release of 6.1 ;).

[2019-04-16 16:06] #2341 closed

[2019-04-16 16:13] qlql489 opened #2491 "why Backend service list limit 100"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
I see the result of getAllServices  method in class MetadataQueryEsDAO  limit 100, how to unlimited, our service count is above 100
___
### Bug
- Which version of

[2019-04-16 16:23] wu-sheng commented on #2491
Welcome to submit pull request to query more, 5000? Maybe, and provide setting for max value.

[2019-04-17 00:29] wu-sheng commented on #2341
@BFergerson Thanks. Welcome to contribute other plugins. The 6.1 release should happen next month.

[2019-04-17 02:38] honganan commented on #1935
Sorry for missing the reply messages. To achieve this feature we need to use `ConstructHijackInter` to replace `ConstructInter` as they can not be coexistence with each other.

But to do this we need to change all Plugins' interface methods from `onConstruct` to `beforeConstruct` and `afterConstruct`. I think this extensive changes **should be appraised**. And I will test the `ConstructHijackInter

[2019-04-17 03:09] wu-sheng commented on #1935
I think we don't need replace, because most people don't need to change argument of construct. Instead, we could provide a new interception way, what do you think?

[2019-04-17 03:21] honganan commented on #1935
A new interface is available. As there are incompatible, the main logic in `ClassEnhancePluginDefine` should be:
[code]
If you thought would be ok, I will send a PR moment later.

[2019-04-17 03:49] wu-sheng commented on #1935
Basically, this is totally fine. As a widely used project, we have a support old interface, especially most users don't need the new feature at this moment.

I am going to opem this issue, again. In case you will submit pull request.

[2019-04-17 09:33] coki230 commented on #2443
@wu-sheng thanks, It's a great help to me.

[2019-04-17 12:52] #2491 closed

[2019-04-18 03:21] jacky1193610322 opened #2493 "i hope real metrics，not sampling， trace can sampling"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [x] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?

- Which company or project?

- What happen?
If possible, provide a way for reproducing the error. e.g. dem

[2019-04-18 09:53] wu-sheng commented on #2493
English only. If you want to contribute new feature we could discuss details.

[2019-04-18 09:53] #2493 closed

[2019-04-18 12:41] duanshaowei opened #2495 "eclipse run exception"
ERROR 2019-04-18 20:31:31:660 ServiceAndEndpointRegisterClient :  ServiceAndEndpointRegisterClient execute fail.
org.apache.skywalking.apm.dependencies.io.grpc.StatusRuntimeException: INTERNAL: http2 exception
	at org.apache.skywalking.apm.dependencies.io.grpc.stub.ClientCalls.toStatusRuntimeException(ClientCalls.java:222)
	at org.apache.skywalking.apm.dependencies.io.grpc.stub.ClientCalls.getUnch

[2019-04-18 12:43] duanshaowei commented on #2495
vm arguments

-javaagent:/agent/skywalking-agent.jar
-Dskywalking.collector.grpc_channel_check_interval=2
-Dskywalking.collector.app_and_service_register_check_interval=2
-Dcollector.discovery_check_interval=2
-Dskywalking.collector.backend_service=192.168.2.149:11800,192.168.2.152:11800,192.168.2.155:11800
-Dskywalking.agent.service_name=kingkong

[2019-04-18 13:08] wu-sheng commented on #2495
Look like normal.  If this works at local, then check your os network, firewall, etc.

[2019-04-18 13:08] #2495 closed

[2019-04-19 03:59] zhaoyuguang commented on #2473
I  try do fix it.

[2019-04-19 04:04] wu-sheng commented on #2473
You should be able to assign the issue to yourself now.

[2019-04-19 04:05] zhaoyuguang commented on #2473
OK

[2019-04-19 05:46] singgel commented on #443
公司：雪球财经
网址：https://www.xueqiu.com/
地点：中国北京
联系方式：hekuangsheng@gmail.com
场景：多业务线追踪

[2019-04-19 05:55] wu-sheng commented on #443
@singgel  Would you like to send a pull request to add your company into powered-by page directly? https://github.com/apache/incubator-skywalking/blob/master/docs/powered-by.md

[2019-04-19 06:12] singgel commented on #443
That's it.

[2019-04-19 11:55] Stephen-sen opened #2496 "HTTP/1.1 409 Conflict"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [* ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
when I use es cluster,and backend config is zk cluster.when I start one backend service all is ok,but when I start two or more backend,the log always show HTTP/1.

[2019-04-21 07:58] dmsolr opened #2501 "[Agent] Provide plugin for Solr-7.x"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirement
- [ ] Feature or performance improvement

___
- it will provide a sniffer plugin include solrj and solr.

[2019-04-21 07:59] wu-sheng commented on #2501
Welcome the contribution for the new plugin.

[2019-04-21 08:06] dmsolr commented on #2501
Coming soon. :-)

[2019-04-21 08:09] wu-sheng commented on #2501
Please notice this, https://github.com/SkyAPMTest/agent-auto-integration-testcases. Automatic tests are highly recommended to provide with your plugin pull request before we do code review. That test is the strong proof to help the project team accepts your new plugin.

[2019-04-21 08:22] dmsolr commented on #2501
I get it. thanks for your tips.

[2019-04-21 12:37] flycash commented on #2468
What do you want to know from monitoring thread pool? @brentoncao Number of thread? The number of tasks in blocking queue? Or execution time?

[2019-04-22 02:23] albanyqq opened #2502 "java.net.ConnectException: Connection refused (Connection refused)"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- why can't ui make a connection with oap?
sk6.0-GA、docker(ui&oap)、h2

- What happen?
when i modification of document A deploy ui,gives error 500.
log:

 Mapped URL path [/api/**] onto handle

[2019-04-22 02:27] wu-sheng commented on #2502
From the log, you are connecting `Server stats: [[Server:127.0.0.1:12800;	Zone:UNKNOWN`.

[2019-04-22 02:27] #2502 closed

[2019-04-22 02:29] wu-sheng commented on #2406
@JaredTan95 Could you work on this?

[2019-04-22 02:30] wu-sheng commented on #2437
Intend to use ALS, see https://github.com/apache/skywalking/pull/2460 . Close this for now.

[2019-04-22 02:30] #2437 closed

[2019-04-22 02:32] albanyqq commented on #2502
But my settings is 172.17.0.3   Why Link 127.0.0.1 ？

[2019-04-22 02:35] wu-sheng commented on #2502
I am not sure. Maybe because of host file, or something unknown bug. I think you need to dig a little more.

[2019-04-22 03:04] peng-yongsheng commented on #2496
@Stephen-sen Don't worry about it, this is a distributed consistency problem. we use the document version to avoid different OAP server get the same document id. So, you get this conflict log.

[2019-04-22 03:09] #2496 closed

[2019-04-22 03:13] Stephen-sen commented on #2496
ok,I see,thank you

[2019-04-22 03:15] albanyqq commented on #2502
**logs:**
Client: collector instantiated a LoadBalancer: DynamicServerListLoadBalancer:{NFLoadBalancer:name=collector,current list of Servers=[],Load balancer stats=Zone stats: {},Server stats: []}ServerList:null

Is this normal?

[2019-04-22 07:21] lvai125 commented on #37
请问skywalking怎么配置邮件告警

[2019-04-22 07:24] wu-sheng commented on #37
This is very old issue. Please read new document, there is webhook for alarm. You could implement a server to forward alarm to mail.

[2019-04-22 09:18] dingsongjie opened #2504 "If there are more than 20 spans in a segment, some spans are not displayed."
If there are more than 20 spans in a segment, some spans are not displayed.

[2019-04-22 09:20] wu-sheng commented on #2504
@dingsongjie Which page? Could you show us some screenshot?

FYI @TinyAllen pay attention about this, if do not exist in RocketBot UI, I think we are good.

[2019-04-22 09:44] dingsongjie commented on #2504
1  This is a segment took a total of 83933 ms

![image](http://kan.027cgb.com/620321/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190422172925.png)
2   Click to enter details , Show only spans of 450 ms interval

![image](http://kan.027cgb.com/620321/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190422172814.png)

3 The span of this page should exceed 20

(![image](http://kan.027cgb.com/620321/%E5%BE%AE%E4%BF%

[2019-04-22 09:47] jadezhong opened #2505 "kafka agent plugin not work properly"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- How to solve this problem?

___
### Bug
- OS: CentOS
- JRE: 1.8
- Skywalking: 6.0.0-GA
- Spring Cloud: Edgware.SR4
- Spring Kafka: 1.3.8-RELEASE

when sending message, org.apache.kafka.comm

[2019-04-22 09:54] dingsongjie commented on #2504
5  After a few minutes, I click on the details again , Page changed

![image](http://kan.027cgb.com/620321/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190422175203.png)

[2019-04-22 09:55] wu-sheng commented on #2505
The log is very clear, your Kafka doesn't support header. We need Kafka 0.11.0.0 -> 1.0, see https://github.com/apache/skywalking/blob/master/docs/en/setup/service-agent/java-agent/Supported-list.md

[2019-04-22 09:55] #2505 closed

[2019-04-22 09:57] wu-sheng commented on #2504
The latency is possible because segments are saved in async way.

[2019-04-22 09:57] jadezhong commented on #2505
yes, the underlying kafka-clients is ver 0.11.0.2

[2019-04-22 10:04] dingsongjie commented on #2504
Why are there only 20 spans in a segment?  I have a lot of apis like this

[2019-04-22 11:55] liuyongtao opened #2507 "An illegal reflective access operation has occurred"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- whern
- [ ] Bug
- [ ] Requirement
- [x] Feature or performance improvement

___
### Question
- when I download  SkyWalking releases 6.0.0，run startup on windows，it shows that

"WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.esotericsoftware.reflecta

[2019-04-22 11:59] liuyongtao commented on #2507
SkyWalking  release version 6.0.0-GA

[2019-04-22 12:51] wu-sheng commented on #2507
Yes, we only run this in JRE 8, maybe 9 is ok. I am not sure about the status of 11. If you have interests to contribute, we are welcome to support running OAP in JRE 11 or higher.

[2019-04-22 12:57] wu-sheng commented on #2504
I don't know why actually. I think should be all.

[2019-04-22 13:05] #2507 closed

[2019-04-22 13:06] #2473 closed

[2019-04-22 15:09] wu-sheng commented on #443
User wall has been updated.

_____

[2019-04-22 16:06] flycash commented on #2438
Where can I find the code coverage report?

[2019-04-23 00:10] wu-sheng commented on #2438
The coverage is here, https://coveralls.io/github/apache/skywalking

[2019-04-24 04:47] FYBen opened #2511 "No data in the interface"
There is no data in the interface, and "id is too long, must be no longer than 512 bytes but was: 778" appears frequently in the log.

Following chart
![12131556065368_ pic](https://user-images.githubusercontent.com/26532217/56632999-eaab6100-668e-11e9-95ba-aae24b97dd3c.jpg)
Adjust the time earlier
![12191556065433_ pic](https://user-images.githubusercontent.com/26532217/56633026-04e53f00-668f-11e

[2019-04-24 05:31] wu-sheng commented on #2511
Why is your service/service instance/endpoint name so long?

[2019-04-24 05:32] wu-sheng commented on #2511
@peng-yongsheng I have received several reports about ID too long.

[2019-04-24 07:14] brentoncao commented on #2468
@flycash  In addition to the above points, I also want to monitor the status of the current thread. Of course, it is better that can monitor more thread pool related information.

[2019-04-24 08:09] zxbu opened #2512 "I use okhttp as dubbo rpc module, the trace was mess (当我用okhttp作为dubbo的底层通信模块时，调用链会出现分叉的现象)"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
Bug

___
### Bug
- Which version of SkyWalking, OS and JRE?
SkyWalking

- What happen?
I use okhttp as dubbo rpc module, the trace was mess (当我用okhttp作为dubbo的底层通信模块时，调用链会出现分叉的现象)

one rpc will cause two trace

![image](https://user-images.githubusercontent.com/32785355/56642987-4683e300-66ab-11e9-904c-ecec

[2019-04-24 08:13] wu-sheng commented on #2512
I don't know much about the dubbo + okhttp. If there is async, you need a new plugin to deal with it.

[2019-04-24 08:15] wu-sheng commented on #2512
I don't know what the trace should be, so even you show me the graph, I have no clue. Sorry.

[2019-04-24 08:21] zxbu commented on #2512
It was a simple dubbo rpc like a -> b.
so  the trace should be  like this pic:

![image](https://user-images.githubusercontent.com/32785355/56643544-67006d00-66ac-11e9-867b-083b39b6bb58.png)

Actually, I use a async http invoke in dubbo.
My solution is remove the okhttp plugin, it worked.
Thank you for your reply, you can close issue if need.

[2019-04-24 08:23] wu-sheng commented on #2512
I am closing. If you active http async, because dubbo plugin doesn't know async, then this shows as two rpc calls. That is why we provide this convenient way to remove some plugin.

[2019-04-24 08:23] #2512 closed

[2019-04-24 08:43] zxbu opened #2513 "Can apm-trace-ignore-plugin ignore path with given plugin ?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug

- [x] Requirement
- [ ] Feature or performance improvement

___
### Requirement or improvement
Sometimes, I hope ignore path with given plugin, not for all plugins.
Such as: I will ignore path `/aaa`  only for okhttp plugin, and httpClient plugin not affected.

[2019-04-24 08:58] wu-sheng commented on #2513
Fisrt of all, this is trace ignore, not span ignore. Http client libs are exit spans, which can affect te trace.

[2019-04-24 08:58] #2513 closed

[2019-04-24 14:07] 3tem opened #2514 "ServiceAndEndpointRegisterClient running, status:CONNECTED."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___

   centos 7 and jre1,8

  The startupagent  started reporting an error , demo is SpringBoot project
  the log is info :
   Selected collector grpc service running, reconnect:false.
  ServiceAndEndpointRe

[2019-04-24 14:28] wu-sheng commented on #2514
This is the normal log. It says, running, in debug level.

[2019-04-24 14:28] #2514 closed

[2019-04-25 01:35] IAMTJW opened #2516 "InstanceMethodsInterceptPoint to enhance a abstract class's abstract method"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
I want use InstanceMethodsInterceptPoint to  enhance a abstract class's abstract method，but it's not effective

___
### Question
- What do you want to know?
Is the InstanceMethodsInterceptPoint not support  the abstract class the abstract method?

[2019-04-25 04:06] wu-sheng commented on #2516
It is an abstract method, you can't enhance that :) JVM rule. If you mean all sub classes who implement this method, maybe try `HierarchyMatch`

[2019-04-25 04:06] #2516 closed

[2019-04-25 07:46] zxbu opened #2521 "skywalking will stop collect unexpectedly when hundreds os service"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

- What happen?
version: 6.0.0-GA
config:  only modify storage config for use elasticsearch, other config keep default. standalone mode

About 200 microservice instance,  one standalone collector with memory 8

[2019-04-25 07:48] wu-sheng commented on #2521
See ElasticSearch log, is the cluster alive?

[2019-04-25 07:53] zxbu commented on #2521
ElasticSearch  is standalone mode.
ElasticSearch was worked normally all the time. and the log do not have any error, only several gc info log

[2019-04-25 07:54] zxbu commented on #2521
![image](https://user-images.githubusercontent.com/32785355/56718931-55819880-6772-11e9-9d35-447bb8fe46e0.png)

[2019-04-25 07:54] zxbu commented on #2521
This is es log:
![image](https://user-images.githubusercontent.com/32785355/56718970-69c59580-6772-11e9-890b-ce6f3c3ea6d6.png)

[2019-04-25 08:04] wu-sheng commented on #2521
If too many overheads, then the ElasticSearch may can't support the delete very well. Please add more nodes.

[2019-04-25 08:04] #2521 closed

[2019-04-25 09:12] zxbu commented on #2521
![image](https://user-images.githubusercontent.com/32785355/56724030-c3cb5880-677c-11e9-8d2c-4f01f887e148.png)

the grpc-default-executor thread state all was TIMED_WAITING.
Is it a endless loop sometimes?

[code]

[2019-04-25 11:33] hemant-learningforever opened #2522 "facing issue while connecting collector to elastic"
- Why do you submit this issue?
-  Question or discussion
-  Bug

While staring skywalking collector getting below issue.
Exception in thread "main" ElasticsearchStatusException[Elasticsearch exception [type=mapper_parsing_exception, reason=Failed to parse mapping [_doc]: Root mapping definition has unsupported parameters:

In the logs this is what i got
2019-04-24 19:02:01,428 - org.apache.skywal

[2019-04-25 11:41] wu-sheng commented on #2522
SkyWalking should create index automatically. If not, please check startup log.

[2019-04-25 11:41] #2522 closed

[2019-04-25 12:24] hemant-learningforever commented on #2522
There is no file called as startup log

All i could see is skywalking-oap-server.log which talks gives the string and error message as below.

2019-04-25 15:29:30,621 - org.apache.skywalking.oap.server.storage.plugin.elasticsearch.base.StorageEsInstaller - 89 [main] INFO  [] - index all_p50_day's mapping builder str: {"_all":{"enabled":false},"properties":{"value":{"type":"integer"},"precision":{"

[2019-04-25 12:31] wu-sheng opened #2523 "Track seata/SkyWalking integration step1"
Hi @zhaoyuguang @kezhenxu94

This issue has been created only for tracking the status of integration work, based on this [conclusion](https://github.com/seata/seata/issues/714#issuecomment-486605181)

I hope we could finish this in 6.2 release, at least step 1, which should at least one month later.

Let's separate the tasks, please reply which part you will lead. And link further PRs to this issu

[2019-04-25 12:51] wu-sheng commented on #2522
We don't know any special setting for index creation.

This looks like the index creation command.

[2019-04-25 12:52] wu-sheng commented on #2521
Is it a endless loop sometimes? @wu-sheng

It needs to wait until the data has been consumed.

[2019-04-25 14:14] manheiba opened #2525 "zipkin client invoke /api/v2/spans error"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Bug
#### version: 6.0GA
#### Bug description.
 zipkin(version 2.7.1) client invoke to /api/v2/spans
[code]

then , I see the errors log of skywalking-oap-server.log
SpanV2JettyHandler - 65 [qtp5220825

[2019-04-25 14:16] wu-sheng commented on #2525
@adriancole Any idea?

[2019-04-25 14:18] wu-sheng commented on #2525
I guess this is some kinds of protocol incompatible, but since we are using Zipkin lib, either we read HTTP request body in the wrong way, or there is update in Zipkin.

@adriancole You may have a better idea?

[2019-04-25 14:25] manheiba commented on #2525
It is suggested to use Kafka to collect Zipkin data

[2019-04-25 23:27] adriancole commented on #2525
mm so this looks like the client is spring cloud sleuth as the main zipkin-reporter project has no RestTemplateSender. can you give version details on this?

note: you can use latest brave by using a bom to align versions, just in case there's something fixed more recently than the code you are using https://github.com/openzipkin/brave#version-alignments

My "guess" is that this is an empty body s

[2019-04-25 23:29] adriancole commented on #2525
related https://github.com/apache/incubator-zipkin-reporter-java/issues/138

[2019-04-26 00:38] wu-sheng commented on #2525
@manheiba Please follow the suggestion.

[2019-04-26 00:38] #2525 closed

[2019-04-26 02:22] manheiba commented on #2525
### tks
#### starter-zipkin & starter-sleuth version are 1.3.5.RELEASE
#### I used springboot 1.5.15.RELEASE with dependency below :

[code]

#### application.properties
[code]

[2019-04-26 02:46] adriancole commented on #2525
ok in this case, please update to latest zipkin reporter to make sure
there's no bug already fixed. sleuth 1.3 does not use brave, but it uses
the same reporting library

https://github.com/apache/incubator-zipkin-reporter-java#version-alignments

On Fri, Apr 26, 2019 at 11:23 AM manheiba <notifications@github.com> wrote:

[2019-04-26 06:14] IAMTJW opened #2527 "skywalking suppport xxl-job"
Please answer these questions before submitting your issue.

- Why do you submit this issue?

- [ ] Feature or performance improvement

### Requirement or improvement
- Please describe about your requirements or improvement suggestions.

Is  it support xxl-job like elastic-job?

[2019-04-26 06:53] wu-sheng commented on #2527
No, but a contribution is welcome.

[2019-04-26 06:54] wu-sheng commented on #2527
You could inform the xxl-job project team to contribute this to SkyWalking. I have plenty of plugins come in this way.

[2019-04-26 06:59] R1hug0 commented on #2445
will it be repaired in version 6.1?

[2019-04-26 07:23] wu-sheng commented on #2445
We haven't known the reason, so I am afraid it wouldn't.

But I read your log again, why there are MQ and jms in front of dubbo? That is unexpected.

[2019-04-26 07:38] imkiven opened #2529 "does skywalking support elasticsearch 7?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [√] Question or discussion

___
### Question
- What do you want to know?
 does skywalking support elasticsearch 7?

[2019-04-26 07:39] wu-sheng commented on #2529
Plugin or Storage?

[2019-04-26 07:51] imkiven commented on #2529
both or either or neither?

[2019-04-26 07:56] wu-sheng commented on #2529
We haven't any of them. But
- For the plugin, we welcome the contribution.
- For storage, we can't accept, because 6.3+ is already very new to the community.

[2019-04-26 07:56] #2529 closed

[2019-04-26 08:24] zhl1987 opened #2530 "5 question in alarm module"
1、在RunningRule类的Window内部类中规则触发次数判断重复：在isMatch方法结尾处与checkAlarm方法中均做了触发次数的判断。
  建议去掉其中之一。
2、在AlarmCore类start方法的启动单例线程中先调用moveTo方法，后判断当前调用时间的秒数是否大于15进行告警规则的判定，会出现判定数据丢失的情况。
  建议将moveTo方法移到后面处理
3、在AlarmCore类start方法的启动单例线程中调用moveTo方法时，传入的checkTime未将秒数和毫秒数清零，导致moveTo方法中计算分钟数有误差。
   建议在调用moveTo方法时将秒数和毫秒数清零。
4、在AlarmCore类start方法的启动单例线程中set lastExecuteTime时间时只清零了秒数，未将毫秒数清零，导致在计算lastExecuteTime与执行时间checkTim

[2019-04-26 08:29] wu-sheng commented on #2530
English only. Sorry. As you have detailed steps about how to fix, please submit several pull requests to fix each issue.

[2019-04-26 10:04] R1hug0 commented on #2445
Maybe  something wrong with my descripe
sending messages asynchronously to rocketmq and then throw an exception ,these methods have an inheritance relationship,if Skywalking Agent is removed, it will be normal.

[2019-04-26 10:12] wu-sheng commented on #2445
I know it is related to agent. But I can't have your scenario and can't address your issue.

In log, you saw dubbo and mq mixed together. Unless we can reproduce, I don't know how to fix

[2019-04-26 10:28] xiaoni157 opened #2532 "5.0.0-GA upgraded to 6.0.0-GA"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
Our company now USES 5.0.0-GA, and then wants to change to 6.0.0-GA version. Is the es version of aliyun still compatible with 5.5.3 version? I cannot pass the loc

[2019-04-26 10:41] wu-sheng commented on #2532
You could refer this way. But you have to re-implement the storage. It is not Apache release.

https://github.com/SkyAPM/SkyWalking-With-Es5x-Storage

[2019-04-26 10:41] #2532 closed

[2019-04-26 10:42] wu-sheng commented on #2532
In official release, ElasticSearch 6.x is required.

[2019-04-26 13:09] wu-sheng opened #2533 "Topology line metric Detect Point isn't selected automatically."
When I clicked the line in the topology map, the detect point hasn't been selected automatically right.

[2019-04-26 13:13] wu-sheng opened #2534 "[Query API change] Remove component in line metric"
When I am checking #2533 , I noticed the metric line IDs of client and server are different in agent-based scenario. Because the component ids are different. The UI can't find the right metric ID.

In 6.2, I think we should remove the component id of line entity and line metric entity. At the same time, add line component entity(including `inSet` function). Also, need to change a little of topolog

[2019-04-26 13:19] wu-sheng opened #2535 "Don't have tips when copy trace id and sql statement"
I find this in my browser, please recheck.

[2019-04-26 13:22] wu-sheng opened #2536 "Tree mode height is not self-adaption"
The trace tree mode heigh is not self-adaption, so you can't see the whole tree.

[2019-04-26 13:29] IAMTJW commented on #2527
OK，I will try

[2019-04-26 13:30] wu-sheng commented on #2527
I think you have found our plugin development document, right?

[2019-04-26 13:36] IAMTJW commented on #2527
I am using skywalking and learning something about it，and I have konwn how elastic-job work and I may know how to develope the xxl-job

[2019-04-26 13:59] wu-sheng opened #2538 "Topology, trace, alarm page refresh triggers 401"

[2019-04-26 15:39] #2406 closed

[2019-04-26 16:13] FYBen commented on #2511
@wu-sheng Does this ID refer to that id, agent. service_name? This must not be named more than 512 bytes, such as PRM-80800-8089 for "PRM-80800-8089"

[2019-04-26 16:16] wu-sheng commented on #2511
In this case, endpoint name I think.

[2019-04-27 10:12] wu-sheng commented on #2538
Fixed by #2541

[2019-04-27 10:12] #2538 closed

[2019-04-27 10:55] wu-sheng opened #2543 "Two issues in alarm page"
![image](https://user-images.githubusercontent.com/5441976/56848614-b4374580-691d-11e9-8f43-a9ac10213702.png)

1. Search key world is not working.
1. Paging is not working and after input keyword, the page number shows `[Object]`.
1. No global alarm right now. But we think it doesn't make sense.

[2019-04-27 11:00] wu-sheng opened #2544 "Two issues in Trace page"
![image](https://user-images.githubusercontent.com/5441976/56848710-a0401380-691e-11e9-8677-d9af72a916d4.png)

1. The `loading` image doesn't disappear when no trace data.
1. Change condition `range` to `duration`.

[2019-04-27 11:02] FYBen commented on #2511
Can I increase the length of this id? If so, where can I configure it?

[2019-04-27 11:11] wu-sheng commented on #2511
It is caused by ElasticSearch limit, I think we may need to try to find a way to limit endpoint name length. cc @peng-yongsheng

[2019-04-27 12:54] IanCao opened #2546 "Spring Plugin Maybe cause memory leak in some case"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
   Bug

Spring Plugin Maybe cause memory leak in some case
![image](https://user-images.githubusercontent.com/32847163/56849922-b1445100-692d-11e9-9aa6-df91394dd925.png)
org.apache.skywalking.apm.plugin.spring.mvc.commons.interceptor.AbstractMethodInterceptor

this is the key code.

the case is one @Reques

[2019-04-27 13:15] wu-sheng commented on #2546
@IanCao Good catch. I have discussed with @ascrutae , we think we should
1. Add a stack-based flag in the running context.
1. Only create Entry Span when this flag does not exist.
1. Create Local Span when flag exists.
1. Clear running context(request/response) if flag is reset to 0.

What do you think?

[2019-04-27 14:08] IanCao commented on #2546
OK~~

[2019-04-28 02:33] R1hug0 commented on #2445
I try to find out the cause of problem.

[2019-04-28 07:37] xjhuiw opened #2549 "Performance test report"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

   Is there a performance test report?

[2019-04-28 08:01] wu-sheng commented on #2549
Chinese version.
- official, https://skyapmtest.github.io/Agent-Benchmarks/README_zh.html
- 3rd party
https://github.com/apache/skywalking/issues/1596#issuecomment-418946050
https://upload-images.jianshu.io/upload_images/14516896-c3c5b7633d0577f8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1000/format/webp

[2019-04-28 08:01] #2549 closed

[2019-04-28 12:25] #2544 closed

[2019-04-28 12:25] #2543 closed

[2019-04-28 12:25] #2536 closed

[2019-04-28 12:25] #2535 closed

[2019-04-28 12:25] #2533 closed

[2019-04-28 13:08] cheetah012 opened #2552 "GraphQL not support "Long" type"
- Why do you submit this issue?
- [1 ] Question or discussion
___
### Question
aggregation.graphqls
alarm.graphqls
metric.graphqls
top-n-records.graphqls
trace.graphqls
containing "long" type，but GraphQL  not support "Long" type,
When using idea, type checks report errors

[2019-04-28 13:12] wu-sheng commented on #2552
@hanahmily inform me, the `Long` is a new type in our Resolver. You could find it in the implementation.

[2019-04-28 13:12] #2552 closed

[2019-04-29 03:42] #2546 closed

[2019-04-29 06:22] martinou opened #2554 "Fix application cannot start when the dubbo interface with @GetMapping"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ .] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?
  SkyWalking

- Which company or project?
dubbo 2.7.1

- What happen?
If possible, provide a way for repro

[2019-04-29 07:05] vanjikumaran opened #2555 "Sample implementation for Opentracing for Skywalking"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [X ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ X] Feature or performance improvement

___
### Question
- Currently, The documented does not provide much more information on the usage or sample implementation on openTracing [1]; Is there any sample that been already implemented?

[1] https://

[2019-04-29 07:08] wu-sheng commented on #2555
OpenTracing just asked the implementor to provide the tracer and related APIs. So, only this related to SkyWalking API.

SkyWalking-OT is a bridge, you still need to install the agent. In SkyWalking, we only recommend you to use OT when you want to add you new local span.

[2019-04-29 07:18] wu-sheng commented on #2555
Don't use OT API instrument lib and OT API to instrument RPC. We have plenty auto-instrumentation plugins, which will work better and no code injection.

[2019-04-29 07:28] #2555 closed

[2019-04-29 10:04] SataQiu opened #2556 "Skywalking 6.0.0-GA agent does not work properly with Spring Cloud Gateway"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [x] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?
   How to make the SkyWalking agent work properly with SpringCloud Gateway project.
___
### Bug
- Which version of SkyWalking, OS and JRE?
   SkyWalking Version: 6

[2019-04-29 10:10] wu-sheng commented on #2556
You could follow the pull request related to this.

[2019-04-29 10:10] #2556 closed

[2019-04-29 10:39] xiaoni157 opened #2557 "skywalking 6.0.0-GA collector start failed."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

___
### Bug
- Which version of SkyWalking, OS and JRE?
skywalking 6.0.0-GA
ES ali cloud 6.3.2
- Which company or project?

- What happen?
If possible, provide a w

[2019-04-29 10:42] wu-sheng commented on #2557
I don't know why you can't ali Cloud Elasticsearch. Please check by yourself.

[2019-04-29 10:42] #2557 closed

[2019-04-29 10:45] xiaoni157 commented on #2557
If I want to use ali Cloud, is there any problem with my configuration?

[2019-04-29 10:46] wu-sheng commented on #2557
That part I don't know...

[2019-04-29 15:05] xjhuiw opened #2558 "Can I configure alarm rules through the UI? Customize alarms through the UI?"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirement
- [ ] Feature or performance improvement

___
### Question
- What do you want to know?

Can I configure alarm rules through the UI? Customize alarms through the UI?

Can only be fixed  Config/ Alarm -settings.yml Configuration Alert?

Can be configur

[2019-04-29 15:08] wu-sheng commented on #2558
Can't, today.

I don't understand this question.

No. Why do you need multiple files?

Please use webhook in the alarm module.  You could do anything in there. Based on ASF 2.0, I can't use commercial message protocol.

[2019-04-29 15:08] #2558 closed

[2019-04-29 15:14] xjhuiw commented on #2558
For the second question
Excuse me, I want to express the alarm rules that must be configured in this file?

[2019-04-29 15:17] xjhuiw commented on #2558
How to use webhook  ? Can provide the use of the document connection address
?

[2019-04-29 15:22] wu-sheng commented on #2558
Excuse me, I want to express the alarm rules that must be configured in this file?

Yes. Right now it is.

It is already included in `alarm-settings.yml`. such as
[code]

The target endpoint could receive the alarm message in HTTP request body in JSON format.

[2019-04-29 15:26] xjhuiw commented on #2558
thank you very much

I queried the relevant information, for example.   https://skywalking.apache.org/zh/blog/2019-01-03-monitor-microservice.html

[2019-04-29 15:34] xjhuiw commented on #2558
The target endpoint could receive the alarm message in HTTP request body in JSON format.

Can I configure alarm message to send through the UI?

[2019-04-29 15:41] wu-sheng commented on #2558
No, you can't.

[2019-04-29 15:44] xjhuiw commented on #2558
If you dynamically modify alarm-settings.yml, do you need to restart the service?

[2019-04-29 23:51] wu-sheng commented on #2558
Right now, Yes.

[2019-04-30 00:08] wu-sheng opened #2560 "Standardize Time in SkyWalking"
Hi

Today, SkyWalking time mechanism relied on the agent, backend, and UI in the same time zone, but still facing issues. Because of the time in agent traces, it is hard to make it accurate in the query.

In 6.2, I want to do this, which related to agent, backend and UI changes.
1. Agent reports its timezone in register and heartbeat, in default, treated as backend timezone for back-forward compat

[2019-04-30 00:37] hanahmily commented on #2560
If we use gRPC, I think the best practice is that at the first segment of streaming the agent is designed to report timezone.

[2019-04-30 00:39] wu-sheng commented on #2560
But it will break all agent protocol, which will be a disaster. See what happens in 5.0->6.0, some agents are still not fitting the new protocol. I really don't want to do that.

[2019-04-30 00:52] hanahmily commented on #2560
It seems an extension far more than a breaking. I means if the agent has adopted the new protocol cloud send timezone, other agent could use old ways to send data. In other word, the oap makes an assumption that all data received is belonging to GTM unless it gets the exact timezone of the agent.

[2019-04-30 00:56] wu-sheng commented on #2560
Then you need to extend all agent protocol as 6.0 did. Because all agent protocols include time. Also,y, you should known, in gRPC/protobuf, the naming will become very hard. Because span/segment need to be renamed again.

[2019-04-30 00:58] wu-sheng commented on #2560
@hanahmily You can't. Because old agents base on OS time only.

[2019-04-30 01:01] appregidc opened #2561 "endpoint页面报错"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Bug
___
### Bug
- Which version of SkyWalking, OS and JRE?
    6.0GA  CentOS Linux release 7.4.1708 (Core)
    java version "1.8.0_101"
    Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
   Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)

- Which company or project?
   glodon

[2019-04-30 01:07] wu-sheng commented on #2561
English only, 6.1 is on the way, please retry there.

[2019-04-30 01:07] #2561 closed