[2021-08-30 06:18] wu-sheng commented on #7597
Yes, changing binary codes(including OS level files) with time would be a very challenging work, I am afraid.

[2021-08-30 06:19] wu-sheng commented on #7597
Dev version is fine, because basically, we have image per commit id. It would be automatically fix in the name dev version.

[2021-08-30 06:21] sundong1982 commented on #7401
@wu-sheng  It's still old in hub.docker.com

[2021-08-30 06:22] wu-sheng commented on #7597
@hanahmily `JDK->JRE` is not about CVE case, it is a just common way for a release image. Because we are not going to compile anything in the runtime, then JDK is not required.

[2021-08-30 06:24] wu-sheng commented on #7401
I don't know why you pinged me. But this has been updated. Read https://github.com/apache/skywalking/issues/7416#issuecomment-899331509

[2021-08-30 06:37] hanahmily commented on #7597
Why I mentioned the CVE case here intends to explain that even we select a specific `JRE`, it can't lock the underlying OS. A more common way to rebuild and re-push released images periodically. But Apache foundation projects can't follow this strategy easily unless they belong to official images, like tomcat.

[2021-08-30 06:48] wu-sheng commented on #7597
Yes, I know. This is not a case we can't fix, right?

[2021-08-30 08:31] goudai commented on #5881
Did you solve it ?, I ran into the same problem.

[2021-08-30 13:24] happyfeetw commented on #7380
Finally I managed to find that what I want is just there called data-query-protocol, but thanks for your reply anyway. :)

[2021-08-31 02:48] hailin0 commented on #7203
I am interested in it

[2021-08-31 02:50] wu-sheng commented on #7203
@hailin0 Please go ahead. There is no progress yet.

[2021-08-31 02:55] hailin0 commented on #7203
👌

[2021-08-31 07:02] abel533 opened #7614 "[Bug] Spring MVC @RequestBody 调用错误"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

![image](https://user-images.githubusercontent.com/1787798/131457463-e5bc8ebe-ed1a-420a-aee9-6eb4411e8436.png)

接收的对象中有 `BigDecimal` 字段，经过 agent 字节码加强后，调用该方法报错：

[2021-08-31 07:14] wu-sheng commented on #7614
Please use English on the GitHub discussion.

[2021-08-31 07:14] #7614 closed

[2021-08-31 08:15] slientup opened #7617 "[Feature] Does skywalking currently support django+uwsgi deployment?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

When I use "python manage.py runserver 127.0.0.1:8091" to run the django project, skywalking-ui can display real-time data normally, but when I use uwsgi+ng

[2021-08-31 08:28] kezhenxu94 commented on #7617
Hi, @slientup please provide reproducible steps when you are reporting a bug, otherwise we are not able to help to reproduce and fix, if you cannot provide reproducible steps, open in [Discussion](http://github.com/apache/skywalking/discussions) first.

[2021-08-31 08:29] kezhenxu94 commented on #7617
@slientup also, did you read the whole comments in https://github.com/apache/skywalking/issues/6324 ? Does it help somehow?

[2021-08-31 08:44] wu-sheng commented on #7617
@slientup You should follow the issue template required, if there no enough information, community would not follow up.

[2021-08-31 08:44] #7617 closed

[2021-08-31 08:46] slientup commented on #7617
Step 1：When I use "python manage.py runserver 127.0.0.1:8091" to run the django project on dev env, skywalking-ui can display real-time data

Step 2：when I use uwsgi+nginx to deploy django project  in production env, skywalking-ui is nothiing.

[2021-08-31 08:46] slientup commented on #7617
@kezhenxu94  it is some helpful. After I replaced uwsgi with gunicorn, skywalking-ui showed the data in real time

[2021-08-31 09:30] haiyes commented on #7401
可以把这个配置调整试试看，本人在8.7版本已经验证通过
SW_OAP_ADDRESS=**oap-server**:12800
SW_OAP_ADDRESS=**http://127.0.0.1**:12800

[2021-08-31 09:34] haiyes commented on #7401
![image](https://user-images.githubusercontent.com/26479419/131479277-abe22634-a0b6-4369-af44-e1660b04cdce.png)

[2021-08-31 16:00] YczYanchengzhe commented on #7521
I want to implement this by adding intmatch and wonder if it assign assigned to me

[2021-08-31 16:03] kezhenxu94 commented on #7521
@YczYanchengzhe assigned, thanks

[2021-09-01 00:55] lzdujing commented on #7571
@dmsolr   Can this issue be reproduced?

[2021-09-01 02:10] dmsolr commented on #7571
@lzdujing Sorry. A tittle busy these days. I will do this on weekend.

[2021-09-01 02:28] lzdujing commented on #7571
@dmsolr ok,thank you.

[2021-09-01 06:42] Michaelliangxu opened #7630 "Tid is na after using logback plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/8934662/131624101-837606c7-fbba-4bec-b64c-383dd2f81371.png)

### Use case

I don't know where the configuration is wrong ，why tid is na

### Related issues

I don't kno

[2021-09-01 06:44] wu-sheng commented on #7630
You didn't submit report correctly, this is not a feature. This should be only a discussion.

[2021-09-01 06:44] #7630 closed

[2021-09-01 08:18] Memento1990 commented on #2230
Maybe you can try this:
`trace.ignore_path=/eureka/**,/eureka/**/,/swagger-resources/**`

[2021-09-01 11:55] YczYanchengzhe commented on #7521
I encountered a problem.
After I completed the development and passed the unit test, I wanted to run the integration and found this error. The cause of the error was that the oal.core included parameter configuration could not be recognized. What could be the reason for this?

line 23:46 extraneous input '10' expecting {')', BOOL_LITERAL, NUMBER_LITERAL, IDENTIFIER}
line 24:42 mismatched input '10

[2021-09-01 11:55] YczYanchengzhe commented on #7521
![image](https://user-images.githubusercontent.com/45945752/131667047-c71b33a3-dd7b-4745-892d-b48a378d4b7e.png)

[2021-09-01 11:58] wu-sheng commented on #7521
You should change antlr file, and oal core to generate correct class codes. I am feeling you don't change them.

[2021-09-02 08:22] iris-xie commented on #5464
could you tell me how you reslove this, I also met this issue

[2021-09-02 08:23] iris-xie commented on #5464
@moxm could you help me,please

[2021-09-02 15:53] #7521 closed

[2021-09-03 01:42] wu-sheng commented on #7552
@kezhenxu94 Is this done?

[2021-09-03 01:43] kezhenxu94 commented on #7552
Fixed by https://github.com/apache/skywalking-eyes/pull/62

[2021-09-03 01:43] #7552 closed

[2021-09-03 01:44] wu-sheng commented on #7461
Did ticket submit? And have Infra created?

[2021-09-03 01:48] kezhenxu94 commented on #7461
Docker repo is ready, @Superskyyy will be working on the `Dockerfile` this weekend and we will cut the release 0.7.0

[2021-09-03 01:55] wu-sheng commented on #7135
@wankai123 After you finish the group dynamic configuration, you could take care of this. We should have several weeks before cut 8.8.0 release, because there will a long testing about our new Elastic client implementation.

[2021-09-03 01:56] wu-sheng commented on #7168
@Fine0830 Any update about debugger UI?

[2021-09-03 01:56] #7014 closed

[2021-09-03 01:57] wu-sheng commented on #7040
@dmsolr What is status now?

[2021-09-03 02:04] dmsolr commented on #7040
As for TLS over gRPC channel, on OAP server support TLS over OAP server nodes communication and between OAP server and Probes. In other word, the `core` module and `receiver-sharing-server` module.

[2021-09-03 02:09] Fine0830 commented on #7168
With the new environment @kezhenxu94 gave me last night, I'm in the process of realizing and self-test the function.

[2021-09-03 02:12] dmsolr commented on #7040
After #7565 merged, SkyWalking supports mTLS mode between Probe and OAP Servers.
And Java agent([skywalking-java#15](https://github.com/apache/skywalking-java/pull/15)) and Satellite have supported mTLS.

For LogReporter in the toolkit, I will submit a new PR to combine the reporter channel with Agent main channel.

[2021-09-03 02:12] wu-sheng commented on #7040
@mrproliu We are going to release Satellite 0.2.0 in next 2 weeks, right?

[2021-09-03 02:17] wu-sheng commented on #6747
@CalvinKirs With months passed, any update? If not, it is better to close this issue, or we at least should convert this to discussion.

[2021-09-03 02:18] wu-sheng commented on #6719
@EvanLjp Are you still going to this? There are months for no udpate.

[2021-09-03 02:21] EvanLjp commented on #6719
Sorry, I am worried about I don't have enough time to do the case. Maybe we can close it first.

[2021-09-03 02:22] #6719 closed

[2021-09-03 02:45] CalvinKirs commented on #6747
I'm sorry I've been so busy lately, I'll close it for now and I'll sync here when I've made progress.

[2021-09-03 03:12] mrproliu commented on #7040
Yes. I'll perfect some documents before release.

[2021-09-03 11:51] wu-sheng opened #7648 "[Feature] Add log report service in Kafka reporter and remove log report channel"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

With @mrproliu is going to release Satellite 0.2.0 shortly, we have Satellite full support for all protocols and users could choose which parts of data(logs and/or traces) are transporting through Kafka or continue on g

[2021-09-03 15:57] kezhenxu94 commented on #6698
This is done after splitting the repo

[2021-09-03 15:57] #6698 closed

[2021-09-03 15:58] kezhenxu94 commented on #5943
Resolved by https://github.com/apache/skywalking-python/pull/127 and https://github.com/apache/skywalking-python/pull/155

[2021-09-03 15:58] #5943 closed

[2021-09-03 18:25] harry-dev98 commented on #7572
Okay this is what i understand:
So we do have couple of  channels already like webhook, gRPChook, slackhook,.. etc. And now we need to add pagerduty as another new channel supported by skywalking, right?

also, is pagerduty opensource? I looked through their website its kinda paid service (yes free for some caped usage)

[2021-09-03 23:28] wu-sheng commented on #7572
It is not open source. But once it has open HTTP API, we could try to integrate.
This is totally optional, and rarely changed API.
Please check whether this is correct.

[2021-09-04 01:37] chenyi19851209 opened #7650 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

we ready to use tidb for oap storage for my product env。so we execute press test for oap and tidb

when oap use  tidb for store  segment. we found .the efficiency of

[2021-09-04 02:10] wu-sheng commented on #7650
I update the title for you. You missed it.

[2021-09-04 02:12] wu-sheng commented on #7650
It is better to provide a new implementation. Notice, this DAO is used in H2, MySQL, PostgreSQL and TiDB. Please check whether your solution works.

[2021-09-04 07:52] wu-sheng opened #7652 "[Feature] Begin to provide version compatibility doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After we split the Java agent code base out of main repo, end users are going to ask more about which versions of agents we could use for a specific backend version.

We should begin to maintain the document(from ASF's

[2021-09-04 08:50] harry-dev98 commented on #7572
regarding APIs, yes pagerduty provides REST APIs. Basically two types of APIs one for managing the account other for events generated by some tool like skywalking,etc. So should i try integrating events api for now, and lateron can be extended to other type of API i.e. to manage account.

We just need to make sure the alarm notifications reach pagerduty account of the user, right?

[2021-09-04 08:53] wu-sheng commented on #7572
Yes, try event APIs. And we may not need to spend time on account management APIs. As we don't have UI or feature about this. Only if you want to provide some scripts to create or set up account, then those APIs help.

Yes, you could create a trial account, and make sure the alarm messages landed there.

[2021-09-05 01:51] LIU-WEI-git opened #7653 "[Bug] H2MetadataQueryDAO.searchService doesn't support group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

H2MetadataQueryDAO.searchService (Line 162-167) doesn't support group. Related to Pull Request #5851.

### What you expected to happen

We should call service.setGro

[2021-09-05 02:45] wu-sheng commented on #7653
Thanks for pointing out. Welcome to fix

[2021-09-05 05:56] #7653 closed

[2021-09-05 12:33] kezhenxu94 opened #7655 "[Bug] ElasticSearch storage `secretsManagementFile` hot reloading doesn't work as expected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

The `BulkProcessor` created here is bound to the `client` and the `BulkProcessor` is not updated afterwards.

https://github.com/apache/skywalking/blob/de59bf7aebc20

[2021-09-05 12:42] wu-sheng commented on #7655
Please update this in the change log of #7634

[2021-09-05 12:47] kezhenxu94 commented on #7655
This is a bug report, and the bug exists in all previous version, what's the point to include this in the change log?

[2021-09-05 12:51] wu-sheng commented on #7655
Because your PR(even rewrite all) fixed this bug, isn't it?

[2021-09-05 13:04] kezhenxu94 commented on #7655
No 😢, I haven't found out the best way to fix this yet,

[2021-09-05 16:21] kezhenxu94 commented on #7655
OK, now it's fixed in #7634 and change log is updated too

[2021-09-06 00:05] wu-sheng opened #7656 "[Feature] Update SkyWalking Docker according to latest ElasticSearch client rebuild"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After https://github.com/apache/skywalking/pull/7634 gets merged, we need to adjust docker files in https://github.com/apache/skywalking-docker for incoming 8.8.0 release.

### Use case

We don't need images for Elastic

[2021-09-06 00:18] wu-sheng commented on #7656
I am not sure whether we could keep the process unchanged, if we can't, we need to archive the scripts again, and add document like this, https://github.com/apache/skywalking-docker#how-to-build-images-before-840

[2021-09-06 00:20] wu-sheng commented on #7656
Another point is, it seems missing pointer to agent image build doc from `How to build`.

[2021-09-06 02:40] chenyi19851209 commented on #7650
ok. i will add some unit test.

[2021-09-06 02:41] wu-sheng commented on #7650
We have e2e tests in the case. I just hope you could test locally first.

[2021-09-06 02:42] wu-sheng commented on #7650
And `H2BatchDAO` should accept a parameter in different values of different storage implementation to set up the number of thread.

[2021-09-06 02:42] wu-sheng commented on #7650
One more thing, you should at least provide a result of benchmark comparing before and after in TiDB case.

[2021-09-06 03:06] Hlenn opened #7658 "[Bug] Skywalking + SpringCloud Gateway : Can not do async finish for the span repeatedly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I use docker compose to install skywalking Java agent

The following error occurred:,

I checked it at the same time https://github.com/apache/skywalking/issues

[2021-09-06 04:03] wu-sheng commented on #7658
Do you locate what happens? (you clicked `es I am willing to submit a PR!`). Our gateway test cases about Gateway 3.x are here, https://github.com/apache/skywalking-java/tree/main/test/plugin/scenarios/gateway-3.x-scenario

You are better to do cross check.

[2021-09-06 06:57] yaojingguo commented on #6970
I have another use case with Skywalking trace ID which has nothing to do with AliCloud's products. I want to format Log4j2 logs as JSON with the pattern layout. In order to make the log message a valid JSON, I need to double-quote `%traceId` in the following way:

[code]

An example log message is:
[code]

But what I really want is:
[code]

For now, I need to use the following `TraceIdConverter` w

[2021-09-06 06:58] yaojingguo commented on #6142
Here is a workaround. @ecyuan

[2021-09-06 07:21] #7471 closed

[2021-09-06 07:21] #7655 closed

[2021-09-06 13:54] wu-sheng commented on #7168
@kezhenxu94 I think we need a tool on the UI introduction page to talk about this? And we need to be clear `SW_QUERY_GRAPHQL_ENABLE_LOG_TEST_TOOL` should be activated.

[2021-09-06 14:01] kezhenxu94 commented on #7168
What kind of tool do you mean?

It should be something like this

<img width="1792" alt="Screen Shot 2021-09-06 at 21 56 28" src="https://user-images.githubusercontent.com/15965696/132228449-e94fc066-d641-4327-abbc-9e1bf9223abf.png">

[2021-09-06 14:03] wu-sheng commented on #7168
I mean we should add document about this tool.

Could you make the backend response more clear? Such as directly saying `xxx is not activated, and follow yyy to open it`.

___

@Fine0830 I just noticed, the tool name is LAL. Could you rename it to `Log Analysis Language Debugger`?

[2021-09-06 14:14] Fine0830 commented on #7168
Sure.

[2021-09-06 15:21] chenyi19851209 commented on #7650
ok.i will report compare data  before and after.

[2021-09-06 15:22] chenyi19851209 commented on #7650
ok. accept advise.

[2021-09-06 15:24] chenyi19851209 commented on #7650
i test h2 mysql and tidb very easy .becasuse our env have this servers. and postgreSQL is little trouble. i try my best.

[2021-09-06 15:30] wu-sheng commented on #7650
They could be verified in the e2e testing if you have trouble locally.

[2021-09-07 01:34] Hlenn commented on #7658
感谢回复
但是我看了这个链接的内容后，还是不明白应该如何解决我现在遇到的问题。
能告诉我，我现在应该如何操作吗？

[2021-09-07 01:40] Hlenn commented on #7658
My gateway version is 2.2.5

I have opened the option of optional plug-ins in the config file.

[2021-09-07 01:46] wu-sheng commented on #7658
Plugins contributed by the community. We don't know how to deal with it. My point to give you the test demo is, it doesn't have issue, and all traces are reported normally.
If you want to debug the error of a plugin, remote debug could help, and you need to understand how Gateway works in the source codes level. Which is also why we can't tell what is wrong, because we don't know.

[2021-09-07 02:21] woshishitou commented on #6900
Hello，I got the traceid through reflection. Through debug, we can see that there is the traceId we need in the exchange object
![image](https://user-images.githubusercontent.com/22254487/132274359-3db30544-88d3-4d6a-8fcb-8dbd1c2812ff.png)

[2021-09-07 02:30] woshishitou commented on #6900
There are related classes in the skywalking source code in this picture.
Finally, you can get the traceid through the method getReadablePrimaryTraceId() in interface AbstractTracerContext.

[2021-09-07 02:30] woshishitou commented on #6900
There are related classes in the skywalking source code in this picture.
Finally, you can get the traceid through the method getReadablePrimaryTraceId() in interface AbstractTracerContext.
![image](https://user-images.githubusercontent.com/22254487/132275108-11cbe067-5e72-4570-8630-672d9134aa20.png)

[2021-09-07 04:03] kezhenxu94 commented on #7461
Hi @Superskyyy , any update?

[2021-09-07 04:14] davidricardo1026 commented on #4864
maven indeed will happen some strange quetions,suggest alt to gradle.it will more stable

[2021-09-07 04:19] #7168 closed

[2021-09-07 04:31] wu-sheng commented on #4864
Please don't misguide people, there is nothing related to Maven V.S. gradle.

[2021-09-07 07:30] wu-sheng opened #7671 "[Feature] Build MAL Debugger"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

According to our recent added LAL debugger, we also should establish MAL debugger, which is a very similar tool, but focus on metrics analysis debug. The key of that, we should consider whether to accept multiple input

[2021-09-07 09:25] wu-sheng commented on #7135
@wankai123 I just moved the milestone, due to Java agent moved out of main repo.

[2021-09-07 10:36] 820465323 commented on #7505
I have the same problem

[2021-09-07 11:51] Superskyyy commented on #7461
@kezhenxu94 Sorry been through jet lag lately, it's done, will pr that later.

[2021-09-07 13:12] wu-sheng commented on #7461
Oh, you have landed there already? Canada, right?

[2021-09-07 13:25] Superskyyy commented on #7461
Yeah, Canada, was dealing with a lot issues last week, moving, quarantine, and sleeping...

[2021-09-07 13:28] wu-sheng commented on #7461
Keep safe. Jet lag really needs time.

[2021-09-08 01:54] lzdujing commented on #7571
@dmsolr Could you take a look this issue for me sometime soon? We are waiting to solve the problem a little  worry . Thank you.

[2021-09-08 02:15] stg609 commented on #5663
I use 8.3.0-es7，and have the same issue after I restarted the k8s master node.

[2021-09-08 02:28] lzdujing commented on #7571
@wu-sheng Yes,I understand. We have tried our best to solve it and never give up.But It's a little hard for us . So we hope the community can help us and we expressing thanks for it.

[2021-09-08 02:45] dmsolr commented on #7571
Hi @lzdujing
I had talked with @zifeihan , he will follow this.
I am not familiar with Nacos, so that is my guess. It seems like thrift-plugin is not compatible with nacos sdk. Maybe nacos spring sdk will modify thrift classes in runtime.

BTW, you provided a `rar` package, that is hard to open in MacOS/Linux.
And this case happens in such a complex environment, I am really difficult to make it wo

[2021-09-08 03:07] lzdujing commented on #7571
@dmsolr Ok,thanks.

[2021-09-08 03:48] mrproliu opened #7677 "[Eyes] Add more Licenses template for identity the License type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

License Tools (apache/skywalking-eyes)

### What happened

When I using skywalking-eyes to check the licenses in [skywalking-infra-e2e], I found some unknown identity licenses. Here is the link: https://github.com/ap

[2021-09-08 03:54] wu-sheng commented on #7677
This belongs to `license eye`.

[2021-09-08 05:44] stg609 commented on #5663
I fixed it by re-run the `skywalking-es-init` job (, by `re-run`, I actually mean `helm delete` the skywalking release, and installed it again)

[2021-09-08 06:05] #7543 closed

[2021-09-08 07:13] #7569 closed

[2021-09-08 13:28] #7597 closed

[2021-09-09 02:27] cwdgit commented on #6592
@xuanyuanaosheng the same problem,  oap:8.5.0

[2021-09-09 02:57] #7461 closed

[2021-09-09 04:37] #7656 closed

[2021-09-09 06:08] kezhenxu94 opened #7682 "[Feature] inject Python agent automatically in SWCK"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since https://github.com/apache/skywalking-python/pull/159 is merged, we have Docker image for SkyWalking Python agent and non-intrusive way to install the agent, it would be perfect if we can also enhance [SWCK](http:/

[2021-09-09 06:09] kezhenxu94 commented on #7682
@Superskyyy FYI 😉

[2021-09-09 06:19] kezhenxu94 commented on #4312
Closed by https://github.com/apache/skywalking-cli/pull/104

[2021-09-09 06:19] #4312 closed

[2021-09-09 12:30] buddy-yao opened #7686 "[Feature] SkyWalking should check if the database exists first, instead of creating it directly."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I am using InfluxDB as the storage, the InFluxDB is provided by cloud provider, it does't has admin privilege.
If SkyWalking try to create database, it will fail.
I think, SkyWalking should check if the database exists

[2021-09-09 13:00] wu-sheng commented on #7686
Do you want to contribute this? This is not a critical issue. We don't check this in all database implementations, such as PostgreSQL, MySQL, TiDB.
Of course, it is fine to add if you want.

[2021-09-09 13:58] zifeihan commented on #7571
@lzdujing Can you provide a zip to replace the rar package? In addition, the error log of the agent is also needed, which is a bit busy these days. I will take time to follow up on this issue during the weekend.

[2021-09-09 15:37] Superskyyy opened #7687 "[Feature] Refactor current Python agent docs to serve on SkyWalking official website"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

As discussed in https://github.com/apache/skywalking-python/pull/159#issuecomment-915643433

I will refactor and move the existing docs into a more organized format suitable for [SkyWalking Website](https://github.com/a

[2021-09-09 20:17] gaggudeep commented on #7686
Hi @wu-sheng, can I contribute here? This would be my first contribution. I think I got what is required; additional check in all DBClients (like this: https://github.com/apache/skywalking/blob/f61dff9a9f1d1f8ddd11c31f039e540521479d36/oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxClient.java) to check if the th

[2021-09-09 23:37] wu-sheng commented on #7686
Basically you can, just should notice, whether database creation could require more parameters, and only create if it missed.

[2021-09-10 01:42] lzdujing commented on #7571
@lzdujing I'll provide a zip today.

[2021-09-10 01:42] lzdujing commented on #7571
@zifeihan I'll provide a zip today.

[2021-09-10 06:49] lzdujing commented on #7571
@zifeihan I have uploaded the  non-compressed demo already.

[2021-09-10 18:00] williamdes opened #7692 "The demo server is down"
### What happened

The demo server is down (ERR_CONNECTION_REFUSED)

### What you expected to happen

See the demo

### How to reproduce

Go to https://skywalking.apache.org/#demo

And then https://demo.skywalking.apache.org/

[2021-09-11 00:00] wu-sheng commented on #7692
I just checked, it is up and running from my browser side.

[2021-09-11 01:10] kezhenxu94 commented on #7692
@williamdes in the demo env, we don't support https, please force to use http if you browser automatically directs from http to https

[2021-09-11 01:10] #7692 closed

[2021-09-11 07:55] williamdes commented on #7692
Please fix your website or server
The go button sends you to https..
I can help setup https if you have an infrastructure repository

[2021-09-11 07:56] williamdes commented on #7692
I use Brave browser, maybe this is what causes the issue

[2021-09-11 07:57] wu-sheng commented on #7692
The source codes of website are here.

https://github.com/apache/skywalking-website

[2021-09-11 11:22] williamdes commented on #7692
Thank you !
Indeed the link is http, where is the infrastructure managed ?

https://github.com/apache/skywalking-website/blob/e481896aff488819be6043663dd3e919b25c18be/content/_index.html#L81

[2021-09-11 11:27] wu-sheng commented on #7692
No other infra manages that, Apache Software Foundation uses Apache server hosts static page.
Like @kezhenxu94 said, this is more like browser side setting.
You could check http page on your browser, then you know whether link is changed or not.

[2021-09-11 11:34] LIU-WEI-git opened #7695 "[Bug] ProfileThreadSnapshotQuery.queryProfiledSegments adopts a wrong sort function"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

The InfluxDB implementation of IProfileThreadSnapshotQueryDAO.queryProfiledSegments, ProfileThreadSnapshotQuery.queryProfiledSegments, adopts a wrong sort function.

[2021-09-11 11:39] wu-sheng commented on #7695
Please go ahead.

[2021-09-11 14:55] #7695 closed

[2021-09-11 15:32] wu-sheng opened #7697 "[Feature] Integration Test slows the whole CI process down again"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This discussion was started at https://github.com/apache/skywalking/pull/7685#issuecomment-916563536. We separate the repo to ease the release process and CI load(of course, also because Java agent is very stable right

[2021-09-11 15:32] wu-sheng commented on #7697
FYI @wankai123

[2021-09-11 16:36] williamdes commented on #7692
My browser and a lot of other ones do HTTPS upgrades without asking

My question was what infrastructure hosts the demo server ?

[2021-09-11 23:05] wu-sheng commented on #7692
It is a private GCP VM, sponsored by Tetrate.

[2021-09-12 04:24] kezhenxu94 commented on #7697
I've been thinking about migrating maven to gradle for some time and now we might start to consider.

Gradle claims to be faster than maven, and according to my test, it costs ~5 min (locally) ~15 min (in GitHub action) with integration tests and parallel enabled, compared to maven's ~30 min (without parallel). Gradle is also better at parallel build, incremental compilation. I don't want to list

[2021-09-12 04:28] wu-sheng commented on #7697
If glradle is on the plan, let's wait for a little longer.
I just don't want us to change too many thinga. Splitting the repo and replace ElasticSearch client are already big moves for 8.8.0

[2021-09-12 05:54] williamdes commented on #7692
Okay, I would recommend you to use acme.sh
It's easy and open source, a git clone and run bash solution

[2021-09-12 06:30] wu-sheng commented on #7692
It is just a VM on the Google cloud, nothing special. All in the runtime are SkyWalking binary.

[2021-09-12 06:39] williamdes commented on #7692
So Google Cloud does not provide an SSL overlay ??

[2021-09-12 06:45] wu-sheng commented on #7692
The key issues is, SSL private keys are managed by Apache Software Foundation Infra team, which requires everything has to been deployed on the ASF Infra. But this demo is deployed on the 3rd party, sponsor VM. So, we can't have the key, but the domain name is under skywalking.apache.org, then, we have to keep it in http only.

[2021-09-12 14:03] zifeihan commented on #7571
@dmsolr @lzdujing Sorry for being late. I have been too busy recently. Through debugging, I found that the thrift plugin processes TBaseProcessor and TBaseAsyncProcessor, but the demo reference uses TMultiplexedProcessor, so an exception has occurred. I am repairing and testing. I will submit pr tomorrow.

[2021-09-12 14:30] dmsolr commented on #7571
Thanks, @zifeihan
Yes, I really didn't cover this case `TMultiplexedProcessor`.

[2021-09-12 15:25] zifeihan commented on #7571
@lzdujing It has been tested on your demo project, and the test results are all normal. I have been busy recently, so the related test scenario has not been added. If you have time, can you submit a pr to help cover the related test scenario?

[2021-09-12 17:08] Superskyyy commented on #7682
Do I wait the Java PR to be ready first? In case something can be reused. Looks like a very big feature there base on the LOC.

[2021-09-12 17:17] Superskyyy opened #7701 "[Feature] Refactor SkyWalking Python to use the CLI for CI instead of legacy setup"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Since the non-intrusive integration feature is merged, SkyWalking Python will move to replace the `import skywalking` commands in all existing CI test cases with the new `sw-python` CLI.

Discussed in https://github.com

[2021-09-13 00:19] wu-sheng commented on #7682
@hanahmily Please confirm tye statue of that PR.

[2021-09-13 00:53] lzdujing commented on #7571
Thank you very much. I'll check it tody.

[2021-09-13 02:12] lzdujing commented on #7571
@ zifeihan After updating  the code the problem of reporting errors has been solved,but,the server still can't track it.
![server](https://user-images.githubusercontent.com/13194663/133013922-094c6660-14da-49e7-87d2-fcaa655c5314.png)
![client](https://user-images.githubusercontent.com/13194663/133013929-28d01185-ccdb-40a6-9121-33436c33ef20.png)

[2021-09-13 05:17] Stark-X opened #7703 "[Bug] [python] Python agent 0.7.0 raise a excception "Method not found: skywalking.v3.TraceSegmentReportService/collect""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

When the python agent upgrade to `v0.7.0`, there will be lots of exception in log.
e.g.:
[code]

### What you expected to happen

no exception will throw

#

[2021-09-13 05:22] wu-sheng commented on #7703
Use the latest SkyWalking server. 8.1.0 doesn't support the new agent release.

[2021-09-13 05:23] #7703 closed

[2021-09-13 05:39] #7687 closed

[2021-09-13 10:51] zifeihan commented on #7571
It has been fixed, please refer to the latest version.
![image](https://user-images.githubusercontent.com/16839929/133071149-12e37dbd-03d1-4cbb-b29e-1dbc509798cb.png)

[2021-09-14 00:33] wu-sheng commented on #7571
Fixed through https://github.com/apache/skywalking-java/pull/22

[2021-09-14 00:33] #7571 closed

[2021-09-14 03:21] dmsolr opened #7706 "[Bug] KafkaLogHandler cannot recognize namespace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

The base question is why KafkaLogHandler does not inherit from AbstractKafkaHandler from the student @codeglzhang from Summer 2021. There is some common function in

[2021-09-14 03:25] dmsolr commented on #7706
@codeglzhang Could you fix it

[2021-09-14 03:39] lzdujing commented on #7571
@ zifeihan I have downloaded the last version and tested. It is ok now.Thanks a lot.

[2021-09-14 04:19] Superskyyy opened #7708 "[Feature] Add e2e test to Python agent based on skywalking-infra-e2e"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Adding e2e testing for Python agent features(log reporter etc.) using [skywalking-infra-e2e](https://github.com/apache/skywalking-infra-e2e)

Originally discussed in https://github.com/apache/skywalking-python/pull/147#

[2021-09-14 05:23] codeglzhang commented on #7706
No problem.

Ganglin Zhang

---Original---
From: ***@***.***&gt;
Date: Tue, Sep 14, 2021 11:25 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/skywalking] [Bug] KafkaLogHandler cannot recognize namespace (#7706)

@codeglzhang Could you fix it

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage no

[2021-09-14 05:51] #7652 closed

[2021-09-14 06:14] wu-sheng commented on #7706
We are close to 8.8.0 release, please fix this as soon as possible.
Thanks.

[2021-09-14 06:17] codeglzhang commented on #7706
OK, I'll fix it tomorrow.

---Original---
From: "吴晟 Wu ***@***.***&gt;
Date: Tue, Sep 14, 2021 14:14 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/skywalking] [Bug] KafkaLogHandler cannot recognize namespace (#7706)

We are close to 8.8.0 release, please fix this as soon as possible.
 Thanks.

—
You are receiving this because you were assigned.
Reply to this email di

[2021-09-14 06:45] wu-sheng commented on #7708
It is even better you could begin to replace the main repo's e2e.

[2021-09-14 09:06] #7081 closed

[2021-09-14 13:02] wu-sheng opened #7711 "[Feature] Make UI showing backend error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Please add a popup page when UI do GraphQL and face some errors from the backend.

### Use case

We faced backend bug which causes the error response. But UI doesn't visualize it, but only could be found in the browser

[2021-09-14 14:51] Superskyyy commented on #7708
https://github.com/apache/skywalking/issues/7368 Is this being actively worked on? I can help out.

[2021-09-14 15:09] Superskyyy commented on #7708
Ok I'ma finish #7701 first then let's see if I can deal with 7368.

[2021-09-15 02:08] LIU-WEI-git opened #7713 "[Bug] The methods of H2EventQueryDAO doesn't sort the data by Event.START_TIME"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Comparing [H2EventQueryDAO](https://github.com/apache/skywalking/blob/94623f283139e31484979205ef7c14d73c91b0d0/oap-server/server-storage-plugin/storage-jdbc-hikaricp

[2021-09-15 03:18] LIU-WEI-git commented on #7713
[EventQueryDAO](https://github.com/apache/skywalking/blob/94623f283139e31484979205ef7c14d73c91b0d0/oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/EventQueryDAO.java#L73) and [ESEventQueryDAO](https://github.com/apache/skywalking/blob/94623f283139e31484979205ef7c14d73c91b0d0/oap-server/server-storage-plugin/stora

[2021-09-15 03:24] wu-sheng commented on #7713
I am not sure what does first condition mean. @kezhenxu94 should know more than me.

[2021-09-15 07:36] kezhenxu94 commented on #7682
@Superskyyy FYI https://github.com/apache/skywalking-swck/pull/30 is merged

[2021-09-15 09:18] kezhenxu94 commented on #7713
Hi @LIU-WEI-git , thank you for reporting this, the `EventQueryDAO` and `ESEventQueryDAO` should use the same logic with `H2EventQueryDAO`. The first condition serves as a prototype of the query condition list so we should not use the sum of limit size of all conditions as the result limit, which would be unreasonable large and not expected use case.

[2021-09-15 09:22] LIU-WEI-git commented on #7713
Got it. I will submit a PR soon.

[2021-09-15 11:58] #7713 closed

[2021-09-15 12:37] Superskyyy commented on #7682
Okay, my turn then.

[2021-09-15 13:32] wu-sheng opened #7721 "[Feature] Establish SkyWalking Showcase repository"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

SkyWalking ecosystem has expanded as a large landscape, which covers most of service and platform observability, including tracing, logging, metrics and event.

Typically, we faced questions and help requests, such as @

[2021-09-15 14:25] kezhenxu94 commented on #7711
A global pop up tooltip should be enough , we don’t need to think about where to put the error message per page.

[2021-09-15 14:28] wu-sheng commented on #7711
Agree. Just notice, as we request multiple GraphQL query(s) continuously, we may need be able to show multiple pop up tooltips.

[2021-09-15 16:56] #7706 closed

[2021-09-16 03:26] q82184828 commented on #6348
i alse met this problem, have you solve it ?

[2021-09-16 05:29] kezhenxu94 commented on #6029
Resolved by https://github.com/apache/skywalking-swck/pull/30

[2021-09-16 05:29] #6029 closed

[2021-09-16 05:34] kezhenxu94 commented on #3819
This was to track the first set of commands and now that the basic commands are added, we can open new issues per command if specific commands are needed.

[2021-09-16 05:34] #3819 closed

[2021-09-16 07:30] LIU-WEI-git opened #7723 "[Bug] H2LogQueryDAO and LogQuery don't support fuzzy query of AbstractLogRecord.CONTENT"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Both of [H2LogQueryDAO](https://github.com/apache/skywalking/blob/92f0ebf126fe242ee30f8ab8106b41f8ff39d656/oap-server/server-storage-plugin/storage-jdbc-hikaricp-plu

[2021-09-16 07:34] kezhenxu94 commented on #7723
We don't support fuzzy search on the 2 storages because they are not good at indexing and searching, or is poor performant, or is not recommended in production environment, I don't know how you will implement this?

[2021-09-16 07:35] wu-sheng commented on #7723
This is not a bug, it is designed likr this. Check the APIs, they response to UI whether this storage supports content fuzzy query.

[2021-09-16 07:38] LIU-WEI-git commented on #7723
Got it. Thanks for your explanation.

[2021-09-16 07:38] #7723 closed

[2021-09-16 11:02] ayumiono opened #7728 "[Bug] XmlConfiguration cannot be cast to OapConfiguration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

skywalking-oap:8.7.0 when i start the oap server local, it comes to an error org.apache.logging.log4j.core.config.xml.XmlConfiguration cannot be cast to org.apache.s

[2021-09-16 11:06] wu-sheng commented on #7728
This is not in the scope of SkyWalking.

[2021-09-16 11:06] #7728 closed

[2021-09-16 20:46] Superskyyy commented on #7701
Weird finding, the Sanic plugin seems to fail on Python 3.6(passes on 3.7-3.9) when I switch to CLI based test.

Sanic dropped general support for Python 3.6 https://github.com/sanic-org/sanic except for a LTS version. I don't know if that could be contributing to the failure.

[2021-09-16 20:51] Superskyyy commented on #7701
Also found out we may need a review of tested lib versions as many have evolved over a major version number since the plugins are added. Testing for unsupported versions(like Django==2.0) is slowing down the CI.

[2021-09-16 23:53] kezhenxu94 commented on #7701
That is reasonable and we can review the tested version from time to time, or have automatic pipeline to check the newer versions of the libs.

We typically test the latest 3 major versions of the libs (if we claim to support it)

[2021-09-16 23:53] kezhenxu94 commented on #7701
Any logs?

[2021-09-17 00:36] Superskyyy commented on #7701
CLI based run - fails on Python 3.6 b/c provider.py reporting a exit span from 7002(requests) instead of entry span from 7007(sanic)
https://github.com/Superskyyy/skywalking-python/runs/3625969357
Original run - passes for all versions
https://github.com/Superskyyy/skywalking-python/actions/runs/1243676935

[2021-09-17 02:27] hanahmily commented on #6922
Since we redesign the index structures which impacts other parts. I  will set up another issue to track this topic

[2021-09-17 02:28] #6922 closed

[2021-09-17 02:58] kezhenxu94 commented on #7701
@Superskyyy please just ignore that error if you cannot figure out why shortly, and continue the process, when you open the PR, I can help to debug locally

[2021-09-17 02:59] hanahmily opened #7732 "[Core] Stream data processing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In https://github.com/apache/skywalking/issues/6922, we accomplished most features of the trace module and other core components that support processing tracing data. We even did a banyandb java client for OAP.

Unfortu

[2021-09-17 03:00] Superskyyy commented on #7701
Thanks, the others are done and passed, opening pr soon.

[2021-09-17 03:36] hanahmily opened #7733 "[Core] Metric data processing"
### Description

This intends to track the progress of handling the metric data.

We slipped the topic into several tasks:

- [x] Protobuf APIs (https://github.com/apache/skywalking-banyandb/pull/57)
- [x] KV storage improvement: add interceptors on flushing and compacting to support value encoding and compression.(https://github.com/SkyAPM/badger/commit/7f8fa9a51476cfd07f7cf90d95d9b80dd70e8de7)
-

[2021-09-17 03:38] wu-sheng commented on #7733
You are using same title as 7731

[2021-09-17 03:57] hanahmily commented on #7733
If you referred to #7732 , it's about stream data instead of metrics

[2021-09-17 07:00] furaul opened #7734 "[Bug] ServletResponseNotFoundException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

The exception message comes out, and the org.apache.skywalking.apm.agent.core.context.trace.TraceSegment#refs becomes larger and larger because the SpringMVC En

[2021-09-17 07:16] VictorZeng opened #7735 "[Feature] Add Alibaba Druid plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Druid is a database connection pool from Alibaba inc.

Provide Druid database connection pool plugin with skywalking java-agent.

### Use case

When the application service uses Druid connection pool, it tracks the acqu

[2021-09-17 07:18] wu-sheng commented on #7735
When is the latest date of this project? I haven't heard it for a while.

[2021-09-17 07:28] 760515805 commented on #2584
I also encountered this problem in the latest version

**version:** 8.7.0
**docker-compose.yml**
[code]

Is there a solution?

[2021-09-17 07:37] VictorZeng commented on #7735
druid the latest version 1.2.6 release on Apr, 2021.

[2021-09-17 07:43] wu-sheng commented on #7735
OK, then it is fine to have plugin for it.

[2021-09-17 07:54] #7701 closed

[2021-09-17 09:56] wuguanyu opened #7738 "make build.all error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[code]

### Use case

_No response_

### Related issues

[code]

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct]

[2021-09-17 09:58] wu-sheng commented on #7738
I think you may face some protoc tool issue?

[2021-09-17 09:58] wu-sheng commented on #7738
It is better to check protobuf repo to find out why.

[2021-09-17 10:05] kezhenxu94 commented on #7738
@wuguanyu please respect the issue template, this is more a question not a feature request. I'm moving this to [Discussion](http://github.com/apache/skywalking/discussions)

[2021-09-17 10:05] #7738 closed

[2021-09-17 14:37] afriqs opened #7744 "[INFRA/eyes] Support for Ruby/Rails files"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

License headers for ruby (`.rb`) ans rails (`.erb`) files are not supported yet due to lack of `comment_style_id`.

### Use case

Add license headers to such files.

### Related issues

_No response_

### Are you willin

[2021-09-17 16:01] wu-sheng commented on #7648
Release is out, https://skywalking.apache.org/events/release-apache-skwaylking-satellite-0-2-0/.

There is no block for this enhancement.

[2021-09-18 02:47] davidricardo1026 opened #7747 "[Feature] skywalking-ui just a front-end program, use the spring boot package, relying on too many jar increase in tar.gz' size"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The entire skywalking-webapp.jar size is 34.5m, but public folder after the package, only  963kb, skywalking Ui now just need an HTTP server, don't even need https, but spent 30m provides HTTP services
use light http se

[2021-09-18 02:50] wu-sheng commented on #7747
To use Spring Gateway to host the website, is in order to make people easier to understand that. What container do you to propose? I think this kind of codebase change needs evaluation and PMC decision.

[2021-09-18 04:55] davidricardo1026 commented on #7747
`Spring Gateway` is too heavy,act as just a http server,so may be a light http server is a better choice. and it still can make people easier to use it and experience it.

[2021-09-18 06:50] wu-sheng commented on #7747
I can get your point. Please provide a complete proposal, such as what new stack you want to use.

[2021-09-18 06:51] qinshaokang commented on #6140
work for me！thx!

[2021-09-18 08:48] davidricardo1026 commented on #7747
undertow-core can do,also simple,act as a http server,total jar size is only 3.3m

[2021-09-18 08:57] CheKey30 opened #7749 "[Feature] update plugin without reboot services"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Can I update the agent jar or plugin jar without reboot the monitered services and make the new one work?

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2021-09-18 09:18] wu-sheng commented on #7749
No, you can't. And this is not a feature proposal. Moving to discussion.

[2021-09-18 09:18] #7749 closed

[2021-09-18 09:52] wu-sheng commented on #7747
We set up the standard Gateway stack to provide users opportunity to choose more features if they like.
Also, according to Apache 2.0 License, anyone to set up their own webapp binary and image for more people in the community.
I just say this from the official release perspective, and follow the tradition of the community. If you insist to change this, this would be longer term to make decision.

[2021-09-18 09:58] davidricardo1026 commented on #7747
ok,thanks for your great work.
I will fork a branch to implement this first.

[2021-09-18 10:01] wu-sheng commented on #7747
I am moving this to discussion. Once we have more progress, such as you have those re-distribution and images, and after more people become to choose `webapp-slim` package, PMC could begin to discuss the replacement.

[2021-09-18 10:01] #7747 closed

[2021-09-18 14:33] wu-sheng commented on #7734
I think this analysis is reasonable. But as same as you, we don't know which case could cause this.

[2021-09-18 14:35] wu-sheng commented on #7733
Got it.

Please update the subtasks, we have to provide DDL APIs to support metrics in BanyanDB, including
1. Create metric entity
2. Read metadata and index metadata of entity
3. Support altering entity definition

[2021-09-19 16:25] #7735 closed

[2021-09-19 16:30] VictorZeng opened #7753 "[Feature] Add HikariCP plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

 HikariCP is a solid, high-performance, JDBC connection pool at last. Starting from Spring boot 2.0, It is the default JDBC Connection Pool. Provide skywalking java-agent with  HikariCP plug-in.

### Use case

When the

[2021-09-20 04:04] kezhenxu94 opened #7757 "Does skywalking-eyes support SPDX-short-identifiers?"
### Discussed in https://github.com/apache/skywalking/discussions/7756

<div type='discussions-op-text'>

<sup>Originally posted by **tisonkun** September 20, 2021</sup>
https://spdx.github.io/spdx-spec/appendix-V-using-SPDX-short-identifiers-in-source-files/

It seems the checker only allows full-text license header.

cc @kezhenxu94 @fgksgf </div>

[2021-09-20 05:22] #7753 closed

[2021-09-20 09:08] wu-sheng commented on #5184
No activity for a long time.

[2021-09-20 09:08] #5184 closed

[2021-09-20 09:09] wu-sheng commented on #1473
No activity for a long time.

[2021-09-20 09:09] #1473 closed

[2021-09-20 09:09] wu-sheng commented on #1398
No activity for a long time.

[2021-09-20 09:09] #1398 closed

[2021-09-20 09:10] wu-sheng commented on #4071
No activity for a long time.

[2021-09-20 09:10] #4071 closed

[2021-09-20 09:12] wu-sheng commented on #4466
Service and Endpoint dependency have been supported through https://github.com/apache/skywalking-cli/pull/107 and https://github.com/apache/skywalking-cli/pull/113 in 0.8.0

[2021-09-20 09:12] #4466 closed

[2021-09-20 09:13] wu-sheng commented on #5048
No activity for months.

[2021-09-20 09:13] #5048 closed

[2021-09-20 09:13] wu-sheng commented on #5653
No activity for months.

[2021-09-20 09:13] #5653 closed

[2021-09-20 09:14] wu-sheng commented on #4943
No activity for months.

[2021-09-20 09:14] #4943 closed

[2021-09-20 09:14] wu-sheng commented on #5804
No activity for months.

[2021-09-20 09:14] #5804 closed

[2021-09-20 09:15] wu-sheng commented on #5591
@EvanLjp Do we have expect date to finish this?

[2021-09-20 09:16] wu-sheng commented on #5119
DBCP, Alibaba Druid(https://github.com/apache/skywalking-java/pull/27), and HikariCP(https://github.com/apache/skywalking-java/pull/29) are supported now.

[2021-09-20 09:16] #5119 closed

[2021-09-20 09:17] wu-sheng commented on #5349
No activity for months.

[2021-09-20 09:17] #5349 closed

[2021-09-20 09:17] wu-sheng commented on #4256
No activity for months.

[2021-09-20 09:17] #4256 closed

[2021-09-20 09:18] wu-sheng commented on #5873
No activity for months.

[2021-09-20 09:18] #5873 closed

[2021-09-20 09:18] EvanLjp commented on #5591
@wu-sheng I'm worried about whether I can finish this, so I'm going to close this first.

[2021-09-20 09:18] #5591 closed

[2021-09-20 14:01] wuguanyu opened #7758 "[Bug] java.lang.NumberFormatException in MysqlURLParser"
### Search before asking

- [ ] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

In some case, When jdbc url have no db information？
For example
jdbc:mysql://ip:host?serverTimezone=Asia/Shanghai

![Uploading image.png…]()

### What you expec

[2021-09-20 14:04] wuguanyu commented on #7758
@Override
    public ConnectionInfo parse() {
        URLLocation location = fetchDatabaseHostsIndexRange();
        String hosts = url.substring(location.startIndex(), location.endIndex());
        String[] hostSegment = hosts.split(",");
        if (hostSegment.length > 1) {
            StringBuilder sb = new StringBuilder();
            for (String host : hostSegment) {
                if (host

[2021-09-20 14:11] wu-sheng commented on #7758
What do you mean `ip:host`? I am a little confused. Could you share a real connection URL? We are expecting `IP:port`

[2021-09-20 14:12] wuguanyu commented on #7758
jdbc:mysql://127.0.0.1:3306?serverTimezone=Asia/Shanghai

[2021-09-20 14:13] wu-sheng commented on #7758
I feel you have read the codes with details. Do you have already known the issue and the way to fix?
You could submit a pull request to fix by yourself.

[2021-09-20 14:19] wuguanyu commented on #7758
Yes i read some source code,I find some code duplicate code in MssqlJtdsURLParser,MssqlJdbcURLParser.
I will try to fix this issue by myself

[2021-09-20 14:20] wu-sheng commented on #7758
OK, assigned to you. Thanks.

[2021-09-20 14:53] afriqs commented on #7744
Hi,

I would like to provide tests but I don't see how :shrug:

When I `cd test && go test -v` I only see two passing tests : *TestConfigHeaderSpdxASF* and *TestConfigHeaderSpdxPlain*.

I think it may be related to `test/tesdata/include_test/with[out]_license` but don't know how ti use them...

Note : not a `go` developer :innocent:

[2021-09-20 15:20] kezhenxu94 commented on #7744
Hi @afriqs , thank you. The `tests` directory serves as a demonstration data actually. And for new file support, you might want to add a case in https://github.com/apache/skywalking-eyes/blob/main/pkg/header/fix_test.go

[2021-09-21 00:56] Superskyyy commented on #7572
Hey there, just curious about the progress. Back when this issue was first created, I actually set up a PagerDuty developer account and a mock integration to try the implementation. Now PagerDuty people actually reached out to me asking about if SkyWalking would like to list the integration officially on their [website](https://www.pagerduty.com/integrations/). If there's no Apache regulations aga

[2021-09-21 01:06] wu-sheng commented on #7572
@Superskyyy Good to know they are listing this. I read the list page, which seems fine from policy perspective.
Before that, we need this feature ready and released, then we at least have a version mentioned on their page.

[2021-09-21 01:07] wu-sheng commented on #7572
@harry-dev98 Do you have any update to share?

[2021-09-21 01:08] wu-sheng commented on #7572
Or @Superskyyy Do you already have codes of this feature ready to submit?

[2021-09-21 01:12] Superskyyy commented on #7572
@wu-sheng
Nah, I simply tested with its APIs on the mock integration, I didn't add anything to SW codebase. I'll say lets wait a day or two for Harry's response, if no response I can do it and if goes smoothly we can release it next month. We plan to release 8.8.0 after Oct.10th right?

[2021-09-21 01:26] wu-sheng commented on #7572
Yes, that is the current plan.

[2021-09-21 01:26] wu-sheng commented on #7572
Yes, that is the current plan.

[2021-09-21 02:41] harry-dev98 commented on #7572
Hey there, i don't have solid advancement, i just used pager duty apis just to understand how they work, and then got busy with my own stuff.. it may take some time to integrate 🥺

[2021-09-21 03:45] Superskyyy commented on #7572
Fyi @wu-sheng  ^^

[2021-09-21 03:49] wu-sheng commented on #7572
Then, @Superskyyy If you want and have time, it is open for you to take over responsibility.

[2021-09-21 03:58] Superskyyy commented on #7572
I can figure something out this weekend, I think it doesn't require too much changes for only a alarm.

[2021-09-21 04:08] Superskyyy commented on #7572
Also PagerDuty is a very interesting platform that differs from previous platforms that we support, it can do bi-directional interaction, maybe interesting to have some side projects in the future. For this one, I will only implement basic alarms.

[2021-09-21 04:22] wu-sheng commented on #7572
Make sense. Feel free to open a discussion and involve their team in.
Let's see what we could build.

[2021-09-22 02:24] wu-sheng opened #7761 "[Bug] plugin test script doesn't correctly run `sed` / `gsed` command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Run `./test/plugin/run.sh jdk-http-scenario -f` fails.

### What you expected to happen

`if [ "$os" == 'Darwin' ]; then` in the `run.sh` is checking OS, but mi

[2021-09-22 02:27] kezhenxu94 opened #7762 "[Feature] set instance properties in json format: `agent.instance_properties_json`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

@dashanji can you open a pull request to fix this? For `agent.instance_properties[xxx]`, I think we also need to migrate to the format of `agent.instance_properties_json={}`.  `plugin.dubbo.consumer_provider_length_thre

[2021-09-22 02:28] kezhenxu94 commented on #7762
Anyone who wants to take this, please reply and I can assign.

[2021-09-22 02:44] wu-sheng commented on #7728
@kezhenxu94 But this description doesn't match the possible case, I am afraid. If something in default has `cast exception`, the OAP server can't start up.

[2021-09-22 02:50] kezhenxu94 commented on #7728
Yes I agree absolutely that the default settings should be OK. That's why I ask @ayumiono to recheck and provide more information.

[2021-09-22 03:32] heihaozi opened #7763 "[Feature] Support for Apache HttpClient 5 plugin."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Apache HttpClient 5 is considered stable and production ready.
It is being actively maintained and supported.
Can the Apache HttpClient 5 plugin be supported?

### Use case

Support for Apache HttpClient 5 plugin.

###

[2021-09-22 03:35] wu-sheng commented on #7763
You clicked this, are you going to submit this feature?

[2021-09-22 03:38] heihaozi commented on #7763
Yes, I will.

[2021-09-22 03:41] wu-sheng commented on #7763
Assigned. Contribution is always welcome.

[2021-09-22 07:45] wuwen5 opened #7765 "[Client JS] The ```fetch``` API changes the return value type, and the business code cannot run normally"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

[code]

![35186D73-A2D2-4B90-9E7F-72E3B47A74F8](https://user-images.githubusercontent.com/5037807/134296167-cac90f07-afad-4530-99d5-cc8b0d472

[2021-09-22 10:17] shink opened #7768 "[Bug][Eyes] The `.ini` files with correct license header didn't pass skywalking-eys check"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

License Tools (apache/skywalking-eyes)

### What happened

The `.ini` files with correct license header didn't pass skywalking-eys check.

For example, the `master.ini` header as following, but it didn't pass the che

[2021-09-22 10:28] shink commented on #7768
@wu-sheng I wonder if it is a bug, or because of my error? If it is a bug, I'm really want to fix it.

[2021-09-22 10:30] wu-sheng commented on #7768
I clicked this, which is why I asked.
@kezhenxu94 will take a look later, let's see.

[2021-09-22 13:20] #7734 closed

[2021-09-22 13:30] shink commented on #7768
Are `.cmd` files supported? This `master.ini` also cann't pass the check.

[code]

[2021-09-22 13:32] wu-sheng commented on #7768
Read this doc, https://github.com/apache/skywalking-eyes#supported-file-types

[2021-09-22 13:44] Fine0830 commented on #7765
The reason for error reporting is that the response data as json data. Perhaps it is text or other. The code can intercept http response body. Now it seems that we don't need it.

[2021-09-22 13:48] wu-sheng commented on #7765
@Fine0830 The text should be fine.

[2021-09-22 13:48] #7765 closed

[2021-09-22 14:16] shink commented on #7768
@wu-sheng Thank you very much! And the license header in `cmd` type files must be start with `@rem`, right?

[2021-09-22 14:45] wu-sheng commented on #7768
This style file accepts pull request, I didn't read all of them. If your style is correct, you could change it.

[2021-09-23 01:45] kezhenxu94 commented on #7768
`.ini`, `.cmd` and `.bat` are all supported but not released yet, because you are using `v0.1.0`. Consider to use a more recent revision, I've commented in you PR https://github.com/apache/incubator-inlong/pull/1572

[2021-09-23 01:45] #7768 closed

[2021-09-23 02:25] zhyyu opened #7773 "browser oal app error rate inaccurate"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

when there were all errors in one minute, the app error rate was 0%, the correct should be 100%.
![image](https://user-images.githubusercontent.com/22634485/13444508

[2021-09-23 02:42] Fine0830 commented on #7773
The error rate is JS error rate, and the error count includes JS errors and other types.

[2021-09-23 02:43] wu-sheng commented on #7773
I think the current rule is `error count / correct count`, @zhyyu is asking for `percent` function, which is `error count / all`.

[2021-09-23 02:46] wu-sheng commented on #7773
@Fine0830 @arugal which one do you design for?

[2021-09-23 02:49] mrproliu opened #7774 "[Satellite] Support transmit Envoy ALS/Metric protocol"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Envoy has a lot of observable data that can be analyzed. At present, OAP has provided support for analytical capabilities.
So we should providing protocol transmit ability in Satellite as well. The following is an intro

[2021-09-23 02:51] wu-sheng commented on #7774
v2 are required for both of them. The OAP backend supports them in the same time, please check whether satellite could be both.

[2021-09-23 03:05] Fine0830 commented on #7773
I remember it's `error rate = js error count / all`. It's right? @arugal

[2021-09-23 03:07] mrproliu commented on #7774
Sure, v2 and v3 versions need both of them.

I have checked the OAP analysis code, there are combine the message content, but it needs to make sure v2 and v3 versions must be compatible. I think satellite could just transmit them, don't need to combine the message content.

[2021-09-23 03:09] wu-sheng commented on #7774
No, satellite doesn't need to change the content, just forward them.

[2021-09-23 03:10] wu-sheng commented on #7773
This is the OAL script, it says `error count / correct count`. If this is not expected, then this is a bug. We should use `percent` to replace.

[2021-09-23 03:10] mrproliu commented on #7774
Sure.

[2021-09-23 03:12] arugal commented on #7773
I think the current rate logic is correct, the numerator is the count of [firstReportedError](https://github.com/apache/skywalking-data-collect-protocol/blob/master/browser/BrowserPerf.proto#L100), and the denominator is the count of [BrowserPerfData](https://github.com/apache/skywalking-data-collect-protocol/blob/master/browser/BrowserPerf.proto#L42).

[2021-09-23 03:14] wu-sheng commented on #7773
`isDenominator` is true only when `trafficCategory == BrowserAppTrafficCategory.NORMAL`. So, some `BrowserAppTraffic` doesn't count as denominator.

[2021-09-23 03:16] zhyyu commented on #7773
um mistake operator... how to reopen it... I think current logic is very misleading.

[2021-09-23 03:17] arugal commented on #7773
@Fine0830  We should check whether [skywalk-client-js](https://github.com/apache/skywalking-client-js) handle firstReportedError correctly ?

[2021-09-23 03:21] wu-sheng commented on #7773
browser_app_error_sum = from(BrowserAppTraffic.count).filter(trafficCategory != BrowserAppTrafficCategory.NORMAL).sum();

@arugal If I compare these too, then `trafficCategory != BrowserAppTrafficCategory.NORMAL` must filter the correct access. In the first case, `trafficCategory == BrowserAppTrafficCategory.NORMAL` is not all of traffic. Please correct me if I am wrong.

[2021-09-23 03:26] Fine0830 commented on #7773
Uh.... I believe it is correct. If there is an incorrect scene, please let me know.

[2021-09-23 03:34] wu-sheng commented on #7773
@zhyyu Could you check the raw data?  Is there a case, a single page reports error twice?

@Fine0830 Every PV, there should be 0 or 1(firstReportedError=true) error.

[2021-09-23 03:37] wu-sheng commented on #7773
The key point is here, this should not happen. @zhyyu Could you check your env, and find out why?

[2021-09-23 03:40] arugal commented on #7773
@zhyyu Which version of `skywalking-client-js` are you using ?

[2021-09-23 05:55] zhyyu commented on #7773
Well, the `skywalking-client-js` version is 0.6.0. I found sometimes, the rate will be 100.54% which over 100%; So I copy the params and curl it make two manual situation(1. in one minute there are all errors, 2. in one minute error are two times to normal).

My question is that current error rate is (error / normal), it confuses me a lot. I think common error rate definition should be (error / al

[2021-09-23 05:59] wu-sheng commented on #7773
@zhyyu I was confused by the same thing, but after digging deeper, the `BrowserAppTraffic` are generated by 2 sources.

* org.apache.skywalking.oap.server.receiver.browser.provider.parser.performance.listener.SourceBuilder
* org.apache.skywalking.oap.server.receiver.browser.provider.parser.errorlog.listener.SourceBuilder

Performance's builder should generate `status==normal` for all pages, and er

[2021-09-23 06:00] wu-sheng commented on #7773
If the result is incorrect, I want to check, when page occurs error, whether
1. `performance` data gets reported
2. `errorlog` data only includes one and only one `FIRST_ERROR` status record.

[2021-09-23 08:17] Fine0830 commented on #7773
I guess here is a single page case, and it didn't handle PV like this(https://github.com/apache/skywalking-client-js#spa-page). If so, the pages PV will be left out.

[2021-09-24 02:46] ddwla4 opened #7785 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

skywalking8.7.0版本，在高并發請求下，traceid會產生重複的。

### What you expected to happen

高并發場景，導致traceid重複

### How to reproduce

使用的是spring boot 2.3版本，集成了apm-toolkit-logback

[2021-09-24 02:48] wu-sheng commented on #7785
Please make sure you follow the issue template requirement. All things should be in English, and `reproduce` steps should include all details.

[2021-09-24 02:48] #7785 closed

[2021-09-24 03:58] VictorZeng opened #7786 "[Feature] Add Fastjson plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Fastjson a fast JSON parser/generator for Java. It's the most popular json parsing library in China from Alibaba inc.

### Use case

When the application service uses Fastjson, it tracks the json serialization and deser

[2021-09-24 04:29] wu-sheng commented on #7786
Make sense. Feel free to go

[2021-09-24 05:48] #7786 closed

[2021-09-24 08:40] wuwen5 opened #7793 "[Client JS] TypeError: Cannot read properties of null (reading 'stack')"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Browser Agent (apache/skywalking-client-js)

### What happened

![E4DD2E5F-DF57-4333-ACE8-5A7C9ED440FB](https://user-images.githubusercontent.com/5037807/134642736-4a848f35-27d5-479d-b607-56b91739fef5.png)

![CAA3034

[2021-09-24 11:08] #7793 closed

[2021-09-24 11:37] wallezhang commented on #7658
@Hlenn Could you provide a project sample code that can reproduce this error?

[2021-09-24 12:17] #7711 closed

[2021-09-25 13:00] #7758 closed

[2021-09-25 13:00] #7648 closed

[2021-09-25 13:00] #7763 closed

[2021-09-26 04:05] wu-sheng commented on #7368
I have asked @mrproliu to use this new framework to test satellite w/ or w/o Kafka.

[2021-09-26 07:04] #7135 closed

[2021-09-26 09:33] davidricardo1026 opened #7802 "[Bug] instance_jvm_memory_heap and meter_vm_filesystem_percentage rule not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

[code]
1. for alarm jvm stop,I chose `instance_jvm_memory_heap`.if `instance_jvm_memory_heap` is low to 1,mean it is stop.
but I configed it ,and kill the jvm,It nev

[2021-09-26 09:36] wu-sheng commented on #7802
Could you read the document first? I don't think `period=1` is a good practice. And what does `include-labels:`=`/` mean?

Moving to discussion.

[2021-09-26 09:36] #7802 closed

[2021-09-26 12:57] whohasthis opened #7808 "[Bug] The traceId get from logstash are all mixed up accross multiple tomcat threads"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

We use TraceIdJsonProvider of apm-toolkit-logback-1.x to add the trace id into the logstash fields sent to ELK,  we are expecting to use the trace id to get all

[2021-09-26 13:00] #7808 closed

[2021-09-26 13:49] #7761 closed

[2021-09-27 01:25] VictorZeng opened #7812 "[Feature] Add Jackson plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Jackson has been known as "the Java JSON library" or "the best JSON parser for Java". Or simply as "JSON for Java". It's the default JSON serialization and deserialization tool in the Spring Framework.

### Use case

Wh

[2021-09-27 07:38] wallezhang opened #7815 "[Feature] Add ClickHouse JDBC plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

ClickHouse® is a column-oriented database management system (DBMS) for online analytical processing of queries (OLAP). This plugin will trace sql execution as other jdbc plugin.

### Use case

When execute an sql, this

[2021-09-27 11:23] alloevil commented on #4444
i got the same error, and this is my skwwalking-api.log
`DEBUG 2021-09-27 18:00:31:830 grpc-nio-worker-ELG-1-3 org.apache.skywalking.apm.dependencies.io.grpc.netty.NettyClientHandler : [id: 0x0d7e30ca, L:/10.119.108.11:42226 - R:/10.38.163.209:11800] INBOUND HEADERS: streamId=69 headers=GrpcHttp2ResponseHeaders[:status: 200, content-type: application/grpc, grpc-encoding: identity, grpc-accept-enco

[2021-09-27 11:24] alloevil commented on #4444
i asked my sre to see if there is something wrong with my network

[2021-09-27 14:10] wu-sheng opened #7819 "[Bug] `make docker.all && make docker.push` doesn't suitable for official release"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I failed to run `make docker.all && make docker.push` according to release doc.

[code]

The reason is the target repo incorrect. `The push refers to repository [doc

[2021-09-27 14:11] wu-sheng commented on #7819
According to this, I will wait for a little longer to push 8.8.0 docker image.

[2021-09-28 02:18] wankai123 opened #7822 "[CLI] Support command `dependency instance`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

e2e case require command `dependency instance` to get instance topology

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### C

[2021-09-28 02:24] kezhenxu94 commented on #7822
Hi @JarvisG495 since [you added](https://github.com/apache/skywalking-cli/pull/113) dependency service command, do you want to take care of this too? FYI @fgksgf

[2021-09-28 03:31] JarvisG495 commented on #7822
Yes, I'm going to take care of this as well.

[2021-09-28 03:36] wanyouyinli opened #7823 "[Bug] log page is 404"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

My skywalking version is  apache-skywalking-apm-es7-8.4.0.tar.gz， My trace page is normal, but my log page is 404 and found a 404 error log in webapp.log
![imag

[2021-09-28 03:37] kezhenxu94 commented on #7822
@JarvisG495 thank you very much 🙇🏻 assign to you

[2021-09-28 04:00] #7823 closed

[2021-09-28 04:06] wuguanyu opened #7824 "[Bug] Hystrix plugins bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

[code]

### What you expected to happen

no exception

### How to reproduce

When i use the following java code,the exception occcured in bytebuddy

I extend Hy

[2021-09-28 04:08] wu-sheng commented on #7824
We don't support private extension for now, I think.

[2021-09-28 04:08] #7824 closed

[2021-09-28 05:08] wuguanyu commented on #7824
skwalking not support or byte-buddy-not support?

[2021-09-28 05:10] wu-sheng commented on #7824
It is about how to use byte buddy API in plugin. Your private codes are not expected by existing plugin codes, so exception shows up.

[2021-09-28 05:24] wuguanyu commented on #7824
Our company developers extends HystrixCommand by themselves to resolve specially fallback logic
ok I need to see skywalking how to use byte buddy. In above exception stack info, I find some byte buddy source has skywalking prefix flag. just like
  `  at org.apache.skywalking.apm.dependencies.net.bytebuddy.implementation.bind.MethodDelegationBinder$BindingResolver$Default.doResolve(MethodDelegation

[2021-09-28 05:25] wu-sheng commented on #7824
All of them are shaded. Yes.

[2021-09-28 05:39] wuguanyu commented on #7824
I  wanted debug MethodDelegationBinder in target application,But finally I find could't debug in this line
![image](https://user-images.githubusercontent.com/24486917/135029632-5b272a96-ab1f-4143-9a9f-0b4fe4dd1dc4.png)

[2021-09-28 06:00] wu-sheng commented on #7824
Sorry, private debug is out of community's hands.

[2021-09-28 06:42] wu-sheng opened #7825 "[Feature] Adjust `skywalking-kubernetes` repo to follow the latest image"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

With our release of 8.8.0, we changed the ways of ElasticSearch client, we need to update to the latest release and push for 4.2.0 release.

### Use case

_No response_

### Related issues

_No response_

### Are you wi

[2021-09-28 07:02] JarvisG495 commented on #7822
My pleasure : )
I have submitted a PR in skywalking-cli.

[2021-09-28 07:24] wallezhang commented on #7815
Hi @kezhenxu94 ,

I found that the JDBC driver of ClickHouse is implemented using HTTP protocol, so it will be handled by HTTPClient Plugin. And it can't be recognized as an db span through trace information. It looks like an ordinary http request, and the request path is always `/`, because of the sql is in the request body.

This plugin will intercept JDBC methods and insert a correct db span, b

[2021-09-28 07:30] wu-sheng commented on #7815
Is HttpClient in sync or async? If it is in sync, it is easy. Adding an exit span to the JDBC implementation, than its exit span disappears automatically.

[2021-09-28 07:36] wallezhang commented on #7815
It is in sync, I will try it. Thanks for reply.

[2021-09-28 13:19] wu-sheng opened #7828 "[Feature] Support MQ consuming latency metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This is a case introduced when `transmission.latency` added, I will try to implement a mechanism in the backend to calculate metrics for service level consuming-latency.

This requires 2 enhancements on the backend
1. S

[2021-09-29 02:04] Superskyyy commented on #7572
Update, I implemented it over last weekend. Been busy at school reading papers, it might take another few days before opening PR.

[2021-09-29 02:08] wu-sheng commented on #7572
Sure, we will be on China National Day vacation, and we are doing 8.8.1 release as a hot fix release.
Feel free to send pull request to 8.9.0

[2021-09-29 03:02] #7822 closed

[2021-09-29 03:38] heihaozi commented on #5653
I also found this problem, the httpasyncclient-4.x-plugin did not take effect most of the time.
The connections are reused from the pool, so the `SessionRequest` will not be instantiated.

[2021-09-29 07:15] zhyhzhylove opened #7835 "[Feature] When can skywalking support hbase for storage？"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Due to business needs, in online env, trace data is collected in full, approximately 25 billion pieces of data are generated every day，which is almost 10T. Now using es for storage, the cost is too high。Hbase might be a

[2021-09-29 07:23] wu-sheng commented on #7835
I am afraid not, 10T for ElasticSearch is not a big issue. We don't have anyone working on hbase or similar tech stack.
SkyWalking is an APM, with incoming native swlf-built database. We don't like idea about using big data for operation team.

[2021-09-29 07:23] #7835 closed

[2021-09-29 07:26] jaredhu opened #7836 "[Bug] There is a problem with elasticsearch index query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

The indexes of es are created on a daily basis, and the index we use when querying is not added. * To match all, when querying, it will directly prompt that no index

[2021-09-29 07:31] wu-sheng commented on #7836
What query are you doing? Our demo.skywalking.apache.org is working without error.

[2021-09-29 07:35] kezhenxu94 commented on #7836
@jaredhu can you also provide the ES version?

[2021-09-29 07:40] jaredhu commented on #7836
7.10.0

[2021-09-29 07:45] jaredhu commented on #7836
@kezhenxu94
![image](https://user-images.githubusercontent.com/6262851/135225014-218f2da0-72e0-4729-aff6-8bf73060f41f.png)
Exception thrown by the latest code running locally

[2021-09-29 07:46] wu-sheng commented on #7836
This looks like template missing?

[2021-09-29 07:47] jaredhu commented on #7836
template？where do I get it

[2021-09-29 07:47] wu-sheng commented on #7836
`cpm.*` is not an expected way for query. There is a `xxx_cpm` template to define this already.

[2021-09-29 07:48] wu-sheng commented on #7836
When OAP server boots, the template is created automatically, unless you have an index having the same name.

[2021-09-29 07:49] jaredhu commented on #7836
The image I got from the hub (docker pull apache/skywalking-ui:8.8.0)

[2021-09-29 07:49] jaredhu commented on #7836
No, there is no one with the same name, I emptied it all

[2021-09-29 07:50] jaredhu commented on #7836
Now, I got the latest code on github, and I have the same problem when running locally

[2021-09-29 07:50] wu-sheng commented on #7836
There is nothing related to docker, it is about ElasticSearch.
Try to debug `StorageEsInstaller#isExists` and `StorageEsInstaller#createTimeSeriesTable`.

[2021-09-29 07:51] jaredhu commented on #7836
Is this the problem? How can I fix it?

[2021-09-29 07:52] wu-sheng commented on #7836
Check what I replied. I am not sure what is bug yet.

[2021-09-29 07:52] jaredhu commented on #7836
no-init or init?

[2021-09-29 07:53] wu-sheng commented on #7836
No difference.

[2021-09-29 07:53] jaredhu commented on #7836
I have read here, it was created normally

[2021-09-29 07:54] jaredhu commented on #7836
![image](https://user-images.githubusercontent.com/6262851/135226410-1000976c-7414-4f91-922d-449037936cac.png)

[2021-09-29 07:56] wu-sheng commented on #7836
Again, this is index, not template.

[2021-09-29 07:57] jaredhu commented on #7836
![image](https://user-images.githubusercontent.com/6262851/135226877-347e387c-cb76-4724-80c1-25e98103bb37.png)
The concept of the template is not clear, so it is not clear how to try

[2021-09-29 08:02] jaredhu commented on #7836
Oh, I found the template, and I also saw -* does exist, but why is it not used when querying?
![image](https://user-images.githubusercontent.com/6262851/135227779-fc78c71d-8606-4193-8ff1-9b3633388b13.png)

[2021-09-29 08:07] jaredhu commented on #7836
StorageEsInstaller#isExists  There are bugs and need to be fixed. The registered ones do not contain templates

[2021-09-29 08:10] wu-sheng commented on #7836
Could you be more clear about what do you mean?

[2021-09-29 08:14] wu-sheng commented on #7836
I can see @kezhenxu94 activated e2e testing for your case.

https://github.com/apache/skywalking/runs/3741642509?check_suite_focus=true

You could check the logs, it seems everything is working for 7.10.0 and 7.10.1

[2021-09-29 08:15] jaredhu commented on #7836
String tableName = IndexController.INSTANCE.getTableName(model);

Only the aggregation method is considered here

IndexController.LogicIndicesRegister.registerRelation(model.getName(), tableName);

The mapping relationship registered here is actually only the aggregation method.
When querying, the template should be used (indexPatterns=[saas-apm_alarm_record-*]). What I want is whether the indexPa

[2021-09-29 08:17] wu-sheng commented on #7836
I am sorry, what do you mean `what I want`. I thought this is a bug report.

[2021-09-29 08:19] wu-sheng commented on #7836
Again, we use template name to query, not `xxx-*` to query.

[2021-09-29 08:19] jaredhu commented on #7836
Oh, sorry, I think whether I can register the indexPatterns of the template in this map. When I use it, I find that I will get it from this map, so, I can use indexPatterns to query

[2021-09-29 08:20] wu-sheng commented on #7836
What you are using? If you write something private, it is out of community's scope.

[2021-09-29 08:20] jaredhu commented on #7836
Maybe I still don’t understand, at least the query is problematic at the moment

[2021-09-29 08:21] jaredhu commented on #7836
I'm just telling my thoughts, it still depends on how you deal with it

[2021-09-29 08:23] wu-sheng commented on #7836
This is why we run e2e testing, and just showed your the logs.

https://github.com/apache/skywalking/runs/3741642509?check_suite_focus=true

I am not saying this is not an issue, but we can't reproduce it by following your information.

[2021-09-29 08:24] wu-sheng commented on #7836
What you asked for change doesn't make sense. ElasticSearch template is already a native mechanism to do the things. What you proposed is not required.

If your ElasticSearch can't be queried by template name, which you checked it exists, then, I am totally confused.

[2021-09-29 08:31] jaredhu commented on #7836
e2e testing is normal, so, how can I troubleshoot this problem now?

[2021-09-29 08:34] wu-sheng commented on #7836
What kind of ElasticSearch are you using? Someone set up for you? Have you tried a local and totally new ElasticSearch?

[2021-09-29 08:39] jaredhu commented on #7836
Yes, assigned by the engineer, it’s a bit troublesome to change es

[2021-09-29 08:41] jaredhu commented on #7836
Is this related to es? There are indexes in es, but there is a problem with the url generated when querying

[2021-09-29 08:42] wu-sheng commented on #7836
Please learn ElasticSearch template first. You are not following the context. At least understanding what we are saying, then reply, rather than repeating your own words.

[2021-09-29 08:44] jaredhu commented on #7836
![image](https://user-images.githubusercontent.com/6262851/135234456-50433f20-b147-4ca9-9885-0f6d3aa9f162.png)
Is it normal for you to generate such a URL?

[2021-09-29 08:46] wu-sheng commented on #7836
As far as I know, yes. This is a template name. Why are you keeping asking me same thing?

[2021-09-29 08:49] jaredhu commented on #7836
Because it is impossible to find things in es, an error was reported directly
![image](https://user-images.githubusercontent.com/6262851/135235414-e395f6c5-39ae-4117-967f-5b04f0ddaae3.png)

[2021-09-29 08:50] wu-sheng commented on #7836
That is exactly why I ask you to check what is specially for you ElasticSearch. Why does template do not work at your side.

[2021-09-29 08:53] jaredhu commented on #7836
so, may be the reason of es, I will study this

[2021-09-29 09:40] #7812 closed

[2021-09-29 09:51] jaredhu commented on #7836
![image](https://user-images.githubusercontent.com/6262851/135245615-e3f3e0e5-7822-4745-830a-6cff5e8a16a4.png)
I think I know, you used alias search first, and some of the indexes created did not have aliases.

[2021-09-29 09:53] wu-sheng commented on #7836
All indices should have an alias, because we used `prefix` match.

[2021-09-29 12:00] jaredhu commented on #7836
I think it may be the problem of k8s. K8s has been deployed with multiple historical versions. It may be caused by some cached jar packages. After I initialized the index of es with the tar package directly on the machine, it can run normally.

[2021-09-29 12:02] #7836 closed

[2021-09-29 12:07] ZhaoDaMing opened #7837 "[Feature] 为什么Shy SkyWalking没有Java异常数量大盘和监控功能"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

为什么Shy SkyWalking没有Java异常数量大盘和监控功能.比如像cat那样.上线的时候可以关注报错大盘.是否有哪个项目出现了很多Java异常.点某个异常可以看到具体的堆栈信息

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing

[2021-09-29 12:18] #7837 closed

[2021-09-30 01:19] offSwitch opened #7842 "[Bug] zipkin-receiver-plugin not include in 8.8.0, ModuleNotFoundException: [receiver_zipkin] missing,"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

org.apache.skywalking.oap.server.library.module.ModuleNotFoundException: [receiver_zipkin] missing.
	at org.apache.skywalking.oap.server.library.module.ModuleManager

[2021-09-30 02:11] kezhenxu94 commented on #7842
Hi @offSwitch , thanks for reporting, I've created a pull request to fix this, but before the 8.9.0 release, you can compile the `zipkin-receiver-plugin` module and download `zipkin2` dependencies, then put them into the `oap-libs` directory.

[2021-09-30 05:51] #7842 closed

[2021-09-30 07:04] kezhenxu94 opened #7845 "Add “.exe” suffix to the Windows compiled executable program for skywalking-eyes"
### Discussed in https://github.com/apache/skywalking/discussions/7844

<div type='discussions-op-text'>

<sup>Originally posted by **codeglzhang** September 30, 2021</sup>
 In skywalking-infra-e2e, we can use `make build` to get a Windows executable program `skywalking-eyes\bin\windows\license-eye`. However, in the command line of Windows, whether the file is an executable program is determined b

[2021-09-30 07:22] wu-sheng commented on #7845
If this has `.exe` suffix, then we need to be careful about dealing with `skywalking-eyes` checking or others in ASF doing check for our release. This could be identified as binary file, which is not allowed in the ASF source release. Meanwhile, according to your description, this should have a very clear document about what this exe is.

[2021-09-30 07:24] wu-sheng commented on #7845
And for more importantly, does this enough for Windows? We have `swtcl`(having Windows binary, but set up Linux's binary only) and many other scripts, are they working too?

The reason I asked about is that, once we say something in the doc, these `a/b/c` are for Windows, we actually are saying, we are going to support `infra-e2e` in Windows, and users even expect the consistent setting for Window

[2021-09-30 07:27] kezhenxu94 commented on #7845
`.exe` is definitely binary file, and it is only distributed in binary tar, not source tar.

This issue is just to add a suffix `.exe` to the binary files, which were already distributed but not work because of lack of `.exe`.

For `license-eye` it should be supported in Windows, but for `infra-e2e` it depends on how the users compose the control file, I'll just remove the label `infra-e2e`.

[2021-09-30 07:32] wu-sheng commented on #7845
Once it could be generated/compiled and located in binary tar only, it is good.

[2021-09-30 14:20] congzhangzh opened #7848 "[Feature] add support to OpenTelemetry trace receiver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I use open telemetry on .net core, and some other teams use Skywalking, we want to mix the trace context.

Hope skywalking add open telemetry receiver, so that’s possible to use oltp export to send trace to skywalking.

[2021-09-30 15:17] wu-sheng commented on #7848
If anything is going to happen on dotnet, it is out of ASF scope. That project belongs to SkyAPM community from legal perspective.
We discussed this topic, which is similar with Zipkin. We can't see the chance to analyze metrics and topology from its traces too.

[2021-09-30 15:18] wu-sheng commented on #7848
If you transfer trace format from their sides, and follow SkyWalking trace format, we don't need to open new receiver.

[2021-10-01 02:34] Duytq7 opened #7850 "[Bug] JavaAgent could collect server info (CPU, Memory) but no trace info."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Please, answer me to this situation:
- Module use JDK 8+, wrapper tanuki
- skywalking could collect server info (CPU, Memory) but no trace info.
- no unusual lo

[2021-10-01 02:37] congzhangzh commented on #7848
Tks, can you provide some compare table about semantics and  name/value spec between skywalking and open telemetry?

I can only inspire by node implement now, https://github.com/apache/skywalking-nodejs/blob/master/src/agent/protocol/grpc/SegmentObjectAdapter.ts

https://github.com/apache/skywalking-nodejs/blob/master/src/agent/protocol/grpc/clients/TraceReportClient.ts

[2021-10-01 02:37] wu-sheng commented on #7850
You don't provide enough message to indi the status.

[2021-10-01 02:38] #7850 closed

[2021-10-01 02:39] congzhangzh commented on #7848
I need these information to do:
1. Extract for income
2. Inject for outcome
3. Export implement

[2021-10-01 02:42] wu-sheng commented on #7848
This is SkyWalking protocol, https://skywalking.apache.org/docs/main/latest/en/protocols/readme/#language-based-native-agent-protocol

Sorry, we don't have such table to match, due to we don't support this.

[2021-10-01 03:01] congzhangzh commented on #7848
Ok, tks, I will try later

Maybe dotnet implement can give some more inspire

https://github.com/SkyAPM/SkyAPM-dotnet/blob/master/src/SkyApm.Core/Tracing/CarrierPropagator.cs

[2021-10-01 03:26] congzhangzh commented on #7848
Btw, a basic idea  Just for reference if some other one need:
1. Use http api to do trace push for quick start, https://skywalking.apache.org/docs/main/latest/en/protocols/http-api-protocol/ , use bulk mode for performance
2. A new propagator base on https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/src/OpenTelemetry.Api/Context/Propagation/B3Propagator.cs
3. a new exporter base on

[2021-10-01 06:41] xiongshiyan opened #7855 "[Feature] skywalking插件支持jersey"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

skywalking插件支持jersey

### Use case

skywalking的插件支持jersey吗？我的项目使用了vertx+jersey，jersey作为表现层的接口框架，通过提供类似Spring的注解来表达URI。例如@Path，@GET，@POST等。我集成skywalking的agent之后，能发现这个service，但是不能发现endpoint，所以我怀疑是skywalking不支持jersey，因为我另外

[2021-10-01 06:44] xiongshiyan commented on #2780
我的项目使用了vertx+jersey，jersey作为表现层的接口框架，通过提供类似Spring的注解来表达URI。例如@path，@get，@post等。我集成skywalking的agent之后，能发现这个service，但是不能发现endpoint，所以我怀疑是skywalking不支持jersey，因为我另外一个项目纯使用vertx web是没问题的。如果skywalking真不支持jersey，请问开发支持jersey的插件有流程文档吗？

[2021-10-01 06:44] wu-sheng commented on #7855
All official discussion of SkyWalking must be in English. We have provided QQ groups for Chinese discussion channel.
All plugins of SkyWalking are contributed by the community.

[2021-10-01 06:44] #7855 closed

[2021-10-01 09:43] wu-sheng commented on #7848
`Cross Process Propagation Headers Protocol v3` and `SkyWalking Trace Data Protocol v3` are required if you just set up a MVP. Others are recommended due to SkyWalking's other agents, especially Java, implemented all of them.

[2021-10-02 08:56] congzhangzh commented on #7848
Ok, tks

[2021-10-05 06:17] deepto98 commented on #7762
@kezhenxu94 Hi, I would like to take this up, can you please assign it to me? Since I am new to the project, can you also please give a bit more context about the task, and the files which I should start looking at?

[2021-10-05 06:25] deepto98 commented on #7420
@wu-sheng Is this issue still open? If so, can I try this out? I'm new to the project, so can you point me to some resources to get started on this task?

[2021-10-05 07:16] wu-sheng commented on #7420
Yes, this is still open.
You first should understand how Java agent works, and tracing basic idea(Google dapper paper).
After that, plugin development and testing docs, and take a reference from existing Tomcat 8 plugin.

[2021-10-05 07:27] deepto98 commented on #7420
Okay, thanks. I'll start on this and reach out if I'm stuck

[2021-10-05 07:31] deepto98 commented on #7420
@wu-sheng Can you also point me to the Tomcat 8 plugin directory?

[2021-10-05 07:38] wu-sheng commented on #7420
https://github.com/apache/skywalking-java/tree/main/apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin

This is the latest.

[2021-10-05 09:10] kezhenxu94 commented on #7762
Hi @deepto98 , thanks for the interest, the rationale behind this task is that, for containerized scenarios, the style of `agent.instance_properties[xxx]=xxx` is hard (if not impossible) to modify, using json style like `agent.instance_properties_json={xxx:yyy}`, the users can modify via environment variables.

[2021-10-08 07:05] xu1009 opened #7869 "[Feature] Add apache kylin jdbc plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Apache Kylin™ is an open source, distributed Analytical Data Warehouse for Big Data; it was designed to provide OLAP (Online Analytical Processing) capability in the big data era. By renovating the multi-dimensional cub

[2021-10-08 07:10] wu-sheng commented on #7869
Are you going to submit a pull request?

[2021-10-08 07:18] xu1009 commented on #7869
yes，the plugin in my project has already worked, now i am reading to submit a pull request

[2021-10-08 07:40] heihaozi opened #7872 "[Feature] Support specifying an instance to create a profile"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When creating a profile, not only can all instances of the service be profiled, but an instance can also be specified.

### Use case

![](https://user-images.githubusercontent.com/2956927/136516739-d8673337-1ccf-48db-9a

[2021-10-08 09:19] sialais opened #7875 "[Bug] TracePathMatcher should match pattern "**" with paths end by "/""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

we config trace ignore paths by "agent/config/pm-trace-ignore-plugin.config", but found paths ends by "/" are not ignored with "**".

example configuration in p

[2021-10-08 10:18] wu-sheng commented on #7875
Welcome to submit a pull request to fix and add a new UT to cover new case.

[2021-10-09 02:59] chzhuo opened #7879 "[Nodejs][Bug] Getting error log "Error installing plugin mysql2 *" when start agent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

Getting error log "Error installing plugin mysql2 *" when run `start()`

### What you expected to happen

no error log

### How to reproduce

I

[2021-10-09 03:32] kezhenxu94 commented on #7879
Hi @chzhuo thanks for reporting! First of all, failing to install a plugin does no harm if you're not using that library, but your demo application `index.js` is also meaningless and it exits immediately even if the mysql2 plugin succeeded to install because you don't have any real server running.

[2021-10-09 04:26] #7815 closed

[2021-10-09 06:47] chzhuo commented on #7879
I get the same error log in an online app that connects the Mysql server by `mysql2`, so I use this demo to reproduce this error.
I think mysql2-plugin did not work well when getting this error log.

[2021-10-09 07:35] sunwulovelove1 opened #7882 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

skywalking: 8.5.0
es : 7.8.0
25,000  log errors are reported every day and  crashes once a week（may be related it）

2021-10-08 05:16:36,939 - org.apache.skywalking.o

[2021-10-09 07:42] wu-sheng commented on #7882
You didn't fill the title.
The length control about names of service, instance and endpoint was not working for logs.
It has been fixed in 8.8.0. Use 8.8.1 please.
Submit issue after you tried the latest version or have read change loga.

[2021-10-09 10:15] xu1009 commented on #7869
@wu-sheng  follow the test doc，i stuck in scenario test，the mock collector in the docker container can not receview data, but local(depoly mock collector can get data from agent) is ok，the agent config backend_service is 127.0.0.1:11800 or 127.0.0.1:19876 in mock collector doc, or other?

[2021-10-09 14:09] #7825 closed

[2021-10-09 14:49] xu1009 commented on #7869
i find the problem, the entryService is very slow，but the test curl set time out 3s，when curl time out and then get receive data from mock collector，the entryService still not end， so the segments is null

[2021-10-09 15:21] wu-sheng commented on #7869
Make your test service as fast as possible. We have limited resources for CI, but we have to test all plugins in most changes.

[2021-10-09 16:50] xu1009 opened #7889 "[Feature] Add okhttp 2.x plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

OkHttp is an HTTP client，now，skywalking has support 3.x and 4.x version, 2.x is different, so plan to support  okhttp 2.x plugin

### Use case

when we use OkHttp 2.x version post request, the plugin can get request mes

[2021-10-10 07:54] dmsolr opened #7890 "[Feature] [Satellite] Prometheus Fetcher support to configure TLS for scrape in kubernetes servicediscovery situation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When the target service enabled SSL/TLS and deployed in k8s, we have to support users to configure SSL/TLS for prometheus scrape job.

### Use case

_No response_

### Related issues

_No response_

### Are you willing

[2021-10-10 07:59] dmsolr opened #7891 "[Feature] [Satellite] Support to configure re-label"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In k8s, Satellite fetches the metrics and then puts some label like 'instance'. But as you know, 'instance' is preserved for SW OAP. So I think we cloud support to configure re-label by users.

### Use case

_No respons

[2021-10-10 10:05] wu-sheng commented on #7891
This makes sense, are you or someone going to contribute this?

[2021-10-10 15:15] dmsolr opened #7892 "[Bug] [Satellite] Missing histogram type metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Satellite (apache/skywalking-satellite)

### What happened

Satellite Prometheus Fetcher module sends meter data to OAP, and then we cannot see any histogram type metrics. (I am sure I have some histogram type metric

[2021-10-10 15:17] wu-sheng commented on #7892
@gxthrj Please take a look.

[2021-10-11 03:07] kezhenxu94 opened #7896 "[INFRA E2E][Feature] allow reusing the `verify.cases`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This feature allows people to reuse the `verify.cases` that can be shared between many similar cases.

## Reuse `verify.cases`

We can add a configuration item `include` under `verify.cases`, people can extract the comm

[2021-10-11 03:34] wu-sheng commented on #7896
BTW `include` should be a list, right? We may need to split the verification into different files for reuse.

[2021-10-11 04:02] wu-sheng opened #7897 "[Bug] Can't process string labels in MultipleLinearIntValues query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

CLI (apache/skywalking-cli)

### What happened

FATAL strconv.Atoi: parsing "idle": invalid syntax

I reviewed the codes, and noticed this

https://github.com/apache/skywalking-cli/blob/515a6a415f83a2e7ba114ca8c6fc79

[2021-10-11 04:34] kezhenxu94 commented on #7896
Not necessarily, `include` can occur multiple times, so you can combine as many files as you want, reason is here https://github.com/apache/skywalking-infra-e2e/pull/53#discussion_r725780195

[2021-10-11 06:34] dmsolr commented on #7891
I and @gxthrj will do this next month(maybe). If anyone is interesting, can assign him.

[2021-10-11 14:26] arugal opened #7905 "[CLI][Feature] Add some commands for the browser"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This feature allows people to query browser related data, such as `service`|`version`|`page-path`|`error-log`, via `skywalking-cli`.

### Browser Command

+ swctl browser service
+ swctl browser version
+ swctl browser

[2021-10-12 02:53] CalvinKirs commented on #6747
I did a simple test comparison and it looks like Disruptor does serve our purpose, I will provide the full JMH Test shortly.

[2021-10-12 03:08] ligerman33 opened #7909 "[Feature] Any plan to add a function like "export preformance report""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Is there any plan to add a function like "export preformance report" ?

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Co

[2021-10-12 03:52] CalvinKirs opened #7910 "[Feature] Add MicroBench module to make it easier for developers to write JMH TEST"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I wanted to write JMH Test in SkyWalking, I found that: JMHTest is distributed in various modules, and each class needs to do things like setting basic properties: For example:

[code]

### Use case

Maybe we can c

[2021-10-12 04:08] wankai123 opened #7911 "[CLI][Feature] Require commands to manage UI configuration."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Storage E2E need to verify UI template: get, add, change, disabled

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code o

[2021-10-12 04:12] CalvinKirs commented on #6747
Yes, this is a clever design by Channel,

For Disruptor, at present, I can only think of providing a more flexible configuration to achieve an ideal effect.

[2021-10-12 05:39] wu-sheng commented on #7910
What module? Do you mean maven module?

[2021-10-12 05:43] CalvinKirs commented on #7910
Like this.

https://github.com/netty/netty/tree/4.1/microbench

https://github.com/netty/netty/tree/4.1/microbench/src/main/java/io/netty/microbench/util

We can provide some basic JMH classes so that writing the JMH Test can be much easier.

[2021-10-12 06:31] #7896 closed

[2021-10-12 09:33] wu-sheng commented on #7910
I think SkyWalking has `server-testing` maven module to host base codes for testing. If you want to add and reflect something, welcome to submit pull requests.

[2021-10-13 01:29] #7677 closed

[2021-10-13 03:12] 457775987 opened #7915 "[Bug] Adding agents affects spring AOP"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

After I add an agent, a class defaultaopproxyfactory in spring AOP will have one more field by default. This class is a serialized class, resulting in a mismatc

[2021-10-13 03:14] wu-sheng commented on #7915
All issues should have good title and reported in English.

[2021-10-13 03:18] wu-sheng commented on #7915
Yes, this field is planned to be added, and a lot of plugins require this field to provide high performance. That is one of many reasons of SkyWalking agent having such good performance

[2021-10-13 03:20] 457775987 opened #7916 "[Bug] Adding skywalking-agent.jar affects spring AOP"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

After I add an agent, a class defaultaopproxyfactory in spring AOP will have one more field by default. This class is a serialized class, resulting in a mismatc

[2021-10-13 03:49] wu-sheng commented on #7916
Duplicate #7915

[2021-10-13 03:49] #7916 closed

[2021-10-13 04:00] 457775987 commented on #7915
At present, spring security should serialize this class to redis. We directly join skywalking through javaagent without other special operations. At present, because the additional field of agent affects suid calculation, we can only deal with spring security?

[2021-10-13 05:42] 457775987 commented on #7915
Sorry, it's translated in English by software. I want to explain that this defaultaopproxyfactory is saved by spring security after the user logs in. I didn't do this. When I request an address, it will be intercepted by spring security and go to redis to obtain the user information. Can it be solved only through spring security 。
（抱歉，英文使用软件翻译的，我的意思想说明，这个DefaultAopProxyFactory是spring security在用户登录

[2021-10-13 05:45] Liubey opened #7917 "[Bug] Log Search function not effective"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

I have use grpc reporter to collect log to the es,but in /log page,I can not use any english character or chinese character to search log.
by the way,search by

[2021-10-13 05:53] #7917 closed

[2021-10-13 06:24] Liubey commented on #7917
but,to be honest,It's not obvious.

[2021-10-13 06:42] wu-sheng commented on #7917
Because you could set multiple keywords to match, there is no other way to provide this.

[2021-10-13 06:46] vtdat commented on #5663
I'm using oap 8.8.1

[code]

[2021-10-13 07:33] wu-sheng commented on #7915
OK, I may add something enhancing this later. But, generally, Spring should not do like this.

[2021-10-13 07:54] 457775987 commented on #7915
Thank you. Can you release a version after modification, and then close the issue so that I can receive notifications

[2021-10-13 07:55] wu-sheng commented on #7915
Official release is controlled by the PMC, not me. So, I don't know when they call for release.

[2021-10-13 11:20] #7897 closed

[2021-10-13 13:35] wu-sheng commented on #7915
@457775987 I read this error again, it makes me feeling, a dynamic field is not the root cause. The instrumentation itself is.

I am not sure when `serialVersionUID` gets changed, does rebooting make `local class serialVersionUID` changed every time?

Also, another question is, does the same application(agent installed) put the AopProxyFactory into the cache? From my understanding, there is one JV

[2021-10-14 01:38] 457775987 commented on #7915
I'm trying to change serialization to Jackson. Compared with jdkserializationredisserializer, I have encountered some problems. OAuth and spring security may need to do a lot of work, which has not been solved yet

[2021-10-14 03:51] wu-sheng opened #7920 "[Bug] Enhance meter protocol and convert to support `-Inf` as bucket."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

`-Inf` is not supported in the meter protocol level and OAP server. When satellite wants to forward fetched prometheus metrics to meter system, there is no way to se

[2021-10-14 06:39] youzhagui2006 opened #7922 "[Bug] spring-cloud-gateway 过滤器中使用webclient，空指针异常，造成新产生一个traceId"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

ERROR 2021-10-14 14:02:16:919 reactor-http-nio-6 InstMethodsInterWithOverrideArgs : class[class reactor.netty.http.client.HttpClientFinalizer] before method[sen

[2021-10-14 06:44] #7922 closed

[2021-10-14 06:57] youzhagui2006 opened #7923 "[Bug] skywalking8.7.0 spring cloud gateway 2.1 use webclient broken trace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

when request gateway ， skywalking-api.log  print the error,as follow!
reactor.netty.http.client.HttpClientFinalizer] before method[send] intercept failure
java.

[2021-10-14 07:02] wu-sheng commented on #7923
As I has explained, this issue will be kept open only. If there is anyone wants to help, we are welcome.
Plugins are contributed from global contributors, the core team doesn't know most of them.

[2021-10-14 09:13] alberta0714 commented on #1298
Nice!  Thanks bro!

[2021-10-15 02:54] liqiangz commented on #6209
First PR include the overall structure of the new component has merged. The second PR contains the conversion of OTLP protocol to skywalking-data-collect-protoco format. Could you please have a review on this? @wu-sheng @kezhenxu94
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5690

[2021-10-15 06:51] wu-sheng opened #7931 "[Feature] Add version system and query for OAP server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

From current status, SkyWalking OAP server will keep on 8.x release for months. It is better we are going to add version information in the final binary.

We are welcome anyone interesting to add this to SkyWalking.

##

[2021-10-15 07:45] mrproliu opened #7933 "[infra-e2e] Enhance `KinD` to support more scenario"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We need to enhance the `KinD` type setup, so we could move the main repo case(i.e istio) to the `infra-e2e`.

### Use case

We could do these 3 part enhancements:
1. export `KUBECONFIG` to the environment, so the user c

[2021-10-16 07:19] wangrzneu opened #7938 "[NGINX-LUA] support custom operation ignore"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

1.support operation ignore according to some custom configs like:
. ignore: /test,/heathCheck/
. ignorePrefix: /css/,/html/
. ignoreSuffix: .css,.html

2.in reverse proxy case, the sw8 header will not be transmitted to

[2021-10-16 09:25] wu-sheng commented on #7938
`Ignore mechanism` is fine, as Java has this already. Meanwhile, the sampling is recommended to do in the backend, especially rate policy. Because once you set up sampling at agent side, the metrics, even maybe topology, are not correct any more in the whole SkyWalking.

[2021-10-16 09:36] wu-sheng opened #7942 "[Feature] Enhance plugin test tool for Java 17 (LTS) support"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

ByteBuddy 1.10.19+ is already supporting the Java TLS, so our agent have supported too.(Community verified)
It is better we could have a plugin test for it.

@dmsolr I think you should update plugin tool for it/

### Us

[2021-10-16 09:39] wu-sheng opened #7943 "[Feature] Add OpenJDK 17 (LTS) test for backend server runtime"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I can see the OpenJDK 17 is available, please add this version for runtime verification.

This doc should be updated as well accordingly, https://skywalking.apache.org/docs/main/latest/en/setup/backend/backend-setup/#re

[2021-10-16 09:41] wu-sheng commented on #7943
After plugin test tool container and a new plugin(JDK17 compiling and runtime), this doc should be updated, https://skywalking.apache.org/docs/skywalking-java/latest/en/setup/service-agent/java-agent/readme/

[2021-10-16 10:05] 457775987 commented on #7915
After many attempts, there are many problems with JSON serialization and its support is not very good. The current solution is to add the skywalking agent system to declare that defaultaopproxyfactory overrides the one provided by spring AOP, and declare a fixed private static final long serialVersionUID = 7930414337282325166l;

[2021-10-16 10:05] #7915 closed

[2021-10-17 16:07] #7892 closed

[2021-10-18 08:22] lovegwwp opened #7949 "[Bug] LikeMatch Error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I want to count more detailed metrics, such as
![image](https://user-images.githubusercontent.com/33893474/137693729-81dd87ee-b1f6-4164-a9a1-72156c3d61b4.png)

But i

[2021-10-18 08:25] #7949 closed, assigned to nobody

[2021-10-18 08:33] lovegwwp commented on #7949
Does number have a concept similar to between? For example, 10<20<30

[2021-10-18 10:00] wu-sheng opened #7950 "[Feature] Support +/- hh:mm in TimeZone setting"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We supported setting timezone on UI between -12 and +12, but need to be as an integer. But this is not the real world case.
Such as [India Standard Time (IST)](https://www.timeanddate.com/time/zone/india) == UTC +5:30

[2021-10-18 13:12] wankai123 opened #7952 "[Bug] Event report cause illegal events data."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I used `Skywalking cli` command to send events reports to OAP server.
[code]
In the beginning, everything is fine, the event data is correct and I can get this event

[2021-10-18 23:14] #7952 closed

[2021-10-19 02:54] #7950 closed, assigned to Fine0830

[2021-10-19 11:40] 844700118 opened #7960 "oapService elasticsearch7 start error Root mapping definition has unsupported parameters"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

**skywalking version: 8.8**
**elasticsearch  version: 7.13**
**What should I do ?**

**[root@k8s-master ~]# ./oapService.sh**

    2021-10-19 19:27:06,438 - org.apac

[2021-10-19 11:42] wu-sheng commented on #7960
Read the log first before submitting an issue.

[2021-10-19 11:42] #7960 closed

[2021-10-19 15:20] Fine0830 opened #7966 "[Feature]Extend the protocol to query logs with task ID"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

On the Profile page, when a task is viewed at different times, its logs are different. Query logs with task ID, which can make to view task logs at different times without refreshing the page.

### Use case

_No respons

[2021-10-20 00:13] wu-sheng commented on #7966
@mrproliu Consider to add a `getProfileTaskLogs` service in GraphQL. The storage level implementations may or may not need to change.

[2021-10-20 02:19] wu-sheng commented on #7966
We don't have to break protocol, I think. Adding one should be enough.

[2021-10-20 11:06] shreyasbasavarajappa opened #7974 "[Feature] Java agent for couchbase db transaction monitoring"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Our skywalking java agent is monitoring multiple java applications and these applications has db interactions. Agent is able to collect metrics for other db transactions but its not collecting any info wrt couchbase db.

[2021-10-20 11:08] #7974 closed, assigned to nobody

[2021-10-20 11:17] shreyasbasavarajappa commented on #7974
@wu-sheng Can you please point out the issue which is the original one?

[2021-10-21 01:05] zhaop33 commented on #5307
Is this problem fixed?

[2021-10-21 08:28] tisonkun opened #7979 "[Improve] Skywalking eyes can obtain GitHub token by default"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Here it is:

https://github.com/ziggurat-project/actions-dco/blob/e692ae34e47626e4881b92f96e08b6ad42e0d4de/action.yml#L17-L21

And then we don't have to nudge the user to config env:

https://github.com/apache/skywalkin

[2021-10-21 08:53] wankai123 opened #7980 "[Feature] [CLI][Feature] Require commands to query Alarms data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

the same feature as graphql API

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow

[2021-10-21 10:34] ZPerling commented on #7842
[code]

The sampe problem

[2021-10-21 10:36] wu-sheng commented on #7842
Fixed in the master and will be included in 8.9.0.

[2021-10-21 10:50] wu-sheng commented on #6951
No update for months.

[2021-10-21 10:50] #6951 closed

[2021-10-21 10:52] #7869 closed

[2021-10-21 11:05] ZPerling commented on #7842
my promblem caused by receiver_jaeger, not receiver_zipkin

[2021-10-21 11:14] #7721 closed

[2021-10-21 11:18] #1675 closed, assigned to nobody

[2021-10-22 00:20] #7966 closed

[2021-10-22 02:17] 457775987 opened #7987 "[Feature] Logback log collection function cannot be used"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

**I refer to the official website documents to introduce dependency packages:**

          <groupId>org.apache.skywalking</groupId>
          <artifactId>apm-toolkit-logback-1.x</artifactId>
          <version>8.7.0</ve

[2021-10-22 02:21] #7987 closed

[2021-10-22 03:31] wankai123 opened #7988 "[Test] Cluster e2e need verify OAP cluster model data aggregation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Cluster e2e just verified the integration with coordinators and storage for now. We need to verify the real OAP cluster model data aggregation.

### Use case

_No response_

### Related issues

_No response_

### Are yo

[2021-10-22 07:50] #7979 closed, assigned to kezhenxu94

[2021-10-22 11:23] will2020-power opened #7991 "[Bug] Can not trace CompletableFuture thenApply/thenApplyAsync"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Can not  trace CompletableFuture thenApply/thenApplyAsync

refer to https://skywalking.apache.org/docs/skywalking-java/latest/en/setup/service-agent/java-agent/application-toolkit-trace-cross-thread/

I can get  TaskA a

[2021-10-22 12:05] #7991 closed, assigned to nobody

[2021-10-24 14:14] #7933 closed, assigned to mrproliu

[2021-10-25 05:31] erdengzhazha opened #7996 "[Bug] Installation problem"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

version: apache-skywalking-apm-bin-es7 : 8.7.0

Problem description:
`2021-10-25 13:08:41,553 - org.apache.skywalking.oap.server.starter.OAPServerBootstrap - 57 [mai

[2021-10-25 05:39] #7996 closed, assigned to nobody

[2021-10-25 08:53] erdengzhazha opened #7997 "[Bug] Inaccurate data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

![image](https://user-images.githubusercontent.com/43720808/138664626-a69a8648-fa18-4f32-982d-4c9743bab5de.png)

![image](https://user-images.githubusercontent.

[2021-10-25 08:57] #7997 closed, assigned to nobody

[2021-10-25 15:29] wu-sheng opened #8001 "[Bug] Netty socketio CI failing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Plugin test case of socketio fails in https://github.com/apache/skywalking-java/pull/49 final run. I have tried over 3 times rerun, but can't work out.

The log

[2021-10-25 16:06] kwanhur opened #8002 "[INFRA/EYE] Support to show differences between file's header and license-eye's pattern content"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add subcommand `diff` in `license-eye`, it'll help us to show what's the differences between files and `license-eye`'s pattern content, support to specify `dir` `filepath` is the better.

### Use case

`license-eye diff

[2021-10-26 05:29] chenqinwei opened #8006 "skywalking dashboard K8s"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

What data are displayed in k8s and VM of skywalking dashboard? How did these data come from? How to use this function？
![image](https://user-images.githubusercontent.com/88814006/138814429-847f2ce0-a1f2-4a16-921b-695839

[2021-10-26 06:42] #8006 closed, assigned to nobody

[2021-10-26 12:44] #8001 closed, assigned to mrproliu

[2021-10-27 06:10] marklinglon opened #8018 "[Bug] zipkin_reciever seted but not effected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

![image](https://user-images.githubusercontent.com/18097531/139009132-7f03942f-489c-418b-951e-9b21b1769e67.png)
I wish to active zipkin_reciever,but after I set para

[2021-10-27 06:12] #8018 closed, assigned to nobody

[2021-10-27 07:48] chenqinwei opened #8022 "Skywalking failed to submit log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Phenomenon: the springboot project uses the logback method to report logs to skywalking 8.7. Logback.xml and agent.config are configured. After the springboot project is started, the access interface does not report err

[2021-10-27 07:54] #8022 closed, assigned to nobody

[2021-10-27 10:15] lujiajing1126 opened #8024 "[Bug] Duplicated enhancements for MultiKeyPipelineBase and missing Transaction support in Jedis-2.x plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Prior to `spring-data-redis 2.0.0`, the library use separated `set` and `expire` methods within a transaction instead of calling [`SETEX`](https://redis.io/comm

[2021-10-27 11:41] 844700118 opened #8025 "仪表盘k8s模块下的子模块cluster/node有数据, 但子模块service没有数据显示"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

**1.仪表盘k8s模块下的子模块cluster/node有数据, 但子模块service没有数据显示**

![image](https://user-images.githubusercontent.com/4944902/139056586-3ce2807d-a3cb-4862-84f6-ebb9596219a7.png)

[2021-10-27 12:05] #8025 closed, assigned to nobody

[2021-10-28 01:26] 844700118 opened #8026 "k8s service collection error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

**1. The sub-module "cluster" "node" under the k8s module of the dashboard has data, which is normal, but the sub-module "service" has no data displayed**

**2.Serve

[2021-10-28 01:33] #8024 closed, assigned to wu-sheng

[2021-10-28 03:14] zhyyu opened #8029 "[Bug] config env placeholder yaml parse error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I use `SW_ES_PASSWORD` env to inject es password, the pwd contain special character like `!AI!3B`.  And when I start the OAP, it occurs error, and fail start up.

[c

[2021-10-28 07:26] #8026 closed, assigned to nobody

[2021-10-29 04:23] 844700118 opened #8038 "k8s service collection error [Feature]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

**1. The sub-module "cluster" "node" under the k8s module of the dashboard has data, which is normal, but the sub-module "service" has no data displayed. It may be a problem with the OpenTelemetry Collector configuratio

[2021-10-29 04:26] #8038 closed, assigned to nobody

[2021-10-29 13:35] #8029 closed, assigned to zhyyu

[2021-10-29 15:03] skundu1234 opened #8039 "ISSUE- Skywalking argent error after enabling TLS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

After enabling TLS from agent and collector side ,we can see below error. Agent and collector both are using same host. Please let me know if you need any details.
E

[2021-10-29 15:18] #8039 closed, assigned to nobody

[2021-10-31 13:08] #3661 closed

[2021-10-31 13:28] wu-sheng commented on #3661
The final update is here, https://github.com/apache/skywalking-java/pull/63

[2021-11-01 02:23] #7247 closed

[2021-11-01 02:23] #7248 closed

[2021-11-01 02:23] #7774 closed

[2021-11-01 12:48] wuguanyu commented on #5119
Add this Druid plugins only have trace data.  Does this plugin have metrics like jdbc_connections_max?

[2021-11-01 12:50] wu-sheng commented on #5119
They didn't provide meter reporting. We provided APIs for plugins.
https://skywalking.apache.org/docs/skywalking-java/latest/en/setup/service-agent/java-agent/java-plugin-development-guide/#meter-plugin

[2021-11-01 12:56] wuguanyu commented on #5119
import skywalking-sdk dependency, and use skywalking api to report metric when we use java-agent right ?

[2021-11-01 14:41] wuguanyu commented on #5119
Does it has any demo in java plugins？

[2021-11-01 14:41] wuguanyu commented on #5119
Does it has any demo in java plugins？

[2021-11-01 14:45] wu-sheng commented on #5119
Isn't API doc clear enough? What is the demo?

[2021-11-01 15:17] wu-sheng commented on #5119
I just provided the link for the doc. The plugin APIs have nothing related to toolkit.

`What is plugin API?`, the APIs you used in plugin(interceptors) to create spans(tags, context, etc.) are the tracing APIs. In the same time, we provided the meter API for metrics collecting.

[2021-11-01 15:26] wuguanyu commented on #5119
I understood, Thanks I need modify plugin (interceptors) what i need

[2021-11-01 15:29] wu-sheng commented on #5119
Yes, also you need to setup meter analysis rule(MAL engine) to parse the meter data to queryable data.

[2021-11-02 08:28] qqeasonchen opened #8050 "[Feature] Integrate E2E with existing k8s cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Mostly private enviorment already has k8s clusters, it would be nice to provide an easy way to integrate E2E with existing k8s, no need to rely on kind, thanks.

### Use case

_No response_

### Related issues

_No resp

[2021-11-02 08:30] #8050 closed

[2021-11-02 12:14] qinshaokang opened #8055 "[Feature] which package is SkywalkingActiveSpan in?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I want use SkywalkingActiveSpan in my project ,which package is SkywalkingActiveSpan in?

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to su

[2021-11-02 12:17] #8055 closed

[2021-11-02 18:59] MenusGarg5981 opened #8057 "[Bug] Skywalking local setup unable to configure for multiple services"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Hello everyone, I was trying to configure skywalking locally for multiple services(2) using a java agent. In the `agent.config`, file I mentioned the backend service

[2021-11-03 00:53] #8057 closed

[2021-11-03 03:20] byspacecbk commented on #7658
解决了吗？我也遇到这个问题

[2021-11-03 05:38] colincatsu opened #8060 "[Bug] 8.6.0 Service name duplicate data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

![image](https://user-images.githubusercontent.com/1275161/140013965-0fb732d4-f65c-4221-b853-f773017ec3e9.png)

sevice name not unique value ，There will be dupl

[2021-11-03 05:40] #8060 closed

[2021-11-03 13:29] #6209 closed

[2021-11-04 02:41] qinshaokang commented on #6433
I also don't understand how to create entrySpan if i use SkywalkingSpanBuilder，could you plese describ how again?

[2021-11-04 03:18] qinshaokang commented on #6433
I think i got it. Take a look at this method.
`public SpanBuilder withTag(String key, String value) {
        if (Tags.SPAN_KIND.getKey().equals(key)) {
            if (!"client".equals(value) && !"producer".equals(value)) {
                if (!"server".equals(value) && !"consumer".equals(value)) {
                    this.isEntry = false;
                    this.isExit = false;

[2021-11-04 06:50] xiaoyue6 commented on #5881
anybody solved it ? same problem

[2021-11-04 06:53] xiaoyue6 commented on #5881
@wu-sheng @breaksilence @GerryYuan

[2021-11-04 07:27] RobinsChens commented on #7174
就是skywalking的oap部署在内网了，怎么使用proxy访问微信，钉钉这些外网服务

[2021-11-04 07:38] zqm233 opened #8075 "[Bug] [Python] A lot of irrelevant spans get together in one trace record"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

I use the apache-skywalking 8.7.0  with the es storage and skywalking python agent 0.7.0
When I use it , There is a problem that some irrelevant spans  get

[2021-11-04 07:49] kezhenxu94 commented on #8075
As you are also using Lua agent, can you confirm that it's not Lua agent's problem? For example, did that bug also happen when you invoke a Java API thorough the same APISIX?

[2021-11-04 07:50] wu-sheng commented on #8075
From reading the graph, the parent span is a flask plugin for large numbers of children. It may relate to a multiple threads issue?

[2021-11-04 08:00] zqm233 commented on #8075
When I use only python-agent, it also happens. So it's not lua agent's problem.

[2021-11-04 08:05] wu-sheng commented on #8075
@zqm233 You should learn, typically, it would be very hard to diagnose thread-relative issue. It is better you could debug and find out the reason and scenario.

[2021-11-04 08:05] kezhenxu94 commented on #8075
Do you have a reproducible demo project that can help to diagnose the bug?

[2021-11-04 08:37] zqm233 commented on #8075
tks. I'll try it.

[2021-11-04 08:47] zqm233 commented on #8075
The bug only shows in production environment even the same project. I guess it related to high concurrency or something. And I use uwsgi and http config to run my flask app.  I don't know if it has something to do with it

[2021-11-04 10:00] mrproliu opened #8077 "[Satellite] Support partition pipeline"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I'm working on the benchmark for satellite transmit the Enovy ALS message from Envoy to SkyWalking OAP. But I found that could only support 7K QPS for transmitting when receive the ALS is bigger than 7K, could not be ke

[2021-11-05 00:42] wu-sheng commented on #7923
No update.

[2021-11-05 00:42] #7923 closed

[2021-11-05 00:44] wu-sheng commented on #7040
Supported in agent side, as log report channel has been merged into core channel.

[2021-11-05 00:44] #7040 closed

[2021-11-05 00:46] wu-sheng commented on #6353
No update for months.

[2021-11-05 00:46] #6353 closed

[2021-11-05 00:46] #6657 closed

[2021-11-05 00:48] wu-sheng commented on #6210
@liqiangz Could you take a look about this?

[2021-11-05 00:50] wu-sheng commented on #4576
Endpoint dependency tests have been added.

https://github.com/apache/skywalking/blob/master/test/e2e-v2/cases/gateway/expected/dependency-endpoint.yml

[2021-11-05 00:50] #4576 closed

[2021-11-05 01:00] wu-sheng commented on #7889
Fixed by https://github.com/apache/skywalking-java/pull/49

[2021-11-05 01:00] #7889 closed

[2021-11-05 01:01] wu-sheng commented on #7848
@congzhangzh With one month, do you have anything to update?

[2021-11-05 01:02] wu-sheng commented on #7773
No further update in 2 months.

[2021-11-05 01:02] #7773 closed

[2021-11-05 01:03] wu-sheng commented on #7708
@Superskyyy Are you working on this now?

[2021-11-05 01:04] wu-sheng commented on #7658
No update in 2 months.

[2021-11-05 01:04] #7658 closed

[2021-11-05 02:30] liqiangz commented on #6210
@wu-sheng I will try to finish it～

[2021-11-05 02:34] wu-sheng commented on #6210
I think as same as OpenTelemetry logging, we could accept supporting their native format, or adding our native meter exporter to there, or both.

[2021-11-05 06:12] congzhangzh commented on #7848
No progress now. I use skywalking directly in our dotnet core microservice to meet the project deadline,
It's easy and magic by the way:)

As all other java spring projects all use skywalking, this is the easy path for my team.

BTW the java agent system will automate intercept so much more type of manager beans and function call ,  dotnet part is very limit.

how to extend it to use custom EventS

[2021-11-05 06:53] wu-sheng commented on #7890
No update in 26 days, if there is no one working on this, we could close this for now.

[2021-11-05 06:53] wu-sheng commented on #7891
No update in 26 days, if there is no one working on this, we could close this for now.

[2021-11-05 06:57] wu-sheng commented on #7848
It's easy and magic by the way:)
As all other java spring projects all use skywalking, this is the easy path for my team.

Thanks for update. Then, I would close this issue. I talked from time to time with community users, they all eventually choose native agents rather than OpenTelemetry. Which is reasonable as most agents are out of box.

how to extend it to use custom EventSource and activate i

[2021-11-05 06:57] #7848 closed

[2021-11-05 16:08] BFergerson opened #8083 "[Feature] query log count"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, you can query logs via `ILogQueryDAO` but you cannot just query log counts. I think we should add a parameter that indicates that only `Logs.total` should be populated. That way you can quickly get a feel for

[2021-11-05 17:10] Superskyyy commented on #7708
Not yet, it's on my list though, it's been really busy at school recently.

[2021-11-06 00:51] kezhenxu94 commented on #8083
Storage like h2 MySQL don't support pattern searching, and storage like ElasticSearch doesn't return the exact total count of result.

[2021-11-06 00:57] wu-sheng commented on #8083
From the database perspective, count is fetching all data 😄
We were discussing even to remove the count in the general query, which has not been applied.
The biggest concern behind this is performance impact, count someyimes causes more than query itself. And, I agree, getting only count is better than both count and first N records.

[2021-11-06 02:46] wu-sheng commented on #8083
I think we need to be more clear about what is a particular format? Could you provide some examples?

[2021-11-06 15:25] BFergerson commented on #8083
@kezhenxu94, that actually does look like it'll work for H2. Maybe not so much for ES. Either way, I'll close this issue. I was trying to come up with a way to query log counts without writing H2/ES specific code, but I think the custom code is necessary.

@wu-sheng, I use `plugin.toolkit.log.transmit_formatted=false` so I don't care so much about the log data. I just care about the tags and the n

[2021-11-06 15:25] #8083 closed

[2021-11-06 15:36] wu-sheng commented on #8083
Have you taken a look at how LAL(Log Analysis Language) engine works? It could fetch the tags(regex) and generate metrics for MAL(metrics analysis language script) engine to get all the number related things you want. In your case, I think it is `sum`.

[2021-11-06 15:43] BFergerson commented on #8083
@wu-sheng, yeah you're right. I'm currently learning more about LAL/MAL and now that you mention it that's obviously how I should do it. I won't be able to get counts for logs that happened prior to adding the new meters, but that'll be fine. Moving forward they'll have queriable counts. Thanks again.

[2021-11-07 00:27] #7942 closed

[2021-11-07 10:52] #7762 closed

[2021-11-07 10:53] JaredTan95 commented on #7762
https://github.com/apache/skywalking-java/pull/67 supported

[2021-11-07 13:33] wu-sheng commented on #7938
Another alternative and recommend way is setting different routine rules to separate tracing and no tracing request.
In this case, you would be more cautious and have better performance due to native path mapping mechanism.

[2021-11-07 13:33] #7938 closed

[2021-11-07 13:33] wu-sheng commented on #7938
Moving to discussion if further discussion is required.

[2021-11-08 11:00] zjutkz opened #8091 "[Bug] AsyncHttpClient NoSuchMethodError"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

AsyncHttpClient version: 2.0.33
[code]

Skywalking JavaAgent version: 8.6.0

When I use AsyncHttpClient in my code, NoSuchMethodError occurs in my promgram. My

[2021-11-08 12:41] wu-sheng commented on #8091
Read https://github.com/apache/skywalking-java/pull/68. The short version is, 2.0.x is not supported.

[2021-11-08 12:41] #8091 closed

[2021-11-08 14:42] zjutkz commented on #8091
@wu-sheng
The root cause of this problem is Skywalking changes the arguments of origin method like this:
`allArguments[1] = new AsyncHandlerWrapper((AsyncHandler) allArguments[1], span);`
This is a very dangerous action because we cannot predict how the methods of these components will change in the higher version.And I found a lot of similar codes in Skywalking's Java plugin such as rabbitmq、kafk

[2021-11-08 15:29] wu-sheng commented on #8091
Wrapper is a very common way to do instrumentation. This is not dangerous at all. The point of this is this library changed APIs between `2.0` and `2.1+`, which is why our codes could pass compiling and tests, but your `2.0.10`(all 2.0.x I think) could report `AbstractMethodError` error.

[2021-11-08 15:32] wu-sheng commented on #8091
Once SkyWalking needs to identify versions, it use witness classes or/and methods to avoid different methods/classes in various versions. But in your case, in this specific plugin, no one provides supports for `2.0.x`, so, you see this, and feel `dangerous`.

This is a daily case when you write a plugin for a library. The fix is not hard if you want to do. Read our plugin development document, and

[2021-11-08 15:39] #7891 closed

[2021-11-08 15:42] #7890 closed

[2021-11-08 16:23] zjutkz commented on #8091
@wu-sheng Thanks for you reply, I know how wrapper works, I have been developing Android for the past 4 years, and there are lots of wrapper in Android, but Android has a very poor code compatibility, so I have to do a lot of compatibility works like write xxxWrapperV21, xxxWrapperV23. In this case,if I want to support 2.0.0 as you mentioned,I think I should write a class AsyncHandlerWrapperV20, t

[2021-11-08 16:32] Superskyyy commented on #8075
@zqm233
Hello, did you have any extra findings? It will be helpful if you can provide some more details, such as general specifications of your deployment, platform, versions and method of integration (i.e. non-intrusive or via import).

[2021-11-09 00:26] wu-sheng opened #8093 "[Feature] [Showcase] Support Istio/Envoy ALS + Metrics service deployment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support Istio/Envoy ALS + Metrics service deployment

### Use case

_No response_

### Related issues

The key point of this is how to separate the setting between docker deployment and k8s deployment, which are sharing

[2021-11-09 00:32] wu-sheng commented on #8091
Codes in the open source community are contributed by world wide, we have set up the testing framework to verify the supported-versions statement. But every time human gets involved, everyone could make a mistake. This time, the code contributor didn't follow the testing framework requirements, and PR reviewers(including myself) missed this, so it didn't verify all declared versions. But this is a

[2021-11-09 00:43] wu-sheng opened #8094 "[Feature] [Showcase] Document for showcase"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We need to add document for showcase. After we finish that, all `quick start` links from website should link to there.
The document should cover

1. K8s deployment(local with KinD or Minikube) is only recommended.
2. Do

[2021-11-09 02:16] ronanzhan opened #8095 "[Bug] when using Dubbo 3.x，there is no correct trace info collected and displayed，maybe it does not work well or Dubbo 3.x is not supported yet now?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Co

[2021-11-09 02:18] wu-sheng commented on #8095
You clicked this but you never did.

https://github.com/apache/skywalking/issues/7203

[2021-11-09 02:18] #8095 closed

[2021-11-09 02:35] zjutkz commented on #8091
@wu-sheng Thanks again for your reply, I think I probably know what to do.

[2021-11-09 06:10] ronanzhan commented on #7203
Hi hailin0, any progress?

[2021-11-09 09:52] newboy2004 opened #8097 "[Bug] skywalking8.2.0 not support dubbo async trace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

skywalking version v8.2.0 dubbo version:2.7.x
In my project, dubbo invoke by async. but skywalking ui trace view,async invoker was split two phase

### What you

[2021-11-09 09:55] wu-sheng commented on #8097
Why report repeatedly? https://github.com/apache/skywalking/discussions/8082

[2021-11-09 09:55] #8097 closed

[2021-11-09 12:16] valkex opened #8098 "[Feature] support ClickHouse as storage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

ClickHouse is an excellent OLAP database, I think it can be used as one of the storage options of skywalking

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Ye

[2021-11-09 13:04] wu-sheng commented on #8098
Duplicate #3860. No update for a long time. Unless you are going to submit some proposal(Design doc), I think we don't plan to work on this direction.

[2021-11-09 13:04] #8098 closed

[2021-11-09 13:18] valkex commented on #8098
How to submit a proposal(Design doc)?I have prepared the code for this feature.

[2021-11-09 13:21] wu-sheng commented on #8098
You could submit a google doc(open to people have known link) proposal to the mail list. Then PMC will review how aregenerally metadata(traffic), metrics, records(traces, logs, profiling snapshots), no streaming data(ui management and profile task) supported by Clickhouse, and whether do you have a benchmark to verify whether the design is suitable for large scale product environment.

[2021-11-09 13:23] wu-sheng commented on #8098
This is a very complex and important extension. The project will accept it until the proposal and codes have been proved officially.

Take a reference from IoTDB storage option from https://github.com/apache/skywalking/pull/7766. It is closing to be accepted.

[2021-11-09 14:06] JohnNiang opened #8100 "[Feature] [E2E-INFRA] Request to make kind file configuration expandable with system environment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Request to make kind file configuration expandable with system environment.

### Use case

E2E configuration sample:

[code]

And there are several kind configurations in common folder:

[code]

Then, we could create a

[2021-11-09 14:14] wu-sheng commented on #8100
Assigned to you already. This seems reasonable when face multiple versions of k8s testings, like in KubeSphere cases.

[2021-11-09 15:24] #8077 closed

[2021-11-09 15:33] #8100 closed

[2021-11-10 06:22] Superskyyy commented on #7084
Hello, @gloria-veg is this task being actively worked on? I see there's another issue waiting on this one(#5944). It will be fabulous if we can make it happen and release it in 1.0.0.

I see there's concrete progress on your branch, just not sure about the current status.

[2021-11-10 22:00] gloria-veg commented on #7084
Hi superSky,

Thanks for your email! Yes, I am still working on this. The frame is ready but there are still some details that need to be adjusted and tested. I may not have enough time in the next two months to work on this because I am struggling to survive in the heavy workload of school courses at Georgia Tech.

I am still interested in making it happen, and if you do not mind maybe we can fin

[2021-11-10 22:28] Superskyyy commented on #7084
@kezhenxu94 FYI

@gloria-veg Nice to hear back that you are interested in making it happen! The main obstacle in your branch I see is being 36 commits behind our upstream master, where among the commits, our contributors have changed quite a lot of structures, especially coding guidelines.

Please do let us know when you got time to resume the work :) so that we can work together to sort out the c

[2021-11-11 03:38] liqiangz commented on #6210
Now the interface provided by MeterReportService is One period data through one stream. There is no problem with a small amount of data as the agent. However, when a large amount of data is transmitted from the server to the server, the overhead of frequently creating streams is very large.

Maybe we can provide a encapsulated request like opencensus, so that we can use keep-alive-stream to improv

[2021-11-11 03:51] wu-sheng commented on #6210
@liqiangz Thanks for the feedback, but I am a little confused about what you are asking for.

This service is already streaming, which means you could deliver the metrics in a bulk mode, rather than once per time.

https://github.com/apache/skywalking-data-collect-protocol/blob/master/language-agent/Meter.proto#L31

[2021-11-11 03:52] #8094 closed

[2021-11-11 04:01] #7910 closed

[2021-11-11 04:19] #8093 closed

[2021-11-11 05:20] liqiangz commented on #6210
@wu-sheng A ResourceMetrics in the OTLP protocol contains a collection of metrics from a Resource. This is a suitable unit for converting metricList to meter system processing. Now skywalking otel-receiver-plugin also does the same. But now the meter service is a metricList in a stream.
[code]

 If we want to transmit another metricList, we must open another stream. My opinion is to add a service

[2021-11-11 05:26] liqiangz commented on #6210
Another solution is to implement format conversion in skywalking like otel-receiver-plugin, so that using the otlp protocol for transmission, there is no need for a metriclist in a stream.

[2021-11-11 05:37] wu-sheng commented on #6210
OK, so you means entity reused, right?

The metricList includes metrics from one entity?

[2021-11-11 05:56] liqiangz commented on #6210
@wu-sheng   Yes, and the new rpc interface `rpc collect (stream MeterDataList) returns (Commands) {
      }` can also be reused.

Do you think we can add a new grpc service like this?  If can,  I will use this  to complete this issue.

[2021-11-11 05:57] wu-sheng commented on #6210
Yes, I think it is reasonable to add. We need to review protocol first.

[2021-11-15 02:19] rain00yu opened #8128 "[Feature] Skywalking-Client-JS supports to add custom attributes as tags in spans"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Skywalking-Client-JS supports tracing custom attributes (like client id、client nickname) as tags in spans.

### Use case

Other than http method and url, supports a a few custom attributes as tags in spans. Allow user t

[2021-11-15 02:26] wu-sheng commented on #8128
Is there any way you recommend? The client JS is running automatically, with one several lines added on the page, there is no clear place to tag the HTTP request.

[2021-11-15 03:57] newboy2004 commented on #7875
i want to submit a pull request to fix it  and add a new UT
please assign it to me!

[2021-11-15 04:00] wu-sheng commented on #7875
Assigbed

[2021-11-15 07:00] wu-sheng opened #8130 "[Feature] [Showcase] Add event and alarm to the showcase"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add 2 more features, event and alarm, to the showcase. These two may not be a case, but, some setups should be added.

### Use case

This eventually would show up on the demo.skywalking.apache.org

### Related issues

_

[2021-11-16 05:03] wu-sheng opened #8133 "[Feature] [Java] Add JDK HttpURLConnection support for more JDKs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

With some package changes of com.sun in JDK library codebase, HttpURLConnection plugin loses compatibility. Let's enhance it to cross JDK versions support.

I have talked with @JaredTan95 , he will lead this.

### Use c

[2021-11-16 08:47] RolandMa1986 opened #8136 "[Feature] [SWCK] Supports Kubernetes 1.22.x"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

**Apache SkyWalking Cloud on Kubernetes** can't be deployed on Kubernetes 1.22.x since some deprecated API is used by the **SWCK**.
**SWCK** should have a plan to support the latest Kubernetes.

### Use case

To support

[2021-11-16 08:50] wu-sheng commented on #8136
Assigned to @RolandMa1986 according to you have selected PR planned.

[2021-11-16 09:25] zhyhzhylove opened #8137 "java agent ConnectionCache maybe get error connectionInfo [Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

 ConnectionCreate5xInterceptor:

ConnectionInfo connectionInfo = ConnectionCache.get(allArguments[0].toString(), allArguments[1].toString());

allArguments[0].t

[2021-11-16 09:25] zhyhzhylove commented on #8137
skywalking agent v8.4.0

[2021-11-16 11:35] wu-sheng commented on #8137
We only accept bug report for latest release.

[2021-11-16 11:35] #8137 closed

[2021-11-16 11:36] wu-sheng commented on #8137
Ans this gets disussed before, we treat IP:port as one database instance.

[2021-11-16 14:13] RolandMa1986 commented on #8136
Hi @wu-sheng ,
What's the minimal version of Kubernetes that needs to be supported by SWCK  in the next release?
It would be very easy to support **Kubernetes 1.19** and above only, since all the API versions are compatible. But if SWCK needs to support an older version than 1.19, we need to consider how to change the API version in the Controller and Templates.

[2021-11-16 14:32] wu-sheng commented on #8136
I think this should be @hanahmily 's call. He is leading the project.

[2021-11-17 00:26] hanahmily commented on #8136
Yep, we have a plan to upgrade kube runtime by bumping up the kubebuilder v3 in **SWCK-0.5.0** which will support the latest Kubernetes.

A canonical strategy is to release major version, for example 1.0.0, to adopt to the new APIs, backporting new feats into the old revision. But, SWCK is not production ready, have not released 1.0.0, I tend to use current major version to do update.

[2021-11-18 02:48] JHub-Wei opened #8143 "[Bug] GC overhead limit exceeded"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

After the OAP is started for a while, the instance is abnormal and the error java.lang.OutOfMemoryError: GC overhead limit exceeded is reported. The VM memory is 8 G

[2021-11-18 02:56] #8143 closed

[2021-11-18 12:43] wu-sheng opened #8145 "[Feature] [MAL Core] Add a match pattern mechanism for the MAL core"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I noticed in the showcase(also demo env), we always face `oap::` services, which mean no actual service name.
I finally got a chance to confirm with @kezhenxu94 why. It turns out `oap`'s self-observability and `vm`'s mo

[2021-11-18 12:51] wu-sheng commented on #8145
FYI @wankai123 due to you asked about this in afternoon.

[2021-11-18 13:17] wankai123 commented on #8145
We can get otel `job_name` from `node.getServiceInfo()`, then could add a tag like `job_name=skywalking` to all metrics.
I think we can use this to do the filter.

[2021-11-18 13:28] wu-sheng commented on #8145
Even we use a tag filter, we need the closure setup to filter irrelative metrics out.

[2021-11-18 13:33] wankai123 commented on #8145
yes, the metrics should filter before into MAL rules

[2021-11-18 13:50] hanahmily commented on #8145
MAL tends to generate the metrics that are mandatory. If the metrics are invalid, related MALs are redundant, having to be removed from the configuration.

What leads to such issues? Can we avoid them from the source? If their service tags are absent, could we have a chance to provide them? If not, I prefer to drop them.

[2021-11-18 13:53] wu-sheng commented on #8145
No, they are not redundant. 2 kinds of agent/source(s) are generating the metrics with same name.

**oap's self-observability and vm's monitoring have the same metric name**. More importantly, this could happen again in other monitoring cases.

[2021-11-18 13:56] wu-sheng commented on #8145
For making understanding easier, @hanahmily you could consider like this, MetricA from VM monitoring uses the same name SkyWalking OAP self-monitoring is using. Changing any side of these two doesn't make sense.

[2021-11-18 14:14] wu-sheng commented on #8145
@kezhenxu94 @hanahmily @wankai123 Another point we should consider is, once the names of entity(such as service name for service, service/instance names for instance) are empty, we should skip this metric before forward it to streaming.

This is not for fixing this case, @wankai123 's job label seems more reliable and official, but we need to filter some illegal or unexpected data.

[2021-11-18 14:41] wu-sheng commented on #8145
That is why I proposed `precondition` as closure, then you could do `either` check, rather than struggling about using `at least having` or `includes`.

[2021-11-18 22:26] SenthilkumarRasan opened #8146 "[Bug] Error with java agent instrumenting java application"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Tried skywalking java agent to use with our java springboot application.
Following errors are blocking us to use skywalking

ERROR 2021-11-18 22:13:59:541 pool-

[2021-11-19 00:35] #8146 closed

[2021-11-19 01:38] wu-sheng commented on #6210
@liqiangz What is your progress?

There is another update about OTEL's native metrics format, https://github.com/open-telemetry/opentelemetry-specification/pull/2104. It seems finally being stable.

[2021-11-19 01:44] wu-sheng commented on #6210
And I noticed, implementation of https://github.com/apache/skywalking-data-collect-protocol/pull/56 has not been updated in OAP side. Is that coming soon?

[2021-11-19 02:41] durongpeng opened #8148 "[Bug] A question called "sw8-correlation" Header is null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

The version I'm using is 8.4.0.
When I call the third-party service with resttemplate after I mount the Javaagent,  it returns HTTP 400.
It is normal for me to

[2021-11-19 02:43] #8148 closed

[2021-11-19 06:55] liqiangz commented on #6210
I should be able to finish it in this week.

[2021-11-19 09:18] chanjarster opened #8153 "[Feature] Support skip TLS server auth when connect to ElasticSearch stroage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Please add support to config skip TLS server auth when connect to ElasticSearch storage.

### Use case

Deploying a  SkyWalking instance by Helm Chart with external ElasticSearch storage (https enabled) is inconvenient.

[2021-11-19 09:35] #8153 closed

[2021-11-19 16:43] #8145 closed

[2021-11-20 13:17] DuFuVeryBusy commented on #6244
----------------------
Have you solved this problem？Same issue we meet.

[2021-11-21 04:07] offSwitch commented on #7842
Maybe you could try using OpenTelemetry to collect jaeger's link trace information and convert it to skywalking format

[2021-11-21 04:07] offSwitch commented on #7842
@jiangguilong2000
Maybe you could try using OpenTelemetry to collect jaeger's link trace information and convert it to skywalking format

[2021-11-21 12:45] liangxp opened #8163 "[Bug] org.influxdb.InfluxDBException: java.lang.ClassCastException: org.msgpack.value.impl.ImmutableLongValueImpl"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

run startup.sh exception

### What you expected to happen

`
2021-11-21 20:20:26,394 - org.apache.skywalking.oap.server.starter.OAPServerBootstrap - 57 [main] ERROR

[2021-11-21 12:48] wu-sheng commented on #8163
Which InfluxDB version are you using? We have tested this in every PRs. No error shows up.

https://github.com/apache/skywalking/blob/7b2d91a3d7e8925794573038f971472500f4ddc8/test/e2e-v2/cases/storage/influxdb/docker-compose.yml?_pjax=%23js-repo-pjax-container%3Afirst-of-type%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%3Afirst-of-type%2C%20%5Bdata-pjax-contai

[2021-11-21 13:40] mrproliu opened #8164 "[Feature] Tracing context propagation, from JDBC plugin to Database Proxy(ShardingSphere)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now we use the [CyborgFlow](https://github.com/SphereEx/CyborgFlow) project to perform database switching and complete monitoring functions in the process of full-link stress testing, but we cannot yet complete the supp

[2021-11-21 13:42] wu-sheng commented on #8164
Is there anyone assigned to?

[2021-11-21 13:45] wu-sheng commented on #8164
About the milestone, unless there is committer proposing a time limited assignment, I prefer to keep it open. We don't want push too hard on contributions.

[2021-11-21 13:48] wu-sheng commented on #8130
@kezhenxu94 I noticed you have added the event, right?

[2021-11-21 13:48] mrproliu commented on #8164
For the first part(transmits the Tracing Context to the database) I could do this in the java MySQL plugin. but for part two, @soulasuna do you have any idea who will do this?

[2021-11-21 13:53] wu-sheng commented on #8164
For what you propose, we need to cover `sw8`, `sw8-x` and `sw8-correlation` as keys, even in the SQL comment.
- https://skywalking.apache.org/docs/main/latest/en/protocols/skywalking-cross-process-propagation-headers-protocol-v3/
- https://skywalking.apache.org/docs/main/latest/en/protocols/skywalking-cross-process-correlation-headers-protocol-v1/

Because those are protocol definitions.
____
Mean

[2021-11-21 13:55] wu-sheng commented on #8164
I am not sure what does this mean. Is it going to have a ShardingSphere proxy plugin on the way?

[2021-11-21 13:59] wu-sheng commented on #8128
No update for a week.

[2021-11-21 13:59] #8128 closed

[2021-11-21 14:02] mrproliu commented on #8164
Yes, all these keys should be covert and put into the SQL comment.

That's true. we need to create a new configuration item to activate them. I think `plugin.jdbc.is_propagating_context` is fine, it mean should we need to add the tracing context to the SQL, default is `false`.

[2021-11-21 14:03] mrproliu commented on #8164
Yes, ShardingSphere proxy needs to create a plugin to analyze the context and make it as a `Span` into the Tracing Context.

[2021-11-21 14:07] kezhenxu94 commented on #8130
Event is added. Alarm is not yet

[2021-11-22 08:15] wallezhang commented on #8164
Hi everyone, I have a question, if the original sql has a hint, will this have an impact, or will the added comment have additional parsing cost for the SQL engine? Maybe ShardingSphere proxy plugin will remove the tracing context before sending the sql to the backend database.

[2021-11-22 08:23] wu-sheng commented on #8164
We will try to avoid this case.

It changes the SQL, so from SQL string perspective, it has a little. And it costs more network bandwidth for sure.

From my understanding, ShardingSphere should do. Let's see. @tristaZero

[2021-11-22 08:37] wallezhang commented on #8164
Thanks for the reply. If application connect to the real database not a proxy, I think add a tip to describe the impact on this is a good idea.

[2021-11-22 09:02] wu-sheng commented on #8164
This would never be activated in default. A new config(default=off) will be added for this keep tracing case only

[2021-11-22 10:06] #8130 closed

[2021-11-22 14:15] wu-sheng commented on #6210
Reopen this, as OpenTelemetry side work is still in TODO status.

[2021-11-23 04:43] fly7632785 commented on #5233
你好  这个插件目前能使用吗？
这边在寻找 调用feignClient  收集其参数的方法
包括使用apm-toolkit-trace 这个库
但是它不支持 在feignclient的service方法上加@Trace注解等收集 其参数信息

[2021-11-23 06:51] huailide opened #8175 "[Feature] java.lang.NoSuchMethodError occurred when I use pulsar plugin with pulsar client v2.8.1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I use pulsar plugin with pulsar client v2.8.1 in my application. I've got java.lang.NoSuchMethodError such as below.
The  root cause is in pulsar client v2.8.1, org.apache.pulsar.client.impl.MessageImpl has changed

[2021-11-23 06:53] tedli commented on #7203
Hi all,
Please have a look.
https://github.com/apache/skywalking-java/pull/73

[2021-11-23 07:06] wu-sheng commented on #8175
According to the history, only 2.2 to 2.7 are on the tested list. Check this. https://github.com/apache/skywalking-java/blob/a7a4faabb158ea8322170e3c7cae0210a8c4e7b4/test/plugin/scenarios/pulsar-scenario/support-version.list

@codelipenghui Would you like to take a look here?

[2021-11-23 11:44] wallezhang commented on #8175
I will take a look, please assign to me.

[2021-11-24 14:51] codelipenghui commented on #8175
@wallezhang Thanks, please ping me if need help on this part.

[2021-11-25 21:43] toffentoffen opened #8184 "[Enhancement] Bump grpc and protobuff version to allow building on Mac M1 osx-aarch_64"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

When you try build skywaling on a Mac M1 some artifacts are missing for the osx-aarch_64 architecture as described in https://github.com/apache/skywalking/blob/maste

[2021-11-25 23:43] wu-sheng commented on #8184
Assigned, thank you.

[2021-11-26 03:20] mrproliu opened #8185 "[Document] Setup Satellite as Load Balancer Document and add it into the showcase"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Recently, I'm still working on optimizing the [skywalking-satellite](https://github.com/apache/skywalking-satellite), letting it could be running in production as a load balancer between `agent`/`envoy` and `oap`.
After

[2021-11-26 03:21] wu-sheng commented on #8185
Removing milestone, we may need more tests and an official release.

8.9.0 is planned to launch after https://github.com/apache/skywalking/pull/7766/ gets merged.

[2021-11-26 03:40] wu-sheng commented on #8185
PMC member shows concerns about Satellite in the showcase, let's keep it in document only for now.

Ref, https://github.com/apache/skywalking-kubernetes/pull/83#issuecomment-979661763

[2021-11-26 06:09] nileblack commented on #2145
hessian protocol is http based. maybe the root cause is dubbo invoke thread pool.

[2021-11-26 11:38] wallezhang commented on #8175
Pulsar client has changed protocol code generator, so `MessageMetadata` class doesn't have `Builder` inner class. I decide to create two new modules, one is called `pulsar-common` that is used for extracting the same logic between v2.7 and v2.8, and another is called `pulsar-2.8.x-plugin` that is used for supporting pulsar client of version 2.8.x. Old `pulsar-plugin` module is only for v2.7. What

[2021-11-26 14:06] #8184 closed

[2021-11-27 02:08] wu-sheng commented on #8175
Generally, unless they are really common, we don't recommend adding this kind of package.
This is not about technology, just because users may ignore this package should br included, or confuse about when should exclude, which could cause false bug report.

[2021-11-27 14:06] wallezhang commented on #8175
The only difference between v2.7 and v2.8 is the logic of adding properties on the producer side. On version 2.7.x we can add properties by `MessageMetadata.Builder` class, but the class was removed on version 2.8, so we should use other method to add properties.

[2021-11-27 14:49] wu-sheng commented on #8175
OK, if this is the only gap, then common module seems making sense.

[2021-11-27 23:55] wallezhang commented on #8175
OK, thanks for your advice.

[2021-11-29 02:57] hanahmily opened #8195 "[Feature][Showcase] Java agent injection for kubernetes"
### Description

Introduce a new case that shows how the java agent injector works to showcase repo.

We can add a new `feature` into the repo by referring to the [agentless case](https://github.com/apache/skywalking-showcase/blob/9b9e6a7f661df67e9d0396afe972da2cff1bfe61/deploy/platform/kubernetes/features.mk?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwa

[2021-11-29 03:13] wu-sheng commented on #8195
Are we going to remove the `agent-image` based solution? Using injection to replace?

[2021-11-29 03:21] hanahmily commented on #8195
FWIK, `agent-image` solution is broadly used in kubernetes environment. I prefer adding a new feature instead of replacing it.

[2021-11-29 03:30] wu-sheng commented on #8195
I would recommend you to read this discussion context. https://github.com/apache/skywalking-kubernetes/pull/83#issuecomment-979649648

I don't have to make showcase complex, as we never have a chance to cover all user cases. Showcase should be simple, straight forward, no option. Otherwise, it makes no different with current documentation.
I prefer to write a document(I think we have it already, r

[2021-11-29 04:29] hanahmily commented on #8195
Make sense. a canonical path is better and neater than many options. I will update the task list accordingly.

[2021-11-29 04:45] dashanji commented on #8195
Yes, I'd like to do it.

[2021-11-29 05:33] chanjarster opened #8198 "[OAP Server] k8s client configmap informer log too verbose"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

Version 8.8.1

K8S version: v1.20.11

Startup log:

[code]

After startup several minutes, oap start print below logs repeatedly, frequently and endlessly:

[code]

[2021-11-29 05:36] wu-sheng commented on #8198
This is strange, I never saw this in showcase. @kezhenxu94 Do we have some enhancements already?

[2021-11-29 05:37] wu-sheng commented on #8198
And this is not a bug, remving tag.

[2021-11-29 05:38] wu-sheng commented on #8198
Info level logs should have been disabled in binary already.

[2021-11-29 05:44] chanjarster commented on #8198
Refer to [this comment](https://github.com/kubernetes-client/java/issues/1606#issuecomment-802860928):

I think the real problem is not log level, but something else.

[2021-11-29 05:46] wuxingyun opened #8199 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

![XUDC~)CVFAP{EDL }@IOPOM](https://user-images.githubusercontent.com/37184972/143814880-930c44c8-c182-4286-8a74-5a52ea388c63.png)
![{FUYL6DL%UV0 J_X89T2 8V](htt

[2021-11-29 05:53] kezhenxu94 commented on #8198
2021-11-29 03:58:14,003 io.kubernetes.client.informer.cache.ReflectorRunnable 235 [controller-reflector-io.kubernetes.client.openapi.models.V1ConfigMap-1] INFO  [] - Watch connection expired: too old resource version: 14959806 (14961119)
2021-11-29 03:58:14,007 io.kubernetes.client.informer.cache.ReflectorRunnable 235 [controller-reflector-io.kubernetes.client.openapi.models.V1ConfigMap-1] INFO  [

[2021-11-29 05:55] #8198 closed

[2021-11-29 06:01] kezhenxu94 commented on #8198
As for the log level, it's rather easy to override the log level of any class or even the whole logger system via dynamic config or static config, just FYI if you are not already found, like this https://github.com/apache/skywalking-showcase/blob/9b9e6a7f661df67e9d0396afe972da2cff1bfe61/deploy/platform/kubernetes/feature-cluster/resources.yaml#L53-L63

[2021-11-29 06:02] chanjarster commented on #8198
Thanks @kezhenxu94 , is there any chance to change logging level by system properties or environment variables?

[2021-11-29 06:04] kezhenxu94 commented on #8199
Search before asking

https://github.com/apache/skywalking/pull/7403

[2021-11-29 06:04] #8199 closed

[2021-11-29 06:21] kezhenxu94 commented on #8198
I’m not sure either. You can refer to the manual of log4j2 or slf4j

[2021-11-29 06:25] chanjarster commented on #8198
OK, thank you again.

[2021-11-29 07:10] BertOnline opened #8201 "[Bug] 8.8.1 execute sh oapService.sh failed to start"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

An error occurs when starting oapService.sh
[code]

### What you expected to happen

This problem did not occur when I used v8.7.0 for elasticsearch 6.

### How to r

[2021-11-29 07:16] wu-sheng commented on #8201
It seems you missed the latest config files of latest release.

[2021-11-29 07:16] #8201 closed

[2021-11-30 03:57] huailide commented on #8175
Hi there, I'd like to know the planned completion time of pulsar-2.8.x-plugin, therefore I can make a upgrade plan for pulsar client(I rollback to pulsar client 2.7.1 for now).

[2021-11-30 08:11] wallezhang commented on #8175
I think this depends on when `skywalking-java` releases version 8.9.0. I will finish it in this week and submit a PR.

[2021-11-30 09:13] chanjarster commented on #6244
SkyWalking 8.8.1, Java Agent 8.8.0 (apache/skywalking-java-agent:8.8.0-alpine)

Same issue, start a Profile task from 2021-11-30 16:56:57 for 5 min:

![1](https://user-images.githubusercontent.com/612413/144017963-e44cbc6c-3614-4ea7-b729-0ffa4c6eb7be.jpg)

In the meanwhile, traces are collected in the Trace view:

![2](https://user-images.githubusercontent.com/612413/144018028-f2f5bb16-76d4-4e9b-b

[2021-11-30 09:36] wu-sheng commented on #6244
You should learn what is profiling. There is no point to profile a `1ms` access.

[2021-11-30 09:51] chanjarster commented on #6244
Not really know what profiling is. Any docs besides [this][1]?

[1]: https://skywalking.apache.org/docs/main/v8.8.1/en/ui/readme/#profile

[2021-11-30 09:52] wu-sheng commented on #6244
https://skywalking.apache.org/blog/2020-04-13-apache-skywalking-profiling/

[2021-12-01 03:24] nileblack commented on #2145
It's dubbo bug, here is a PATCH, use skywalking plugin enhance to fix the bug.
https://github.com/nileblack/dubbo25-hessian-patch

[2021-12-01 03:37] wu-sheng commented on #2145
Thank you so much to finally close this thread. Well done.

[2021-12-01 06:12] chanjarster opened #8221 "[Bug] ProfileTaskChannelService.snapshotQueue full then Notify profile task finish to backend fail"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Write a simple spring mvc controller to test SkyWalking profiling, it just sleep for 1 sec and nothing else:

[code]

Create profile task in SkyWalking UI, and

[2021-12-01 06:52] wu-sheng commented on #8221
@mrproliu Could you take a look about this?
Personally, I think currently 50 seems not a big issue, unless OAP server or network performance is low.

[2021-12-01 07:19] mrproliu commented on #8221
This depends on the Profile Task configuration at the time. It may happen if the number of threads to be monitored is large and the monitoring time is short.
The Java Agent will retrieve data from this queue every `500` milliseconds and upload it to the OAP. The value of this configuration item can be adjusted higher. The default ‘50’ in the configuration is a bit low because it can only support m

[2021-12-01 07:40] wu-sheng commented on #8221
OK then, what is recommended value? We could change to it accordingly.

[2021-12-01 07:42] chanjarster commented on #8221
@mrproliu thanks. So let me summarize:

* queue size `50` with `10ms` dump interval = max `500ms` window size
* and Java Agent drain the queue every `500ms`

Maybe these 2 values are too close, it's a big chance to meet `Queue full`?

Besides, `ProfileTaskChannelService`  use `BlockingQueue.add`:

[code]

According to javadoc:

I think use `BlockingQueue.offer` is more appropriate.

More, because

[2021-12-01 08:09] mrproliu commented on #8221
Yes, So I think we could increase this value. Your calculations above are also single-threaded, and I recommend monitoring a maximum of nine threads, `9 Thread * 10ms dump interval * 50times per thread` = `4500`. What is calculated here is the maximum possible number of a Java Agent in 500 milliseconds.

Make sense to me. If the queue is full due to network or configuration problems, the data shou

[2021-12-01 08:43] wallezhang opened #8222 "[Feature] Support setting global tag to trace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Now most applications will be deployed in the cloud environment. In order to better distinguish services in different available areas or different regions, it is often necessary to add some global tags in trace. Just li

[2021-12-01 08:50] wu-sheng commented on #8222
We need to discuss the detail about this. Adding tag to every trace segment is fine, but we should add to every span.
So, what is your plan on that.

[2021-12-01 09:05] zzhi commented on #5881
anyone solve it ?  same problem

[2021-12-01 09:42] zhyyu opened #8223 "[Feature] add RocketMq consumer mq.topic tag"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

RocketMQ consumer segment don't contain `mq.topic` tag, so the UI trace page can not search consumer segment when input `mq.topic=TopicTest`  tag. I want to change RocketMQ agent, add `mq.topic` tag into consumer segmen

[2021-12-01 09:46] wallezhang commented on #8222
Yes, add to trace segment is enough. I think the todo list are:

- Add a field to agent.config, the value format like this: tagKeyA=tagValue,tagKeyB=valueB...
- Add a field `repeated KeyStringValuePair tags` to `SegmentObject` in proto
- In `org.apache.skywalking.apm.agent.core.context.trace.TraceSegment#transform` method, set global tag to `SegmentObject`
- OAP server saves the segment tag
- The

[2021-12-01 09:47] wu-sheng commented on #8223
We are not accepting more RocketMQ plugin codes, unless plugin test is added with it.

[2021-12-01 09:49] wu-sheng commented on #8223
This plugin can't be verified automatically currently, so, you need to follow plugin test document to add tests for supported versions. Then we could continue on new feature.

[2021-12-01 09:53] wu-sheng commented on #8222
We don't have plan to change protocol, because it requires too many.

Maybe consider adding to first span?

[2021-12-01 09:54] wu-sheng commented on #8222
Actually, I am thinking why this could not be added into instance name or service name?

[2021-12-01 09:57] zhyyu commented on #8223
Can you tell me where is the "plugin test document" ? I read [java-agent](https://skywalking.apache.org/docs/skywalking-java/latest/en/setup/service-agent/java-agent/readme/) doc and not find it.

[2021-12-01 10:42] wallezhang commented on #8222
The service name of the same service should be uniform. But for satisfying high available, the same service may be deployed to different region. While a region has some problems, the service on that region will have errors. We can only find the service have errors from dashboard, but we don't know that there is a problem in a region. There are many dimensions like region in cloud environment.

[2021-12-01 11:11] chzhuo opened #8225 "[Feature] [Nodejs] intercept the http.get"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The plugin `HttpPlugin`  of nodejs agent not intercept the method `http.get`

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-01 12:13] wu-sheng commented on #8225
Are you going to submit a pull request about this?

[2021-12-01 12:18] wu-sheng commented on #8222
I think a tag would not help much in this case. All statistics today in SkyWalking are general service oriented, we can't do this for now even with added tag.

[2021-12-01 12:19] wu-sheng commented on #8223
https://skywalking.apache.org/docs/skywalking-java/latest/en/setup/service-agent/java-agent/java-plugin-development-guide/#contribute-plugins-to-the-apache-skywalking-repository step 5.

[2021-12-01 13:08] zzhi commented on #5881
![image](https://user-images.githubusercontent.com/10458695/144239968-90508845-ad92-4fb4-b352-80cd481c0a16.png)

[2021-12-02 00:45] wallezhang commented on #8222
Of course, we observe the performance through the service dimension, but we can search traces by different tags. Think about this scenario: we find the service have many high-latency traces, and we also known the service was deployed to two different regions(maybe `region-a` and `region-b`). So we can search the high-latency traces through `region` tag like `region=region-a`.
Maybe add the global

[2021-12-02 00:47] wu-sheng commented on #8222
Yes, from your case, this seems making more sense. Injecting to first span has low payload to the core. We need to be very careful about the performance impact. Because what you proposed is going to affect all users one way or another, this is core level change.

[2021-12-02 02:16] buyanhub opened #8227 "[Code Comments] The comment of the trySampling() method is outdated, which causes some confusion."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Refer discussions #8217

Current comment

[code]

`getDefault` is a nonexistent method。

### What you expected to happen

Change comment to:

[code]

### How to

[2021-12-02 02:18] wallezhang commented on #8222
OK, I will try my best to reduce the impact of performance.

[2021-12-02 06:57] #8221 closed

[2021-12-02 07:23] #8185 closed

[2021-12-02 08:23] wu-sheng commented on #8227
Fixed by https://github.com/apache/skywalking-java/pull/80

[2021-12-02 09:02] TonyKingdom opened #8229 "[NodeJS][Bug] Failed to send heartbeat 14 UNAVAILABLE: TCP Read failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

node version: v10.24.1
agent version: v0.3.0
base docker image version: 3.10.9

NodeJS App started in container with following error:

{ file:

[2021-12-02 09:15] wuzhihui1123 opened #8230 "[Feature] customize the traceid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Is it possible to provide a way to customize the traceid? When I create the TraceContext, I provide the traceid by myself

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a

[2021-12-02 09:17] #8229 closed

[2021-12-02 09:22] #8230 closed

[2021-12-03 09:03] creeew commented on #8222
Since segment supported global tag for filtering different region. Maybe we could filter metrics data by this global tag. Like we got two data center: region-a and region-b, and in this different regions deployed same service. We cannot figure out high latency  service in which region if we are not support filter by global tag.
I've finshed my code filter metics data by tag in APM/Database/Web Bro

[2021-12-03 09:32] wu-sheng commented on #8222
That is why I am very concerned about this, users will begin to abuse about this kind of tag.
SkyWalking is not dealing with tenancy or cross clusters, because no concept about this, both UI and community don't support that.
So, I would like to call for a hold about this.

In the next few days, I am going to write a fully proposal about new v9.0.0 core and next booster UI (@Fine0830 leads). We are

[2021-12-03 12:41] creeew opened #8237 "[Bug] Normal Service traffic data will be covered by other node type if they got same service name"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

v8.6.0
In es storage, Normal service and browser app got the same name

![image](https://user-images.githubusercontent.com/30746864/144597607-a0ad8b20-58a0-4efa-a4ff

[2021-12-03 12:55] wu-sheng commented on #8237
Service name is unique, period. All other information is attachment.

[2021-12-03 12:55] #8237 closed

[2021-12-04 10:52] wallezhang commented on #8222
@wu-sheng So should I pause this issue?

[2021-12-04 15:40] wu-sheng commented on #8222
I would recommend to keep this in the discussion channel for now. I am not so confident about how the community would use this. I am concerned we will be blamed due to performance impact and more customization.

[2021-12-05 01:58] wallezhang commented on #8222
OK, I will suspend development and let's take a look at the community discussion on this.

[2021-12-05 09:09] #8227 closed

[2021-12-06 03:29] 470390366 opened #8244 "[Feature] Is there a plan to add Trace and Metrics export in opentelemetry-collector-contrib?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I saw that @liqiangz submitted the log export in opentelemetry-collector-contrib. Is there any plan to add Trace and Metrics export?

### Use case

I expect to use opentelemetry-sdk and opentelemetry-api to record and u

[2021-12-06 03:36] wu-sheng commented on #8244
You at least should do this. And read documents.

[2021-12-06 03:36] #8244 closed

[2021-12-06 05:48] liqiangz commented on #6210
@wu-sheng  I have submitted a pr in opentelemetry https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6528. Gauge, Sum, Histogram have been supported. However, the Summary type is not yet supported for two reasons:  1. Protocol does not support summary  2. Mal does not support summary

[2021-12-06 05:50] wu-sheng commented on #6210
Thanks. And yes, we don't support summary directly.
We supported this in OAP Prometheus fetcher by using 2 guage metrics instead of a new type.

[2021-12-06 06:04] liqiangz commented on #6210
@wu-sheng
I saw the conversion of the Summary type to the `quantile` tag data in the `PrometheusMetricConverter`, but at present I have not found a way to deal with this kind of data in the SampleFamily. The other two guage metrics should be count and sum.

![image](https://user-images.githubusercontent.com/16935891/144795029-25632c4a-b7df-498b-aea8-fd9254443a91.png)

![image](https://user-images.

[2021-12-06 06:06] wu-sheng commented on #6210
Could you be more clear about what you can't do in SampleFamily?

[2021-12-06 06:18] liqiangz commented on #6210
@wu-sheng We converted the Histogram data into the data of the `le` label. There is a method histogram in mal to process the data of this kind of `le` label. There is no similar processing method for the data of the `quantile` tag.

![image](https://user-images.githubusercontent.com/16935891/144797063-2fbad00a-139b-436a-9d21-0a3790c5f056.png)

[2021-12-06 06:45] wu-sheng commented on #6210
The codes of Prometheus fetcher was added first, but little used because most use OpenTelemetry collector or Satellite to do that. So, you could add `quantile` tag in the exporter directly. MAL doesn't have to be aware of this tag in the kernel level, the people writing MAL script knowing this should be enough. You could put this kind of `added-tags` logics in the document.

[2021-12-06 07:16] liqiangz commented on #6210
Ok, I will put the label directly.

[2021-12-06 07:18] wu-sheng commented on #6210
Thanks. Later(after that gets merged), we could discuss where we should describe these labels in the documents. I think you have seen the v9 is coming, so, we have enough time about this new input.

[2021-12-06 07:54] Linda-pan opened #8249 "[Bug] Earlier versions of netty-codec or other jar packages have security breach in agent 8.8.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

  In skywalking agent 8.8.0, netty and netty-codec versions are 4.1.63.Final, and guava versions are 20.0, which are found to have security breach. The netty ve