[2021-12-06 08:02] wu-sheng commented on #8249
This would not be going to happen. This is an open source project, you have all rights to open fork or change the dependency privately.

[2021-12-06 08:05] kezhenxu94 commented on #8249
the netty version is 4.1.68.Final in 8.9.0 and master branch, we typically won't back port CVEs to all previous versions, instead, we encourage users to upgrade to the latest SkyWalking if possible

https://github.com/apache/skywalking/blob/1fdf3a8acf0b86be276d4a6cd288ae9c23e9aa42/oap-server-bom/pom.xml#L63

[2021-12-06 08:24] kezhenxu94 commented on #8249
gRPC haven't had an official release for netty 4.1.68.Final yet (https://github.com/grpc/grpc-java/issues/8617), we can upgrade but we also have to test (and undertake the risk) on our own, (we did this in OAP), what's your opinion? @wu-sheng

[2021-12-06 08:25] wu-sheng commented on #8249
As this is a dependency CVE, I would like to keep it open for now. AFAIK, we don't have 8.9.0 release plan for short term..

[2021-12-06 08:26] wu-sheng commented on #8249
This CVE belongs to gRPC, we would be better to wait and upgrade after they released or we need to do 8.9.0 agent release.

[2021-12-06 08:58] Linda-pan commented on #8249
Thank you for your reply, I will temporarily install a secure version of the jar to use, and look forward to your update.

[2021-12-06 09:25] #8175 closed

[2021-12-06 09:41] wu-sheng commented on #7875
https://github.com/apache/skywalking-java/pull/72 gets no update.

[2021-12-06 10:52] DominikHubacek commented on #7875
Hi, I d like to fix this issue, please assign it to me.

[2021-12-06 10:54] wu-sheng commented on #7875
Done, please refer to precious PR, there are some edge case discussions there.

[2021-12-06 11:32] DominikHubacek commented on #7875
Which PR ?

[2021-12-06 11:37] wu-sheng commented on #7875
This one.

[2021-12-06 11:58] ylywyn opened #8252 "[Bug] Kafka cleint 2.7.1 NullPointerException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Kafka cleint 2.7.1  error:

ERROR 2021-12-06 16:50:52:132 org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1 InstMethodsInter : class[class org.ap

[2021-12-06 12:02] wu-sheng commented on #8252
This is how we tested. https://github.com/apache/skywalking-java/tree/main/test/plugin/scenarios/kafka-scenario

You don't provide anything, we don't have responsibility to follow.

[2021-12-06 12:19] #8252 closed

[2021-12-06 12:21] wu-sheng commented on #8252
You should compare your case with existing test cases, and it is better to find out why NPE happens.
Our plugins are contributed by hundreds of people globally, we are welcome the patch and enhancement for different cases, but we can't afford to debug for everyone.

[2021-12-06 16:28] marco-simoncini opened #8253 "[Bug] No Data in UI when time range bigger than one hour"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

I'm running skywalking 8.8.1 using docker compose as described in https://github.com/apache/skywalking/blob/master/docker . I'm using postgres 11.3 as backend s

[2021-12-06 16:38] wu-sheng commented on #8253
This is a little hard to tell. I can find this issue in demo env or  showcase. Have you checked the data in the database?
I am going to move this to discussion until we know this is a bug.

[2021-12-07 09:13] zypln opened #8258 "Add annotations to inject resource limitations to the init container"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

SWCK (apache/skywalking-swck)

### What happened

**Environment:**

k8s version: 1.14.8
SWCK version: 0.4.0

**Background:**

Our k8s cluster is shared by several users and teams.Different teams work in different nam

[2021-12-07 13:39] VxCoder opened #8259 "[Bug] [Python] flask + nginx got KeyError: 'REMOTE_PORT' in sw_flask.py plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

my package info:
apache-skywalking     0.7.0
Flask                           1.1.4
uWSGI                        2.0.19.1

my deploy info:
nginx  -> uwsgi ->

[2021-12-07 13:43] wu-sheng commented on #8259
Is this an entry span or exit span? I think entry span? As you mentioned behind the Nginx.

[2021-12-07 13:45] VxCoder commented on #8259
Yes, this is entry span

[2021-12-07 13:46] wu-sheng commented on #8259
Then, you could skip this tag. Peer tag is only required in the exit span.

[2021-12-07 13:57] VxCoder commented on #8259
so  if REMOTE_PORT & REMOTE_ADDR exist add peer tag is fine.    lse just ignore

[2021-12-07 13:58] wu-sheng commented on #8259
Yes, I think so.

[2021-12-08 06:34] chenyi19851209 opened #8260 "Support both javaAgent and JavaSdk for distributed tracking in the same process and different process"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When we promote tracing in a distributed system, we found that some java system users are willing to accept the javaAgent mode, and some java system users are more willing to accept the javaSDK embedding mode based on r

[2021-12-08 07:17] #8259 closed

[2021-12-08 10:01] 470390366 opened #8262 "[Bug] Unable to use zipkin receiver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

After I set up the zipkin receiver, I started the oap server and reported an error ，
error：failed to bind to xxxx:9411
![企业微信截图_16389572177533](https://user-images.g

[2021-12-08 10:04] wu-sheng commented on #8262
Why can't bind ip and port should be answered by us?

[2021-12-08 10:08] #8262 closed

[2021-12-08 10:23] 470390366 commented on #8262
This log print makes me feel like you misspelled the code internally because there is an extra "/"

[2021-12-08 10:24] 470390366 commented on #8262
This log print makes me feel like you misspelled the code internally because there is an extra "/"

[2021-12-08 10:25] wu-sheng commented on #8262
That is not our output. Check the stack, and we have no point to change that.

[2021-12-08 11:00] wuchencm opened #8264 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Helm Chart (apache/skywalking-kubernetes)

### What happened

I install skywalking with helm chat, now the skywalking ui is nothing when i browse it.

skywalking-ui
version :skywalking-ui:8.8.1
env: SW_OAP_ADDRESS  h

[2021-12-08 15:34] wu-sheng commented on #8163
No update in 3 weeks.

[2021-12-08 15:34] #8163 closed

[2021-12-08 15:34] wu-sheng commented on #8075
No update in months.

[2021-12-08 15:34] #8075 closed

[2021-12-08 15:35] wu-sheng commented on #8223
@zhyyu Any update about this?

[2021-12-08 15:36] wu-sheng commented on #7275
No update in months.

[2021-12-08 15:36] #7275 closed

[2021-12-09 02:03] baymax55 opened #8266 "[Bug] traceId cannot transfor for dubbo-spring-boot-starter:2.7.14 on apache-skywalking-apm-es7-8.5.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

when i use dubbo-spring-boot-starter:2.7.4.1 on apache-skywalking-apm-es7-8.5.0,i can see my consumer and provider in Trace module ,picture  as follows:
![image

[2021-12-09 02:04] 470390366 opened #8267 "[Bug] When using zipkin receiver, an error occurred: not in gzip format"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

When using zipkin receiver, an error occurred: not in gzip format
![企业微信截图_16390153226573](https://user-images.githubusercontent.com/45119426/145320803-e7e5b910-ccbb

[2021-12-09 02:12] zhyyu commented on #8223
my mac m1 can not run the `bash ./test/plugin/run.sh -f ${scenario_name}`

[code]
find https://github.com/fabric8io/docker-maven-plugin/issues/1257 docker-maven-plugin conflict with m1 ship. So I am blocked now...

[2021-12-09 03:01] wu-sheng commented on #8223
OK, I don't have a M1 chip for now. Could you try it on any Linux? I think it should work.

[2021-12-09 03:02] wu-sheng commented on #8267
I think this is zip client bug? Declaring this format is in gzip format, but actually it isn't?

[2021-12-09 03:05] wu-sheng commented on #8266
I think you asked at the wrong place. Our plugin has no change for Dubbo for a long time. Dubbo3 is only known WIP.
So, you may be better asking Dubbo community, what is changed?

[2021-12-09 04:04] anjoy8 opened #8270 "After deleting ES indexes and restarting the OAP service and UI, some indexes cannot be rebuilt normally."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

**First of all**, I started the oap and ui services with the docker image of 8.9.0.
[code]
**Then**, an ES index with today(20211209) as suffix will be generated.
**

[2021-12-09 07:29] kennedy-han opened #8272 "[Bug] default h2 database column too short"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

When start a eureka server with java agent, logs got an error.
log file path:
apache-skywalking-apm-bin/skywalking-oap-server.log

[code]

### What you expected to h

[2021-12-09 07:35] wu-sheng commented on #8272
This looks like endpoint name is too long. Do you use some specific chars in the URI?

[2021-12-09 07:42] wu-sheng commented on #8272
Could you decode the endpoint ID?

[2021-12-09 13:09] #8136 closed

[2021-12-09 19:26] DominikHubacek commented on #7875
@wu-sheng  I created PR - but I am unable to set you for review
PR: https://github.com/apache/skywalking-java/pull/81

[2021-12-09 23:39] wu-sheng commented on #7875
Review will take time. You submitted at my night. 😄
I have pinged the plugin author.

[2021-12-10 02:47] cj12580 opened #8277 "前端浏览器请求一直超时"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

![image](https://user-images.githubusercontent.com/19181652/145508745-482e3ff1-1546-4403-b570-86df30710ed8.png)

前端请求200成功，查看日志提示超时

### What

[2021-12-10 02:50] wu-sheng commented on #8277
We require all things on GitHub should be in English. So closing and locked.
And this is mostly like a local setup question, rather than a bug. Check logs, and try quick start.

[2021-12-10 02:50] #8277 closed

[2021-12-10 03:09] cj12580 opened #8278 "The front end request returns 200, and the log prompt times out"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

![image](https://user-images.githubusercontent.com/19181652/145509759-2bde31ab-226c-43a4-9d14-cb3749e11892.png)

![image](https://user-images

[2021-12-10 03:11] 470390366 commented on #7842
Do you use zipkin receiver to upload trace data to skywalking? I encountered some problems when using zipkin receiver and would like to discuss with you.

[2021-12-10 06:35] #7203 closed

[2021-12-10 08:13] shelltea commented on #1941
@wu-sheng   Hi, is there a different answer to this question now? `trace id ` associated with `x-request-id`.

[2021-12-10 08:16] wu-sheng commented on #1941
No, at least Java agent doesn't follow that.

[2021-12-10 09:19] wu-sheng commented on #1941
I heard cpp2sky may adopt this, as it is integrated inside Envoy. But I haven't checked the latest status.

[2021-12-10 09:38] Pretendjoker commented on #7186
v8.6.0 same error

[2021-12-10 09:42] shelltea commented on #1941
@wu-sheng  Thanks, I'll check later.

[2021-12-10 11:46] #7875 closed

[2021-12-12 07:12] hanahmily opened #8286 "[Core] Update metadata on the fly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add a notifier between metadata and stream/measure modules to update data module definition dynamically.

This feat is critical to measure whose tags‘ number and content depend on the data OAP ingest. The OAP can't get

[2021-12-12 08:14] iyangpengyu commented on #2469
when i used  jdk1.8.0_11 ,my jvm crash also;  and then i chose jdk1.8.0_111,this crach  has fixed。 pls check  this problem!

[2021-12-12 14:01] leeyxq commented on #8163
me too, version of influxdb 2.1.1

[2021-12-13 02:33] zhyyu commented on #8223
I have a x86 windows. I think I can run the script on virtual box on that windows. But it will take some times...

[2021-12-13 02:39] wu-sheng commented on #8223
I can see `fabric8io/docker-maven-plugin` has 0.38.0 released recently, could someone try it? If you have a M1?

[2021-12-14 03:02] chanjarster opened #8292 "[Feature][Java Agent] apm-customize-enhance-plugin add support for returnedObj"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently apm-customize-enhance-plugin doesn't support `returnedObj` expression, see [doc][1].

Since it's similar with @Trace toolkit, I think `returnedObj` should be supported.

[1]: https://skywalking.apache.org/docs

[2021-12-14 03:09] wu-sheng commented on #8292
Welcome to add if this is useful for you.

[2021-12-14 04:23] Memento1990 commented on #6299
the SW_OAP_ADDRESS needs **http://** prefix, you may try this.

[2021-12-14 09:33] songangweb opened #8298 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

使用在dokcerhub提供的官方镜像 最新版本
https://hub.docker.com/r/apache/skywalking-ui

修改webapp.yml  配置项不生效
discovery:
      client:
        simple:
          instances:

[2021-12-14 09:38] wu-sheng commented on #8298
All things on GitHub should be in English. So closing. And what you did private, like private docker image, it is on your own. Not community responsibility.

[2021-12-14 09:38] #8298 closed

[2021-12-14 15:59] jzdydd commented on #3832
I also made this mistake
My environment: jdk 1.8.0_291, maven 3.8.3, os: windows
my step:
step1: git clone -b v7.0.0 --recurse-submodules https://github.com/apache/skywalking.git
step2: mvnw package -Pagent，dist

[2021-12-15 03:24] #8292 closed

[2021-12-15 03:31] chanjarster opened #8300 "[Feature][Java Agent] returnedObj expression support Array, List, Map return type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, `returnedObj` expression used in `@Tag` and apm-customize-enhance-plugin doesn't support Array, List, Map just like `arg[idx]` expression. Example:

| Object Type |  | Support | |  Support |
|---|---|---|---|

[2021-12-15 03:31] wu-sheng commented on #6895
We have ChaosMesh verified event exporting works with SkyWalking event engine without code changes.

- CN Blog, https://skywalking.apache.org/zh/2021-11-29-better-observability-for-chaos-engineering/
- EN blog should come soon.

[2021-12-15 03:31] #6895 closed

[2021-12-15 03:33] wu-sheng commented on #6210
@liqiangz Any update about this at OpenTelemetry collector side?

[2021-12-15 11:41] aliuql commented on #5268
i am also frustrated about this

[2021-12-15 16:45] liqiangz commented on #6210
It’s still under review. I guess it should be possible to be merged within a week.

[2021-12-16 08:09] shelltea opened #8305 "[Bug] Cannot search http headers on trace page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

1. Set `SW_PLUGIN_HTTP_INCLUDE_HTTP_HEADERS=x-request-id,x-correlation-id` in environment.
2. OAP-Server Set `SW_SEARCHABLE_TAG_KEYS=http.method,http.headers,status_

[2021-12-16 08:25] wu-sheng commented on #8305
We never used a searchable key like this. Do you debug more about why this search can't be applied?

[2021-12-16 09:56] shelltea commented on #8305
@wu-sheng   Hi, How to debug this problem?

[2021-12-16 09:58] wu-sheng commented on #8305
Through OAP source codes, of course. This is your private env. It is hard to tell the different or root cause just from UI screenshots.

[2021-12-16 11:05] shelltea commented on #8305
I think I found the problem.
The segment in elasticsearch:
[code]
There is a `\n` between the two headers. When I search on trace page the condition is:
[code]
So I changed the config to`SW_PLUGIN_HTTP_INCLUDE_HTTP_HEADERS=x-request-id` only include one header, And now I can search like this:
![image](https://user-images.githubusercontent.com/864375/146360430-accd128e-5a84-42c5-9d65-7f0c293eaa5c.p

[2021-12-16 11:07] wu-sheng commented on #8305
I see. I think it is better to adjust plugin for header collecting? Which should generate one tag per header?

[2021-12-16 11:07] wu-sheng commented on #8305
I see. I think it is better to adjust plugin for header collecting? Which should generate one tag per header?

[2021-12-16 12:00] ltx0633 opened #8306 "[Bug] No data can be searched in trace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

No data can be searched in trace, but there are in the data source，It may be found when the search criteria is endpoint name + trace ID

### What you expected to hap

[2021-12-16 12:02] wu-sheng commented on #8306
There is no endpoint name based query anymore in the latest version.
Check your env, we can see things are good at demo env.

[2021-12-16 12:02] #8306 closed

[2021-12-16 16:34] chenxue1107 commented on #5242
请问你这个问题解决了吗，怎么解决的？

[2021-12-17 07:43] lixplor opened #8307 "apm-toolkit-log4j-2.x prints %traceId to a thread name+raceId after upgrade to log4j 2.15.0 [Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I'm using apm-toolkit-log4j-2.x to print trace id in the log file. It can be transfer to TID: xxx when using log4j 2.14.1
After upgrading to log4j 2.15.0, the p

[2021-12-17 07:45] wu-sheng commented on #8307
Welcome to feedback about why this is happening. We don't have people working on log4j2 2.15+ yet.

[2021-12-18 00:28] #8300 closed

[2021-12-20 08:32] zhgtot commented on #7275
I met this error too. It happens when you conect a redis cluster not single redis node.
In my code, I init the redis client like this
![image](https://user-images.githubusercontent.com/19788099/146736779-058e3f64-8fd0-407e-9111-169d6018272d.png)

[2021-12-20 08:42] DanielYWoo commented on #7275
I encounter this problem with Redis cluster too.

[2021-12-20 08:54] lixplor commented on #8307
After upgrading to log4j 2.17.0, this issue is fixed. Thanks for your attention.
Now I'm closing this issue.

[2021-12-20 08:54] #8307 closed

[2021-12-20 11:29] magang0425 commented on #6593
怎么处理的？

[2021-12-21 05:40] QingkaiLi opened #8318 "[Bug] Nodejs client should emit 'end' after request"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

By the doc of http [https://nodejs.org/dist/latest-v16.x/docs/api/http.html#class-httpclientrequest](https://nodejs.org/dist/latest-v16.x/doc

[2021-12-21 06:45] wu-sheng commented on #8318
@QingkaiLi We are expecting your pull request. Thanks for your reporting.

[2021-12-21 06:53] ujnzxw commented on #5464
@moxm @iris-xie @rysinal @Chasun-fhd I have the same issue, could your please share the solution to this issue?

[2021-12-21 09:33] moxm commented on #5464
![5FB360DB-D1E7-4ef3-BFA4-82D0045F7EE8](https://user-images.githubusercontent.com/10267892/146906265-fd28e2fb-1bc9-486d-8557-340f1cd65646.png)

[2021-12-21 11:19] soye-yang commented on #3626
有找到解决方法吗

[2021-12-21 15:26] CalvinKirs commented on #6747
[code]
[code]

[2021-12-21 15:30] wu-sheng commented on #6747
Surprising to see this update. Could you be clear about which cases are you using?

[2021-12-21 15:31] CalvinKirs commented on #6747
Sorry for the late reply.
I have some questions, our current consumption is to pull the list data in the queue, and the Disruptor is to process the data one by one.
For some operations designed to DB, do we need to take some measures to do batch processing and consumption?

[2021-12-21 15:35] wu-sheng commented on #6747
Yes, batch-mode is important. But I remember disruptor has `end-of-batch` concept to cover this case.

Also, you should notice, in the latest OAP side DataCarrier(right now, OAP and Agent DataCarrier are different) has a concept of `IConsumer#nothingToConsume` event, which I think missed in Disruptor. It is important to build batch(not to database) as it is based on both duration and size.

[2021-12-21 15:46] CalvinKirs commented on #6747
Thanks for your reply, am I missing something?

[code]

[code]

[2021-12-21 15:56] wu-sheng commented on #6747
Could you draw a graph to visualize how do you implement DataCarrier multiple consumers through Disruptor?

[2021-12-21 16:16] CalvinKirs commented on #6747
![image](https://user-images.githubusercontent.com/16631152/146962782-e8a2eb05-53dd-4a34-9b41-46e4057665db.png)
I use this method to set up multiple consumers
`com.lmax.disruptor.dsl.Disruptor#handleEventsWithWorkerPool`

[2021-12-22 00:05] wu-sheng commented on #6747
I think you should update the

[2021-12-22 07:10] chenjian24 commented on #5307
This problem may be caused by the lack of related packages.
My problem is caused by the lack of "apm-httpclient-commons.jar" package.
You can debug on "InstMethodsInter.intercept()" to see if any exceptions are thrown.
If one of the SPAN throws an error, the span in the context will not be cleaned up, and at the same time, the traceId will not be newly created due to the thread reuse of Netty.

[2021-12-22 14:59] hanahmily opened #8326 "[SWCK] Replace go-bindata with binary embedding binary data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The manifests templates are embedded in binary by go-bindata. Since SWCK bumped up to 1.17, we should leverage embedding binary data module to replace go-bindata. The native path could simplify the whole process, we don

[2021-12-24 08:21] zhyyu opened #8333 "[Doc] alarm OP "=" do not support"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I config the backend-alarm according to the doc [https://skywalking.apache.org/docs/main/latest/en/setup/backend/backend-alarm/](url). When I use the equal "=" op in

[2021-12-24 08:23] wu-sheng commented on #8333
Welcome to contribute.

[2021-12-24 09:56] #8333 closed

[2021-12-24 11:11] 1ang1ang commented on #6064
still have Exception use java agent:8.8.0,thrift 0.11.0, not fix this problem yet?

[2021-12-25 09:55] xiaozuo2020 commented on #6900
hello could you show me the code? I try to get the traceID by reflection,but i am failed

[2021-12-25 10:24] XI1998-swapnilmarathe commented on #6680
its down again

![image](https://user-images.githubusercontent.com/74582859/147383003-6728a849-b607-4c03-80a2-972072046e0e.png)

[2021-12-25 10:50] wu-sheng commented on #6680
Still work on my side.

[2021-12-27 01:08] mlzxdzl opened #8340 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I search the issues found the following problem has been fixed. But it still appear,

WARN 2021-12-27 09:00:10:643 http-nio-6076-exec-26 TracingContext : More t

[2021-12-27 02:35] woshishitou commented on #6900
`            // 获取skywalking设置到exchange中的span实例，并使用反射获取其owner字段（该字段从父类的父类继承而来，类型为TracingContext）
            Object entrySpanInstance = exchange.getAttributes().get("SKYWALING_SPAN");
            Class<?> entrySpanClazz = entrySpanInstance.getClass().getSuperclass().getSuperclass();
            Field field = entrySpanClazz.getDeclaredField("owner");
            // 利用反射调用owner的getReadablePrimaryTra

[2021-12-27 02:40] woshishitou commented on #6900
Object entrySpanInstance = exchange.getAttributes().get("SKYWALING_SPAN");
Class<?> entrySpanClazz = entrySpanInstance.getClass().getSuperclass().getSuperclass();
Field field = entrySpanClazz.getDeclaredField("owner");
field.setAccessible(true);
Object ownerInstance = field.get(entrySpanInstance);
Class<?> ownerClazz = ownerInstance.getClass();
Method getTraceId = ownerClazz.getMethod("getReadable

[2021-12-27 03:16] berylshow commented on #7842
how to do this?

[2021-12-27 03:16] berylshow commented on #7842
how to do this?thanks

[2021-12-28 02:28] weixingqiao commented on #5307
how to fix it?

[2021-12-28 03:20] xiaozuo2020 commented on #6900
3q,so much!!!
that day, I found another way
modify the 2.1x gateway plugin，this plugin  includ webflux plugin code
![1122](https://user-images.githubusercontent.com/52436771/147524244-afcf41d6-fe9e-4002-8454-0780e0944256.png)

then  i can get traceID in attributes

![445](https://user-images.githubusercontent.com/52436771/147524441-aa79abad-ca7c-4038-a553-6fe2327fdae2.png)

[2021-12-28 07:27] eternalsilencer opened #8346 "when restart skywalking ，can not dial tcp port 12800"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

![image](https://user-images.githubusercontent.com/51810383/147539722-96e2a96a-72f7-460e-9827-4482eadd7ccd.png)
i deploy skywalking use helm ,when i restart skywalki

[2021-12-28 07:59] erdengzhazha opened #8348 "[Feature] I need log feature ---> [View surrounding documents]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

it can help me find relevant logs quickly ， Kibana has this feature

### Use case

![image](https://user-images.githubusercontent.com/43720808/147542617-c39563c4-d2e5-4ef3-8189-f965499e2eca.png)

### Related issues

_No

[2021-12-28 08:09] wu-sheng commented on #8348
We have log view already. And we don't have interest comparing to Kibana.

[2021-12-28 08:09] #8348 closed

[2021-12-28 08:38] erdengzhazha commented on #8348
You misunderstand what I mean ,  The logging feature I need is  find  a single log context （查询单个日志的上下文）

[2021-12-28 08:43] wu-sheng commented on #8348
What is the log context? If you want to discuss some features, please be clear what it is, and what is the use case.
The point is, don't use 3rd party system(commercial or open source) to say what it is. It doesn't make sense.

[2021-12-28 08:51] erdengzhazha commented on #8348
![image](https://user-images.githubusercontent.com/43720808/147547834-8c847120-bdd4-48ba-897e-e4e1b0f7469f.png)

[2021-12-28 08:59] wu-sheng commented on #8348
How you do define this thing? What is the scope? There are thousands of pods running, and a lot of logs are collected.

[2021-12-28 09:16] erdengzhazha commented on #8348
Ok, I will share with you if I have some ideas for solutions

[2021-12-28 10:08] zhang-weifu commented on #5307
same issue , don't know why

[2022-01-01 11:05] zypln opened #8369 "[Bug] SWCK 0.5.0 start failed with error "no matches for kind Ingress in version networking.k8s.io/v1" before k8s v1.18"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

SWCK (apache/skywalking-swck)

### What happened

Environment:

k8s version: 1.14.8 and 1.16.9
SWCK version: 0.5.0

Question:
When we deploy SWCK 0.5.0 in k8s v1.14.8 and v1.16.9, the swck-controller-manager pod star

[2022-01-01 11:09] wu-sheng commented on #8369
We have upgraded since 0.5.0. And if you don't upgrade, only 0.4.0 works for you.
Open Sourcr community only follows  the latest maim stream.

[2022-01-01 11:09] #8369 closed

[2022-01-01 11:10] wu-sheng commented on #8369
You should know, this is your private call. The community don't make decisions based on that.

[2022-01-01 14:46] wu-sheng opened #8370 "[Feature] [CLI] Support metadata query v2"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

According to https://github.com/apache/skywalking/discussions/8241, the v9 core provides the metadata v2 query.
v1 metadata query is still supported, but v2 should be supported by CLI too.

### Use case

_No response_

[2022-01-03 18:47] tirelibirefe commented on #4512
Hello,
closed but still not clear how skywalking connects to https elasticsearch.

[2022-01-04 01:42] wu-sheng opened #8376 "[Feature] [License] Set up License files ready before the first release"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When we plan to do the ASF official release, we need to provide LICENSE and NOTICE files ready according to APLv2.
There are 2 kinds of `License and Notice` files.
## Source codes license and notice.
These two files dec

[2022-01-04 01:53] liqiangz commented on #6210
@wu-sheng the pr has been merged.

[2022-01-04 01:57] wu-sheng commented on #6210
Cool! We should update this doc as well, https://skywalking.apache.org/docs/main/latest/en/setup/backend/backend-meter/

[2022-01-04 02:00] liqiangz commented on #6210
Okay, I will update the document in these two days.

[2022-01-04 02:01] wu-sheng commented on #6210
Rename `Meter collection` to `Report Meter Telemetry Data`. One is today's manual APIs, another is OpenTelemetry Exporter.

Also, this doc should be updated, https://skywalking.apache.org/docs/main/latest/en/setup/backend/opentelemetry-receiver/#opentelemetry-receiver. All existing parts belong to OpenCensus exporter, we should guide users to meter doc page if they want to use SkyWalking Exporter.

[2022-01-04 11:03] katelei6 opened #8382 "django rest framework can use!"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

django2.2 use mysqlclient, not use pymysql, so ,skywalking cannot catch the metrics；we use django rest framework ，many rest api can not be collected！

### Use case

django rest framework
django2.2
mysqlclient

### Relat

[2022-01-04 11:04] wu-sheng commented on #8382
Contributions are welcome. The plugins are built by the community.

[2022-01-04 13:53] wu-sheng opened #8389 "[Feature] [OAP-Dependency] Upgrade GraphQL lib to the latest release"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

@kezhenxu94 I noticed there are API-changes between our GraphQL version(8.0) and latest(17.3). When you are back, please upgrade it to the latest APIs.

### Use case

_No response_

### Related issues

_No response_

##

[2022-01-04 18:25] tirelibirefe commented on #6016
is there anybody who has succeeded to work skywalker with ElasticSearch by anyway?

[2022-01-05 03:37] drightchao commented on #3395
@webb2019  I got the same problem, how did you resolve it? Could you share some thoughts? thx a lot!

[2022-01-05 03:40] drightchao commented on #4414
Still got the same problem, even with the latest version of skywalking 8.9.0 and ES 7.7.1. Having no idea how much this could affect the function of skywalking, as though the skywalking dashboard looks well, and indices were created normally after error happens.

[2022-01-05 08:27] nongyue commented on #8382
I can't use django rest framework with the same version mentioned

[2022-01-05 10:27] nongyue commented on #8382
@wu-sheng is there some plugin making skywalking working with django rest framework? I did't find one!

[2022-01-05 10:33] wu-sheng commented on #8382
This is what we test about django, https://github.com/apache/skywalking-python/tree/master/tests/plugin/web/sw_django

[2022-01-06 01:54] wu-sheng commented on #7254
Close for now, as we are moving to booster UI in 9.0.0. Everything is new now.

[2022-01-06 01:54] #7254 closed

[2022-01-06 01:54] wu-sheng commented on #6845
No update for months. Closing for now.

[2022-01-06 01:54] #6845 closed

[2022-01-06 03:40] hanahmily opened #8392 "[Core] TSDB basic data management"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

TSDB supports essential storage structure management, containing the below feats:

- [x] Open the database. If the path contains nothing, tsdb creates a new file layout. (https://github.com/apache/skywalking-banyandb/pu

[2022-01-06 10:04] #8370 closed

[2022-01-06 12:43] wankai123 opened #8394 "[E2E] Add e2e verify cases for metadata-v2 protocol (OAP v9)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

https://github.com/apache/skywalking/pull/8379 and https://github.com/apache/skywalking-cli/pull/133 have been merged,
e2e needs to add cases to verify new protocol and concept.

### Use case

_No response_

### Related

[2022-01-08 02:58] zj452008181 commented on #6030
i got  the same errors in oap 8.9,my es version is 7.2,agent is 8.8.0,did you solve it

[2022-01-10 01:37] drightchao commented on #3395
It appears the solution is the config of action.auto_create_index of elasticsearch cluster settings. Set action.auto_create_index to "true" or skywalking's index namespace or pattern like "+skywalking*", no more index_not_found_exception happens.

[2022-01-11 03:26] wannianxianyu opened #8400 "日志排序"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

SkyWalking UI中查看收集到的日志信息没办法按照程序的顺序输出（时间戳相同，毫秒）， 貌似毫秒级不满足elasticsearch排序？希望日志的输出顺序可以跟程序控制台一致，这样更容易查看日志

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am

[2022-01-11 03:28] wu-sheng commented on #8400
All issues on GitHub should be in English. Closing.

[2022-01-11 03:28] #8400 closed

[2022-01-11 09:22] ligerman33 opened #8403 "[Bug] do i need to update both server and client to 8.9.1 to avent log4j code injection?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

now i am on 8.6.1 for java projects;
is it essential  update both server and client to 8.9.1 to avent log4j code injection?
do it means versions before 8.9.1 are und

[2022-01-12 02:54] wannianxianyu opened #8406 "Sorting of logs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

SkyWalking UI
Maybe you can consider using `%lsn` `LocalSequenceNumberConverter.class` to solve the problem of log sorting?

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit

[2022-01-12 07:33] xu1009 opened #8411 "[Feature] support zgc metric collect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

zgc is new GarbageCollector from jdk 11, it is the most advanced  GarbageCollector util now, now skywalking gc not support collect the metric

### Use case

agent collect zgc count and time, from skywalking ui we can se

[2022-01-12 07:38] wu-sheng opened #8412 "[OAP][Dependency] OAP binary package differences between JDK9 and JDK11"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This is a memo for all developers, especially @apache/skywalking-committers

SkyWalking OAP server binaries packaged in JDK8 and JDK11 include different dependence libs.

This happened before, but I didn't invest why, b

[2022-01-12 07:59] xu1009 commented on #8411
@wu-sheng i have a question, zgc not have genration, other gc has old and young

the metirc name in skywalking is  like instance_jvm_young_gc_count,instance_jvm_young_gc_time

now in my project, zgc metric name is instance_jvm_normal_gc_count and instance_jvm_normal_gc_time

is it ok？look foraward to your suggestions

[2022-01-12 08:02] wu-sheng commented on #8411
Do you ask for changing https://github.com/apache/skywalking-data-collect-protocol/blob/master/language-agent/JVMMetric.proto#L83?

[2022-01-12 08:06] xu1009 commented on #8411
yes, https://github.com/apache/skywalking/blob/master/oap-server/server-starter/src/main/resources/oal/java-agent.oal

other the oal file, the gc metric name define

[2022-01-12 08:08] katelei6 opened #8413 "[Bug] skywalking can not catch the endpoint by python fastAPI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

we use python，and use fastAPI
config：
from fastapi import FastAPI
from skywalking import agent, config

app = FastAPI()

config.init(collector_address='11.6

[2022-01-12 08:18] wu-sheng commented on #8413
FastAPI is not on the support list. Please read document before submitting an issue.

https://skywalking.apache.org/docs/skywalking-python/latest/en/setup/plugins/

[2022-01-12 08:18] #8413 closed

[2022-01-12 08:19] wu-sheng commented on #8411
Please submit proposal change to API repo first. Let's do this step by step.

[2022-01-12 08:32] xu1009 commented on #8411
ok

[2022-01-12 08:35] katelei6 commented on #8413
if we want to use fastAPI and skywalking can support
we shoud develop the plugin to support?

[2022-01-12 08:44] wu-sheng commented on #8413
Yes, you need a new plugin.

[2022-01-12 09:02] ArjenDavid-sjtu opened #8414 "[Feature] Unified the configuration for all Redis plugins on whether to collect redis parameters."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

There are Jedis, Lettuce and Redission plugins for Redis client in SkyWalking, but only Lettuce plugin have a [`LettucePluginConfig`](https://github.com/apache/skywalking-java/blob/main/apm-sniffer/apm-sdk-plugin/lettuc

[2022-01-12 09:07] wu-sheng commented on #8414
Mostly, the config should belong to the plugin itself. Especially in your case, `Lettuce and Redission` are totally 2 frameworks. They should not share configs unless there is a specific reason.
If Redission plugin needs some configs, it is better to add inside Redission plugin.

[2022-01-12 09:12] wuwen5 opened #8415 "[Bug] Incompatible with versions after dubbo-2.7.14, resulting in broken tracking"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

After upgrading Dubbo 2.7.15, the trace log was broken.

### What you expected to happen

The ```rpcContext.getAttachments()``` method returns is  copy Map.

ht

[2022-01-12 09:14] wu-sheng commented on #8415
I think you have to ask for Dubbo community to explain this kind of important kernel-level behavior change, and why.

[2022-01-12 09:15] ArjenDavid-sjtu commented on #8414
Ok, I will commit a PR to add configs for `Redission` and `Jedis`.

[2022-01-12 09:22] nongyue commented on #8382
what if i must use fastapi (a web frame https://fastapi.tiangolo.com/), is there any plugin or something working with skywalking? @wu-sheng

[2022-01-12 10:04] wu-sheng commented on #8382
Then contribute a plugin. That is how open source works.

[2022-01-12 10:18] kezhenxu94 commented on #8412
In development stage I think JDK 8 is still our recommendation and used in our official released binary tar, JDKs >8 are supported at runtime and users can package on their own but in that case licenses are not our concern. I think we don't need extra actions unless we decide to move forward to JDK 11 as our recommended development JDK in the future.

[2022-01-12 10:20] kezhenxu94 commented on #8412
One thing noteworthy is that @apache/skywalking-committers who acts as a release manager should release the binary tar in JDK8.

[2022-01-12 10:56] wu-sheng commented on #8412
The release manager could make mistakes. If excluding is possible in JDK11, it is better to try.

[2022-01-12 10:59] kezhenxu94 commented on #8412
Excluding is possible I think.

If release manager make mistake in this step. Users might face unsupported class versions (compiled in JDK11 and run in Java 8), which conflicts with our claim that we support Java 8 as minimum Java version in OAP.

[2022-01-12 11:36] #8415 closed

[2022-01-13 02:13] myifeng opened #8421 "[Bug] The cluster shows only one instance by nacos"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I am using nacos to manage a skywalking cluster, there are 3 instances of skywalking, but nacos only shows one.

`kubectl get pods|grep skywalking`

[code]

![image]

[2022-01-13 02:14] #8421 closed, assigned to nobody

[2022-01-13 03:51] tanshanshan opened #8423 "[NIGNX-LUA][Bug] require("skywalking.client"):startBackendTimer() config multiple servers are not supported"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Nginx Lua Agent (apache/skywalking-nginx-lua)

### What happened

I use
`require("skywalking.client"):startBackendTimer("http://x.x.x.x:12800")
`is fine
log is
2022/01/13 11:47:26 [debug] 7491#7491: *6 [lua] client.l

[2022-01-13 04:05] wu-sheng commented on #8423
This is a HTTP server, many proxies exist for cluster mode. No need to support

[2022-01-13 04:08] #8423 closed

[2022-01-13 14:24] stardyun opened #8426 "[Bug] Why logs (use logback toolkit) TraceId lost in ActiveMQConsumer Method"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

1. config logback.xml
[code]

2. log in ActiveMQConsumer Method
[code]

`[ifs] 2022-01-13 15:35:11,536 INFO [DefaultMessageListenerContainer-1] [TID:N/A] [user:

[2022-01-13 15:25] #8411 closed

[2022-01-14 10:38] xu1009 opened #8433 "[Feature] [Java] Support collect thread pool metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

thread pool monitor is important in web service, server container, like tomcat, undertow etc, monitor its worker pool is very import, every project needs implement it

### Use case

when use skywalking, we can config ta

[2022-01-14 10:55] wu-sheng commented on #8433
Then we need a way to build a labels(pool name) metric for connection pool. What do you want to build?
Could you provide more details?

[2022-01-14 11:00] xu1009 commented on #8433
now, in my projeject, agent core has a model contains pool name and thead threadPoolExecutor instance, the agent plugin set the thread pool name and instance to it on constructor, and the core get  message from the model, and send metrics to oap service

[2022-01-14 11:30] wu-sheng commented on #8433
Could you share what do the OAP and UI look like?

[2022-01-17 03:09] katelei6 opened #8435 "[Bug] The UI can not see any data."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-rocketbot-ui)

### What happened

when we deploy, we use the ip to the UI， we can not see anything in this page。when
wo refresh any times，the page is normal。version：8.9.1，but we use 8.7.x，can fi

[2022-01-17 03:33] xu1009 commented on #8433
instance_undertow_thread_pool_core_size = from(ServiceInstanceJVMThreadPool.corePoolSize).filter(threadPoolNameType == ThreadPoolNameType.UNDERTOW).longAvg();
instance_undertow_thread_pool_max_size = from(ServiceInstanceJVMThreadPool.maximumPoolSize).filter(threadPoolNameType == ThreadPoolNameType.UNDERTOW).longAvg();
instance_undertow_thread_pool_size = from(ServiceInstanceJVMThreadPool.poolSize)

[2022-01-17 03:51] wu-sheng commented on #8433
This kind of filter function is very hard coded, and it has to set for all kinds of pools, which is not flexible, and have to set a lot of UI components to list all possibilities.
I am thinking whether we should treat this as a logic endpoint? And metrics reporting through meter API rather than JVM and OAL analysis.

[2022-01-17 04:01] mrproliu opened #8437 "[SWCK] Could not deploy metrics adapter to GKE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

SWCK (apache/skywalking-swck)

### What happened

I got an error when I deploy the SWCK metrics adapter in the 0.6.0 release version.

error message:
F0117 03:59:06.697216       1 main.go:80] unable to run custom met

[2022-01-17 04:14] wu-sheng commented on #8437
@hanahmily We seem need a hot patch release.

[2022-01-17 04:35] #8394 closed

[2022-01-17 05:02] #8437 closed

[2022-01-17 08:01] #6210 closed

[2022-01-17 10:12] #8414 closed

[2022-01-17 11:41] xu1009 commented on #8433
emm, the agent plugin  and oap server is easy to add new thread pool,  the problem is how to display it in ui, i am not familiar with what you say, this has some demo in skywalking project，or, we can make basic plugin to collect metirc and save it, every one can customizing their dashboard ui

[2022-01-17 11:47] wu-sheng commented on #8433
For agent side, it is very similar to agent tracing plugin. Just calling different core APIs. Check this.

https://skywalking.apache.org/docs/skywalking-java/latest/en/setup/service-agent/java-agent/java-plugin-development-guide/#meter-plugin

[2022-01-17 11:52] wu-sheng commented on #8433
At the backend, you just need to learn meter receiver and MAL

1. https://skywalking.apache.org/docs/main/latest/en/setup/backend/backend-meter/#manual-meter-api
2. Meter design, https://skywalking.apache.org/docs/main/latest/en/concepts-and-designs/meter/
3. MAL, https://skywalking.apache.org/docs/main/latest/en/concepts-and-designs/mal/

And learn fron slueth MAL setup
1. https://skywalking.apac

[2022-01-17 11:56] xu1009 commented on #8433
ok, i have a look

[2022-01-18 06:44] #8412 closed

[2022-01-18 08:41] xu1009 commented on #8433
i have tried, it is ok，plugin can give the  threadPoolExecutor instance,  and agent core build thread pool metrics, and send it to backend by meter api

[2022-01-18 08:42] wu-sheng commented on #8433
It is good to know. Could you post the metric sample here? To make the further review easier?

[2022-01-18 08:46] xu1009 commented on #8433
![image](https://user-images.githubusercontent.com/22722907/149902103-ef7a634a-ea27-4f33-9244-2876363b0e2e.png)

![image](https://user-images.githubusercontent.com/22722907/149902167-b39e052e-b84f-4143-9890-8d5e50b27c4a.png)

[2022-01-18 09:09] little-hang opened #8444 "[Bug] for python-agent, the oap-ui does not show my python serviceName"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

1、my configure
python 3.7.3
skywalking 8.9.1

2、my python code as follows:
`import json
import requests
import base
from flask import Flask, request
from sk

[2022-01-18 09:16] wu-sheng commented on #8433
I think we should use `labeled value`, which only requires one metric name in the MAL script. And UI's component title could be `Thread Pool`,  which could add more pool relative metrics easily.

[2022-01-18 09:17] wu-sheng commented on #8444
Duplicated https://github.com/apache/skywalking/discussions/8443

[2022-01-18 09:17] #8444 closed

[2022-01-18 09:34] xu1009 commented on #8433
i do not get your mean, there are many kinds of thread pool, every type thread pool can have a ui component, all in one seems strange，and it is difficult to look

[2022-01-18 09:37] xu1009 commented on #8433
i think we can provide some base thread pool metric collect, like undertow, tomcat, other user can easy to add based on this way, and they can custom their own ui component

[2022-01-18 09:42] wu-sheng commented on #8433
We don't have to set all thread pool metrics in one UI component. But `labeled value` could reduce the cost of the database resources. The way you are doing right now, is making one metric per database row. But labeled value could compress all types(queue size, pool size, max pool size) into one metric name.

[code]

Then you just need one metric name on the UI, `undertow_thread_pool`.

[2022-01-18 14:58] xu1009 commented on #8433
you mean the agent report metric with same name and different tags by meter api ?

[2022-01-18 15:16] wu-sheng commented on #8433
Yes. And AFAIK the MAL could land this one metric name with different tags in the storage.

[2022-01-18 15:26] wu-sheng commented on #8433
This config still could make the metrics into different metric name. I prefer we could do
[code]
If you want to separate pools of Java, you could use  `undertow_thread_pool`. And types of `metric_type` is going to be available on the UI automatically as labels.

Coud you try this? @wankai123 could help if you face any issue.

[2022-01-18 16:31] xu1009 commented on #8433
i try, it not work, could you give some demo with ui template and oal config

[2022-01-18 16:36] wu-sheng commented on #8433
Check K8s monitoring temple config. Or just put the metric name on UI setup mode page, and enter. It will tell you, it's a labeled value.
Don't use tag equal to split one metric into several.

[2022-01-19 00:04] wu-sheng commented on #8433
This is a labeled value metrics visualized as a chart
![image](https://user-images.githubusercontent.com/5441976/150038471-10f7d54b-ef4d-4f52-b0fd-044ff525ffc8.png)
![image](https://user-images.githubusercontent.com/5441976/150038517-d1bf2966-dc93-4a3e-9a30-3724e2fcdf04.png)

[2022-01-19 00:13] wu-sheng commented on #8164
Project open sourced here, https://github.com/SphereEx/CyborgFlow
A CN blog posted, https://skywalking.apache.org/zh/2022-01-18-cyborg-flow/

If anyone needs this blog in English, please let us know, we are glad to translate. Generally, this feature is requested in China community.

[2022-01-19 00:13] #8164 closed

[2022-01-19 03:46] xu1009 commented on #8433
![image](https://user-images.githubusercontent.com/22722907/150060150-d49e19a1-5dee-43de-9a12-10a39dafcc15.png)

![image](https://user-images.githubusercontent.com/22722907/150060306-3ff3f22f-df3f-40aa-9612-a3cf0b4e9c62.png)

![image](https://user-images.githubusercontent.com/22722907/150060184-a80b6442-1a59-4f34-a4f3-72e811ad92fc.png)

![image](https://user-images.githubusercontent.com/22722907/1

[2022-01-19 03:54] wu-sheng commented on #8433
Could you check what does the metric look like in the database?

[2022-01-19 04:05] wu-sheng commented on #8433
And please provide the data in the MeterReceiver. Then we could know what is going on.

[2022-01-19 07:07] xu1009 commented on #8433
<img width="1244" alt="企业微信截图_f3a61c2b-75c1-4388-b698-5050d9f59509" src="https://user-images.githubusercontent.com/22722907/150081024-af46573e-d93b-43a4-a654-c780cd6ff128.png">

this is the data from MeterServiceHandler， the database is h2, i do not have tool to look

[2022-01-19 07:13] wu-sheng commented on #8433
Could you put this in JSON format? And print it in the console, and provide us the rawdata? This debug screenshot is hard for us to know the details.

[2022-01-19 07:19] xu1009 commented on #8433
{"metricCase_":1,"metric_":{"name_":"thread_pool","labels_":[{"name_":"metric_type","value_":"active_size","memoizedIsInitialized":-1,"unknownFields":{"fields":{}},"memoizedSize":-1,"memoizedHashCode":0},{"name_":"pool_name","value_":"undertow_worker_pool","memoizedIsInitialized":-1,"unknownFields":{"fields":{}},"memoizedSize":-1,"memoizedHashCode":0}],"value_":0.0,"memoizedIsInitialized":-1,"unkn

[2022-01-19 07:20] xu1009 commented on #8433
{"metricCase_":1,"metric_":{"name_":"thread_pool","labels_":[{"name_":"metric_type","value_":"max_pool_size","memoizedIsInitialized":-1,"unknownFields":{"fields":{}},"memoizedSize":-1,"memoizedHashCode":0},{"name_":"pool_name","value_":"undertow_worker_pool","memoizedIsInitialized":-1,"unknownFields":{"fields":{}},"memoizedSize":-1,"memoizedHashCode":0}],"value_":80.0,"memoizedIsInitialized":-1,"u

[2022-01-19 07:26] wu-sheng commented on #8433
@wankai123 @mrproliu Could you take a look? I hope the final result keep `thread_pool` as metric name, and labels(undertow_worker_pool + max_pool_size) as the final label.

@xu1009 It is better you could use `H2` server mode to check the data, or ElasticSearch. Otherwise, it is hard for us to help this very detailed thing.

[2022-01-19 07:46] mrproliu commented on #8433
In the MAL, if you want to make it as labels metrics, need to add the  aggregate function on the metric. In this case, it should be thread_pool.avg(['pool_name', 'metrx_type', 'service']).

[2022-01-19 08:43] wuguanyu commented on #6592
We need es-init.job.yaml right?

[2022-01-19 08:48] wuguanyu commented on #6592
@wu-sheng I create index manually when i encounter
 OAP is running in 'no-init' mode
you said init container doesn't run. Do you mean es-init.job.yaml https://github.com/apache/skywalking-kubernetes

[2022-01-19 08:50] xu1009 commented on #8433
![image](https://user-images.githubusercontent.com/22722907/150095867-59abaa71-4b5d-405b-aea8-57e87b57a3d3.png)

it is not ok, the above image is data in database

[2022-01-19 08:53] wu-sheng commented on #8433
The data looks good, what do you mean `not ok`?
![image](https://user-images.githubusercontent.com/5441976/150096504-435e8fd8-e23b-47c2-ae27-1b44e0b7a73f.png)

This is my understanding of the data.

[2022-01-19 09:24] xu1009 commented on #8433
![image](https://user-images.githubusercontent.com/22722907/150101656-3ca65f63-3070-43a3-b8cf-4356455f5c52.png)

![image](https://user-images.githubusercontent.com/22722907/150101730-3cde927c-23b2-4317-bd0f-1a6aacdff8a9.png)

no data display in ui

[2022-01-19 09:27] wu-sheng commented on #8433
Do you check the instance name(entity name in the table) and time bucket?

And, you could debug `MetricsQuery#readLabeledMetricsValues` to see what is going on. The logic is also not hard.

[2022-01-19 09:38] dashanji commented on #8258
@hanahmily I'd like to do this.

[2022-01-19 09:39] wu-sheng commented on #8258
@dashanji Thanks. I have assigned this to you, good luck.

[2022-01-19 12:07] wuguanyu commented on #6520
When we upgrade skywalking chart  the es-init job will run evenrytime ?
Why I use helm to upgrade skywalking es-init job not run

[2022-01-19 12:33] #8389 closed

[2022-01-19 13:51] sunOnly opened #8450 "[Feature]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support the collection of Druid, hikaricp and other database connection pool measurement data, and support multiple instances

### Use case

Used to monitor the usage of database connection pool

### Related issues

_No

[2022-01-19 13:54] wu-sheng commented on #8450
Please follow https://github.com/apache/skywalking/issues/8433 and finish local POC.
We prefer labeled value metrics rather than multiple metrics.

Once you did, please provide MAL script, UI configuration and UI preview here before submitting any pull request.

[2022-01-19 14:06] sunOnly commented on #8450
![image](https://user-images.githubusercontent.com/22111568/150145389-31a76a4f-b5f5-427d-8052-0e66ffec52b9.png)
![image](https://user-images.githubusercontent.com/22111568/150145739-c46b8d48-0a2c-43e3-bca2-e151e68b5109.png)
![Uploading image.png…]()

package org.apache.skywalking.apm.agent.core.pool.druid;

import org.apache.skywalking.apm.agent.core.logging.api.ILog;
import org.apache.skywalking.

[2022-01-19 15:16] wu-sheng commented on #8450
You need to follow that discussion. We prefer the final metrics as labeled values. Then you could list all metrics on the dashboard by using one metric name, which means we only need one row in the database per timebucket + entity.

Right now, if you have 10 metrics, then one service causes 10 rows in the database per timebucket.

[2022-01-19 15:18] wu-sheng commented on #8433
@xu1009 Any update?

[2022-01-19 16:44] xu1009 commented on #8433
![image](https://user-images.githubusercontent.com/22722907/150175697-c3070ab7-65ad-40c6-a0bf-8546c33d04b3.png)

it is ok

[2022-01-19 22:04] wu-sheng commented on #8433
Cool, good to see this. Let's move on to the official PR/Review to take care of code details. Thank you so much for you patience.

[2022-01-20 02:56] sunOnly commented on #8450
We prefer the final metrics as labeled values，Cannot process when multiple data sources。
As shown in the figure below, multiple data sources use this scheme
![企业微信截图_16426466739742](https://user-images.githubusercontent.com/22111568/150262805-d5392382-3585-4821-826c-49cfb76c685f.png)
![image](https://user-images.githubusercontent.com/22111568/150263248-88162297-34ce-463d-b91d-6411cc5cfb9a.png)

[2022-01-20 05:53] wu-sheng commented on #8450
Why do you set labels as `0,1,2,3,4,5`? Have no clue what do you mean to do so. Counts of idle, using, max are as same as undertow discussion. I could recommend you to take a look at the issue I pointed to you, it has shown a good demo to you.

[2022-01-20 08:37] katelei6 opened #8452 "develop the plugin error！ModuleNotFoundError: No module named 'skywalking.protocol.logging'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

when we git clone the python agent，want
 to develop the plugins, when we install the package, running, the error:
Traceback (most recent call last):
  File

[2022-01-20 08:39] wu-sheng commented on #8452
Reading the compiling doc. The git submodule is required.

[2022-01-20 08:39] #8452 closed

[2022-01-20 09:00] qiyue0421 commented on #6064
`ERROR 2022-01-20 16:55:37:747 jaeger.RemoteReporter-QueueProcessor ClientOutProtocolWrapper : Failed to propagating CarrierItems.
java.lang.IllegalStateException: Exit span doesn't include meaningful peer information.
	at org.apache.skywalking.apm.agent.core.context.TracingContext.inject(TracingContext.java:168)
	at org.apache.skywalking.apm.agent.core.context.TracingContext.inject(TracingContext

[2022-01-20 09:02] wu-sheng commented on #6064
@qiyue0421 You are different. From the log stack, it is clear you are using Jeager SDK, which we never tested.
And why do you run 2 tracing cores at the same time? It could be a very complex scenario.

[2022-01-20 09:32] qiyue0421 commented on #6064
You are right, the developer feedback used jaeger sdk, maybe the previous technician testing jaeger (haha, I'm not too sure), currently using skywalking is better, sincerely thank you for your reply

[2022-01-20 09:32] qiyue0421 commented on #6064
You are right, the developer feedback used jaeger sdk, maybe the previous technician testing jaeger (haha, I'm not too sure), currently using skywalking is better, sincerely thank you for your reply

[2022-01-20 09:39] gOODiDEA2002 opened #8455 "[Bug] skywalking-oap 8.9.1 docker 无法启动"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

2022-01-20 09:30:15,030 com.linecorp.armeria.common.util.SystemInfo 519 [main] INFO  [] - IPv6: disabled (from /proc/sys/net/ipv6/conf/all/disable_ipv6)
2022-01-20 0

[2022-01-20 09:44] wu-sheng commented on #8455
All issues on GitHub must be in English.

[2022-01-20 09:44] #8455 closed

[2022-01-20 09:52] POPIWEN0209 opened #8456 "Skywalking能监控weblogic下的应用吗"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

是不是不支持监控weblogic下的应用

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this projec

[2022-01-20 09:53] wu-sheng commented on #8456
All issues on GitHub must be in English.

[2022-01-20 09:53] #8456 closed

[2022-01-20 09:54] gOODiDEA2002 opened #8457 "[Bug] docker skywalking-oap-server:8.9.1 boot failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

docker skywalking-oap-server:8.9.1 boot failed

---
...
2022-01-20 09:30:15,030 com.linecorp.armeria.common.util.SystemInfo 519 [main] INFO [] - IPv6: disabled (from

[2022-01-20 09:57] POPIWEN0209 opened #8459 "Can skywalking monitor applications under Weblogic"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Can skywalking monitor applications under Weblogic

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X]

[2022-01-20 12:07] sunOnly commented on #8450
It is modified as follows:
 instance add global  Datasource metric
![image](https://user-images.githubusercontent.com/22111568/150333855-cd4aa158-c20e-4b32-a684-38bd868dc9fa.png)

 View specific detail of Datasource metric
![image](https://user-images.githubusercontent.com/22111568/150333711-0d1ef451-5437-47c0-8fc9-b283e74a03dc.png)

[2022-01-20 12:14] wu-sheng commented on #8450
For the database, I m not sure whether it is a good idea to provide a whole dashboard.
I think we should include datasource name in the label, then one item component should be enough.

[2022-01-20 12:27] wu-sheng commented on #8450
The final label should be `datasource name` + `status`(idle/max) in the instance page.

[2022-01-20 13:41] sunOnly commented on #8450
Is that the effect？
![企业微信截图_16426859566790](https://user-images.githubusercontent.com/22111568/150349647-ba4fa268-86ee-44fa-88f9-d1006fb1b55b.png)

[2022-01-20 15:08] wu-sheng commented on #8450
This seems good. Do you have any suggestion or concern?

[2022-01-21 04:02] katelei6 opened #8462 "[Feature] we develop plugin to support mysqlclient"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[Feature] we develop plugin to support mysqlclient,  can you see out code to contributing ?

### Use case

[Feature] we develop plugin to support mysqlclient,  can you see out code to contributing ?

### Related issues

[2022-01-21 04:06] wu-sheng commented on #8462
Which language agent do you mean? Could you be more specific? All agent repositories accept pull requests to add a new plugin in the mainstream. You just need to follow all the tests and reviwers' comments.

[2022-01-21 04:13] lujiajing1126 commented on #7943
I would like to help migrate the docker images to `eclipse-temurin` ones.

[2022-01-21 07:18] katelei6 commented on #8462
I have an question: 我们的组件信息是Unknown，但是python的文件__init__里面，我们设置了MysqlClient = 7013，但是没有获取到这个值@wusheng

[2022-01-21 07:19] wu-sheng commented on #8462
@katelei6 Please keep in English if you want to GitHub discussion. Please translate above first.

[2022-01-21 07:21] katelei6 commented on #8462
I have an question:  we can see the infomation about trace in UI,  but the component infomation is  Unknown，
but in  our python file：  __init__.py，we  set MysqlClient = 7013，but can not use this

[2022-01-21 07:23] wu-sheng commented on #8462
I can see python mysql plugin is using `component_id=7003`, check here

https://github.com/apache/skywalking-python/blob/d4e5ccd8b1e6d08a3c9eeb748ede8c99ff261895/skywalking/plugins/sw_pymysql.py?_pjax=%23js-repo-pjax-container%3Afirst-of-type%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%3Afirst-of-type%2C%20%5Bdata-pjax-container%5D%3Afirst-of-type#L40

The de

[2022-01-21 07:27] katelei6 commented on #8462
if we develop the plugin support mysqlclient, this can we contruibute? beause in our project, we use mysqlclient instead of pymsql, so we develop this new plugin.

[2022-01-21 07:28] wu-sheng commented on #8462
You could send a pull request to https://github.com/apache/skywalking-python, and add the required tests.

[2022-01-21 07:38] wu-sheng commented on #8462
If you need MySQL component id, check the file I shared above. It should be `5`
[code]

And you need to send a pull request here to add Python in the `languages`.

[2022-01-21 07:45] #8462 closed

[2022-01-21 07:59] katelei6 commented on #8462
remote: Permission to apache/skywalking-python.git denied to katelei6.
fatal: unable to access 'https://github.com/apache/skywalking-python/': The requested URL returned error: 403

[2022-01-21 08:01] wu-sheng commented on #8462
Check your network. It is only a GitHub repo. It is as same as here.

[2022-01-21 10:05] katelei6 commented on #7143
apm-trace-ignore-plugin.config  I config the path like this: /actuator/**,/actuator,Redisson/**   Redisson can work，but  /actuator/**, do not work!@wu-sheng

[2022-01-23 07:01] sunOnly commented on #8450
Is it better to add the function to the apm-agent-core module or create a new module？
Is it reasonable to put mal analysis statements in the meter analyzer config directory?

[2022-01-23 07:03] wu-sheng commented on #8450
No, you don't. Meter or/and tracing have no difference to the agent core

Yes, it is. And mostly, I think you have to. Otherwise, you can't activate it through meter receiver.

[2022-01-24 08:52] lihuixian001 opened #8469 "[Feature] add annotations for oap.service (skywalking-kubernetes )"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

add annotations for oap.service  just like ui.service.annotations

### Use case

When opa.service.type is set to loadBalancer, you need to customize the loadBalancer by setting annotations, just like ui.service.annotati

[2022-01-24 08:55] wu-sheng commented on #8469
I think you didn't follow how community works. There is nothing like `why not`. The features only exist if something contributed it. That is all.
So, if you feel something is important, write a pull request with a proposal about the use case.

[2022-01-24 08:55] #8469 closed

[2022-01-24 09:19] wu-sheng commented on #8450
@sunOnly Any update?

[2022-01-24 09:27] sunOnly commented on #8450
There are added code in the skywalking-java . Submit it now

[2022-01-24 09:39] sunOnly commented on #8450
Bad network timeout submission failed

[2022-01-24 09:41] wu-sheng commented on #8450
Usually, you need a VPN to submit codes to GitHub, I am afraid. It is unstable from time to time.

[2022-01-24 12:14] kezhenxu94 commented on #7943
Not sure whether you are talking the same thing. @wu-sheng is asking for verification on Java 17 but @lujiajing1126 is asking for arm Docker support, FWIW we already have ARM Docker images for OAP https://github.com/apache/skywalking/pkgs/container/skywalking%2Foap

Changing the base Docker image is not recommended IIRC, unless it's only for testing (E2E).

[2022-01-24 12:18] wu-sheng commented on #7943
@kezhenxu94 `eclipse-temurin` is `adoptopenjdk`(https://adoptopenjdk.net/). I am thinking about whether we should adopt the latest temurin release. WDYT?

[2022-01-24 12:19] wu-sheng commented on #7943
Another thing is, whether we should provide JDK17 runtime docker image on GitHub repo for testing?

[2022-01-24 12:27] kezhenxu94 commented on #7943
If you mean test the OAP on latest temurin release and make the tests pass, I'm +1

[2022-01-24 12:28] kezhenxu94 commented on #7943
I can add a step to push that image

[2022-01-24 12:35] wu-sheng commented on #7943
@kezhenxu94 Notice this from https://hub.docker.com/_/adoptopenjdk

[code]

The base image should be updated too. And JDK17 runtime could be considered if it doesn't break release process.

[2022-01-24 12:58] lujiajing1126 commented on #7943
Yes. At the very beginning, I meant only the E2E parts.

Then due to the deprecation warning from the https://hub.docker.com/_/adoptopenjdk repo mentioned by @wu-sheng, I suppose we should migrate all base images to the recommended ones built by `eclipse-temurin`.

[2022-01-25 10:28] #7943 closed

[2022-01-26 01:42] wu-sheng opened #8477 "[Feature][Breaking Change] Adopt UI configuration APIs of v9 core"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We need to adopt the latest protocol update, https://github.com/apache/skywalking-query-protocol/pull/70

1. Remove the existing templates, as this time, we need to set up all templates from the beginning.
1. In the OAP

[2022-01-26 01:42] wu-sheng commented on #8477
FYI @Fine0830

[2022-01-26 01:48] wu-sheng commented on #8477
@mrproliu CLI would be affected, we need an update after the merge. We may need a backend version detecting mechanism this time.

[2022-01-26 02:20] Mystery00 commented on #5873
Is there any result please?

[2022-01-26 02:27] wu-sheng commented on #5873
No, there isn't an update anymore. All discussions are open here.

[2022-01-26 09:21] #8195 closed

[2022-01-26 09:42] wu-sheng commented on #7911
Relate to https://github.com/apache/skywalking/issues/8477

[2022-01-26 09:44] wu-sheng commented on #7686
No update in months.

[2022-01-26 09:44] #7686 closed

[2022-01-26 09:46] wu-sheng commented on #8272
No update in months.

[2022-01-26 09:46] #8272 closed

[2022-01-26 13:39] pengchen1358 opened #8480 "[Bug] 配置webhook 钉钉告警，告警通知无法发送"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

配置skywalking 钉钉告警 告警不发送通知到钉钉
apiVersion: v1
data:
  alarm-settings.yml: |
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor

[2022-01-26 13:41] wu-sheng commented on #8480
All issues and discussions on GitHub must be in English.

[2022-01-26 13:41] #8480 closed

[2022-01-26 13:42] wu-sheng commented on #8480
And this is only a discussion. No debug or log could prove this is a bug.

[2022-01-27 01:42] lujiajing1126 commented on #8392
Due to the downSampling in the OAP server side, we have to support writing data to a block older than the current open ones.

For example, we start the banyandb server at "2022-01-27T01:40:20Z", the oldest block may start from "2022-01-27T01:40:20Z" while the OAP server would send stream entities with timestamp "2022-01-27T01:00:00Z" due to the downSampling at hour level.

![image](https://user-im

[2022-01-27 02:29] wallezhang opened #8482 "[Feature] Support Google Guava AsyncEventBus"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Google guava `EventBus` is a component used to deliver distribution events in the process. When asynchronous distribution is used, trace will be lost, so I want to provide a plugin to support propagating trace informati

[2022-01-27 02:49] hanahmily commented on #8392
Added this to the task list.

[2022-01-27 06:21] xinnj commented on #7505
Same problem, hope it can be fixed quickly.

[2022-01-27 07:40] #7988 closed

[2022-01-27 07:43] wu-sheng commented on #7505
@xinnj @820465323 If no one intends to fix it on their own, everyone has to wait. This is how an open-source project works.

[2022-01-27 11:23] ruleeeer commented on #6034
Is this issue still valid?

[2022-01-27 11:38] kezhenxu94 commented on #6034
Yes. If you'd like to contribute. Feel free to open a PR

[2022-01-27 11:41] ruleeeer commented on #6034
yeah,let me try

[2022-01-28 02:46] wallezhang commented on #8482
@wu-sheng Hi, How should I know which type of plugins need to be put into optional-plugins module?

[2022-01-28 02:59] wu-sheng commented on #8482
Generally, if a plugin could impact the performance(such as collecting parameters, due to serialization costing), or generate many spans expectedly(such as Spring's bean annotation, it is unpredictable), then it is safer to be put in the optional. So, usually JDK rt.jar level instrumentation should be optional.

[2022-01-28 03:22] wallezhang commented on #8482
OK, I see. Thanks for your reply.

[2022-01-28 07:40] #8249 closed

[2022-01-28 09:22] wallezhang commented on #8482
@wu-sheng Because of `post(event)` method parameter type is `Object`, so I can't define enhanced class in the instrumentation stage. So is there any way to enhance a class or inject a virtual field to the instance dynamically?

[2022-01-28 09:24] wu-sheng commented on #8482
I am afraid not. Usually, you have to make a wrapper to host this `object` and context snapshot, and unwrap it to the original object in the event processor(or some consuming concept in `AsyncEventBus`.

[2022-01-28 15:47] johnxue2013 commented on #4262
作者，你好，我奇怪的是既然你能看得懂中文，为什么不直接解答一下问题本身，为什么要英文才可以？

[2022-01-29 06:08] heyanlong commented on #4262
Because English is for everyone

[2022-01-29 08:28] wu-sheng commented on #8433
@xu1009 Are you going to add more meter plugins for thread pools?

[2022-01-29 09:59] #8433 closed

[2022-01-29 18:55] xu1009 opened #8491 "[Feature] Support collect tomcat work thread pool metric"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

collect tomcat work thread pool metric, and send data to backend by meter api

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-01-31 13:48] tirelibirefe commented on #4837
Hello @andyhewenhui andy
How did you set up following lines?
`    trustStorePath: ${SW_SW_STORAGE_ES_SSL_JKS_PATH:"../es_keystore.jks"}`

[2022-02-02 12:29] sebbASF opened #8498 "[Bug] Broken links on download page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Nginx Lua Agent (apache/skywalking-nginx-lua)

### What happened

The download page links for the 0.6.0 lua code are broken.

Also the source for a current release MUST be served from the mirror system, i.e. it must

[2022-02-02 12:55] wu-sheng commented on #8498
Hi, I checked the links and files, the file names were not in the correct format by the release manager, and kept `latest` in the name.
I fixed them in https://dist.apache.org/repos/dist/release/skywalking/nginx-lua/0.6.0/, but https://archive.apache.org/dist/skywalking/nginx-lua/0.6.0/ is not updated.

Is there a period task running in the background? Should we wait or do something?

[2022-02-02 13:32] wu-sheng commented on #8498
This download link works now, https://www.apache.org/dyn/closer.cgi/skywalking/nginx-lua/0.6.0/skywalking-nginx-lua-0.6.0-src.tgz

[2022-02-02 13:36] sebbASF commented on #8498
Thanks, the download page is good now.

The archive may take up to a day to catch up.

[2022-02-02 13:36] #8498 closed

[2022-02-02 20:29] dcryans opened #8499 "[Python] [Bug] sw-rabbitmq TypeError when there are no headers (pre-sw messages)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

Started a rabbitmq consumer on an environment with messages already present in a queue.
These messages don't use headers

I got an error that looked like th

[2022-02-03 01:38] kezhenxu94 commented on #8499
Hi @dcryans , thanks for reporting this and sharing the details, your fix with `try-except` looks kind of overkill to me and it might be expensive .

What about adding a condition `header_frame.properties.headers is not None` before the `for` loop so that we don't need to go into the loop if there is no header, otherwise it will be throwing and catching over and over again, that's unnecessary.

If

[2022-02-03 01:45] dcryans commented on #8499
Hi @kezhenxu94,

Usually, from what I know, try/except (or catch in java) will be less expensive when everything goes well and more expensive if it goes bad

Since SkyWalking is adding headers to messages, I thought try except would be faster in most cases

Here's an example of try vs if:
https://stackoverflow.com/questions/2522005/cost-of-exception-handlers-in-python

Unless most people only inst

[2022-02-03 01:49] kezhenxu94 commented on #8499
Do you mean if the header exists the condition I suggested to add will contrarily pull down the performance but remain nearly the same with the `try-except`? If so, feel free to use `try-except` as you said the headers should exist for most cases.

[2022-02-03 14:31] dcryans commented on #8499
Hi @kezhenxu94,

So how do I get the permission to create the branch?

Thank you!

[2022-02-03 15:47] kezhenxu94 commented on #8499
You creat a fork repository under you account, create a branch and send pull request to the upstream repository, then we'll review and merge into the official repository.

[2022-02-04 19:43] chenzz opened #8500 "[Feature] Add curl tag on springmvc span, which is useful to reproduce bug and fix bug."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Add curl tag on springmvc span, which is useful to reproduce bug and fix bug.

### Use case

Image the case:

In this case, curl is very useful for developer to reproduce the bug and debug!

<img width="1775" alt="image

[2022-02-04 22:59] wu-sheng commented on #8500
URL, URI and HTTP method, evem with headers are in tags already. Tracing system has to work effectively in high traffic load, this new tag seems not worth.

[2022-02-04 23:02] wu-sheng commented on #8500
In some cases, the request could be POST, and the request body would be huge, this tag is very likely causing potential memory issue for few use cases.

[2022-02-06 09:07] wu-sheng opened #8501 "[Feature] [BanyanDB] Replication mechanism inside cluster."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

BanyanDB should support a replication mechanism for making the server more stable and optimization for queries.
This replication only happens inside the cluster, with high network quality(high speed and low latency). In

[2022-02-06 09:12] wu-sheng opened #8502 "[Feature] [BanyanDB Java Client] Implement Java Client for first BanyanDB release"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The repo has been created, https://github.com/apache/skywalking-banyandb-java-client

We should follow @hanahmily 's first BanyanDB protocols, and implement all features on top of gRPC Java.

@hanahmily please sync with

[2022-02-06 09:22] wu-sheng opened #8503 "[Feature] [BanyanDB Java Client] Support Sharding from cluster side."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In BanyanDB, we agree on supporting sharding-based cluster mode.  is not in the high priority on the server-side, because the only advantages of this are database runtime scaling, but it is too early to say so in a new

[2022-02-06 09:27] wu-sheng opened #8504 "[Feature] [BanyanDB] Cross DataCenter/Cluster Data Synchronism"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Inside one cluster, data synchronism is replication, which has been mentioned in https://github.com/apache/skywalking/issues/8501.
Here, I want to highlight we need the **Cross DataCenter/Cluster Data Synchronism** to m

[2022-02-06 09:45] wu-sheng opened #8505 "[Feature] [BanyanDB] Establish CLI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The CLI is a good first step for a BanyanDB native go client helping developers to check data. @hanahmily designed the repo of BanyanDB server(https://github.com/apache/skywalking-banyandb) as a golang monorepo, so, let

[2022-02-06 13:16] lujiajing1126 opened #8506 "[Bug] [BanyanDB] Make does not work as expected if there is a space in the PATH"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

If we have some spaces in the PATH, for example,

[code]

`make generate` will not work as expected due to the wrong segmentation,

<img width="361" alt="imag

[2022-02-06 13:49] tisonkun commented on #7757
@kezhenxu94 possibly we can just achieve this with:

[code]

thanks to SPDX license identifier is simple :)

[2022-02-06 13:50] tisonkun commented on #7757
If so, we can add a test and close this issue as provided out-of-the-box.

[2022-02-06 13:51] tisonkun commented on #7757
Also the link above is broken. It's now https://spdx.github.io/spdx-spec/using-SPDX-short-identifiers-in-source-files/.

[2022-02-07 00:08] #8491 closed

[2022-02-07 01:12] kezhenxu94 commented on #7757
In this example the spdx identifier is nothing special comparing to a plain header content though that will also satisfy your requirement. (BTW with `content` set, the `spdx-id` is simply ignored.)

[2022-02-07 01:59] tisonkun commented on #7757
@kezhenxu94 yes. What I propose here is that we don't have to implement something new to meet the original requirement. But add a test preventing regression, and when incoming users ask for verifying SPDX license identifier, tell them to do it in this way.

[2022-02-07 06:34] #8506 closed

[2022-02-07 06:49] wu-sheng opened #8507 "[Feature] [Java] OpenTracing APIs have deprecated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The OpenTracing project is deprecated. Please use [OpenTelemetry](https://opentelemetry.io/), which provides [backwards compatibility](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specificatio

[2022-02-07 08:15] chenzz commented on #8500
You are right, seems I should change the code of skywalking UI, rather than skywakking agent..

Show the curl command base the old tag, right?

[2022-02-07 08:21] wu-sheng commented on #8500
UI optimization is fine, but you should notice this of Rockbot UI

So, we are establishing the booster UI in a new repo, https://github.com/apache/skywalking-booster-ui. This is not done yet. I would like to recommend you submitting a pull request after this UI is ready.

[2022-02-07 08:21] wu-sheng commented on #8500
Closing this.

[2022-02-07 08:21] #8500 closed

[2022-02-07 08:31] chenzz commented on #8500
Got it.

Do you know, What is the booster UI release plan?

[2022-02-07 08:32] wu-sheng commented on #8500
@Fine0830 is the PMC member initializing it. Our plan is around March, 99% of the backend is ready for it.

[2022-02-08 02:14] #8499 closed

[2022-02-08 02:23] kezhenxu94 commented on #7757
That sounds good to me.

[2022-02-08 02:52] wu-sheng commented on #7757
So, we should close this?

[2022-02-08 02:59] kezhenxu94 commented on #7757
If @tisonkun is willing to add the test for regression we can keep on track in this issue otherwise let's close this

[2022-02-08 03:05] tisonkun commented on #7757
Let me give it a try in this week :)

[2022-02-08 15:44] dcryans opened #8511 "[python] [Feature] Add flexibility to 'peer' and 'op' label when using sw_rabbitkq and sw_requests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I would like to add options on how to name 'op' and 'peer' when using some of the plugins.

I have already written some code to address this feature and would like to make them part of the product for anyone to use.

De

[2022-02-08 15:52] wu-sheng commented on #8511
I am transferring this to the discussion, the `feature` request is about a solid solution.

[2022-02-09 01:04] hanahmily commented on #8503
The liaison module is designed as the gateway of the banyandb server. It has the capacities of traffic routing, service discovering, and sharding. Banyandb's modules have a chance to run as a standalone process. To liaison's case, we have start-up a process where this module is only loaded. The idea likes the ingest node of Elasticsearch.

We could add the sharding feature to the liaison as our or

[2022-02-09 01:10] hanahmily commented on #8502
@lujiajing1126 Pls submit the java client issues found in the stream module integration.

[2022-02-09 01:25] hanahmily commented on #8501
The latency is unstable even in high network quality. The [fallacies](https://en.wikipedia.org/wiki/Fallacies_of_distributed_computing) of distributed computing told us the network is always unreliable. So we should assume the latency will/must be inevitable. The replication of banyandb should introduce the consistency model to handle the latency, bandwidth, and other network issues.

Cassandra fi

[2022-02-09 01:29] wu-sheng commented on #8503
Yes, we will do the traffic routine in the Liaison. What I proposed here is a temporary solution. I don't push too hard on the cluster direction, as clearly, replication and data sync mechanism are more important.
This is a minimal step in the project establishment.

[2022-02-09 01:35] lujiajing1126 opened #8513 "[Feature] [BanyanDB] Support OR logical operator for query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, all query conditions specified in the query criteria are implicitly combined with `AND`.

### Use case

We need `OR` semantics in the condition for the following scenarios,

1. Topology query
2. Event query:

[2022-02-09 01:40] wu-sheng commented on #8513
@lujiajing1126 You are a committer now, please pick the suitable labels and milestone for the issue(s).

[2022-02-09 01:54] lujiajing1126 commented on #8513
Got it

[2022-02-09 02:03] #8258 closed

[2022-02-09 02:44] lujiajing1126 opened #8514 "[Bug] TimeRange in the query is out of range"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

For the well-known [`timestamp`](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#timestamp) type from protobuf,

However, in the

[2022-02-09 03:36] wu-sheng commented on #8514
`int64` should represent the millisecond. If protocol is expecting nanoseconds, how about we use timestamp rather than int64?

[2022-02-09 03:37] lujiajing1126 opened #8515 "[Bug] inverted index for integer type does not work as expected"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

While composing schemas for stream entities, we normally serialize bool to int (e.g. with the help of `BooleanUtils` in the OAP module). For example, the `dis

[2022-02-09 06:14] lujiajing1126 opened #8522 "[Enhancement] Align protoc version with protobuf-java version"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In #8405, grpc and protobuf versions have been upgraded to avoid a CVE issue.

Then I suppose the corresponding `protoc` should also be upgraded to avoid potential conflicts.

### Use case

_No response_

### Related is

[2022-02-09 06:27] wu-sheng commented on #8522
Thanks for fixing this.

[2022-02-09 06:37] kezhenxu94 commented on #8522
Looks like you link to a wrong issue

[2022-02-09 06:39] lujiajing1126 commented on #8522
Thanks! It should be 8405 instead of 8450.

[2022-02-09 06:44] lujiajing1126 commented on #8522
Also I noticed the mac-M1 compilation FAQ
https://github.com/apache/skywalking/blob/master/docs/en/FAQ/How-to-build-with-mac-m1.md

Shall we update this FAQ since the Apple Silicon support has already been added from `protobuf` 3.17.3.

[2022-02-09 06:46] wu-sheng commented on #8522
Noticed, personally, I want to keep. Because we can't upgrade for earlier releases, which is still not working in M1. But the `search` on the right top of website is only working for the latest doc. I and @Jtrust are knowing this issue for months, but we are still too busy to find a solution.

[2022-02-09 07:13] #8522 closed

[2022-02-09 10:28] honganan opened #8525 "[Bug] Incorrect trace from dubbo 3.x plugin in more complex scenario due to the incorrect Side judgement(consumer or provider)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I think I have found a bug of the dubbo 3.x plugin due to incorrect using of `RpcContext`, and the test scenario we have now is too simple to find it:

If there

[2022-02-09 10:42] honganan commented on #8525
#7203

[2022-02-09 11:37] mage520 opened #8526 "[Feature] [Nodejs] Surport prisma ORM"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

[skywalking-nodejs](https://github.com/apache/skywalking-nodejs)/[src](https://github.com/apache/skywalking-nodejs/tree/master/src)/plugins/

add prisma plugin

### Related issues

_No respo

[2022-02-09 11:43] wu-sheng commented on #8526
As you don't check the will contribute, this would be a discussion only.
Plugins are various and countless, we wouldn't track this as an feature requirement  as this would overload the issue tracker.

[2022-02-10 00:23] wu-sheng commented on #8525
@honganan Besides submitting a pull request to fix this, I am feeling you should submit this bug to Dubbo too. Because the wrong metadata in RpcServiceContext is definitely unexpected.

[2022-02-10 01:39] honganan commented on #8525
I will fix it these two days as the test scenario need to be improved, and Perhaps it can't be saying as a bug for Dubbo, it's just a RPC framework and normally users just do nothing with `Context` when call another service. We should attention this but.

[2022-02-10 01:47] honganan commented on #8525
I am not very familiar with Dubbo 3.0, and it separates `RpcContext` to several Classes. May be after I will learn more about it and report the issue if needed.

[2022-02-10 01:47] wu-sheng commented on #8525
[code]

Which condition leads to the failure of the `isConsumer` value? RPC context should be isolated. Let me ask to Dubbo community.

[2022-02-10 01:54] honganan commented on #8525
The else branch:
[code]
at this time the `serviceContext` is still the provider side's, it seems understandable as the provider is not finished yet.

[2022-02-10 01:56] wu-sheng commented on #8525
Let me ask, this seems a bug from my understanding.

[2022-02-10 02:04] honganan commented on #8525
I see it, Let's see how did they designed the Contexts.

[2022-02-10 02:36] shankeerthan-kasilingam commented on #7420
Hi @wu-sheng,
If it's still open, Can I give it a try?

[2022-02-10 02:37] wu-sheng commented on #7420
Yes, this is still open. Welcome to contribute.

[2022-02-10 03:12] JohnNiang opened #8529 "[Bug] The License header license-eyes fixed breaks linter rule: EXC0013 revive"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

License Tools (apache/skywalking-eyes)

### What happened

When I fixed License header using `license-eyes -c .licenserc.yaml header fix`, but I got some lint issues as below when I checked code style using `golangci

[2022-02-10 03:14] wu-sheng commented on #8529
Assigned to you, welcome the fix.

[2022-02-10 03:15] sam6255 opened #8530 "[Feature] Support config armeria responseTimeout"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

skywalking version. 8.9.1
elasticsearch7
now when i track the request, sw server always response ResponseTimeoutException
![image](https://user-images.githubusercontent.com/7156850/153329992-d1136e78-5ff5-4fea-8b11-bead

[2022-02-10 03:24] wu-sheng commented on #8530
@kezhenxu94 What is the timeout threshold value for now?

[2022-02-10 04:05] kezhenxu94 commented on #8530
The default response timeout is 15s

[2022-02-10 04:16] wu-sheng commented on #8530
It seems reasonable to expose this setting. After all, we had this before.

[2022-02-10 05:17] sam6255 commented on #8530
bro. i found it can be set by using -Dcom.linecorp.armeria.defaultResponseTimeoutMillis=15000 at startup.

[2022-02-10 05:19] wu-sheng commented on #8530
Thanks for sharing. We prefer system environment variable to control, in order to be more cloud native

[2022-02-10 05:51] kezhenxu94 commented on #8530
All Armeria/Netty options can be set in this way, but that requires users to be aware of the implementation and that's not portable because the implementation in SkyWalking is subject to change, example: we used ElasticSearch official client (that use HttpClient) and migrate to Armeria now.

[2022-02-10 06:24] sam6255 commented on #8530
wow. got it.

[2022-02-10 06:37] adaivskenan opened #8532 "[Bug] No default constructor found. #622 Not fully resolved"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

No default constructor found Exception occurs When a class has only one private constructor with parameters. I have checked the [No default constructor found. #

[2022-02-10 06:43] wu-sheng commented on #8532
What do you propose? I am sorry, I read your description, and can't follow the case. The issue was from old history(3.2.x), I think we have a conflict patch plugin for that case already. But what is your case?

[2022-02-10 06:46] #8530 closed

[2022-02-10 08:15] adaivskenan commented on #8532
skywalking java agent : v8.7.0
springboot version: 2.4.6
When I use skywalking java agent, my project start failed.  I found that when a controller has only one private constructor with parameters, the problem can be reproduced. I think the reason is agent ignored the constructor without distinguish whether the constructor is custom or by interceptor fill out. [AutowiredAnnotationProcessorIntercep

[2022-02-10 08:28] wu-sheng commented on #8532
OK, this is rare to see in practice. But I am not sure what is a good way to check whether this private constructor is yours or not. Do you have any suggestions? Maybe check the type of constructor's parameter?

[2022-02-10 09:16] adaivskenan commented on #8532
Currently, I have informed my colleague not to write controller like this. I am not familiar with the mechanism of `AutowiredAnnotationProcessorInterceptor`, and I think the way the constructor parameters are checked is tricky, but i don not have a better way yet.

[2022-02-10 12:24] #8482 closed

[2022-02-11 07:34] wallezhang commented on #8532
@adaivskenan I think the problem is that Spring didn't recognize this private constructor. Maybe you can try to upgrade your spring boot to 2.5.x. `AutowiredAnnotationProcessorInterceptor` will give priority to constructors recognized by Spring. Only when Spring does not recognize the constructor, `AutowiredAnnotationProcessorInterceptor` will analyze the constructor of the current class and ignor

[2022-02-11 10:55] wu-sheng commented on #8525
This should be processed in handling exception method only.

[2022-02-12 10:18] sunOnly opened #8541 "[Feature] UI add Top-N metric click query entity info"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

UI add Top-N metric click query entity info

### Use case
![image](https://user-images.githubusercontent.com/22111568/153707388-5e80c90a-76a8-435d-bc40-656c3966990c.png)

### Related issues
https://github.com/apache/sky

[2022-02-12 11:05] wu-sheng commented on #8541
A new UI is replacing the rocketbot UI

[2022-02-12 11:07] #8541 closed

[2022-02-14 02:09] #8376 closed

[2022-02-14 07:15] wu-sheng commented on #7682
@Superskyyy Could you try to finish this? I hope we could move forward 1.0 soon.

[2022-02-14 07:16] wu-sheng commented on #7708
Could you try to finish this? I hope we could move forward 1.0 soon. @Superskyyy

[2022-02-14 07:53] wu-sheng commented on #8529
@JohnNiang Are you going to submit a pull request?

[2022-02-14 10:02] #7757 closed

[2022-02-16 08:23] adaivskenan commented on #8532
@wallezhang The problem still exists after upgrading the SpringBoot version, Thank you for explaining the mechanism of AutowiredAnnotationProcessorInterceptor. If no agent is used, Spring can identify the constructor, and the condition is `rawCandidates.length == 1 && rawCandidates[0].getParameterCount() > 0`. If the agent is used, the rawCandidates will become 2 (including the one created by skyw

[2022-02-16 08:28] wu-sheng commented on #8532
@adaivskenan Could you send a pull request to share which way you chose to skip the agent-created constructor? If it is widely suitable, I am good to have that in the upstream.

[2022-02-16 09:29] berylshow commented on #8507
@wu-sheng  Hello, will skywalking implement opentelemetry API in the future?

[2022-02-16 09:32] wu-sheng commented on #8507
It depends on how the community react. I don't know. I could only say, most likely I wouldn't do that.

[2022-02-16 10:09] #8532 closed

[2022-02-16 20:05] Superskyyy commented on #7682
@wu-sheng I would try my best to proceed soon, so that hopefully we could go to 1.0.0 in early March. Sorry for the delays, I had to focus on my graduate research on service mesh recently.

[2022-02-16 22:08] wu-sheng commented on #7682
Service Mesh is good to learn :)

[2022-02-17 01:51] GOODBOY008 opened #8551 "[Feature] Migration skywalking from Junit4 to Junit5"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The main motivations are:
- Making full use of Java 8 Lambdas for writing easier to read tests and a
better performing way of composing failure messages.
- Improved test structures with nested and dynamic tests.
- Much

[2022-02-17 01:53] wu-sheng commented on #8551
If you want to do this, I am fine. But notice, there are several Java repositories, backend and agent are major.

[2022-02-17 01:55] wu-sheng commented on #8551
But the work will be huge, and this wouldn't be easy to review.

[2022-02-17 02:15] lujiajing1126 commented on #8551
As I understand, if we are using `powermock`, migrating to `Junit5` may not be possible due to the upstream issue https://github.com/powermock/powermock/issues/929.

[2022-02-17 03:04] katelei6 opened #8552 "[Feature] skywalking-python add mysqlclient and fastapi，when can we git from the pipy？"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

when can we git from the pipy contain the new plugin mysqlclient and fastapi?

### Use case

when can we git from the pipy contain the new plugin mysqlclient and fastapi?

### Related issues

when can we git from the pi

[2022-02-17 03:06] wu-sheng opened #8554 "[Feature] Adjust K8s monitoring entity structure."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

By leveraging the latest layer concept, the k8s monitoring structure should be updated too. FYI @mrproliu

Currently, the service is the cluster, the k8s node is the instance, and the endpoint is the endpoint. As `group

[2022-02-17 03:55] wu-sheng commented on #8551
@lujiajing1126 Thank you for updating. And yes, powermock is common in our UTs. I am moving this to discussion for now.

[2022-02-17 06:31] llIlll commented on #8305
Will this have compatibility issues? it will be better to have both?

[2022-02-17 07:10] wu-sheng commented on #8305
@llIlll I think this issue has no update for months. I have nothing to comment.

[2022-02-17 07:10] #8305 closed

[2022-02-17 10:04] toffentoffen commented on #8133
I would like to work on this issue @wu-sheng

[2022-02-17 10:06] wu-sheng commented on #8133
Thanks, Marc. Assigned to you. Good luck.

[2022-02-19 08:39] creeew opened #8561 "[Bug] SkyWalking Java agent plugin InstanceMethodsInterceptPoint method match failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I following the doc to build my SkyWalking plugin in Java agent, unfortunately there are some ElementMatchers match way cannot work correctly.
In InstanceMethod

[2022-02-19 12:30] wu-sheng commented on #7572
@Superskyyy Is this PR ready to go? Or we should find someone else to cover this?

[2022-02-21 02:32] tangjiaxing669 opened #8565 "[Bug] Watch connection expired: too old resource version"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Helm Chart (apache/skywalking-kubernetes)

### What happened

Kubernetes Version:
[code]

The helm chat reference is installed [here](https://github.com/apache/skywalking-kubernetes). The follow is values.yaml file:

[2022-02-21 03:03] kezhenxu94 commented on #8565
@tangjiaxing669 hi, can you check what is the OAP version? We have fixed this already.

[2022-02-21 03:05] wu-sheng commented on #8565
He is using 8.8.1.

[2022-02-21 03:07] kezhenxu94 commented on #8565
Then please upgrade to 8.9.0. We fix this in https://github.com/apache/skywalking/pull/8122

[2022-02-21 03:08] tangjiaxing669 commented on #8565
@kezhenxu94
OAP is  8.8.1
UI is 8.8.1
ES is 6.8.6

[2022-02-21 03:09] kezhenxu94 commented on #8565
Then please upgrade to 8.9.0. We fix this in https://github.com/apache/skywalking/pull/8122

[2022-02-21 03:09] #8565 closed

[2022-02-21 03:09] tangjiaxing669 commented on #8565
@kezhenxu94

I will try, thanks

[2022-02-21 03:09] wu-sheng commented on #8565
8.9.1 is there.

[2022-02-21 03:10] tangjiaxing669 commented on #8565
thanks

[2022-02-21 12:29] arcosx opened #8566 "[Bug] skywalking-python not work with uwsgi + flask in master workers mode and threads mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

I can't use skywalking under uwsgi and flask in master workers mode and threads mode.
I have try solution in https://github.com/apache/skywalking/issues/526

[2022-02-21 13:38] #6034 closed

[2022-02-21 13:53] wu-sheng commented on #6034
Is this done?

[2022-02-21 13:55] wu-sheng commented on #6034
This one, https://github.com/apache/skywalking-nodejs/pull/66?

[2022-02-21 17:50] Superskyyy commented on #8566
Hello, this issue seems still deeply related to the two previous issues that you linked, I appreciate it if you could allow some time for further investigation. And thanks for the detailed case trial.  @arcosx

[2022-02-22 02:10] lujiajing1126 opened #8567 "[Feature] [E2E-INFRA] Make skywalking-infra-e2e work with docker-compose V2"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the current `skywalking-e2e-infra` implementation, the logic of building container name is hard-coded with `_` as the separator. While using with `docker-compose` v2, it is incompatible,

<img width="1435" alt="image

[2022-02-22 02:16] wu-sheng commented on #8567
@kezhenxu94 Please take a look and confirm the way it will change.

[2022-02-22 02:22] kezhenxu94 commented on #8567
this sounds good to me.

[2022-02-22 06:12] arcosx commented on #8566
OK, waiting for good news😁. If there is something I need to cooperate with you can reply.

[2022-02-22 08:47] wu-sheng commented on #8567
@lujiajing1126 Notice, you are using a wrong prefix of issue name, this should be `[E2E-INFRA]`, not `CLI`.

[2022-02-22 08:52] lujiajing1126 commented on #8567
Thanks for pointing out. Fixed.

[2022-02-22 09:05] #8567 closed

[2022-02-22 09:28] katelei6 opened #8568 "[Bug] Skywalking-python not get the metric by Django+uwsgi"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

when I use run manager.py， the ui can get the metric.
when I use uwsgi to run it, the ui can not get the endpoint.
<img width="1607" alt="image" src="https:

[2022-02-22 09:44] chenzz opened #8570 "[Feature] Make Kafka consumer's traceId same as provider's traceId"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently,
kafka consumer generate a new traceId, which differs from provider traceId, and is inconvenient when trace problem.

Hope,
Make Kafka consumer's traceId same as provider's traceId

### Use case

Make Kafka co

[2022-02-22 10:15] DiscoverCZY commented on #5906
use the FunctionWrapper which under the apm-toolkit-trace lib, it looks like can fix the asynchronous callback missing the trace id problem.

[2022-02-22 11:04] WuChang-GitHub opened #8572 "[Bug][LAL] Percentage strategy should be added, `Math.random`(Math.*) is not allowed to be called in LAL script."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I  want to  control the logs sampling rate ,so i use LAL to filter my logs.then i read this [document](https://github.com/apache/skywalking/blob/1b8dbd3fb3645e91708a

[2022-02-22 11:57] wu-sheng commented on #8572
@kezhenxu94 I noticed 2 issues here.
1. It seems random is not supported. Is this a doc error or code bug?
2. NextRandom should have performance issue AFAIK. Current thread random should be better.
3. With security concern, I think we should set native Util APIs to bridge all supported methods, if (1) is limited to call Java method directly(Not sure).

[2022-02-22 12:20] kezhenxu94 commented on #8572
I'd say this is by design, we never allow users to call arbitrary Java methods in LAL.

For this specific case, I'd rather provide a dedicated sampler (for example called `percentage`), letting users to call `Math.*` methods is easy but in LAL I don't see there are many other applicable cases, and I'm concerned users might overuse them (performance issues).

What do you think @WuChang-GitHub @wu-s

[2022-02-22 12:24] wu-sheng commented on #8572
My question is about, should be allowed or not? Because from the error stack, this is not allowed.

[2022-02-22 12:28] kezhenxu94 commented on #8572
As I said, this is by design, we never allow users to call arbitrary Java methods in LAL

[2022-02-22 12:29] kezhenxu94 commented on #8572
Technically we can do that though.

[2022-02-22 12:30] wu-sheng commented on #8572
Then I think this is a doc issue, we documented this officially. We should fix this one way or another. https://skywalking.apache.org/docs/main/latest/en/concepts-and-designs/lal/#enforcer

We don't need to expose this to the user. `percentage` strategy is reasonable.

[2022-02-22 12:48] kezhenxu94 commented on #8572
OK, I didn't modify this accordingly when enforcing the security of LAL (via compiling the LAL to static byte code), will fix this soon

[2022-02-22 12:49] kezhenxu94 commented on #8572
@WuChang-GitHub this is a documentation error, see 👆, I'll fix this

[2022-02-22 13:04] wu-sheng commented on #8572
Once this is a document error, let's fix this first. Then provide a way to provide a percentage sampling function without breaking the security.

[2022-02-23 02:21] WuChang-GitHub commented on #8572
Thank you very much.If i still want to sample logs,are there some way to implement.Or I need to wait until the next version is updated?

[2022-02-23 02:37] wu-sheng commented on #8572
Right now, you only have `rpm` option. https://skywalking.apache.org/docs/main/v8.9.1/en/concepts-and-designs/lal/#sampler.

[2022-02-23 02:55] WuChang-GitHub commented on #8572
I see. Thank you very much for your patience. Now I'm going to use ```rpm``` option.

[2022-02-23 03:31] katelei6 opened #8581 "[Bug] skywalking-python mysqlclent db not in param when use django"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

when i use django and mysqlclient , import skywalking, the error is
File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/skyw

[2022-02-23 09:16] #8581 closed

[2022-02-23 10:22] lujiajing1126 opened #8582 "[Feature] Publish e2e-service provider and consumer to GitHub container registry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Publish provider and consumer images (https://github.com/apache/skywalking/tree/master/test/e2e-v2/java-test-service) to support banyandb E2E which we discuss in PR https://github.com/apache/skywalking-banyandb/pull/81

[2022-02-24 08:00] arcosx commented on #8566
Hi @kezhenxu94 @Superskyyy , after some research, I don't think skywalking-python has any problem, it's uWSGI that needs special treatment, this solution below can solve my problem, including issues https://github.com/apache/skywalking/issues/6324.
[code]

From [uWSGI doc](https://uwsgi-docs.readthedocs.io/en/latest/PythonDecorators.html#uwsgidecorators.postfork) we can know

Do you have a better

[2022-02-24 08:21] Superskyyy commented on #8566
@arcosx Hello, great to see you found a solution, would you mind opening a PR to document this? I believe it is valuable since both packages are widely used, and from our observation, the issue occurs rather frequently. Probably this should go to the FAQ folder, with a doc name of your choice. https://github.com/apache/skywalking-python/tree/master/docs/en/setup/faq

[2022-02-24 08:33] kezhenxu94 commented on #8566
@arcosx thanks for the sharing, I'll modify the label to `documentation` if you'd like to open a PR to add that into our doc.

[2022-02-24 08:38] arcosx commented on #8566
I think adding to the FAQ is a good way 😃 and I will submit a PR.

[2022-02-24 08:40] wu-sheng commented on #8566
Notice, if FAQ menu doesn't exist, you need to update menu yaml file to make this available on the website.

[2022-02-24 08:56] LTonJin opened #8588 "[Bug] at the same time to call ClientMonitor.register() and ClientMonitor. setPerformance() cannot get window.performance data."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

[code]

### What you expected to happen

[skywalking-client-js](https://github.com/apache/skywalking-client-js)/[src](https://github.com/apac

[2022-02-24 08:57] wu-sheng commented on #8588
Are you going to submit a PR? As you `clicked YES`, I will assign this to you directly.

[2022-02-24 10:08] berylshow commented on #8244
@wu-sheng  hello，Please, What version of trace is planned to be added in the opentelemetry-collector-contrib exporter?
I see ,At present, only logs and metrics are supported. Thanks~
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/skywalkingexporter

[2022-02-24 10:09] ethan256 opened #8589 "[Bug] when trigger equal times, it do not stop"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Infra E2E (apache/skywalking-infra-e2e)

### What happened

When the trigger reaches the specified number of times, it does not stop

### What you expected to happen

it is should stop current goroutine.
[docs](https

[2022-02-24 10:15] kezhenxu94 commented on #8589
Hi @ethan256 , thanks for raising this, actually, this is by design and the doc is kind of outdated,

[code]

this should be: "how many times to trigger the action before aborting if the trigger failed, or continue if the trigger succeeded"

[2022-02-24 10:15] kezhenxu94 commented on #8589
@ethan256 would you like to open a pull request to fix the doc?

[2022-02-24 10:22] berylshow commented on #8244
@wu-sheng hello，Please, What is the version of the opentelemetry-collector-contrib exporter that you plan to add a trace to?
I see that logging and metrics are currently supported. Has trace been supported? Thank you~
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/skywalkingexporter

[2022-02-24 10:33] ethan256 commented on #8589
1. when trime is bigger, the err chan not return first error.
2. when interval equal execute timeout, time.NewTicker maybe exec again

[2022-02-24 10:39] wu-sheng commented on #8244
No, we don't have plan as there is tech block, which is why we can't transfer Zipkin span to SkyWalking full functional tracing. APM level tracing with analysis is different from what OpenTelemetry defined.

[2022-02-24 10:43] ethan256 commented on #8589
when times is bigger, the err chan not return first error.
when interval equal execute timeout, time.NewTicker maybe exec again

[2022-02-24 10:52] kezhenxu94 commented on #8589
`err chan` should return the last one, why do you want to return the first one error? For example, if the target service is not ready, trigger request may return error `connection refused`, and after some retries, the service is ready but you are request a non-existing path `/api/non-existing`, why would you expect to get the first error (`connection refused`) instead of the last one (`404 Not Fou

[2022-02-24 10:56] ethan256 commented on #8589
[`h.times == h.executedCount` makes sure to only send the first error](https://github.com/apache/skywalking-infra-e2e/blob/main/internal/components/trigger/http.go#L82)

[2022-02-24 11:59] berylshow commented on #8244
Ok, get it, Thanks

[2022-02-25 04:09] #8525 closed

[2022-02-25 05:18] wu-sheng commented on #8588
https://github.com/apache/skywalking-client-js/pull/77 is rejected.

[2022-02-25 05:33] #8588 closed

[2022-02-25 07:22] holtenko commented on #5910
I think what you want to know is how can Redis be shown in the Dashboard.

[2022-02-25 07:33] qiyue0421 opened #8593 "[Bug] Abnormal problems in the use of apm-trace-ignore-plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Currently, skywalking version is 8.9.0 and skywalking Java agent version is 8.8.0

I want to filter the endpoint `POST: / checktoken` on the agent side

How to

[2022-02-25 07:36] wu-sheng commented on #8593
Try this in agent 8.9.0. https://github.com/apache/skywalking-java/pull/81

And if you want to report a bug, it is better to locate why the match fails, we can't have your applications.

[2022-02-25 07:36] #8593 closed

[2022-02-25 08:05] qiyue0421 commented on #8593
![image](https://user-images.githubusercontent.com/33716216/155678333-70c78d79-5860-403c-ab14-70fe8e0f1371.png)

[2022-02-25 12:44] #8572 closed

[2022-02-25 14:17] #8582 closed

[2022-02-26 12:31] #8589 closed

[2022-02-27 12:45] wu-sheng commented on #8318
No update in months.

[2022-02-27 12:45] #8318 closed

[2022-02-28 05:57] dbses commented on #5561
Where is the documentation and how to resolve it?

[2022-02-28 08:12] katelei6 opened #8602 "[issue] SW_TRACE_IGNORE_PATH not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

SW_TRACE_IGNORE_PATH not work

### Use case

export SW_AGENT_INSTANCE=11.67.108.15
export SW_TRACE_IGNORE_PATH=/nacos/v1/ns/instance/beat,/actuator/prometheus

I  set the param in env, but the ui has the endpoint too.

[2022-02-28 08:14] wu-sheng commented on #8602
Which language agent are you asking about?

[2022-02-28 08:15] wu-sheng commented on #8602
If this is a bug, please use `bug` template to report.

[2022-02-28 08:22] kehuili opened #8603 "[Feature] python gRPC plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

I have implemented a gRPC plugin for python, and interceptors([client-side](https://grpc.github.io/grpc/python/grpc.html#client-side-interceptor) and [server-side](https://grpc.github.io/grpc/python/grpc.html#service-si

[2022-02-28 08:27] wu-sheng commented on #8603
This is general guidance, not a strict rule.

Usually, it is also common to intercept or implement filters to get the same purpose. The key point is, your plugin should be auto instrumentation, don't need to change the target service's source codes.

[2022-02-28 08:33] kezhenxu94 commented on #8603
If I understand correctly, you mean you have interceptors that users can use in there code, but SkyWalking Python agent aims to do the interception automatically, so I think what you need is to find out a proper point and insert your interceptors (automatically) into the process chain

[2022-02-28 08:34] kezhenxu94 commented on #8603
@kehuili you can see the same method in our Java agent, we have [interceptor](https://github.com/apache/skywalking-java/blob/main/apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/server/ServerInterceptor.java) and [a point](https://github.com/apache/skywalking-java/blob/74b130c8271a692a217e629f4126c1043b0204e3/apm-sniffer/apm-sdk-plugin/grpc-1.x-plu

[2022-02-28 08:36] katelei6 opened #8604 "[Bug] SW_TRACE_IGNORE_PATH not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

export SW_AGENT_INSTANCE=11.67.108.15
export SW_TRACE_IGNORE_PATH=/nacos/v1/ns/instance/beat,/actuator/prometheus
the config not work

### What you expected

[2022-02-28 08:37] wu-sheng commented on #8604
Assigned to you.

[2022-02-28 08:39] katelei6 opened #8605 "[Bug] fastapi plugin can not show the 404 as error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

when i request the wrong url, the ui show green, and not show this is an error.
![Uploading image.png…]()

### What you expected to happen

the other plugin

[2022-02-28 08:41] kehuili commented on #8603
Got it. Gonna find a proper way to implement it.

[2022-02-28 08:42] wu-sheng commented on #8603
If this is not ready yet, should we move this to the discussion channel?

[2022-02-28 08:47] kehuili commented on #8603
Sure.

[2022-02-28 08:48] #8605 closed

[2022-02-28 08:48] kezhenxu94 commented on #8604
@katelei6 are you sure this is Python agent? from the 2 paths they looks like Java stack, at least `/actuator/prometheus` looks like Spring Actuator endpoint:

[2022-02-28 11:42] mustangxu opened #8608 "[Bug] Length of column events.parameters is too small to hold "Start Java Application" event with long JAVA_OPTS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

When start a Java application with skywalking javaagent, events are failed to insert into table 'events' because the length of column 'parameters' is 1024 only.
e.g.

[2022-02-28 11:46] wu-sheng commented on #8608
I think we at least should support (2) and what is your expected length?

This should be easy to fix, do you want to submit a fix?

[2022-03-01 03:46] wutingjia commented on #7420
Hi @wu-sheng , I’m a bit hard to understand doc [https://github.com/apache/skywalking-java/blob/main/docs/en/setup/service-agent/java-agent/Plugin-test.md] when  I want to create test. It has not obvious step what should I do.

step0 Environment Requirements
step1 `bash ${SKYWALKING_HOME}/test/plugin/generator.sh`
step2 Adjust the code like  **tomcat-thread-pool-scenario** ？（l can not find tests l

[2022-03-01 04:06] wu-sheng commented on #7420
First of all, this task could run locally. Adding to GHA is easy like this https://github.com/apache/skywalking-java/blob/main/.github/workflows/plugins-test.1.yaml or other plugins-test YMALs.

[2022-03-01 04:08] wu-sheng commented on #7420
This is plugin test dev doc, https://skywalking.apache.org/docs/skywalking-java/v8.9.0/en/setup/service-agent/java-agent/plugin-test/

[2022-03-01 04:29] wutingjia commented on #7420
yeah I have seen this doc. So I raised the above question. Your answer teach me how to do `step4 upload to GitHub Actions Job` but still not solve my main confuse . The specific steps of test what I mentioned above is right or omit something? That doc emphasis on how to config parameters in tests, but have not a clear flow. So it may difficult for beginners to understand（like me）

[2022-03-01 04:35] wu-sheng commented on #7420
I am not sure about other questions. Are you facing issues about step 3(local run)? It could be easier to help you.

[2022-03-01 04:54] wutingjia commented on #7420
ok I'll look into it myself and get back to you if I have any questions

[2022-03-01 05:13] wu-sheng commented on #7420
Sure, just follow the steps of that doc, and make sure tests pass locally. The GHA is simple.

[2022-03-01 06:58] mustangxu commented on #8608
I am glad to submit a fix. Some details need to discuss like you mentioned:
1. Is it proper to truncate the information (or is it necessary to store the whole parameter string)? I find the parameters will be displayed like the screenshot
2. Whether a long-enough column type like 'TEXT' affects the performance, not only in database, other storage types like ES as well

<img width="593" alt="screens

[2022-03-01 07:19] wutingjia commented on #7420
when run an existing feign-scenario test with `bash ./test/plugin/run.sh -f ${scenario_name}` the docker log likes following：

[2022-03-01 07:12:32:057] [ERROR] - org.apache.skywalking.plugin.test.agent.tool.Main.verify(Main.java:53) -
assert failed.
SegmentItemNotFoundException
expected: feign-scenario
actual: Not Found

What preparations have I missed ？

[2022-03-01 07:27] wu-sheng commented on #8608
(1) We should try our best to show all, this would not be queried, right? Just log them for further visualization.
(2) Using TEXT with `storageOnly = true` should not impact the performance. If you just need to read them, but not use it as a query condition, which I think it is your case here.

[2022-03-01 07:29] wu-sheng commented on #7420
This error means no `segment` reported, all cases could pass on Linux or Intel Mac.(At least my M1 mac can't run this for now)

[2022-03-01 08:05] wutingjia commented on #7420
I use Intel Mac and try another existing test，but result is the same. Does anyone know why ?

<details>
<summary>detail log</summary>

To start mock collector
http://localhost:12800/receiveData: HTTP/1.1 200
Mar 01, 2022 7:56:18 AM org.apache.skywalking.testcase.httpclient5.Httpclient5Application logStarting
INFO: Starting Httpclient5Application on 1d14d6e43c9e with PID 54 (/run/httpclient-5.x-sce

[2022-03-01 08:16] wu-sheng commented on #7420
I just run ` bash ./test/plugin/run.sh -f feign-scenario` on Linux(Intel) ubuntu 20, it passed without any issue. And I could pass tests in 2021 on Mac when I had an Intel-based MacOS.

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/5441976/156131000-bdeb1471-f650-4734-8405-2d8e084354a2.png">

[2022-03-03 07:00] ward0907 commented on #5307
This is not a Skywalking issue, it's a business process issue

[2022-03-03 10:05] wutingjia commented on #7420
I  use tomcat like this:
[code]
beacuse I can not find tomcat trace test only can find meter test，so I reference the jetty plugin trace test.
Also I see in the webflux plugin test there is the param `withPlugins` in the configuration.yaml. I guess I can use this param to choose specify version plugin ？

[2022-03-03 10:22] katelei6 commented on #8604
I see the ignore path is write to env, but it not work! @kezhenxu94

[2022-03-03 11:14] wutingjia commented on #7420
Sorry, I can't understand  1 very well 😭，could you  give me more detailed information? Do you mean I should use spring as a server framework（replace the embedded tomcat version）to test instead of tomcat only ？

For 3 I've already done that. But what I really mean is if there are two plugins(like tomcat78、tomcat10),they enhance the same method，how test framework know which plugin should be choose ?

[2022-03-03 11:18] wu-sheng commented on #7420
If you can't follow (1), ignore it. That is just an option.

(3) It is not determined by test framework. You could check witness class and witness method for plugin instrumentation definition. The plugin [dev doc](https://skywalking.apache.org/docs/skywalking-java/v8.9.0/en/setup/service-agent/java-agent/java-plugin-development-guide/#implement-plugin) includes this, step 4.

[2022-03-03 11:30] wutingjia commented on #7420
ok，for 3 I got it.

for 1 do you mean that beacuse of tomcat-container uses tomcat:8.5-jdk8-openjdk, tomcat:8.5-jdk14-openjdk or tomcat:8.5-jdk17-openjdk image ，not include tomcat 10.x，and this week tomcat 10.x image is planned to be added,
so I should use jvm container image? That's what I did if that's what you meant.

so In fact I used jvm-container  and tomcat only（without spring）to build serv

[2022-03-03 11:47] wu-sheng commented on #7420
Yes, that is my (1) means. That could be added later.

Tomcat in dependency and Tomcat as container likr (1) have different class loader path. That is why we provide 2 ways for you. Once @dmsolr added, you could have 2 plugin test cases. Before that, follow your current way.

[2022-03-04 06:07] wu-sheng opened #8618 "[Feature] Support large service list query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In some large-scale deployments, the number of services could be over 10k, which could cause `[type=illegal_argument_exception, reason=Result window is too large, from + size must be less than or equal to: [10000] but w

[2022-03-04 08:59] wutingjia commented on #7420
Is there any way that starting tomcat with java agent in IDEA (no VM options)so that I can breakpoint debugger like springboot service ?

[2022-03-04 09:03] wu-sheng commented on #7420
Do you want to debug the agent plugin? I guess you could read a Chinese blog? https://skywalking.apache.org/zh/2019-01-24-skywalking-remote-debug/ Remote debug is the recommended way to debug in agent case.

[2022-03-04 09:23] wutingjia commented on #7420
Earlier, I learn a way to debug agent without remote debug，to set `VM options`(-javaagent) In IDEA and open agent module and test module in the same project. In that way I even can debug the code in `premain` method
But it seems only available for spring service，tomcat application can not set VM options。If using remote debug , I can only debug the code in some **uninitialized logic** like `beforeM

[2022-03-04 09:27] wu-sheng commented on #7420
Remote debug is open to all cases. Do you need to verify some special cases? I think the Tomcat plugin doesn't require this complex case.
There is a setting in remote debug, `suspend=Y` could make the target service wait for your agent attachment.

[2022-03-04 09:29] wutingjia commented on #7420
thanks~ I will try it

[2022-03-04 09:54] katelei6 commented on #8604
I try it again, in ~/.bashrc to config, the env is right, in /etc/profile to config, the env can not use?@kezhenxu94

[2022-03-04 09:58] wu-sheng commented on #8604
I think your question is a little out of the project boundary. You could easily verify whether a system variable is accessible in a python program. We don't care and control where you set, it is OS's responsibility.

[2022-03-04 09:58] #8604 closed

[2022-03-04 12:52] wutingjia commented on #7420
Sorry to bother again，I am now in a situation like this：I think that I have already enhanced some method like tomcat78 through debug `AbstractClassEnhancePluginDefine` and `ClassEnhancePluginDefine` They all found  my instrumentation normally and enhance it，like this:

![8620732217524cf1741e0e2c03709be](https://user-images.githubusercontent.com/33154970/156766101-20fbf277-a638-40e3-a2c0-3d324b1a5f

[2022-03-04 13:10] wu-sheng commented on #7420
Then it may be caused by the method not matching. This debug only shows your class declaration works.

[2022-03-04 13:11] wu-sheng commented on #7420
And make sure Tomcat78 plugin doesn't override you, make sure your witness class and method works correctly too.

[2022-03-04 14:29] wutingjia commented on #7420
I find the real reason is that the class in the classloader is still verison9,so witness‘s result is reverse
![1455f13e5edcfda6e154f0471e17003](https://user-images.githubusercontent.com/33154970/156780176-6b75be05-c13b-4fa7-a2d5-eaffec26236b.jpg)

but my dependencies are verison10:
![1da616d8bbfd7af8148176b29896e73](https://user-images.githubusercontent.com/33154970/156780351-fa6a48df-1a0f-4a31-9b

[2022-03-04 14:41] wu-sheng commented on #7420
Check you tar ball, maybe you package things wrong.

If class name and method name are both unchanged, tomcat78 plugin will conflict with tomcat9 plugin. Those two interceptors will only take effects one randomly according to the runtime sequence.

[2022-03-06 10:45] #8608 closed

[2022-03-06 12:45] wu-sheng commented on #8566
@arcosx Any update?

[2022-03-06 16:15] arcosx commented on #8566
Sorry for the late submit, the PR here https://github.com/apache/skywalking-python/pull/188

[2022-03-07 01:34] #8566 closed

[2022-03-07 02:05] wzfeilongge opened #8624 "parameter is deprecated because frozen indices have been deprecated. Consider cold or frozen tiers in place of frozen indices."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

es 版本 7.16.3
java 版本 openjdk12
skywalking版本 apache-skywalking-apm-es7-8.4.0.tar.gz

### What you expected to happen

部署正常UI 也能正常访问 ES提示
2022-03-07 09:47:18,717 - org

[2022-03-07 02:07] wu-sheng commented on #8624
1. English is required on GitHub.
2. Your version is too old, we only work on the latest.

[2022-03-07 02:07] #8624 closed

[2022-03-07 02:46] yiwenzhang666999 opened #8625 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I am using skywalking in the springcloud project. The database I use is ignige. When I call the interface, I get an error: org.apache.skywalking.apm.plugin.jdbc

[2022-03-07 02:49] wu-sheng commented on #8625
Please make sure you have a suitable title, rather than a blank BUG. And ignite is not on the supported list.

[2022-03-07 02:49] #8625 closed

[2022-03-07 12:39] wu-sheng commented on #7420
https://github.com/apache/skywalking-java/pull/122 adds compatibility to run test war app in different Tomcat. Thanks to @dmsolr

[2022-03-07 16:38] ceastman-r7 opened #8629 "[Bug] Showcase graphs are all empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Showcase (apache/skywalking-showcase)

### What happened

I followed the directions here to install the showcase to a kubernetes cluster: https://skywalking.apache.org/docs/skywalking-showcase/latest/readme/#quick-st

[2022-03-08 01:00] #8629 closed, assigned to nobody

[2022-03-08 03:10] Bjxzc opened #8631 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Kong Agent (apache/skywalking-kong)

### What happened

Env：
kong：

![image](https://user-images.githubusercontent.com/56501044/157157333-31a54a3b-7334-4da8-9a8d-fc73f8f13be0.png)

agent:
![image](https://user-images

[2022-03-08 03:27] sunOnly opened #8632 "[Feature]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

supports the export of hourly and daily metrics
org.apache.skywalking.oap.server.core.analysis.worker.MetricsPersistentWorker Change as follows
![image](https://user-images.githubusercontent.com/22111568/157159919-fd2b7

[2022-03-08 03:33] wu-sheng commented on #8632
Please write the title correctly, the blank is not acceptable, and do you have an official proposal for this new feature?

[2022-03-08 03:33] #8632 closed

[2022-03-08 03:37] wu-sheng commented on #8631
No title for the issue. Please make sure they are in good format.

Kong plugin is tested [here](https://github.com/apache/skywalking-kong/tree/master/test/e2e/e2e-test-kong) driven by GitHub Action, https://github.com/apache/skywalking-kong/blob/master/.github/workflows/e2e.yml

Kong config, https://github.com/apache/skywalking-kong/blob/master/test/e2e/e2e-test-kong/docker/conf/kong.conf

[2022-03-08 03:37] #8631 closed

[2022-03-08 03:38] wu-sheng commented on #8631
Also, I noticed, you have gRPC listed, we never tested it. You should cross-check the difference between your and e2e's config.

[2022-03-08 03:41] katelei6 opened #8633 "[Bug] skywalking-python get env by not root user, can not load the env"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

In my service, I add the skywalking-python, when I run the server by root, the env config such as SW_AGENT_INSTANCE can get. But when I change the user by o

[2022-03-08 03:43] sunOnly opened #8634 "[Feature] supports the export of hourly and daily metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

supports the export of hourly and daily metrics
org.apache.skywalking.oap.server.core.analysis.worker.MetricsPersistentWorker Change as follows

![image](https://user-images.githubusercontent.com/22111568/157161952-8ec0

[2022-03-08 03:44] wu-sheng commented on #8634
Could you describe the scenario about when do you need this?

[2022-03-08 03:45] wu-sheng commented on #8634
I assigned to you as you checked `Yes I am willing to submit a PR!` and also propose this. You are the first one proposing this kind of exposing.

[2022-03-08 05:08] sunOnly commented on #8634
The complete metrics information of entities in the dashboard can only be viewed separately. To display the entity metrics information in a table, see the following figure
![image](https://user-images.githubusercontent.com/22111568/157163387-91904669-a732-454b-b959-71ef9fa6830c.png)

[2022-03-08 05:12] wu-sheng commented on #8634
GraphQL style query protocol is for this. We don't have to export everything for this case

[2022-03-08 05:18] #8618 closed

[2022-03-08 05:22] sunOnly commented on #8634
The implementation is OK, but the performance is not good,
Export converts the same entity information into one line, and improves the performance of one-time query results

[2022-03-08 05:26] wu-sheng commented on #8634
The design of exporting is to make metrics available in 3rd party, so, generally you could build everything else on your own.
What you are doing, I can't say wrong, but strange and special about how to use SkyWalking.

[2022-03-08 05:34] wu-sheng commented on #8634
I don't know what do you mean performance is not good. From my understanding, your whole page could be done by a single one-request GraphQL, which should have no performance at all.

[2022-03-08 05:37] sunOnly commented on #8634
Is it reasonable to support hour and day export function positioning?

[2022-03-08 05:39] wu-sheng commented on #8634
Could you check https://github.com/apache/skywalking/issues/8634#issuecomment-1061423697? I think we should have a clear answer after this discussion. After all, I just want all features to be on top of reasonable requirements.

[2022-03-08 05:50] sunOnly commented on #8634
Use cases query all entity information of the same component at one time, and different indicator information needs multiple database interactions

[2022-03-08 05:50] sunOnly commented on #8634
Use cases query all entity information of the same component at one time, and different indicator information needs multiple database interactions

[2022-03-08 05:53] wu-sheng commented on #8634
What do you mean components? I think that is impossible for any system. The only solution is you have kinds of big data platforms generating a report rather than getting data in real time. But in that case, minute level metrics should be better for data analysis.

[2022-03-08 05:57] goddenco commented on #4776
I upgraded the agent from 8.1.1 to 8.8.0 and reported an error：“Request cannot be executed; I/O reactor status:”
Then after restoring, no error is reported

[2022-03-08 06:02] sunOnly commented on #8634
Endpoint type, exporting hours and days. Don't do the second calculation

[2022-03-08 06:20] sunOnly commented on #8634
What do you mean components?
Other user-defined types in HTTP or Dubbo services. Query all metric information in type
exporting hours and days. Don't do the second calculation

[2022-03-08 06:40] wu-sheng commented on #8634
You mentioned `component`, I don't know.

[2022-03-08 06:45] sunOnly commented on #8634
HTTP or Dubbo or user-defined type. All measurement information in the query type

[2022-03-08 06:50] wu-sheng commented on #8634
If you are using this kind of custom feature, it seems out of our SkyWalking's scope. You should know, we recommend you aggregate from minute on your own platform, which is more accurate. The exporting to support `INCREMENT` and `TOTAL`, in hour/day level, these would become very tricky.

[2022-03-08 07:00] sunOnly commented on #8634
get,I only subscribe to TOTAL

[2022-03-08 07:05] wu-sheng commented on #8634
That is why upstream can't accept everything, different team has different agenda and plans, but we need a consistent and widely suitable APIs.

[2022-03-08 07:21] wu-sheng commented on #8634
I am going to close this for now, as tagged this as `TBD`. If you have a better proposal, I am willing to discuss it, but right now, your proposal seems close to your private requirements only.

[2022-03-08 07:21] #8634 closed

[2022-03-08 13:15] kezhenxu94 opened #8638 "Overhaul UI dependencies' licenses"
A reminder, we should overhaul https://github.com/apache/skywalking/tree/master/dist-material/release-docs/licenses/ui-licenses accordingly as the UI project is completely replaced and must have some dependencies' changes

_Originally posted by @kezhenxu94 in https://github.com/apache/skywalking/pull/8637#discussion_r821646311_

[2022-03-08 13:15] kezhenxu94 commented on #8638
This needs to be done before 9.0.0 so I create this issue to track.

[2022-03-08 13:38] ruleeeer opened #8639 "[Bug] Agent.start is not a function when I use esm syntax"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

When I use ESM syntax in node, it directly throws out `agent.start is not a function
`,I just copied the usage from Readme like this
[code]

But

[2022-03-08 13:42] ruleeeer commented on #8639
Do we need some other packaging tool (like `rollup`) to package the chunks in `cjs` and `esm` formats separately, and then differentiate them in package.json, like this
[code]
This allows the runtime environment to determine whether to load `index.cjs` or `index.mjs` depending on the syntax used

[2022-03-08 14:46] kezhenxu94 commented on #8639
This sounds good to me, are you willing to open a pull request? @ruleeeer

[2022-03-08 14:49] ruleeeer commented on #8639
@kezhenxu94 No problem, I'll try to use `rollup` packaging

[2022-03-09 06:18] sivern opened #8643 "[Bug] webflux 无法追踪链路"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Skywalking will not be able to trace the link when webflux uses a separate thread pool to execute business logic.

code demo:

`Mono.just("key").subscribeOn(Sch

[2022-03-09 06:20] wu-sheng commented on #8643
We require English on GitHub.

[2022-03-09 06:20] #8643 closed

[2022-03-09 06:27] sivern opened #8644 "[Bug] Webflux cannot be traced under certain circumstances"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Skywalking will not be able to trace the link when webflux uses a separate thread pool to execute business logic.

code demo:
`Mono.just("key").subscribeOn(Sche

[2022-03-09 06:41] wzhangNJ opened #8647 "jvm crach, add jvm_args: -javaagent:/home/app/apm-agent-8.8/skywalking-agent.jar"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

add VM Arguments: jvm_args: -javaagent:/data/agent/skywalking-agent.jar occur jvm crach!
SkyWalking version： 8.8.0
OS version ：  Linux version 3.10.0-693.2.2.el

[2022-03-09 06:59] chj9 commented on #4779
I also have the same error ,in version 7.0.0 my solution was
1. generate certificate
[code]
2. Dockerfile
[code]
3. oap config
[code]
successful problem solving

[2022-03-09 20:33] Superskyyy commented on #8633
@katelei6 Hello, please try to execute and check the env vars directly from your shell & python interactively after exporting (in the non-root user).
1. ```printenv SW_AGENT_INSTANCE```
2. ```Python3
	import os
	os.environ['SW_AGENT_INSTANCE']
[code]

[2022-03-10 02:58] mrproliu opened #8650 "[CLI] Support the process metadata query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After the Process GraphQL query protocol has been merged.
We need to add the Process entity query in CLI.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2022-03-10 03:00] wu-sheng commented on #8650
Move to CLI milestone.

[2022-03-10 03:57] #7879 closed

[2022-03-10 10:42] xiaoxiongmao-liu opened #8655 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

我想在k8s中通过ALS获取istio的数据，但是按照官方文档在k8s中进行安装skywalking后，会有一个告警： policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+, unavailable in v1.25+; use policy/v1 PodDisru

[2022-03-10 10:43] gold-fisher commented on #6592
I have the same problem.please how to solve it? I helm uninstall skywalking，then helm install skywalking，but it did not work.

[2022-03-10 10:45] #8655 closed

[2022-03-10 11:20] #8650 closed

[2022-03-10 15:20] tisonkun commented on #8529
According to the discussion on https://github.com/apache/skywalking/discussions/8657 I'm going to look into this issue :)

[2022-03-11 03:05] ZPerling commented on #6592
@gold-fisher You can try modify the es index prefix and redeploy

[2022-03-11 03:13] tisonkun commented on #8529
I think it's related to trailing newlines. Fixing...

[2022-03-11 03:19] gold-fisher commented on #6592
I tried it, still doesn't work.

[2022-03-11 03:57] #8529 closed

[2022-03-12 14:23] wu-sheng opened #8665 "[Feature] [Python] Remove namespace from `cross process propagation` key."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

The namespace in `cross process propagation` key to isolating context was added years ago in Java agent and adopted by Python. Meanwhile, many other agents are not going to adopt. The key is there is few scenario to mak

[2022-03-14 00:59] yi121013215 opened #8667 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I modify the recordDataTTL to 2 from 3, metricsDataTTL to from 7, but the es6 data do not delete.
![捕获](https://user-images.githubusercontent.com/10719426/158087424-

[2022-03-14 01:10] wu-sheng commented on #8667
No title, and this seems a discussion only

[2022-03-14 01:10] #8667 closed

[2022-03-14 02:31] qixiang-liu commented on #4809
解决了吗？我是最新版本的8.9.1也出现这个问题了。请问如何解决的那？
<img width="351" alt="image" src="https://user-images.githubusercontent.com/30148386/158094832-c6221046-109d-45d8-b830-7ac8d265d5f7.png">

[2022-03-14 02:45] katelei6 commented on #8633
1. use printenv SW_AGENT_INSTANCE:  the result is right!
[xn_testdev_ci@host-11-55-250-240 ~]$ printenv SW_AGENT_INSTANCE
11.55.250.240

[2022-03-14 02:47] katelei6 commented on #8633
2、Use Python ， the result is ok！
![image](https://user-images.githubusercontent.com/79354895/158096199-18281c4a-39da-4a2a-ac82-fa74d4340138.png)

[2022-03-14 02:47] katelei6 commented on #8633
3、In the skywalking UI， the result is wrong！
![image](https://user-images.githubusercontent.com/79354895/158096266-7c94c632-de18-44bc-bbbd-2834a016987d.png)

[2022-03-14 02:48] katelei6 commented on #8633
@Superskyyy

[2022-03-14 05:44] qixiang-liu commented on #4809
已经解决。

[2022-03-14 10:02] wu-sheng opened #8674 "[Feature] [BanyanDB] Support field indexing but not stored"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

This is a very special feature of ElasticSearch @wankai123 found from Zipkin using ElasticSearch to save spans.

In saving traces, tags are indexed as query conditions to make users easier to locate important traces, bu

[2022-03-14 10:08] lujiajing1126 commented on #8674
As I understood, this is what exactly BanyanBD is doing.

We only duplicate indexed tags which can be used in the `projection`. In the meanwhile, we store the whole binary data in non-indexed tags.

[2022-03-14 15:09] kezhenxu94 commented on #8633
I don't recommend to set env var in the bashrc/ zshrc/ profile/ etc., instead, set them in your startup script. Users who run a service in this machine might be surprised to see the service/ instance name is different. Also, these settings should be self-contained in the service (e.g. startup script)

[2022-03-14 15:50] wu-sheng commented on #8633
Should we still consider this as potential bug or a discussion only?

[2022-03-14 19:37] Superskyyy commented on #8633
Yes depending on how the user is switched to, a `.bashrc` file may or may not be executed (non-login shell only).
The current code in the Python agent that reads the env var doesn't look buggy to me? It's the only place that could generate a uuid for the instances.
[code]
I suppose this is less likely a bug, what you guys think?

[2022-03-14 23:24] wu-sheng commented on #8633
Moving to discussion.

[2022-03-15 09:38] z130q130 commented on #6111
在 undertow ，统计哪里有问题如何处理呢，

[2022-03-16 05:32] yibin87 opened #8686 "[Bug] Owner field doesn't work correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

License Tools (apache/skywalking-eyes)

### What happened

I use skywalking-eyes(go install go install github.com/apache/skywalking-eyes/cmd/license-eye@latest) to do some license check works. Find the "copyright-own

[2022-03-16 05:42] kezhenxu94 commented on #8686
@yibin87 please provide full steps that you do

[2022-03-16 05:44] wu-sheng commented on #8686
[code]

I think this is not how APLv2 adopts the owner. I am not sure what is the license.

[2022-03-16 06:05] yibin87 commented on #8686
https://spdx.org/licenses/Apache-2.0.html， according to this page， Standard License Header.

[2022-03-16 06:16] yibin87 commented on #8686
Complete more details in PR details.

[2022-03-16 06:24] kezhenxu94 commented on #8686
This is an issue as the copyright-owner is normalized so it won't effect the `header check` result, it will be used in `header fix` only. We need to take that into consideration

[2022-03-16 07:23] wu-sheng commented on #8686
@yibin87 One about the header, from the Apache Software Foundation perspective, this is the standard header

[code]

This is why I felt strange about the description.

Are the header checker and fixer using different templates? I mean only when they are, the `owner` could work in one side only, right? @kezhenxu94

[2022-03-17 03:48] yangvipguang opened #8693 "[Bug] Profile Error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

When I use  Profile , it occurs
![image](https://user-images.githubusercontent.com/11416887/158730785-7f6e7ce7-c80b-4b43-8b71-7fb22c17354f.png)

### What you expecte

[2022-03-17 03:51] wu-sheng commented on #8693
This UI is being replaced, v9 is coming next. We know this error report when you click `analyze` before selecting a profiled segment.

[2022-03-17 03:51] #8693 closed

[2022-03-17 06:07] wu-sheng opened #8694 "[Feature] Support limitation and circuit break per GraphQL request"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

_No response_

### Use case

By leveraging the GraphQL query, users could initial a 1k+ sub GraphQL queries/mutations in one single HTTP request. Then this could crash the OAP server.

It is better we could provide a fe

[2022-03-17 06:13] kezhenxu94 commented on #8694
Do we only limit by the number of sub-queries?

[2022-03-17 06:14] wu-sheng commented on #8694
What else do you suggest?

[2022-03-17 07:01] PepoRobert opened #8695 "[Bug] SkyWalking Java agent okhttp plugin Wrong url used to create span"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

OkHttp allow user to rewrite the request using Interceptors.When we use Interceptor to implement dynamic routing.
We found creating the wrong span.

![image](ht

[2022-03-17 07:11] wu-sheng commented on #8695
Assigned to @PepoRobert as `Yes I am willing to submit a PR!` checked.

[2022-03-17 07:20] wu-sheng opened #8697 "[Feature] [OAP + BanyanDB] [Test] Support OAP running in simulation test mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

@hanahmily @kezhenxu94 and I had a discussion a week ago, with BanyanDB 0.1 MVP version is going to be ready soon. We need to establish a mode to make OAP could generate simulated traces/metrics/logs without target serv

[2022-03-17 10:42] katelei6 opened #8698 "[Bug] skywalking use in django and celery, the celery can not start well"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

I start celery, but not start success,then i ctrl + C three times, the celery can start.
![image](https://user-images.githubusercontent.com/79354895/1587921

[2022-03-17 10:44] wu-sheng commented on #8698
I assigned to ypu, and notice you have 2 screenshots not uploaded.

[2022-03-17 10:48] katelei6 commented on #8698
1 time:
![image](https://user-images.githubusercontent.com/79354895/158793309-de347bb6-cbd3-4c71-9fb6-88238e371657.png)
2 time
![image](https://user-images.githubusercontent.com/79354895/158793352-30c520be-2dba-4c85-8770-bb7dd72bb88e.png)
3 time
![image](https://user-images.githubusercontent.com/79354895/158793208-0ab19838-6e82-45e9-ac67-d742f0b039d2.png)

[2022-03-17 13:50] caoheyang commented on #6745
您好，吴老师，

请问那对于skywalking，是否支持https opensearch？

Thanks,
Heyang

[2022-03-18 02:20] wzy960520 opened #8699 "[Python] The local log error stack is truncated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

When reporting to the server, I can understand that the error stack printed to the log is truncated, but the error stack recorded to the local log is trunca

[2022-03-18 02:25] wu-sheng commented on #8699
Are you going to propose some changes?

[2022-03-18 02:49] wzy960520 commented on #8699
https://github.com/apache/skywalking-python/pull/190

[2022-03-18 02:57] dipadipa commented on #8699
this occurs to me too,
skywalking save backtrace depth of 5 with default, this constrait take effect to standard logging module either.

[2022-03-18 07:38] #8694 closed

[2022-03-18 13:14] Cool-Coding opened #8707 "[Bug] the `Aggregation` and `GC Count` metrics in `fetcher-prom-rules/self.yaml` and `otel-oc-rules/oap.yaml` are wrong"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

[code]

The value of first and second aggregation are wrong.

### What you expected to happen

Both of first and second aggregation use the metrics_aggregation metri

[2022-03-18 13:54] wu-sheng commented on #8707
Thanks for reporting. I think you should fix `otel-oc-rules/oap.yaml` as well.

I have assigned this to you, wait for your pull request. FYI @wankai123

[2022-03-18 14:13] wu-sheng commented on #8707
@Cool-Coding Are you saying this is a bug of **window** for counter?

[2022-03-18 14:16] wu-sheng commented on #8707
My understanding is, we need a better key for **increase**. ID should include metric name, labels and values.

@hanahmily What do you think?

[2022-03-18 14:50] wu-sheng commented on #8707
@Cool-Coding Have you tried this?

Change

to

[2022-03-19 02:59] hanahmily commented on #8707
`CounterWindow` combines `ID` with metric name, label key, and label value. These two metrics' `level` label values are not identical, the first level is `1`, and the latter is `2`. Based on that, the window can't mess them up. But I didn't do some necessary verification. Would you pls provide more pieces of evidence about this?

[2022-03-19 03:00] wu-sheng commented on #8707
The mass is caused by sum with labels, the level is gone. I think.

[2022-03-19 03:26] hanahmily commented on #8707
maks sense. adding `level` to the `sum`'s parameter list might work.

[2022-03-19 03:30] Superskyyy commented on #8699
Thanks for the pull request! But on second thought, the solution provided in the PR look a bit off to me.

To my understanding, the problem occurs due to the existence of a cached `exc_text` attribute contained inside the `LogRecord` object which `sw_logging.transform()` set during the interception.

The following is from the Python logging module, as we can see the cache is done by this chunk of

[2022-03-19 05:10] Superskyyy commented on #8698
![image](https://user-images.githubusercontent.com/26076517/159106676-54934f8b-e1a2-4064-9474-13ef828a910d.png)
@katelei6 Hello, thanks for reporting the issue, actually the current limitation was noted in the code and `plugins.md` documentation.

Meanwhile, please try using the HTTP protocol and things should be working.

note = """The celery server running with "celery -A ..." should be run with

[2022-03-19 05:17] Superskyyy commented on #8698
If you can confirm Celery works fine after switching to HTTP, then I will move this one to discussions for now as it is documented and there's already an issue tracking the problem.

[2022-03-19 09:41] kwanhur opened #8710 "[INFRA] license-eye support pre-commit hook"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After finish coding, always need to do license check on new files before push. So hope it can be done when commit.

Add one hook in [pre-commit](https://pre-commit.com/#new-hooks) could be a solution.

### Use case

pla

[2022-03-19 09:47] kezhenxu94 commented on #8710
@kwanhur how will you implement this feature?

[2022-03-19 09:51] Cool-Coding commented on #8707
Yes, Your are right. there is not the "level" field in the sum. so  the labels in the increase method just contain "service" and "instance".

[2022-03-19 09:52] Cool-Coding commented on #8707
ok, I will look at the  `otel-oc-rules/oap.yaml`  and pull a request.

[2022-03-19 10:22] kwanhur commented on #8710
Add `.pre-commit-hooks.yaml` into repo `skywalking-eyes`, its content like:

[code]

Similar configs for `license dependency`.

[2022-03-19 10:40] kezhenxu94 commented on #8710
That's not what I expect, skywalking-eyes itself is a tool, we can add `.pre-commit-hooks.yaml` in this repo, but I expect this is something our users can also use in their repos, for example, adding a command to automatically generate these files in users repo, e.g. `license-eye hook init`

[2022-03-19 10:51] wu-sheng commented on #8707
PT1M makes sense to me.

[2022-03-19 11:49] kwanhur commented on #8710
If on this way, [local hooks](https://pre-commit.com/#repository-local-hooks) maybe the choice, but it'll loss autoupdate feature.

[2022-03-19 12:03] kezhenxu94 commented on #8710
In my opinion there is no way to have the autoupdate feature (or non-local hooks), license-eye finally will be shipped as a executable binary, how could that `.pre-commit-hooks.yaml` take effect?

[2022-03-19 12:33] wu-sheng commented on #8699
@Superskyyy Would you send a pull request soon? So should I revert https://github.com/apache/skywalking-python/pull/190?

[2022-03-19 15:02] kwanhur commented on #8710
According to local `.pre-commit-config.yaml`, `pre-commit` installs the binary with specified repo and revision, and then local hooks work on repo's `.pre-commit-hooks.yaml` base on hook id.

So the `id` in `.pre-commit-hooks.yaml` is important, every hook takes effect through its `entry`. `entry` means how to work on those matched files.

[2022-03-19 16:23] Superskyyy commented on #8699
Yes sir I will PR later today. Please revert it for clarity.

[2022-03-20 01:39] #8699 closed

[2022-03-20 05:40] Superskyyy opened #8712 "[Website] Documentation search engine not picking up latest docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Website (apache/skywalking-website)

### What happened

Sorry if this goes into the wrong category. I just found out that the recent docs (including OAP > 8.7.0-8.9.1 & Python agent entirely etc.) were not picked up

[2022-03-20 05:49] wu-sheng commented on #8712
@Jtrust I think we missed some settings?

[2022-03-20 06:34] wu-sheng commented on #8712
@Superskyyy Look like `algolia` has a lot of changes seems last time we checked. I have created a new application on algolia for this, @Jtrust will take care it later today or tomorrow. If you like, I could invite you into this workspace too.

[2022-03-20 06:35] Superskyyy commented on #8712
Certainly! I want to help out make things up-to-date. Thank you.

[2022-03-20 06:37] wu-sheng commented on #8712
The invitation is sent, notice, this is a new application, so everything is blank for now.

[2022-03-20 06:55] Superskyyy commented on #8712
Looks good, I accepted.

[2022-03-20 08:13] wu-sheng opened #8713 "[Feature] [CLI] add ebpf-profile relavtive commands"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

As a new feature is added, let's consider adding relative commands.

Also, please check whether there are out-of-date commands, from v9 release, I think we should consider a new CLI release, and move to CLI 1.0 later(af

[2022-03-21 05:58] Cool-Coding commented on #8707
@wu-sheng `Gc Count` metric is also wrong in `otel-oc-rules/oap.yaml` and `fetcher-prom-rules/self.yaml`. I also have fixed it and pull a request. please help me review. Thank you!

Let's take a look at the comparison of the trend chart before and after the modification.

Before:
![image](https://user-images.githubusercontent.com/29882506/159211273-f2cdd4a0-4bb2-4cab-b393-0a4e936fb8ed.png)

![imag

[2022-03-21 06:01] wu-sheng commented on #8707
This looks good, just please rename `first aggregation` -> `L1 aggregation` and `second` -> `L2`.

Also, make sure change logs includes both fixes in your pull request.

[2022-03-21 06:32] Cool-Coding commented on #8707
@wu-sheng  Ok, I have changed the tag of `Aggregation` and pull a new request.

[2022-03-21 09:58] wu-sheng opened #8720 "[Feature] [BanyanDB] Support function in row merging"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

In the MVP of BanyanDB, all rows would be overrides when the latest data was inserted with the same ID.
In advanced, it is better BanyanDB could provide a function based merging mechanism to merge previous and new data.

[2022-03-21 10:03] wu-sheng opened #8721 "[Feature] [BanyanDB] Support customer insert/update trigger"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

After we have https://github.com/apache/skywalking/issues/8720, we could build a more aggressive mechanism. All downsampling metrics(hour/day) could be calculated inside BanyanDB, because with rows mergeable with custom

[2022-03-21 11:03] #8707 closed

[2022-03-22 01:34] SSSDNSY commented on #5242
if you use IDEA, change you run/debug configurations  >Short command line > JAR mainfest

[2022-03-22 07:13] babyshy commented on #5906
so, how to resolve this problem?

[2022-03-23 10:15] lklkxcxc opened #8728 "[Bug]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

logback log isn't collect TID information somethings.
[code]

### What you expected to happen

The logback log every line contains TID

### How to reproduce

Yo

[2022-03-23 10:22] wu-sheng commented on #8728
Trace ID has been discussed in many places. We don't need to start a new one.

And there is no title.

[2022-03-23 10:22] #8728 closed

[2022-03-23 14:41] jessin20161124 opened #8731 "[Bug] ClassNotFoundException: org.apache.skywalking.apm.agent.core.plugin.interceptor.enhance.ConstructorInter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

I use custom classloader to launch application code. When I add the skywalking agent as the startup option, it fail to startup. My application code also use sof

[2022-03-23 14:42] jessin20161124 commented on #8731
My skywalking-java version is 8.1

[2022-03-23 15:35] wu-sheng commented on #8731
You should print the full stack, but AFAIK, this is SOFA framework unexpected SkyWalking could add a new interface they are not aware of. Dubbo used to have similar issues, mostly, this should be fixed at SOFA side.

[2022-03-23 15:36] wu-sheng commented on #8731
And you should know, according to doc, https://skywalking.apache.org/docs/skywalking-java/v8.9.0/en/setup/service-agent/java-agent/supported-list/, we have only tested SOFA RPC v5.4, which is years ago.

[2022-03-23 19:12] Superskyyy commented on #5944
@tushar5526 Hello, just a FYI, are you still interested in completing this feature? If so, let me know, thank you!

[2022-03-24 02:14] jessin20161124 commented on #8731
Is there any ways to exclude skywalking code weave for some artifact, such as sofa-ark jar.

[2022-03-24 02:15] wu-sheng commented on #8731
You are not following. We don't instrument any classes in sofa-ark. This is Sofa ARK can't handle other classes out of sofa-ark.

[2022-03-24 03:49] Oliverwqcwrw opened #8734 "[Bug] java.lang.InternalError: Memory Pool not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

report the error per second

ERROR 2022-03-24 10:51:56:698 SkywalkingAgent-4-JVMService-produce-0 JVMService : JVMService produces metrics failure.
java.lang.In

[2022-03-24 04:03] lujiajing1126 commented on #8734
I found you've also issued a ticket there https://github.com/alibaba/arthas/issues/2120

Does the same solution work this time?

[2022-03-24 04:19] wu-sheng commented on #8734
We are just accessing through JDK XBean.
This looks like a JVM internal error. Not sure what we can do.

[2022-03-24 04:20] #8734 closed

[2022-03-24 04:21] #8731 closed

[2022-03-24 04:57] Oliverwqcwrw commented on #8734
I solved the problem of increasing memory ago in arthas ,but this The remaining memory is 200M, still report error，I'll try updating a JDK version and observe

[2022-03-24 12:50] #8713 closed

[2022-03-25 00:57] luckywur commented on #4809
how to fix it?

[2022-03-25 01:23] Oliverwqcwrw opened #8737 "[Bug] throws ModuleStartException is redundant"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

In `org.apache.skywalking.oap.server.analyzer.provider.meter.process.MeterProcessorTest#testProcess`
I think throws ModuleStartException is redundant ,Because I do n

[2022-03-25 01:25] wu-sheng commented on #8737
CI covers this UT in every PR, we never saw it fails.

Are you finding a way to fix it? You clicked `I am willing to submit a PR!`

[2022-03-25 03:39] haanyip commented on #4432
it is because of your wrong SW_OAP_ADDRESS when you setup the oap-ui, don't use 127.0.0.1 or localhost, pls fix it and try again~

[2022-03-25 04:05] Superskyyy commented on #4432
Please open a discussions thread and post a Q&A style post there. It will be easier for search for others with the same issue. I will mark your answer as accepted. :)

[2022-03-25 05:34] younglicode opened #8740 "kafka-fetcher gson Exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

I use kafka-fetcher, get a exception
`2022-03-25 11:33:54,858 - org.apache.skywalking.oap.server.analyzer.agent.kafka.provider.handler.LogHandler - 84 [KafkaConsumer

[2022-03-25 06:37] #8737 closed

[2022-03-25 06:40] wu-sheng commented on #8740
Waiting for your fix. And please submit a pull request with a new UT to verify your new case.

[2022-03-25 06:50] WilliamShoww commented on #5649
I'm havel same question with you too. Finally, how do you handler this question?

[2022-03-25 08:23] happyycm opened #8741 "[Bug] Java agent cause high CPU usage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

Java agent cause high CPU usage for a long time。
Process ”SkywalkingAgent“ Take up to 80% CPU
![image](https://user-images.githubusercontent.com/3304325/1600825

[2022-03-25 08:32] youth7 opened #8742 "[Bug] [Nodejs] install plugin error if mongodb driver is 4.1.3"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

In file `lib/plgins/MongoDBPlugin.js` there is a line contain this code :

this will cause en error : `Uncaught Error Error: Cannot find module

[2022-03-25 09:05] Cool-Coding opened #8743 "[Feature] Automatically weave into the thread pool without modifying the business code"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, we must wrap the <code>Runnable</code> or <code>Callable</code> object with <code>RunnableWrapper</code> or <code>CallableWrapper</code>. when we want to pass a traceId across the thread.

<Code>java.util.con

[2022-03-25 09:11] Cool-Coding commented on #8741
@happyycm  In my opionion, when a thread parks, it won't occupy cpu. Can you provide more detailed information and tell us how to reproduce this?

[2022-03-25 09:11] wu-sheng commented on #8741
Diagnosis is not community's responsibility.  You need to do research first. Moving to the discussion.

[2022-03-25 09:12] kezhenxu94 commented on #8742
This means we don't support mongodb 4.x, please consider contributing if you need.

[2022-03-25 09:12] #8742 closed

[2022-03-25 09:14] wu-sheng commented on #8743
If you want, feel free to submit a pull request to enhance with tests. :) I think we have no objection to stopping this kind of new plugin.

[2022-03-25 09:19] Cool-Coding commented on #8743
Ok, i will add this plugin and tests. Thanks for your reply!

[2022-03-25 10:33] SilenceZeng opened #8746 "[Bug] TypeError: Cannot read property 'includes' of undefined at e.getFmpTime"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

when element has css like background-image: linear-gradient(180deg,#f1f3f8 1%,#fff), the url in getFmpTime will be null, so url.includes('htt

[2022-03-25 15:15] Oliverwqcwrw opened #8750 "[Bug] when catch InterruptedException we can not just print error log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

In `org.apache.skywalking.apm.agent.core.commands.CommandService#run` when catch `InterruptedException` we just print error log and request interrupted flag is

[2022-03-25 16:10] #8750 closed

[2022-03-26 02:10] kezhenxu94 opened #8752 "[Bug] E2E mismatch actual data still pass the expected template"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Infra E2E (apache/skywalking-infra-e2e)

### What happened

https://github.com/apache/skywalking/blob/547f1ede2d1665601cb9d9a3853ed205620d6c83/test/e2e-v2/cases/lua/expected/service-instance-nginx.yml#L23-L36

These

[2022-03-26 14:14] wu-sheng commented on #8750
Conclusion, this is not a bug, just **Remove unnecessary InterruptedException catch**

[2022-03-26 20:23] Superskyyy commented on #7319
Hello, according to the latest doc (which wasn't updated to reflect the active gRPC channel support in 2018), I think this can be implemented now.

https://github.com/grpc/grpc/blob/master/doc/fork_support.md#111

[2022-03-27 11:31] kwanhur commented on #8710
I place `license-eye` hooks as the below, it works well.

[code]

[2022-03-27 11:37] wu-sheng commented on #8710
Should we close this?

[2022-03-27 11:48] kwanhur commented on #8710
If there's no need integrating `.pre-commit-config.yaml` into `skywalking-eyes` repo, close it.

[2022-03-27 12:44] wu-sheng commented on #8710
I think we don't need to do that. pre-commmit hook is very personal preference, we don't want to set a bar for it.

[2022-03-27 12:44] #8710 closed

[2022-03-28 08:46] wu-sheng commented on #8740
@younglicode Any update or you have resolved locally?

[2022-03-28 08:50] Cool-Coding commented on #8743
@wu-sheng Please assign this to me. Thank you!

[2022-03-28 08:53] wu-sheng commented on #8743
Done, you don't have to be assigned. Once you submit the PR, we could work on that. Assigning is for asking this person to track progress.

[2022-03-28 09:32] Cool-Coding commented on #8743
I see. Thank you! I thought that if i am not assigned, other  person can also submit the PR .

[2022-03-28 09:34] wu-sheng commented on #8743
I see, don't worry, if so, I will ping you first to check the status.

[2022-03-28 21:40] Superskyyy commented on #8712
Do we still have access to the Algolia crawler? It seems we don't have permission to configure crawler for the application anymore.
IDK if the crawler simply takes a URL and does its job like old times or now use the following action, but they both require access from the Algolia application <-> Algolia crawler that we may need request for.
https://github.com/algolia/algoliasearch-crawler-github-a

[2022-03-28 23:30] wu-sheng commented on #8712
This is a good find. @Jtrust Could you check this?

[2022-03-29 00:32] Jtrust commented on #8712
@Superskyyy Thanks for your information. We are using DocSearch V2, now there is V3, maybe migrating to V3 can solve the problem. Let me try

[2022-03-29 00:53] Superskyyy commented on #8712
Thank you, I have no idea how the whole thing works..

[2022-03-30 03:42] Superskyyy commented on #8752
A side effect related: only the first entry is evaluated, a mixed order list of actual data will lead to error due to mismatch of first entry to first entry of template.

[2022-03-30 04:08] Superskyyy commented on #7708
Tracing and Logging e2e coverage is implemented and merged. Closing this issue, note to myself, profiling is not covered yet.

[2022-03-30 04:08] #7708 closed

[2022-03-30 14:25] wangchaoforever opened #8770 "[Feature] I hope skywalking support jvm full gc monitor"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

When I monitor my java web application, I want to collect the jvm's full gc time and count.

### Use case

I hope skywalking can support jvm's full gc monitor

### Related issues

No

### Are you willing to submit a PR?

[2022-03-30 14:27] #8770 closed

[2022-03-31 02:26] shelltea commented on #4809
Try to use this config.

[code]

[2022-03-31 02:30] zhyyu commented on #8223
I will try it recently.

[2022-03-31 03:12] zhyyu opened #8773 "[Feature] java agent add cpu load limit config and releated cds"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

when the cpu load is too high, the agent can not sample according to the cpu load limit config (maybe like agent.sample_avg_cpu_load_limit). Also, this config can be changed through cds.

### Use case

as description.

[2022-03-31 03:13] zhuzhenwen-github commented on #6244
请问你们最后是怎么解决的啊？

[2022-03-31 04:13] wu-sheng commented on #8773
Please submit pull requests separately. We need to review this mechanism carefully.

[2022-03-31 07:36] Oliverwqcwrw opened #8777 "[Bug] I didn't see the label 'help wanted'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

OAP server (apache/skywalking)

### What happened

The official website document `Find [help wanted issues](https://github.com/apache/skywalking/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22). This is a goo

[2022-03-31 07:38] wu-sheng commented on #8777
There was, but was replaced by (good first issue) for now.

[2022-03-31 07:55] Oliverwqcwrw commented on #8777
Well, after I clicked on the official website, it was empty, so I have a question. Would you like to change the link

[2022-03-31 07:56] wu-sheng commented on #8777
I will take a look later. I am planning to organize docs for v9 today.

[2022-04-01 03:01] hanahmily commented on #7412
We have finished the first round of integration. I will open another issue to track current work.

[2022-04-01 03:01] #7412 closed

[2022-04-01 03:02] #7732 closed

[2022-04-01 06:10] #8746 closed

[2022-04-01 06:21] #8740 closed

[2022-04-01 06:22] wu-sheng commented on #8695
No update for 2 weeks.

[2022-04-01 06:22] #8695 closed

[2022-04-01 06:23] wu-sheng commented on #8639
Any update?

[2022-04-01 06:23] wu-sheng commented on #8477
Mostly done. Will release soon.

[2022-04-01 06:23] #8477 closed

[2022-04-01 06:26] #7196 closed

[2022-04-01 06:26] wu-sheng commented on #6315
https://github.com/apache/skywalking-banyandb MVP is nearly done.

[2022-04-01 06:26] #6315 closed

[2022-04-01 06:28] #7733 closed

[2022-04-01 06:44] MichaelWangHong commented on #5391
skywalking版本：v6.0.0-GA
参考文档：https://github.com/apache/skywalking/blob/6.x/docs/en/setup/backend/trace-sampling.md
按照官方设置的服务端trace信息的采样率为5000，数据量未降下来
修改的配置文件名：apache-skywalking-apm-incubating-bin/config/application.yml
配置信息如下：
[code]

[2022-04-01 06:48] wu-sheng commented on #5391
@MichaelWangHong All GitHub discussions must be in English. And your description doesn't match this issue at all, and your version is years ago, the community doesn't take care of it anymore.

[2022-04-01 12:22] ruleeeer commented on #8639
No update .I've been a little busy lately.

[2022-04-01 14:11] husofskyzy opened #8787 "[Feature][java] add nacos config center"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

add nacos config center

### Use case

we can see config in nacos config center

### Related issues

no

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to

[2022-04-01 14:11] #8787 closed, assigned to nobody

[2022-04-02 00:33] husofskyzy opened #8790 "[Bug] bug one"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

add config

### What you expected to happen

add config

### How to reproduce

add config

### Anything else

_No response_

### Are you willing to submit PR?

[2022-04-02 00:34] #8790 closed

[2022-04-02 04:49] kezhenxu94 opened #8791 "[Doc] Add agent-Satellite compatibility version matrix"
https://github.com/apache/skywalking/blob/f8feaa97b7aba577551e2db092a3c29306127eed/docs/en/setup/service-agent/agent-compatibility.md?plain=1#L7-L13

I think we need another matrix like this to indicate what versions of the language agents can connect to what versions of Satellite

| Satellite |Java|Python|NodeJS|LUA|Kong|Browser Agent|Rust|
 ----------- | ---------- | --------- | --------- |-----

[2022-04-02 05:19] wu-sheng commented on #8791
@mrproliu I think we at least require a minimal version. We faced NodeJS agent incompatibility in testing today.

[2022-04-02 06:58] jiangfucheng commented on #6592
try delete es related  `index` and `index template`

[2022-04-02 08:44] mrproliu commented on #8791
Two things to note:
1. Update document, add a new matric to document which native agent support transport protocol to the satellite.
2. Update the Satellite, let it could support transport compat protocol from the agent.

[2022-04-02 11:16] katelei6 opened #8794 "[Bug] use kafka plugin, the consumer can not recive message"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Python Agent (apache/skywalking-python)

### What happened

when i use skywalking the plugin of kafka, the consumer can not recive messae, I debug the code, find
 #for item in carrier:
                #headers.append

[2022-04-02 11:19] wu-sheng commented on #8794
Maybe you are not using UTF-8? Header injection is important, and UTF-8 is the default charset in the whole SkyWalking ecosystem.

[2022-04-04 05:21] hutaishi opened #8796 "[Feature] Add skywaliking plugin for support Apache ShenYu (incubating) gateway，support version 2.4.x and after version"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

[Apache ShenYu](https://shenyu.apache.org/) (incubating) is a gateway,
I want to add a plugin to implement tracing for the gateway.

### Use case

Achieving observability of the gateway.

### Related issues

_No respons

[2022-04-04 05:23] hutaishi commented on #8796
Please assign this plugin development to me, thanks！

[2022-04-04 05:46] wu-sheng commented on #8796
Assigned. Good luck.

[2022-04-04 07:35] wu-sheng commented on #8638
Fixed by https://github.com/apache/skywalking/pull/8783

[2022-04-04 07:35] #8638 closed

[2022-04-04 07:38] wu-sheng commented on #8554
Fiexed.

[2022-04-04 07:38] #8554 closed

[2022-04-04 15:10] linghengqian opened #8801 "[Feature] Mention Spring's baseline version to 5.3.18 in webapp dependencies"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Referring to https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement, I would like to mention Spring's baseline version to 5.3.18  in webapp dependencies to avoid an early stage RCE warning issue.

###

[2022-04-05 07:59] wu-sheng commented on #8796
@hutaishi I want to Shenyu community could provide a clear position about what would be the relationship between this plugin and your own agent. As I have mentioned in [mail list](https://lists.apache.org/thread/n2bgo3znm90ff7kqsw7c5zott0p330yk). The shenyu's agent is very similar to (maybe from) SkyWalking's agent. I am very concerned about the conflict.

[2022-04-05 09:26] hutaishi commented on #8796
Hi，shenyu community has completely removed the agent module, so there is no conflict.

[2022-04-05 11:42] wu-sheng commented on #8796
Got it.

[2022-04-05 13:39] warrmr opened #8812 "[Bug] Performance Monitoring exception in skywalking-client-js"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Client Side Agent (apache/skywalking-client-js)

### What happened

When integrating the skywalking-client-js into a Vue app it produces the following exception on first load/route change, this is an unexpecte

[2022-04-06 00:00] wu-sheng commented on #8791
@kezhenxu94 Older releases should be supported by Satellite(latest) through https://github.com/apache/skywalking-satellite/pull/104 , could you give a try?

[2022-04-06 00:00] #8791 closed

[2022-04-06 03:56] hanahmily opened #8815 "[Core] Cold writing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Support writing cold data whose timestamp is out of the current writing window.

The block controller tends to create cold blocks to collect these data instead of opening the closed blocks online. The scanner and fetche

[2022-04-06 03:56] hanahmily commented on #8392
Move the cold writing to

Moved to https://github.com/apache/skywalking/issues/8815

[2022-04-06 03:56] #8392 closed

[2022-04-06 03:57] hanahmily commented on #8286
done

[2022-04-06 03:57] #8286 closed

[2022-04-06 03:58] hanahmily commented on #8502
done

[2022-04-06 03:58] #8502 closed

[2022-04-06 05:38] hanahmily opened #8818 "[Bug] Inverted index buffer overflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

BanyanDB (apache/skywalking-banyandb)

### What happened

An inverted index never triggers flushing, which leads to a buffer overflow.

### What you expected to happen

The memory usage keeps under a limitation.

###

[2022-04-06 06:59] Cool-Coding opened #8820 "[Bug] Span operation chain is interrupted in the grpc plugin's onCancel method"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

Java Agent (apache/skywalking-java)

### What happened

- The trace is not completed and disordered in a grpc request.
- The agent log reports `TracingContext|-|More than 300 spans required to create`. In fact, there

[2022-04-06 08:05] Cool-Coding commented on #8820
@wu-sheng I have submitted a [Agent PR](https://github.com/apache/skywalking-java/pull/140), Please help me review it, Thank you!

[2022-04-06 09:50] someone-1 opened #8824 "[Bug] [Node.js] skywalking s3 upload error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

NodeJS Server Side Agent (apache/skywalking-nodejs)

### What happened

Hi
I am using the `skywalking skywalking-backend-js` library, when uploading file (size> 1Mb) to s3 using AWS nodeJs SDK.
the upload is failing

[2022-04-06 10:01] wu-sheng commented on #8824
This issue title is not well writen. Please fix.

[2022-04-06 10:33] someone-1 commented on #8824
not familiar with the repository, if anyone can help, I can submit a PR

[2022-04-06 10:43] kezhenxu94 commented on #8824
@someone-1 did you confirm that it works if you remove skywalking agent from your codes?

[2022-04-06 10:46] wu-sheng opened #8825 "[Event] Kubernetes Event Exporter adopts v9"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Event detector is never released yet, but with v9 is releasing, we need to consider how to adopt layer concept with the latest design.

### Use case

_No response_

### Related issues

_No response_

### Are you willing

[2022-04-06 10:49] someone-1 commented on #8824
@kezhenxu94 application works (successful uploads file) if I remove the skywalking agent code

[2022-04-06 14:45] #8820 closed

[2022-04-07 01:40] kezhenxu94 commented on #7682
Hi @Superskyyy , @fgksgf is interested in this issue and he has enough available time recently so I just suggested him to take a look at this. Please comment here if you've already started, in case.

[2022-04-07 02:14] hanahmily opened #8829 "[Feature] Handle gRPC errors gracefully"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

To eliminate confusion for API when an error occurs, we should handle errors gracefully and return [gRPC codes](https://jbrandhorst.com/post/grpc-errors/) that indicate what kind of error occurred.

 InvalidArgument. Th

[2022-04-07 02:17] lujiajing1126 opened #8830 "[Feature] [BanyanDB] Return rich error with canonical status codes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

We use `gRPC` protocol for skywalking-banyandb, but currently we simply return standard `errors.Error` from go stdlib when error occurs.

https://github.com/grpc/grpc-go/issues/1581#issuecomment-337059527

Quoted:

In t

[2022-04-07 02:36] hanahmily commented on #8829
duplicated

[2022-04-07 02:36] #8829 closed

[2022-04-07 02:39] hanahmily commented on #8830
I tend to introduce some codes to handle errors gracefully

- `InvalidArgument`. This means the client input fails validation.
- `NotFound`. This denotes a resource that is not found.
- `AlreadyExists`: This indicates the resource already exists for creating one.

[2022-04-07 09:15] sruby opened #8831 "[Bug] Uncaught (in promise) TypeError: Cannot read property 'getAllTemplates' of undefined"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened
version: 8.9.1
The interface does not display any information.
![image](https://user-images.githubusercontent.com/15009808/162163424-0e6889bb-cfb9-4e04-a706-12aba9

[2022-04-07 09:19] wu-sheng commented on #8831
RocketBot UI works as expected for 8.x release. Your errors just mean, OAP is not booting successfully.

[2022-04-07 10:55] qq31758581 opened #8832 "[Bug] 8.7.x、8.8.x、8.9.x UI docker image error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar issues.

### Apache SkyWalking Component

UI (apache/skywalking-booster-ui)

### What happened

通过Docker部署UI镜像后，界面出现空白

### What you expected to happen

可能是镜像没有更新

### How to reproduce

#7401 https://github.com/apache/skywalking/issues/7401
与这个BUG相同，目前拉取8.7以

[2022-04-07 10:58] wu-sheng commented on #8832
Require English on GitHub. And docker images are used by many people in products, so they are good. Check the docs, the deployment steps and settings changed from version to version.

[2022-04-07 10:58] #8832 closed

[2022-04-07 11:07] qq31758581 commented on #8832
果然中国人做的东西都是一泡屎

[2022-04-07 11:55] mrproliu opened #8833 "[Feature] Update eBPF Profiling task as service level"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/skywalking/issues?q=is%3Aissue) and found no similar feature requirement.

### Description

Currently, the eBPF Profiling could operate with a single process. But to make it easier to use, so change it to bind with the service level. Using the `label` to aggregate similar processes.

### Use case

eBPF Profili

[2022-04-07 12:01] wu-sheng commented on #8833
Is this an OAP side task tracker?

[2022-04-07 12:04] mrproliu commented on #8833
Including OAP, Rover, and CLI side.